Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$

chore: Remove MIGRATION_SUMMARY.md (not needed in repo)
  MIGRATION_SUMMARY.md
Due: none

Regenerate Pydantic schemas with updated generator
  src/core/schemas_generated/_schemas_v1_core_assets_audio_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_css_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_daast_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_html_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_image_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_javascript_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_text_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_url_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_vast_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_video_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_webhook_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_manifest_json.py
  src/core/schemas_generated/_schemas_v1_core_format_id_json.py
  src/core/schemas_generated/_schemas_v1_core_promoted_offerings_json.py
  src/core/schemas_generated/_schemas_v1_core_push_notification_config_json.py
  src/core/schemas_generated/_schemas_v1_core_reporting_capabilities_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_create_media_buy_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_package_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_update_media_buy_request_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpc_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpcv_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpm_auction_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpm_fixed_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpp_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpv_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_flat_rate_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_vcpm_auction_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_vcpm_fixed_option_json.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix BrandManifest class name after schema regeneration
  src/core/schema_helpers.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

fix: Use DataPart for explicit A2A skill invocation
  tests/integration_v2/test_a2a_error_responses.py
Due: detect-test-antipatterns

feat: Add reusable A2A message creation helpers
  tests/integration_v2/test_a2a_error_responses.py
  tests/utils/a2a_helpers.py
Due: detect-test-antipatterns

Complete fix for schema file churn: trailing newlines + ETag caching (#620)
  schemas/README.md
  scripts/check_schema_sync.py
  scripts/fix_adcp_version_in_schemas.py
  scripts/generate_schemas.py
  scripts/refresh_adcp_schemas.py
  scripts/refresh_schemas.py
  src/core/schema_helpers.py
  src/core/schemas_generated/_schemas_v1_core_assets_audio_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_css_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_daast_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_html_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_image_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_javascript_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_text_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_url_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_vast_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_video_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_webhook_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_manifest_json.py
  src/core/schemas_generated/_schemas_v1_core_format_id_json.py
  src/core/schemas_generated/_schemas_v1_core_promoted_offerings_json.py
  src/core/schemas_generated/_schemas_v1_core_push_notification_config_json.py
  src/core/schemas_generated/_schemas_v1_core_reporting_capabilities_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_create_media_buy_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_package_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_update_media_buy_request_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpc_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpcv_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpm_auction_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpm_fixed_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpp_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpv_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_flat_rate_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_vcpm_auction_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_vcpm_fixed_option_json.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

refactor: Migrate A2A tests to integration_v2 with helper functions
  scripts/check_a2a_skill_coverage.py
  tests/integration/test_a2a_error_responses.py
  tests/integration_v2/test_a2a_skill_invocation.py
Due: detect-test-antipatterns

feat: Enforce no skipping for integration_v2 tests
  .pre-commit-config.yaml
  tests/integration_v2/test_a2a_skill_invocation.py
  tests/integration_v2/test_gam_automation_focused.py
Due: detect-test-antipatterns

Add SignalsAgent database model and migration
  alembic/versions/024_add_signals_agents_table.py
  alembic/versions/28a56a4aaa17_merge_signals_agents_and_main.py
  src/core/database/models.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment

Add signals agent registry, provider, and admin UI
  product_catalog_providers/signals.py
  src/admin/app.py
  src/admin/blueprints/signals_agents.py
  src/core/signals_agent_registry.py
  templates/signals_agent_form.html
  templates/signals_agents.html
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Add signals agent tests and template validation fixes
  tests/integration/test_mcp_protocol.py
  tests/integration/test_template_url_validation.py
  tests/integration_v2/test_signals_agent_workflow.py
  tests/integration_v2/test_signals_discovery_integration.py
Due: detect-test-antipatterns

chore: Remove duplicate integration tests migrated to integration_v2
  tests/integration/test_admin_ui_data_validation.py
  tests/integration/test_create_media_buy_roundtrip.py
  tests/integration/test_create_media_buy_v24.py
  tests/integration/test_creative_lifecycle_mcp.py
  tests/integration/test_dashboard_integration.py
  tests/integration/test_dashboard_service_integration.py
  tests/integration/test_error_paths.py
  tests/integration/test_gam_automation_focused.py
  tests/integration/test_get_products_database_integration.py
  tests/integration/test_get_products_format_id_filter.py
  tests/integration/test_mcp_endpoints_comprehensive.py
  tests/integration/test_mcp_tool_roundtrip_validation.py
  tests/integration/test_mcp_tools_audit.py
  tests/integration/test_minimum_spend_validation.py
  tests/integration/test_product_creation.py
  tests/integration/test_product_deletion.py
  tests/integration/test_schema_database_mapping.py
  tests/integration/test_schema_roundtrip_patterns.py
  tests/integration/test_session_json_validation.py
  tests/integration/test_signals_agent_workflow.py
Due: detect-test-antipatterns

fix: Update BrandManifest10 to BrandManifest12 after schema regeneration
  src/core/schema_helpers.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

chore: Remove test_dashboard_service_integration.py from integration_v2
  tests/integration_v2/test_dashboard_service_integration.py
Due: detect-test-antipatterns

fix: Add requires_db marker to TestMCPEndpointsComprehensive
  tests/integration_v2/test_mcp_endpoints_comprehensive.py
Due: detect-test-antipatterns

fix: Add requires_db marker to TestMCPToolRoundtripValidation
  tests/integration_v2/test_mcp_tool_roundtrip_validation.py
Due: detect-test-antipatterns

fix: Add requires_db markers to all integration_v2 test classes
  tests/integration_v2/test_a2a_skill_invocation.py
  tests/integration_v2/test_admin_ui_data_validation.py
  tests/integration_v2/test_create_media_buy_roundtrip.py
  tests/integration_v2/test_create_media_buy_v24.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
  tests/integration_v2/test_get_products_database_integration.py
  tests/integration_v2/test_get_products_filters.py
  tests/integration_v2/test_mcp_tools_audit.py
  tests/integration_v2/test_minimum_spend_validation.py
  tests/integration_v2/test_product_deletion.py
  tests/integration_v2/test_schema_database_mapping.py
  tests/integration_v2/test_schema_roundtrip_patterns.py
  tests/integration_v2/test_session_json_validation.py
  tests/integration_v2/test_signals_agent_workflow.py
Due: detect-test-antipatterns

fix: Add missing Principal records in integration_v2 tests
  tests/integration_v2/test_product_deletion.py
  tests/integration_v2/test_session_json_validation.py
Due: detect-test-antipatterns

fix: Add set_current_tenant calls to all A2A integration tests
  tests/integration_v2/test_a2a_skill_invocation.py
Due: detect-test-antipatterns

fix: Correct set_current_tenant import path to src.core.config_loader
  tests/integration_v2/test_a2a_skill_invocation.py
Due: detect-test-antipatterns

fix: Update integration_v2 tests for model schema changes
  tests/integration_v2/test_product_creation.py
  tests/integration_v2/test_product_deletion.py
  tests/integration_v2/test_session_json_validation.py
Due: detect-test-antipatterns

fix: Mock tenant detection in A2A integration tests
  tests/integration_v2/test_a2a_skill_invocation.py
Due: detect-test-antipatterns

fix: Correct mock patch paths for tenant detection in update_media_buy test
  tests/integration_v2/test_a2a_skill_invocation.py
Due: detect-test-antipatterns

fix: Use real tenant database lookup instead of mocking get_tenant_by_subdomain
  tests/integration_v2/test_a2a_skill_invocation.py
Due: detect-test-antipatterns

chore: Remove refactoring scripts from commit
  scripts/refactor_main.py
  scripts/refactor_main_v2.py
  tests/integration/test_adapter_factory.py
Due: detect-test-antipatterns

fix: Update test_impression_tracker_flow import
  tests/integration/test_impression_tracker_flow.py
Due: detect-test-antipatterns

fix: Resolve integration_v2 test failures - imports, billing_plan, fixtures
  tests/integration_v2/test_creative_lifecycle_mcp.py
  tests/integration_v2/test_dashboard_integration.py
  tests/integration_v2/test_mcp_endpoints_comprehensive.py
  tests/integration_v2/test_signals_agent_workflow.py
Due: detect-test-antipatterns

fix: Update all integration test mocks for get_http_headers
  tests/integration/test_cross_principal_security.py
  tests/integration/test_list_creatives_auth.py
  tests/integration/test_tenant_isolation_breach_fix.py
  tests/integration/test_tenant_isolation_fix.py
Due: detect-test-antipatterns

fix: Update tests for pricing_options migration - Budget.total and eager loading
  tests/integration_v2/test_mcp_tool_roundtrip_validation.py
  tests/integration_v2/test_minimum_spend_validation.py
Due: detect-test-antipatterns

refactor: Implement code review recommendations
  src/core/helpers/__init__.py
  src/core/helpers/activity_helpers.py
  src/core/helpers/context_helpers.py
  src/core/main.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_delivery.py
  src/core/tools/media_buy_update.py
  src/core/tools/properties.py
  tests/integration/test_tool_registration.py
  tests/unit/test_sync_creatives_async_fix.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

fix: Update test patches for refactored auth module
  tests/unit/test_duplicate_product_validation.py
Due: detect-test-antipatterns

fix: Remove redundant get_db_session mock that overrode auto-mock
  tests/unit/test_duplicate_product_validation.py
Due: detect-test-antipatterns

fix: Update tests for pricing_options migration - Budget.total and eager loading
  src/core/main.py
  src/core/schema_adapters.py
  src/core/schemas.py
  tests/integration_v2/test_a2a_skill_invocation.py
  tests/ui/test_product_creation_integration.py
  tests/unit/test_adcp_contract.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

fix: Resolve all CI test failures from refactoring
  src/core/tools/creatives.py
  src/core/tools/media_buy_delivery.py
  tests/integration/test_duplicate_product_validation.py
  tests/smoke/test_smoke_basic.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

fix: Update tests to use product_id instead of legacy products field
  tests/integration_v2/test_a2a_skill_invocation.py
  tests/integration_v2/test_minimum_spend_validation.py
Due: detect-test-antipatterns

Fix: Add timeout to discover_ad_units to prevent stuck syncs
  src/adapters/gam_inventory_discovery.py
  src/services/background_sync_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

fix: Replace undefined media_buys dict with database queries
  src/core/tools/media_buy_delivery.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

fix: Update minimum spend tests to check response.errors instead of exceptions
  tests/integration_v2/test_a2a_skill_invocation.py
  tests/integration_v2/test_minimum_spend_validation.py
Due: detect-test-antipatterns
