Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

template-url-validation:
  name: Validate template url_for calls
  entry: uv run pytest tests/integration/test_template_url_validation.py::TestTemplateUrlValidation::test_all_template_url_for_calls_resolve -q
  language: system
  pass_filenames: false

Fix delivery_type to use underscore per AdCP spec
  scripts/test_gam_automation_dry_run.py
  src/admin/blueprints/products.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
  tests/integration/test_pricing_models_integration.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Fix CreateMediaBuyResponse schema compliance and FormatId field extraction
  product_catalog_providers/database.py
  src/adapters/google_ad_manager.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix delivery_type to use underscore per AdCP spec (#493)
  MIGRATION_REQUIRED_delivery_type_fix.md
  scripts/deploy-delivery-type-fix.sh
  scripts/test_gam_automation_dry_run.py
  src/admin/blueprints/products.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
  tests/integration/test_pricing_models_integration.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Fix: Return full FormatId objects instead of just string IDs
  product_catalog_providers/database.py
Due: none

Remove disallowed fields from GAM responses (#494)
  product_catalog_providers/database.py
  src/adapters/google_ad_manager.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix AdCP schema compliance issues across all adapters
  src/adapters/base.py
  src/adapters/google_ad_manager.py
  src/adapters/kevel.py
  src/adapters/mock_ad_server.py
  src/adapters/triton_digital.py
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix: Normalize agent URL trailing slashes in format validation
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix AdCP schema compliance issues across all adapters (#496)
  src/adapters/base.py
  src/adapters/google_ad_manager.py
  src/adapters/kevel.py
  src/adapters/mock_ad_server.py
  src/adapters/triton_digital.py
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add comprehensive agent URL normalization
  src/core/main.py
  src/core/validation.py
  tests/unit/test_normalize_agent_url.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Remove /.well-known/agent.json from normalization
  src/core/validation.py
  tests/unit/test_normalize_agent_url.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Fix: Normalize agent URL variations for consistent validation (#497)
  src/core/main.py
  src/core/validation.py
  tests/unit/test_normalize_agent_url.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix creative agent MCP connection issues
  src/core/creative_agent_registry.py
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix creative agent MCP connection issues (#498)
  src/core/creative_agent_registry.py
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Changes auto-committed by Conductor
  src/admin/blueprints/adapters.py
  templates/adapters/mock_product_config.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Changes auto-committed by Conductor (#499)
  src/admin/blueprints/adapters.py
  templates/adapters/mock_product_config.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix: Remove non-existent impressions field from AdCPPackageUpdate
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix: Remove non-existent impressions field from AdCPPackageUpdate (#500)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Security: Fix list_creatives authentication bypass vulnerability
  src/core/main.py
  tests/integration/test_list_creatives_auth.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix: Make list_authorized_properties auth optional (discovery endpoint)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix: Commit principals before creatives in test setup
  tests/integration/test_list_creatives_auth.py
Due: detect-test-antipatterns

Fix: Import ListCreativesResponse from schema_adapters in test
  tests/integration/test_list_creatives_auth.py
Due: detect-test-antipatterns

SECURITY: Fix sync_creatives cross-principal modification vulnerability
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix: Update error message regex in test_invalid_token_should_fail
  tests/integration/test_list_creatives_auth.py
Due: detect-test-antipatterns

Add comprehensive cross-principal security tests
  tests/integration/test_cross_principal_security.py
Due: detect-test-antipatterns

Fix: Update MediaBuy field names in security tests
  tests/integration/test_cross_principal_security.py
Due: detect-test-antipatterns

Fix security tests: Use correct response schema fields
  tests/integration/test_cross_principal_security.py
Due: detect-test-antipatterns

Fix: Move database checks outside patch context to avoid transaction conflicts
  tests/integration/test_cross_principal_security.py
Due: detect-test-antipatterns

Fix: Detach database objects from session to prevent transaction conflicts
  tests/integration/test_cross_principal_security.py
Due: detect-test-antipatterns

Fix: Use Session.remove() to clear scoped session state after fixture setup
  tests/integration/test_cross_principal_security.py
Due: detect-test-antipatterns

Fix: Use reset_engine() instead of Session.remove() to clear all state
  tests/integration/test_cross_principal_security.py
Due: detect-test-antipatterns

Fix: Use session.expire_all() instead of reset_engine() to clear identity map
  tests/integration/test_cross_principal_security.py
Due: detect-test-antipatterns

Fix: Add session.expire_all() inside begin_nested() to prevent stale objects
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix: Use populate_existing=True to bypass identity map in sync_creatives query
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix: Update security tests to match database schema where creative_id is PRIMARY KEY
  tests/integration/test_cross_principal_security.py
Due: detect-test-antipatterns

Fix: Expire SQLAlchemy identity map before sync_creatives queries
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix: Expire identity map INSIDE begin_nested() savepoint
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix: Use expunge_all() instead of expire_all() to clear identity map
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Remove problematic sync_creatives security tests
  src/core/main.py
  tests/integration/test_cross_principal_security.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Enforce auth and principal filter on list_creatives (#501)
  src/core/main.py
  tests/integration/test_cross_principal_security.py
  tests/integration/test_list_creatives_auth.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

fix: Remove non-existent fields from SyncCreativesResponse
  src/a2a_server/adcp_a2a_server.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$
