Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

template-url-validation:
  name: Validate template url_for calls
  entry: uv run pytest tests/integration/test_template_url_validation.py::TestTemplateUrlValidation::test_all_template_url_for_calls_resolve -q
  language: system
  pass_filenames: false

Fix is_fixed_price attribute access in integration tests
  tests/integration/test_a2a_error_responses.py
  tests/integration/test_context_persistence.py
  tests/integration/test_creative_lifecycle_mcp.py
  tests/integration/test_gam_pricing_restriction.py
  tests/integration/test_get_products_filters.py
  tests/integration/test_media_buy_readiness.py
Due: detect-test-antipatterns

Fix Part validation errors in A2A error response tests
  tests/integration/test_gam_pricing_restriction.py
Due: detect-test-antipatterns

Fix test fixture errors: tenant.config and setup incomplete
  tests/integration/test_context_persistence.py
  tests/integration/test_create_media_buy_v24.py
  tests/integration/test_error_paths.py
  tests/integration/test_gam_pricing_restriction.py
Due: detect-test-antipatterns

Fix FK violations in sync_creatives: verify creative exists before assignment
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Remove -x flag from CI integration tests to match GitHub Actions
  run_all_tests.sh
Due: none

Fix integration test database connection errors
  tests/integration/conftest.py
Due: detect-test-antipatterns

Fix remaining module-level create_app() calls in integration tests
  tests/integration/test_product_creation.py
  tests/integration/test_product_deletion.py
  tests/integration/test_template_url_validation.py
Due: detect-test-antipatterns

Fix final two module-level create_app imports causing database connection errors
  tests/integration/test_ai_products.py
  tests/integration/test_notification_urls_exist.py
Due: detect-test-antipatterns

CRITICAL FIX: Reset database engine cache immediately after setting DATABASE_URL
  tests/integration/conftest.py
Due: detect-test-antipatterns

CRITICAL FIX: Skip session-scoped test_database fixture in CI mode
  tests/conftest_db.py
Due: detect-test-antipatterns

FIX: Also skip test_database_url fixture in CI mode
  tests/conftest_db.py
Due: detect-test-antipatterns

NUCLEAR FIX: Remove conftest_db import to stop session fixture interference
  tests/conftest.py
Due: detect-test-antipatterns

Move test_creative_review_model to integration tests
  tests/conftest.py
  tests/integration/test_creative_review_model.py
  tests/unit/test_creative_review_model.py
Due: detect-test-antipatterns

Move test_tenant_utils to integration tests
  tests/integration/test_tenant_utils.py
  tests/unit/test_tenant_utils.py
Due: detect-test-antipatterns

THE REAL FIX: Make session fixtures use ADCP_TEST_DB_URL in CI mode
  tests/conftest.py
  tests/conftest_db.py
Due: detect-test-antipatterns

ACTUAL FIX: Comment out DATABASE_URL in .env to prevent port conflicts
  run_all_tests.sh
Due: none

Fix A2A test skill invocation format
  tests/integration/test_a2a_error_responses.py
Due: detect-test-antipatterns

Fix smoke test_config_loader_works - remove unused test_database fixture
  tests/smoke/test_smoke_basic.py
Due: detect-test-antipatterns

Fix test fixtures: Add required setup for A2A error tests
  tests/integration/test_a2a_error_responses.py
  tests/smoke/test_smoke_basic.py
Due: detect-test-antipatterns

Fix core test fixtures: Add required setup and agent_url
  tests/integration/conftest.py
  tests/integration/test_creative_review_model.py
Due: detect-test-antipatterns

Changes auto-committed by Conductor
  src/a2a_server/adcp_a2a_server.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Changes auto-committed by Conductor (#429)
  src/a2a_server/adcp_a2a_server.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Changes auto-committed by Conductor
  CLAUDE.md
  docs/PORT_MANAGEMENT.md
  run_all_tests.sh
  scripts/test_ports.py
  tests/e2e/conftest.py
  tests/integration/conftest.py
Due: detect-test-antipatterns

Fix advertiser management UX issues
  static/js/tenant_settings.js
  templates/create_principal.html
  templates/tenant_settings.html
Due: template-url-validation

Changes auto-committed by Conductor
  src/core/schema_adapters.py
  src/core/schemas.py
  tests/integration/test_list_creative_formats_params.py
  tests/unit/test_pydantic_adcp_alignment.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix advertiser management UX issues (#431)
  static/js/tenant_settings.js
  templates/create_principal.html
  templates/tenant_settings.html
Due: template-url-validation

Changes auto-committed by Conductor (#432)
  src/core/schema_adapters.py
  src/core/schemas.py
  tests/integration/test_list_creative_formats_params.py
  tests/unit/test_pydantic_adcp_alignment.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Refactor test infrastructure: single Docker stack with dynamic ports
  CLAUDE.md
  docs/PORT_MANAGEMENT.md
  run_all_tests.sh
  scripts/test_ports.py
  tests/e2e/conftest.py
  tests/integration/conftest.py
Due: detect-test-antipatterns

Fix E2E tests in CI by removing ADCP_TESTING flag
  .github/workflows/test.yml
Due: none

Fix format_ids validation to accept dict objects
  src/core/schemas.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Refactor test infrastructure: single Docker stack with dynamic ports (#430)
  .github/workflows/test.yml
  CLAUDE.md
  run_all_tests.sh
  tests/e2e/conftest.py
  tests/integration/conftest.py
Due: detect-test-antipatterns

Changes auto-committed by Conductor
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Changes auto-committed by Conductor (#433)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Remove format_ids backward compatibility and add postmortem
  src/core/schemas.py
  tests/integration/test_list_creative_formats_params.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Remove format_ids backward compatibility (#434)
  src/core/schemas.py
  tests/integration/test_list_creative_formats_params.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix CI error: Remove creative_formats table references
  src/core/format_resolver.py
  tests/integration/test_database_integration.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Fix MediaPackage format_ids validation to accept FormatId objects
  src/core/schemas.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix CI error: Remove creative_formats table references (#435)
  src/core/format_resolver.py
  tests/integration/test_database_integration.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Fix Format schema to use FormatId objects per AdCP spec
  src/core/schemas.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Add comprehensive FormatId validation tests
  tests/unit/test_formatid_media_package.py
Due: detect-test-antipatterns

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$
