Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Check for removed columns still referenced in code
      - id: check-schema-references
        name: Check schema references
        entry: python scripts/check_schema_references.py
        language: system
        pass_filenames: false
        always_run: true
        
      # Validate model column lengths
      - id: validate-column-lengths
        name: Validate database column lengths
        entry: python scripts/validate_column_lengths.py
        language: system
        files: '(models|schemas)\.py$'
        
      # Check for tenant.config references
      - id: no-tenant-config
        name: No tenant.config references
        entry: sh -c 'if grep -r "tenant\.config\|tenant\[.config.\]" --include="*.py" . | grep -v "test_migration\|postmortem\|pre-commit"; then echo "Found tenant.config references!"; exit 1; fi'
        language: system
        pass_filenames: false
        
      # Validate migrations can run
      - id: test-migrations
        name: Test database migrations
        entry: sh -c 'cp adcp_local.db .test.db && DATABASE_URL=sqlite:///.test.db python migrate.py && rm .test.db'
        language: system
        pass_filenames: false
        stages: [commit]
        
      # Check for API deprecations
      - id: check-api-deprecations
        name: Check for deprecated API usage
        entry: python scripts/check_api_deprecations.py
        language: system
        files: 'adapters/.*\.py$'
        
      # Validate Pydantic vs SQLAlchemy imports
      - id: validate-model-imports
        name: Validate model imports
        entry: python scripts/validate_model_imports.py
        language: system
        files: '\.py$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: check-ast
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.272
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Fix test mocks to use spec to prevent Mock auto-attribute creation
  tests/unit/test_auth_removal_simple.py
Due: validate-model-imports

Fix CI mode to use PostgreSQL for integration tests
  run_all_tests.sh
Due: none

Improve A2A test coverage and prevent future serialization bugs (#283)
  .github/workflows/test.yml
  docs/testing/case-study-a2a-serialization-bug.md
  src/a2a_server/adcp_a2a_server.py
  src/core/schemas.py
  tests/e2e/test_schema_validation_standalone.py
  tests/integration/test_a2a_skill_invocation.py
Due: validate-column-lengths, validate-model-imports

Fix test database schema to include all model columns
  tests/conftest_db.py
Due: validate-model-imports

Fix Product model to exclude null optional fields in AdCP responses
  src/core/schemas.py
Due: validate-column-lengths, validate-model-imports

Fix get_products_filters test mock to use spec for proper header handling
  tests/integration/test_get_products_filters.py
Due: validate-model-imports

Fix integration test to align with AdCP spec for null field handling
  tests/integration/test_get_products_database_integration.py
Due: validate-model-imports

Add docstring clarification for sync tool header fallback behavior
  src/core/main.py
Due: validate-model-imports

Fix workflow step creation to satisfy foreign key constraints
  src/adapters/gam/managers/workflow.py
  src/adapters/google_ad_manager.py
Due: check-api-deprecations, validate-model-imports

Fix Product model to exclude null optional fields in AdCP responses (#292)
  src/core/schemas.py
  tests/integration/test_get_products_database_integration.py
Due: validate-column-lengths, validate-model-imports

Fix A2A create_media_buy to accept AdCP v2.4 spec-compliant format
  src/a2a_server/adcp_a2a_server.py
Due: validate-model-imports

Clear Python bytecode cache in CI to prevent stale imports
  .github/workflows/test.yml
Due: none

Fix A2A create_media_buy to accept AdCP v2.4 spec-compliant format (#293)
  src/a2a_server/adcp_a2a_server.py
Due: validate-model-imports

Fix sync_standard and delete_format to return JSON instead of redirect
  src/admin/blueprints/creatives.py
Due: validate-model-imports

Reorganize dashboard: separate operations from configuration
  templates/tenant_dashboard.html
Due: none

Add workflows listing route
  src/admin/blueprints/workflows.py
Due: validate-model-imports

Add debug logging to diagnose CI authentication issue
  src/core/main.py
Due: validate-model-imports

Fix activity dashboard: show all audit logs instead of filtering
  src/admin/services/business_activity_service.py
Due: validate-model-imports

Fix test authentication token mismatch and remove debug logging
  src/core/main.py
  tests/integration/test_get_products_filters.py
Due: validate-model-imports

Fix workflows listing - implement stub in operations.py
  src/admin/blueprints/operations.py
Due: validate-model-imports

Revert "Fix A2A create_media_buy to accept AdCP v2.4 spec-compliant format (#293)"
  src/a2a_server/adcp_a2a_server.py
Due: validate-model-imports

Fix test_dashboard_audit_log_integration for new activity structure
  tests/integration/test_dashboard_reliability.py
Due: validate-model-imports

Fix GAM lifecycle test to match workflow-based behavior
  tests/integration/test_gam_lifecycle.py
Due: validate-model-imports

BREAKING: Remove legacy format support from A2A create_media_buy
  .pre-commit-config.yaml
  scripts/validate_a2a_adcp_compliance.py
  src/a2a_server/adcp_a2a_server.py
  tests/integration/test_a2a_skill_invocation.py
Due: validate-model-imports

Fix authentication token mismatch in test_get_products_filters
  tests/integration/test_get_products_filters.py
Due: validate-model-imports

Fix sync tool authentication by handling empty dict from get_http_headers() (#291)
  .github/workflows/test.yml
  src/core/main.py
  src/core/testing_hooks.py
  tests/integration/test_get_products_filters.py
  tests/unit/test_auth_removal_simple.py
Due: validate-model-imports

Fix test: Update 'Live Campaigns' to 'Live Media Buys' to match dashboard changes
  tests/integration/test_tenant_dashboard.py
Due: validate-model-imports

Fix pre-push hook to run CI mode tests with database (#284)
  CLAUDE.md
  run_all_tests.sh
  scripts/setup/setup_hooks.sh
  src/adapters/gam/managers/workflow.py
  src/adapters/google_ad_manager.py
  src/core/database/health_check.py
  tests/conftest_db.py
  tests/integration/test_gam_lifecycle.py
Due: check-api-deprecations, validate-model-imports

Fix activity dashboard: show all audit logs instead of filtering (#294)
  src/admin/services/business_activity_service.py
  tests/integration/test_dashboard_reliability.py
Due: validate-model-imports

Creative listing view and dashboard improvements (#295)
  src/admin/blueprints/creatives.py
  src/admin/blueprints/operations.py
  src/admin/blueprints/workflows.py
  templates/creatives_list.html
  templates/tenant_dashboard.html
  tests/integration/test_tenant_dashboard.py
Due: validate-model-imports

Fix natural language handler to return spec-compliant format
  scripts/validate_a2a_adcp_compliance.py
  src/a2a_server/adcp_a2a_server.py
Due: validate-model-imports

BREAKING: Enforce AdCP spec-only format in A2A create_media_buy (#296)
  .pre-commit-config.yaml
  scripts/validate_a2a_adcp_compliance.py
  src/a2a_server/adcp_a2a_server.py
  tests/integration/test_a2a_skill_invocation.py
Due: validate-model-imports

Fix GoogleAdManager constructor argument mismatch
  src/admin/sync_api.py
  src/core/main.py
Due: validate-model-imports

Add adapter factory integration tests
  tests/integration/test_adapter_factory.py
Due: validate-model-imports

Fix sync_creatives to be fully AdCP v2.4 spec compliant (#297)
  src/core/main.py
  src/core/schemas.py
  src/core/tools.py
  tests/integration/test_creative_lifecycle_mcp.py
  tests/unit/test_adcp_contract.py
Due: validate-column-lengths, validate-model-imports

Fix GoogleAdManager constructor argument mismatch (#300)
  src/admin/sync_api.py
  src/core/main.py
  tests/integration/test_adapter_factory.py
Due: validate-model-imports

Update A2A sync_creatives handler to use spec-compliant parameters
  src/a2a_server/adcp_a2a_server.py
Due: validate-model-imports

Fix sync_creatives to be fully AdCP v2.4 spec compliant (#301)
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
  src/core/schemas.py
  src/core/tools.py
  tests/integration/test_creative_lifecycle_mcp.py
  tests/unit/test_adcp_contract.py
Due: validate-column-lengths, validate-model-imports

Document Wonderstruck package name generation bug
  docs/partners/wonderstruck-package-name-bug.md
Due: none

Fix: Stop auto-generating buyer_ref - it's the buyer's identifier
  docs/partners/wonderstruck-package-name-bug.md
  src/core/schemas.py
  tests/integration/test_mcp_contract_validation.py
  tests/integration/test_mcp_endpoints_comprehensive.py
  tests/unit/adapters/test_base.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports
