Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

template-url-validation:
  name: Validate template url_for calls
  entry: uv run pytest tests/integration/test_template_url_validation.py::TestTemplateUrlValidation::test_all_template_url_for_calls_resolve -q
  language: system
  pass_filenames: false

Fix targeting browser display and navigation issues (#523)
  .gitignore
  docker-compose.yml
  src/adapters/gam_inventory_discovery.py
  src/admin/blueprints/gam.py
  src/admin/blueprints/inventory.py
  src/services/gam_inventory_service.py
  static/js/tenant_settings.js
  templates/targeting_browser.html
  templates/tenant_settings.html
  test_sync.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Changes auto-committed by Conductor
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Changes auto-committed by Conductor (#525)
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix inventory sync not showing running status on page reload
  check_sync_details.py
  check_sync_jobs.py
  fix_stuck_sync.py
  src/admin/blueprints/tenants.py
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Filter out archived ad units and placements from inventory sync
  src/adapters/gam_inventory_discovery.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Skip 3rd party audience segments in inventory sync
  check_inventory_counts.py
  src/adapters/gam_inventory_discovery.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Implement batched database writes to prevent OOM in inventory sync
  check_db_locks.py
  src/services/gam_inventory_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add error handling and fix logging in batched inventory writes
  src/services/gam_inventory_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Remove diagnostic scripts and update .gitignore
  .gitignore
  check_db_locks.py
  check_inventory_counts.py
  check_sync_details.py
  check_sync_jobs.py
  diagnose_formats.py
  fix_stuck_sync.py
  test_sync.py
Due: none

Fix inventory sync not showing running status on page reload (#526)
  .gitignore
  diagnose_formats.py
  src/adapters/gam_inventory_discovery.py
  src/admin/blueprints/tenants.py
  src/services/gam_inventory_service.py
  templates/tenant_settings.html
  test_sync.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix list_creatives A2A response mapping
  src/a2a_server/adcp_a2a_server.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Add unit tests for A2A response attribute access patterns
  tests/unit/test_a2a_response_attribute_access.py
Due: detect-test-antipatterns

Changes auto-committed by Conductor
  src/core/schemas.py
  tests/unit/test_null_field_exclusion.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix list_creatives A2A response mapping (#527)
  src/a2a_server/adcp_a2a_server.py
  tests/unit/test_a2a_response_attribute_access.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Changes auto-committed by Conductor (#528)
  src/core/schemas.py
  tests/unit/test_null_field_exclusion.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix OOM crash in GAM inventory sync with streaming approach
  MEMORY_OPTIMIZATION.md
  src/services/gam_inventory_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add endpoint to reset stuck GAM inventory sync
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add script to reset stuck inventory sync
  MEMORY_OPTIMIZATION.md
  scripts/reset_stuck_sync.sh
Due: none

Fix GAM inventory OOM and add reset stuck sync (#529)
  scripts/reset_stuck_sync.sh
  src/admin/blueprints/gam.py
  src/services/gam_inventory_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix GAM service account test connection requiring network code
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add network code input field for service account configuration
  static/js/tenant_settings.js
  templates/tenant_settings.html
Due: template-url-validation

Fix service account GAM connection flow (#530)
  src/admin/blueprints/gam.py
  static/js/tenant_settings.js
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix Admin UI sync to use streaming approach (prevents OOM)
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix Admin UI inventory sync to actually use streaming approach (#531)
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Show full date and UTC timezone for inventory sync start time
  templates/tenant_settings.html
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
Due: template-url-validation

Remove SQLite fallback from Python test runner
  scripts/run_tests.py
  scripts/run_tests.sh
Due: none

Fix AI creative review auto-reject threshold to require high confidence
  templates/tenant_settings.html
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
Due: template-url-validation

Fix AI creative review auto-reject threshold to require high confidence (#533)
  templates/tenant_settings.html
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
Due: template-url-validation

Add pagination limits to inventory browser to prevent 502 timeouts
  src/services/gam_inventory_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix selective sync error handling to show proper auth error message
  templates/inventory_browser.html
Due: template-url-validation

Add Approximated DNS widget for customer CNAME setup
  alembic/versions/9c453a86ddf0_add_approximated_api_key_to_tenant.py
  src/admin/blueprints/settings.py
  src/core/database/models.py
  templates/tenant_settings.html
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
Due: check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, template-url-validation

Fix inventory sync to default to incremental mode (safer)
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Use centralized Approximated API key from environment
  alembic/versions/9c453a86ddf0_add_approximated_api_key_to_tenant.py
  src/admin/blueprints/settings.py
  src/core/database/models.py
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, template-url-validation

Add APPROXIMATED_API_KEY to docker-compose environment
  docker-compose.yml
Due: none

Fix inventory browser UX issues for large GAM inventories (#534)
  src/admin/blueprints/gam.py
  src/services/gam_inventory_service.py
  templates/inventory_browser.html
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Load .env.secrets file in docker-compose services
  docker-compose.yml
Due: none

Fix Approximated API authentication format
  src/admin/blueprints/settings.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix DNS record configuration for Approximated widget
  templates/tenant_settings.html
Due: template-url-validation

Fix sync_creatives asyncio and variable scoping errors
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add comprehensive tests for sync_creatives fixes
  tests/unit/test_sync_creatives_async_fix.py
Due: detect-test-antipatterns

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$
