Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

docs: Document GAM creative construction AdCP migration plan
  docs/technical/GAM_CREATIVE_CONSTRUCTION_ADCP_MIGRATION.md
Due: none

fix: Skip complex unit tests for database assets extraction
  tests/unit/test_list_creatives_assets_extraction.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Update A2A server and tools to support ToolContext
  .github/workflows/test.yml
  src/a2a_server/adcp_a2a_server.py
  src/core/helpers/creative_helpers.py
  src/core/tools/creative_formats.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_delivery.py
  src/core/tools/media_buy_update.py
  src/core/tools/performance.py
  src/core/tools/products.py
  src/core/tools/properties.py
  src/core/tools/signals.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: Properly support Context | ToolContext instead of hiding with type: ignore
  src/core/auth.py
  src/core/helpers/activity_helpers.py
  src/core/helpers/creative_helpers.py
  src/core/testing_hooks.py
  src/core/tools/creative_formats.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_delivery.py
  src/core/tools/media_buy_update.py
  src/core/tools/performance.py
  src/core/tools/properties.py
  src/core/tools/signals.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: Add brand manifest policy system for flexible product discovery
  alembic/versions/6f05f4179c33_add_brand_manifest_policy_to_tenants.py
  schemas/v1/_schemas_v1_core_webhook-payload_json.json.meta
  schemas/v1/_schemas_v1_enums_task-type_json.json.meta
  schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  schemas/v1/_schemas_v1_media-buy_get-products-request_json.json.meta
  src/admin/blueprints/policy.py
  src/core/database/models.py
  src/core/tools/products.py
  templates/policy_settings.html
  templates/policy_settings_comprehensive.html
  tests/unit/test_brand_manifest_policy.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment, mypy-no-regression

fix: Route external domains to tenant login instead of signup (#661)
  src/admin/blueprints/core.py
  tests/unit/test_external_domain_routing.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Add requires_db marker to test_admin_ui_routes_comprehensive
  tests/integration/test_admin_ui_routes_comprehensive.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Add module-level pytestmark to test_self_service_signup
  tests/integration/test_self_service_signup.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Remove fake media_buy_id from pending/async responses in mock adapter (#658)
  src/adapters/mock_ad_server.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Add requires_db marker to test_a2a_response_message_fields
  tests/integration/test_a2a_response_message_fields.py
Due: detect-test-antipatterns, mypy-no-regression

test: Add CurrencyLimit and PropertyTag fixtures to format conversion tests
  schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  tests/integration/test_format_conversion_approval.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Add requires_db marker to all integration tests missing it
  tests/integration/test_a2a_response_compliance.py
  tests/integration/test_database_health_integration.py
  tests/integration/test_gam_validation_integration.py
  tests/integration/test_impression_tracker_flow.py
  tests/integration/test_main.py
  tests/integration/test_mcp_contract_validation.py
  tests/integration/test_media_buy_readiness.py
  tests/integration/test_mock_adapter.py
  tests/integration/test_notification_urls_exist.py
  tests/integration/test_oauth_session_handling.py
  tests/integration/test_policy.py
  tests/integration/test_schema_contract_validation.py
  tests/integration/test_schema_field_validation.py
  tests/integration/test_signals_discovery_integration.py
  tests/integration/test_spec_compliance.py
  tests/integration/test_template_url_validation.py
  tests/integration/test_tool_registration.py
  tests/integration/test_unified_delivery.py
  tests/integration/test_virtual_host_integration.py
  tests/integration/test_workflow_approval.py
  tests/integration/test_workflow_with_server.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Prevent duplicate tenant display when user has both domain and email access (#660)
  src/admin/blueprints/auth.py
  src/admin/tests/unit/test_auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Add requires_db marker to test_mcp_protocol
  tests/integration/test_mcp_protocol.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Use correct CurrencyLimit field name in test fixture
  tests/integration/test_format_conversion_approval.py
Due: detect-test-antipatterns, mypy-no-regression

feat: Add simplified brand manifest policy system for product discovery
  alembic/versions/378299ad502f_change_brand_manifest_policy_default_to_.py
  docker-compose.yml
  src/admin/blueprints/policy.py
  src/core/database/models.py
  src/core/tools/products.py
  templates/policy_settings.html
  templates/policy_settings_comprehensive.html
  templates/tenant_settings.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, mypy-no-regression

feat: Add brand manifest policy system for flexible product discovery (#663)
  alembic/versions/378299ad502f_change_brand_manifest_policy_default_to_.py
  alembic/versions/6f05f4179c33_add_brand_manifest_policy_to_tenants.py
  docker-compose.yml
  schemas/v1/_schemas_v1_core_webhook-payload_json.json.meta
  schemas/v1/_schemas_v1_enums_task-type_json.json.meta
  schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  schemas/v1/_schemas_v1_media-buy_get-products-request_json.json.meta
  src/admin/blueprints/policy.py
  src/core/database/models.py
  src/core/tools/products.py
  templates/policy_settings.html
  templates/policy_settings_comprehensive.html
  templates/tenant_settings.html
  tests/unit/test_brand_manifest_policy.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment, mypy-no-regression

Streamline CLAUDE.md: reduce 1219 → 287 lines while keeping essential context
  CLAUDE.md
Due: none

Streamline CLAUDE.md: reduce 1219 → 287 lines while keeping essential context (#664)
  CLAUDE.md
Due: none

fix: Address PR #662 review comments
  .pre-commit-config.yaml
  product_catalog_providers/hybrid.py
  pyproject.toml
  schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  scripts/ops/migrate.py
  src/adapters/gam/managers/sync.py
  src/adapters/xandr.py
  src/admin/tests/unit/test_auth.py
  src/admin/utils/__init__.py
  src/admin/utils/helpers.py
  src/core/auth.py
  src/core/helpers/adapter_helpers.py
  src/core/tools/media_buy_delivery.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Add mypy and ruff to optional-dependencies for CI compatibility
  pyproject.toml
  uv.lock
Due: none

feat: Add changeset system for automated version management
  .changeset/README.md
  .changeset/add-changeset-system.md
  .github/workflows/changeset-check.yml
  .github/workflows/release.yml
  .gitignore
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  scripts/sync_version.py
Due: mypy-no-regression

fix: Remove circular UTC assignment causing UnboundLocalError
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Remove circular UTC assignment in schemas.py
  src/core/schemas.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

feat: add commitizen for automated version management
  .changeset/README.md
  .changeset/add-changeset-system.md
  .cz-config.md
  .github/workflows/changeset-check.yml
  .github/workflows/commitizen-check.yml
  .github/workflows/release.yml
  .gitignore
  README.md
  package-lock.json
  package.json
  pyproject.toml
  scripts/sync_version.py
  uv.lock
Due: mypy-no-regression

fix: Remove local UTC import causing UnboundLocalError in function scope
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: add commitizen for automated version management (#666)
  .cz-config.md
  .github/workflows/commitizen-check.yml
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: none

fix: Use validated datetime objects for duration calculations
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Restore brand manifest policy migrations and merge with signals agent
  alembic/versions/378299ad502f_change_brand_manifest_policy_default_to_.py
  alembic/versions/6f05f4179c33_add_brand_manifest_policy_to_tenants.py
  alembic/versions/c34b078f4e8a_merge_brand_manifest_and_signals_agent_.py
Due: mypy-no-regression

fix: Restore accidentally deleted commitizen configuration files
  .cz-config.md
  .github/workflows/commitizen-check.yml
  CHANGELOG.md
Due: none

fix: Parse ISO 8601 datetime strings in CreateMediaBuyRequest and UpdateMediaBuyRequest
  src/core/schemas.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: Reassign start_time/end_time to validated datetime objects after parsing
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Initialize GAM managers in dry-run mode for testing
  src/adapters/google_ad_manager.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: Remove Scope3 dependencies - make codebase vendor-neutral
  .env.example
  CLAUDE.md
  SCOPE3_REMOVAL_COMPLETE.md
  SCOPE3_REMOVAL_PROGRESS.md
  fly.toml
  schemas/v1/_schemas_v1_core_webhook-payload_json.json.meta
  schemas/v1/_schemas_v1_enums_task-type_json.json.meta
  schemas/v1/_schemas_v1_media-buy_get-products-request_json.json.meta
  schemas/v1/index.json
  schemas/v1/index.json.meta
  scripts/remove_scope3_deps.py
  src/a2a_server/adcp_a2a_server.py
  src/admin/app.py
  src/admin/blueprints/auth.py
  src/admin/blueprints/authorized_properties.py
  src/admin/blueprints/core.py
  src/admin/blueprints/public.py
  src/admin/blueprints/schemas.py
  src/admin/blueprints/tenants.py
  src/admin/domain_access.py
  src/core/domain_config.py
  src/core/main.py
  src/core/schema_validation.py
  src/core/schemas_generated/__init__.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_request_json.py
  src/landing/landing_page.py
  static/js/tenant_settings.js
  templates/tenant_settings.html
  tests/unit/test_virtual_host_landing_page.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mcp-schema-alignment, mypy-no-regression

fix(ci): add commitizen dependency for conventional commits check
  pyproject.toml
  uv.lock
Due: none

fix(ci): sync dev dependency group in commitizen workflow
  .github/workflows/commitizen-check.yml
Due: none

fix(ci): explicitly install commitizen in workflow
  .github/workflows/commitizen-check.yml
Due: none

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
