Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

fix: use compatible Claude tooling paths
  .claude/agents/executor.md
  .claude/commands/team.md
  .claude/scripts/inspect_parallel.sh
Due: none

fix(test): declare has_wire at this branch's TransportResult sites
  tests/unit/test_harness_wire_graders.py
Due: detect-test-antipatterns, mypy-no-regression

docs: remove developer-specific file paths (#2228)
  .claude/agent-memory
  .claude/agents/executor.md
  .claude/commands/research.md
  .claude/commands/team.md
  .claude/formulas/bdd-mapping.yaml
  .claude/formulas/verify-spec.yaml
  .claude/research
  .claude/scripts/inspect_parallel.sh
  .claude/skills/verify-spec/SKILL.md
  archive/ARCHITECTURE_TRANSFORMATION_REPORT.md
  archive/code-reviews/00-migration-summary.md
Due: none

fix(admin): prove tenant membership on four tenant-scoped admin routes
  .duplication-baseline
  docs/development/admin-bdd-pattern.md
  docs/test-obligations/bdd-traceability.yaml
  src/admin/blueprints/api.py
  src/admin/blueprints/policy.py
  tests/admin/test_tenant_scoped_routes_auth.py
  tests/bdd/conftest.py
  tests/bdd/features/BR-ADMIN-TENANT-SCOPING.feature
  tests/bdd/steps/domain/admin_tenant_scoping.py
  tests/bdd/test_admin_tenant_scoping.py
  tests/e2e/conftest.py
  tests/e2e/test_admin_bdd_e2e.py
  tests/e2e/test_admin_tenant_scoping_e2e.py
  tests/harness/admin_accounts.py
  tests/harness/admin_tenant_scoping.py
  tests/unit/test_architecture_admin_tenant_scoping.py
  tests/unit/test_architecture_measurement_floors.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

chore(deps): bump httpx2 and httpcore2 to 2.12.0 for four advisories
  uv.lock
Due: none

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
