Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$

Fix default agent_url: creative not creatives
  alembic/versions/rename_formats_to_format_ids.py
Due: mypy-no-regression

Show tenant setup completion status on admin dashboard
  src/admin/blueprints/core.py
  src/services/setup_checklist_service.py
  templates/index.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix integration tests after moving Gemini to optional tasks
  tests/integration/test_setup_checklist_service.py
Due: detect-test-antipatterns, mypy-no-regression

Fix Gemini API key test to avoid encryption in CI
  tests/integration/test_setup_checklist_service.py
Due: detect-test-antipatterns, mypy-no-regression

Fix Gemini test: skip encryption test in CI
  tests/integration/test_setup_checklist_service.py
Due: detect-test-antipatterns, mypy-no-regression

Address code review feedback: optimize performance and improve UX
  .github/workflows/test.yml
  CLAUDE.md
  src/admin/blueprints/core.py
  src/services/setup_checklist_service.py
  templates/index.html
  tests/integration/test_setup_checklist_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix: Align Product schema with AdCP spec - use publisher_properties
  product_catalog_providers/signals.py
  scripts/validate_schema_database_alignment.py
  src/adapters/xandr.py
  src/core/schemas.py
  src/core/tools/products.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_all_response_str_methods.py
  tests/unit/test_anonymous_user_pricing.py
  tests/unit/test_auth_removal_simple.py
  tests/unit/test_get_products_response_str.py
  tests/unit/test_mock_server_response_headers.py
  tests/unit/test_product_format_ids_structure.py
  tests/unit/test_product_validation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix CI failures: Product model fields and valid ENCRYPTION_KEY
  .github/workflows/test.yml
  tests/integration/test_setup_checklist_service.py
Due: detect-test-antipatterns, mypy-no-regression

Fix: Update inventory profile tests to use publisher_properties
  tests/unit/test_inventory_profile_adcp_compliance.py
Due: detect-test-antipatterns, mypy-no-regression

Remove invalid created_at/updated_at from Product test fixtures
  tests/integration/test_setup_checklist_service.py
Due: detect-test-antipatterns, mypy-no-regression

Refactor: Use ProductFactory for test fixtures
  tests/integration/test_setup_checklist_service.py
Due: detect-test-antipatterns, mypy-no-regression

Fix AuthorizedProperty and Principal test fixtures
  tests/integration/test_setup_checklist_service.py
Due: detect-test-antipatterns, mypy-no-regression

Use PrincipalFactory for test fixture with valid platform_mappings
  tests/integration/test_setup_checklist_service.py
Due: detect-test-antipatterns, mypy-no-regression

Fix test_bulk_setup_status_for_multiple_tenants test
  tests/integration/test_setup_checklist_service.py
Due: detect-test-antipatterns, mypy-no-regression

Fix GAM update_media_buy and resolve code review issues
  alembic/versions/efd3fb6e1884_add_custom_targeting_keys_to_adapter_.py
  src/adapters/gam/managers/orders.py
  src/adapters/gam/managers/targeting.py
  src/adapters/google_ad_manager.py
  src/admin/blueprints/inventory.py
  src/admin/blueprints/principals.py
  src/admin/blueprints/settings.py
  src/core/database/models.py
  src/core/schemas.py
  src/core/tools/media_buy_create.py
  src/services/gam_product_config_service.py
  src/services/setup_checklist_service.py
  static/js/tenant_settings.js
  sync_custom_targeting_keys.py
  templates/create_principal.html
  templates/targeting_browser.html
  templates/tenant_settings.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix AXE targeting unit tests to mock custom_targeting_keys
  tests/unit/test_gam_axe_segment_targeting.py
Due: detect-test-antipatterns, mypy-no-regression

Show tenant setup completion status on admin dashboard (#754)
  .github/workflows/test.yml
  CLAUDE.md
  src/admin/blueprints/core.py
  src/services/setup_checklist_service.py
  templates/index.html
  tests/integration/test_setup_checklist_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Add GAM client mocks to AXE targeting unit tests
  tests/unit/test_gam_axe_segment_targeting.py
Due: detect-test-antipatterns, mypy-no-regression

Update AXE targeting tests for GAM API structure
  tests/unit/test_gam_axe_segment_targeting.py
Due: detect-test-antipatterns, mypy-no-regression

Add custom key mappings to AXE targeting test fixture
  tests/unit/test_gam_axe_segment_targeting.py
Due: detect-test-antipatterns, mypy-no-regression

Simplify AXE combine test to avoid custom key-value complexity
  tests/unit/test_gam_axe_segment_targeting.py
Due: detect-test-antipatterns, mypy-no-regression

Add helper function for consistent dict/object handling
  src/adapters/gam/managers/orders.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix: Move AXE keys from critical to recommended setup tasks
  src/services/setup_checklist_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix: Add AXE keys to bulk query recommended tasks
  alembic/versions/ed248e24dfc0_merge_heads.py
  src/services/setup_checklist_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix: Add AXE keys to tenant 3 fixture for complete setup test
  tests/integration/test_setup_checklist_service.py
Due: detect-test-antipatterns, mypy-no-regression

Fix: Implement missing update_media_buy field persistence (#749)
  alembic/versions/240284b2f169_rename_gam_axe_fields_to_adapter_.py
  alembic/versions/5b7de72d6110_add_separate_axe_keys_for_include_.py
  alembic/versions/ed248e24dfc0_merge_heads.py
  alembic/versions/efd3fb6e1884_add_custom_targeting_keys_to_adapter_.py
  docs/features/axe-segment-targeting.md
  src/adapters/gam/managers/orders.py
  src/adapters/gam/managers/targeting.py
  src/adapters/gam_inventory_discovery.py
  src/adapters/google_ad_manager.py
  src/admin/blueprints/inventory.py
  src/admin/blueprints/principals.py
  src/admin/blueprints/settings.py
  src/core/database/models.py
  src/core/schemas.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_update.py
  src/services/gam_product_config_service.py
  src/services/setup_checklist_service.py
  static/js/tenant_settings.js
  sync_custom_targeting_keys.py
  templates/create_principal.html
  templates/inventory_unified.html
  templates/targeting_browser.html
  templates/tenant_settings.html
  tests/integration/test_gam_lifecycle.py
  tests/integration/test_setup_checklist_service.py
  tests/integration/test_update_media_buy_persistence.py
  tests/unit/test_axe_segment_targeting.py
  tests/unit/test_gam_axe_segment_targeting.py
  tests/unit/test_gam_update_media_buy.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix: Ensure Package objects always have valid status
  src/core/schemas.py
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix: Add missing selection_type to publisher_properties in test
  tests/e2e/test_schema_validation_standalone.py
Due: detect-test-antipatterns, mypy-no-regression

Fix: Ensure Package objects always have valid status (#755)
  src/core/schemas.py
  src/core/tools/media_buy_create.py
  tests/e2e/test_schema_validation_standalone.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix: Resolve product creation issues and normalize agent URLs
  CLAUDE.md
  Dockerfile
  alembic/versions/3d2f7ff99896_add_property_ids_to_products.py
  alembic/versions/b51bbaf5a6ba_add_publisher_partners_table.py
  alembic/versions/bef03cdc4629_fix_creative_agent_url_in_format_ids.py
  pyproject.toml
  scripts/generate_frontend_types.py
  src/admin/app.py
  src/admin/blueprints/format_search.py
  src/admin/blueprints/inventory_profiles.py
  src/admin/blueprints/products.py
  src/admin/blueprints/publisher_partners.py
  src/core/creative_agent_registry.py
  src/core/database/models.py
  src/core/format_cache.py
  src/core/schemas.py
  src/core/signals_agent_registry.py
  src/core/tools/products.py
  static/js/TYPESCRIPT_GUIDE.md
  static/js/format-utils.d.ts
  static/js/format-utils.js
  static/js/generated-types.d.ts
  templates/add_inventory_profile.html
  templates/add_product_gam.html
  templates/add_product_mock.html
  templates/authorized_properties_list.html.deprecated
  templates/authorized_properties_upload.html.deprecated
  templates/components/inventory_profile_editor.html
  templates/edit_inventory_profile.html
  templates/inventory_unified.html
  templates/property_form.html
  templates/property_tags_list.html
  templates/static/jsconfig.json
  templates/tenant_settings.html
  tests/helpers/adcp_factories.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_creative_agent_registry.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix: Update ALL format_ids in migration, not just first element
  alembic/versions/bef03cdc4629_fix_creative_agent_url_in_format_ids.py
Due: mypy-no-regression

Refactor: Use test factories to eliminate redundant test setup
  tests/unit/test_product_format_ids_structure.py
  tests/unit/test_product_validation.py
Due: detect-test-antipatterns, mypy-no-regression

Fix Package.model_dump() validation to only check required fields for AdCP responses
  src/core/schemas.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix: Convert AnyUrl to string in format cache tests
  tests/unit/test_format_cache.py
Due: detect-test-antipatterns, mypy-no-regression

Fix: Product format_ids structure and AdCP compliance improvements
  product_catalog_providers/database.py
  src/adapters/google_ad_manager.py
  src/adapters/kevel.py
  src/adapters/mock_ad_server.py
  src/adapters/triton_digital.py
  src/adapters/xandr.py
  src/admin/blueprints/products.py
  src/core/database/models.py
  src/core/product_conversion.py
  src/core/tools/creative_formats.py
  src/core/tools/products.py
  templates/add_product_gam.html
  tests/integration/test_product_formats_update.py
  tests/integration/test_product_multiple_format_ids.py
  tests/integration/test_product_with_inventory_profile.py
  tests/unit/test_adcp_schema_compatibility.py
  tests/unit/test_format_cache.py
  tests/unit/test_format_id.py
  tests/unit/test_formatid_media_package.py
  tests/unit/test_inventory_profile_adcp_compliance.py
  tests/unit/test_mock_server_response_headers.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment, mypy-no-regression

Fix all test_adcp_contract.py tests + ruff linting issues
  product_catalog_providers/database.py
  src/adapters/google_ad_manager.py
  src/adapters/kevel.py
  src/adapters/mock_ad_server.py
  src/adapters/triton_digital.py
  src/adapters/xandr.py
  src/admin/blueprints/products.py
  src/core/product_conversion.py
  src/core/tools/creative_formats.py
  tests/integration/test_product_formats_update.py
  tests/integration/test_product_multiple_format_ids.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_adcp_schema_compatibility.py
  tests/unit/test_format_id.py
  tests/unit/test_formatid_media_package.py
  tests/unit/test_inventory_profile_adcp_compliance.py
  tests/unit/test_mock_server_response_headers.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix Format schema compatibility tests to use adcp library Format
  tests/unit/test_adcp_schema_compatibility.py
Due: detect-test-antipatterns, mypy-no-regression

Fix Product creation tests to use AdCP library schemas and factories
  src/core/schema_adapters.py
  tests/unit/test_all_response_str_methods.py
  tests/unit/test_anonymous_user_pricing.py
  tests/unit/test_auth_removal_simple.py
  tests/unit/test_inventory_profile_adcp_compliance.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, validate-adapter-usage, no-fn-calls, mypy-no-regression

Fix AnyUrl comparison test failures (4 tests)
  tests/unit/test_format_id_parsing.py
  tests/unit/test_format_trailing_slash.py
  tests/unit/test_product_format_ids_structure.py
Due: detect-test-antipatterns, mypy-no-regression
