Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$

Fix targeting widget to show value display names instead of IDs
  static/js/targeting_widget.js
Due: none

Fix targeting widget to show value display names instead of IDs (#843)
  static/js/targeting_widget.js
Due: none

fix: correct creative agent URL typo (creatives → creative)
  scripts/setup/init_database.py
  scripts/setup/init_database_ci.py
  scripts/setup_test_environment.py
  src/core/database/database.py
  src/core/schema_adapters.py
  static/js/generated-types.d.ts
  test_format_ids_migration.py
  tests/e2e/test_schema_validation_standalone.py
  tests/fixtures/factories.py
  tests/integration/test_impression_tracker_flow.py
  tests/integration/test_product_multiple_format_ids.py
  tests/integration/test_schema_contract_validation.py
  tests/integration_v2/test_get_products_format_id_filter.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_all_response_str_methods.py
  tests/unit/test_creative_conversion_assets.py
  tests/unit/test_format_id_request_preservation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, validate-adapter-usage, no-fn-calls, mypy-no-regression

fix: correct creative agent URL typo (creatives → creative) (#844)
  scripts/setup/init_database.py
  scripts/setup/init_database_ci.py
  scripts/setup_test_environment.py
  src/core/database/database.py
  src/core/schema_adapters.py
  static/js/generated-types.d.ts
  test_format_ids_migration.py
  tests/e2e/test_schema_validation_standalone.py
  tests/fixtures/factories.py
  tests/integration/test_impression_tracker_flow.py
  tests/integration/test_product_multiple_format_ids.py
  tests/integration/test_schema_contract_validation.py
  tests/integration_v2/test_get_products_format_id_filter.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_all_response_str_methods.py
  tests/unit/test_creative_conversion_assets.py
  tests/unit/test_format_id_request_preservation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, validate-adapter-usage, no-fn-calls, mypy-no-regression

docs: document PYTHONPATH requirement for Docker hot reload development
  docker-compose.override.example.yml
  docs/DEVELOPMENT.md
  docs/SETUP.md
  docs/TROUBLESHOOTING.md
  scripts/setup/setup_conductor_workspace.sh
Due: none

docs: simplify developer setup - single .env file, cleaner Quick Start
  .env.example
  .env.template
  README.md
  docs/SETUP.md
Due: none

docs: document PYTHONPATH requirement for Docker hot reload (#846)
  .env.example
  .env.template
  README.md
  docker-compose.override.example.yml
  docs/DEVELOPMENT.md
  docs/SETUP.md
  docs/TROUBLESHOOTING.md
  scripts/setup/setup_conductor_workspace.sh
Due: none

docs: clarify GAM setup with three clear paths and environment validation
  .env.template
  README.md
  docs/TROUBLESHOOTING.md
  scripts/gam_prerequisites_check.py
  src/admin/blueprints/tenants.py
  templates/tenant_settings.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: correct docstring filename in gam_prerequisites_check.py
  scripts/gam_prerequisites_check.py
Due: mypy-no-regression

Add IPR agreement workflow using centralized AdCP signatures
  .github/workflows/ipr-agreement.yml
Due: none

fix: Task and TaskStatusUpdate serializations
  src/a2a_server/adcp_a2a_server.py
  src/admin/blueprints/creatives.py
  src/admin/blueprints/operations.py
  src/services/delivery_webhook_scheduler.py
  src/services/protocol_webhook_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

feat: apply suggestions
  src/services/protocol_webhook_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: apply suggestions
  src/services/delivery_webhook_scheduler.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Add IPR agreement workflow using centralized AdCP signatures (#848)
  .github/workflows/ipr-agreement.yml
Due: none

docs: clarify GAM setup with three clear paths and environment validation (#847)
  .env.template
  README.md
  docs/TROUBLESHOOTING.md
  scripts/gam_prerequisites_check.py
  src/admin/blueprints/tenants.py
  templates/tenant_settings.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Auto-create default principal and improve setup output
  scripts/setup/setup_tenant.py
  src/core/database/models.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, mypy-no-regression

fix: Update IPR workflow to read signatures from correct branch
  .github/workflows/ipr-agreement.yml
Due: none

fix: Auto-create default principal and improve setup output (#849)
  .github/workflows/ipr-agreement.yml
  scripts/setup/setup_tenant.py
  src/core/database/models.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, mypy-no-regression

refactor: simplify new user setup with well-known token
  README.md
  scripts/a2a_query.py
  scripts/setup/init_database.py
  scripts/setup/setup_tenant.py
Due: mypy-no-regression

refactor: simplify new user setup with well-known token (#850)
  README.md
  scripts/a2a_query.py
  scripts/setup/init_database.py
  scripts/setup/setup_tenant.py
Due: mypy-no-regression

fix: Remove stale ui-test-assistant MCP server configuration
  .mcp.json
Due: none

fix: Remove stale ui-test-assistant MCP server configuration (#851)
  .mcp.json
Due: none

refactor: consolidate pricing_option_has_rate helper and support adcp 2.14.0 RootModel
  pyproject.toml
  src/core/schema_adapters.py
  src/core/schemas.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_auth_removal_simple.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

feat: add pricing_helpers utility module for RootModel-aware rate checking
  src/core/helpers/pricing_helpers.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: resolve mypy and test failures for adcp 2.14.0 RootModel changes
  product_catalog_providers/signals.py
  src/adapters/xandr.py
  src/core/schema_helpers.py
  src/core/signals_agent_registry.py
  src/core/tools/products.py
  src/core/tools/signals.py
  src/services/dynamic_pricing_service.py
  tests/integration_v2/test_get_products_filters.py
  tests/integration_v2/test_schema_database_mapping.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Update integration test for adcp 2.14.0 RootModel access pattern
  tests/integration/test_pricing_models_integration.py
Due: detect-test-antipatterns, mypy-no-regression

refactor: consolidate docker-compose environment configuration via env_file
  .env.template
  docker-compose.yml
Due: none

fix: make .env file optional for CI environments
  docker-compose.yml
Due: none

fix: create empty .env file in E2E tests for docker-compose
  docker-compose.yml
  tests/e2e/conftest.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Update media_buy_create.py for adcp 2.14.0 RootModel wrapper
  .mypy_baseline
  .type-ignore-baseline
  product_catalog_providers/signals.py
  src/core/schema_helpers.py
  src/core/signals_agent_registry.py
  src/core/tools/media_buy_create.py
  src/core/tools/products.py
  src/services/dynamic_pricing_service.py
  tests/unit/test_pricing_validation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: pass through critical env vars from host for CI compatibility
  docker-compose.yml
Due: none

fix: Pin adcp==2.14.0 in pre-commit mypy to match CI
  .mypy_baseline
  .pre-commit-config.yaml
  .type-ignore-baseline
  product_catalog_providers/signals.py
  src/core/schema_helpers.py
  src/core/signals_agent_registry.py
  src/core/tools/products.py
  src/services/dynamic_pricing_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: pass through DELIVERY_WEBHOOK_INTERVAL for E2E webhook tests
  docker-compose.yml
Due: none

Support adcp 2.14.0 RootModel for discriminated unions (#852)
  .pre-commit-config.yaml
  .type-ignore-baseline
  product_catalog_providers/signals.py
  pyproject.toml
  src/adapters/xandr.py
  src/core/helpers/pricing_helpers.py
  src/core/schema_adapters.py
  src/core/schema_helpers.py
  src/core/schemas.py
  src/core/signals_agent_registry.py
  src/core/tools/media_buy_create.py
  src/core/tools/products.py
  src/core/tools/signals.py
  src/services/dynamic_pricing_service.py
  tests/integration/test_pricing_models_integration.py
  tests/integration_v2/test_get_products_filters.py
  tests/integration_v2/test_schema_database_mapping.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_auth_removal_simple.py
  tests/unit/test_pricing_validation.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

refactor: consolidate docker-compose environment configuration via env_file (#853)
  .env.template
  docker-compose.yml
  tests/e2e/conftest.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Create mock properties only for mock adapters in publisher sync
  src/admin/blueprints/publisher_partners.py
  src/services/delivery_webhook_scheduler.py
  src/services/media_buy_status_scheduler.py
  tests/integration/test_mock_adapter_publisher_sync.py
  tests/unit/test_scheduler_env_var_handling.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Remove invalid AdapterConfig fields in test fixture
  tests/integration/test_mock_adapter_publisher_sync.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Use AppConfig instead of non-existent Config class in tests
  tests/integration/test_mock_adapter_publisher_sync.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Handle Response object correctly in publisher sync tests
  tests/integration/test_mock_adapter_publisher_sync.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Create mock properties only for mock adapters (#854)
  src/admin/blueprints/publisher_partners.py
  src/services/delivery_webhook_scheduler.py
  src/services/media_buy_status_scheduler.py
  tests/integration/test_mock_adapter_publisher_sync.py
  tests/unit/test_scheduler_env_var_handling.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression
