Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

fix: Add missing tenant_users.html template symlink
  src/admin/blueprints/operations.py
  templates/tenant_users.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: migrate to adcp v1.2.1 library with strict spec compliance
  ANALYSIS_ONEOF_ERROR_HANDLING.md
  IMPLEMENTATION_PLAN_ONEOF.md
  MIGRATION_BLOCKERS_ADCP_LIBRARY.md
  MIGRATION_PLAN_ADCP_LIBRARY.md
  ONEOF_IMPLEMENTATION_STATUS.md
  pyproject.toml
  src/adapters/google_ad_manager.py
  src/adapters/kevel.py
  src/adapters/mock_ad_server.py
  src/adapters/triton_digital.py
  src/adapters/xandr.py
  src/core/protocol_envelope.py
  src/core/schema_validation.py
  src/core/schemas.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_update.py
  tests/unit/adapters/test_base.py
  tests/unit/test_a2a_parameter_mapping.py
  tests/unit/test_adapter_packages_fix.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_all_response_str_methods.py
  tests/unit/test_budget_format_compatibility.py
  tests/unit/test_budget_migration_integration.py
  tests/unit/test_customer_webhook_regression.py
  tests/unit/test_gam_workflow_packages.py
  tests/unit/test_inline_creatives_in_adapters.py
  tests/unit/test_package_product_extraction.py
  tests/unit/test_parse_tool_result.py
  tests/unit/test_pricing_validation.py
  tests/unit/test_protocol_envelope.py
  tests/unit/test_spec_compliance.py
  tests/unit/test_update_media_buy_affected_packages.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: update_media_buy validation raises ServerError instead of returning dict
  src/a2a_server/adcp_a2a_server.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: remove platform_line_item_id expectations from adapter tests
  REMAINING_TEST_FAILURES.md
  tests/unit/test_adapter_packages_fix.py
  tests/unit/test_gam_workflow_packages.py
Due: detect-test-antipatterns, mypy-no-regression

fix: resolve adcp v1.2.1 migration test failures
  FOLLOWUP_TASKS_ADCP_MIGRATION.md
  src/adapters/google_ad_manager.py
  src/adapters/kevel.py
  src/adapters/mock_ad_server.py
  src/adapters/triton_digital.py
  src/core/schema_validation.py
  src/core/schemas.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_update.py
  tests/integration/test_update_media_buy_creative_assignment.py
  tests/integration/test_update_media_buy_persistence.py
  tests/unit/test_update_media_buy_affected_packages.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: update A2A response tests for adcp v1.2.1 oneOf pattern
  src/core/schema_helpers.py
  src/core/tools/products.py
  tests/integration/test_a2a_response_message_fields.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: add length check before errors array access
  src/core/tools/media_buy_update.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

docs: remove one-off migration documentation
  ANALYSIS_ONEOF_ERROR_HANDLING.md
  FOLLOWUP_TASKS_ADCP_MIGRATION.md
  IMPLEMENTATION_PLAN_ONEOF.md
  MIGRATION_BLOCKERS_ADCP_LIBRARY.md
  MIGRATION_PLAN_ADCP_LIBRARY.md
  MIGRATION_REQUIRED_delivery_type_fix.md
  ONEOF_IMPLEMENTATION_STATUS.md
  REMAINING_TEST_FAILURES.md
Due: none

docs: add comprehensive migration completion summary
  ADCP_V1.2.1_MIGRATION_COMPLETE.md
Due: none

fix: complete A2A parameter mapping tests for adcp v1.2.1
  tests/unit/test_a2a_parameter_mapping.py
Due: detect-test-antipatterns, mypy-no-regression

fix: restore affected_packages internal field in UpdateMediaBuySuccess
  src/core/tools/media_buy_update.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: update inline creative tests for AdCP Package schema
  tests/unit/test_inline_creatives_in_adapters.py
Due: detect-test-antipatterns, mypy-no-regression

fix: update GAM lifecycle and pricing tests for adcp v1.2.1 oneOf pattern
  tests/integration/test_gam_lifecycle.py
  tests/integration/test_gam_pricing_restriction.py
Due: detect-test-antipatterns, mypy-no-regression

fix: update_media_buy oneOf pattern - use hasattr for errors check and remove non-spec fields
  src/core/tools/media_buy_update.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: handle Package Pydantic objects in media_buy_create
  src/core/tools/media_buy_create.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/unit/test_adapter_packages_fix.py
  tests/unit/test_gam_workflow_packages.py
  tests/unit/test_inline_creatives_in_adapters.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

chore: sync schemas with AdCP registry and add context field
  .mypy_baseline
Due: none

fix: add context field to Request schemas + update mypy baseline
  .mypy_baseline
Due: none

chore: clean up schema-sync removal - remove commented code and migration doc
  .github/workflows/test.yml
  ADCP_V1.2.1_MIGRATION_COMPLETE.md
Due: none

revert: remove context field and disable schema sync
  .github/workflows/test.yml
  .mypy_baseline
  .pre-commit-config.yaml
  schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  schemas/v1/_schemas_v1_media-buy_create-media-buy-response_json.json
  schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-request_json.json
  schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-response_json.json
  schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  schemas/v1/_schemas_v1_media-buy_get-products-response_json.json
  schemas/v1/_schemas_v1_media-buy_list-authorized-properties-request_json.json
  schemas/v1/_schemas_v1_media-buy_list-authorized-properties-response_json.json
  schemas/v1/_schemas_v1_media-buy_list-creative-formats-request_json.json
  schemas/v1/_schemas_v1_media-buy_list-creative-formats-response_json.json
  schemas/v1/_schemas_v1_media-buy_list-creatives-request_json.json
  schemas/v1/_schemas_v1_media-buy_list-creatives-response_json.json
  schemas/v1/_schemas_v1_media-buy_sync-creatives-request_json.json
  schemas/v1/_schemas_v1_media-buy_sync-creatives-response_json.json
  schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json
  schemas/v1/_schemas_v1_media-buy_update-media-buy-response_json.json
  schemas/v1/_schemas_v1_signals_get-signals-request_json.json
  schemas/v1/_schemas_v1_signals_get-signals-response_json.json
Due: none

fix: wrap brand_manifest URL strings in dict for adcp library
  src/core/schema_helpers.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

test: update tests for promoted_offering parameter removal
  tests/unit/test_a2a_brand_manifest_parameter.py
  tests/unit/test_raw_function_parameter_validation.py
Due: detect-test-antipatterns, mypy-no-regression

refactor: remove deprecated promoted_offering parameter from get_products
  src/a2a_server/adcp_a2a_server.py
  src/core/schema_helpers.py
  src/core/tools/products.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: add required packages field to UpdateMediaBuySuccess test mock
  tests/integration_v2/test_a2a_skill_invocation.py
Due: detect-test-antipatterns, mypy-no-regression

fix: use Success classes instead of union types in tests
  tests/integration_v2/test_a2a_skill_invocation.py
  tests/integration_v2/test_create_media_buy_roundtrip.py
  tests/integration_v2/test_error_paths.py
Due: detect-test-antipatterns, mypy-no-regression

docs: clarify schema migration and deprecate legacy scripts
  docs/development/schema-auto-generation.md
  docs/schema-updates.md
  scripts/compare_schemas.py
  scripts/generate_schemas.py
Due: mypy-no-regression

fix: serialize Pydantic models before storing in JSONB
  schemas/v1/_schemas_v1_core_assets_daast-asset_json.json
  schemas/v1/_schemas_v1_core_assets_daast-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_vast-asset_json.json
  schemas/v1/_schemas_v1_core_assets_vast-asset_json.json.meta
  schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json.meta
  src/core/tools/media_buy_create.py
  tests/integration_v2/test_create_media_buy_v24.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: update tests for adcp library migration
  tests/unit/test_schema_adapters.py
Due: detect-test-antipatterns, mypy-no-regression

fix: remove obsolete schema_generated compatibility test
  tests/unit/test_schema_generated_compatibility.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Add missing template variables and fix WorkflowStep attribute access
  src/admin/blueprints/inventory.py
  src/admin/blueprints/workflows.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Complete scriptRoot URL fix in inventory_picker component
  .pre-commit-hooks/check_hardcoded_urls.py
  templates/components/inventory_picker.html
Due: mypy-no-regression

chore: Remove obsolete schemas_generated directory
  src/core/schemas_generated/_schemas_v1_core_activation_key_json.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix inventory profile 401 errors and resolve route conflicts (#737)
  .gitignore
  .pre-commit-config.yaml
  .pre-commit-hooks/check_hardcoded_urls.py
  .pre-commit-hooks/check_route_conflicts.py
  CLAUDE.md
  src/admin/blueprints/inventory.py
  src/admin/blueprints/operations.py
  src/admin/blueprints/tenants.py
  src/admin/blueprints/workflows.py
  src/services/gam_inventory_service.py
  templates/components/inventory_picker.html
  templates/inventory_unified.html
  templates/tenant_users.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

docs: Systematic fix plan for nested model serialization vulnerability
  SYSTEMATIC_FIX_PLAN.md
Due: none

fix: Exclude internal fields from SyncCreativesResponse for AdCP compliance
  src/core/schemas.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

docs: Document testing gap that allowed sync_creatives bug
  TESTING_IMPROVEMENT_SUMMARY.md
Due: none

docs: Add nested model serialization pattern to CLAUDE.md
  CLAUDE.md
Due: none

fix: Systematic fix for nested model serialization in response schemas
  src/core/schemas.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_creative_response_serialization.py
  tests/unit/test_list_creatives_serialization.py
  tests/unit/test_signals_response_serialization.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
