Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$

Show access control in Account settings section
  templates/tenant_settings.html
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-authorized-properties-response_json.json
Due: template-url-validation

Remove one-off Weather tenant fix script
  scripts/fix_weather_tenant_access.py
Due: none

Add access control to setup checklist as critical task
  src/services/setup_checklist_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix CI: Add access control to test tenant
  scripts/setup/init_database_ci.py
Due: none

Remove non-spec formats_to_provide field from Package schema
  src/core/schemas.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix Weather tenant access and prevent future lockouts (#405)
  docs/SETUP.md
  scripts/setup/init_database_ci.py
  src/admin/tenant_management_api.py
  src/services/setup_checklist_service.py
  templates/create_tenant.html
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix mypy errors: Column[str] type issues in main.py and models.py
  src/core/database/models.py
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix SQLAlchemy 2.0 unique() requirement for joinedload collections
  src/admin/blueprints/products.py
  src/services/gam_orders_service.py
  tests/integration/test_admin_ui_pages.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Use SQLAlchemy 2.0 Mapped[] annotations for proper type inference
  src/core/database/models.py
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Add missing AdCP schema cache files from schema sync
  tests/e2e/schemas/v1/_schemas_v1_core_assets_audio-asset_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_assets_css-asset_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_assets_html-asset_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_assets_image-asset_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_assets_javascript-asset_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_assets_promoted-offerings-asset_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_assets_text-asset_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_assets_url-asset_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_assets_video-asset_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_creative-assignment_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_format-id_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_push-notification-config_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_reporting-capabilities_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_sub-asset_json.json
  tests/e2e/schemas/v1/_schemas_v1_enums_channels_json.json
  tests/e2e/schemas/v1/_schemas_v1_enums_creative-status_json.json
  tests/e2e/schemas/v1/_schemas_v1_enums_media-buy-status_json.json
  tests/e2e/schemas/v1/_schemas_v1_enums_package-status_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_package-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpc-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpcv-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpm-auction-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpm-fixed-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpp-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpv-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_flat-rate-option_json.json
Due: none

Apply black formatting to products.py
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix test_package_adcp_compliance for format_ids_to_provide field
  tests/unit/test_adcp_contract.py
Due: detect-test-antipatterns

Fix SQLAlchemy 2.0 unique() requirement for joinedload collections (#406)
  src/admin/blueprints/products.py
  src/services/gam_orders_service.py
  tests/integration/test_admin_ui_pages.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Fix schema compatibility tests to exclude protocol envelope fields
  tests/unit/test_schema_generated_compatibility.py
Due: detect-test-antipatterns

Fix undefined error messages in tenant settings UI
  static/js/tenant_settings.js
Due: none

Improve GAM error messages to be more user-friendly
  src/admin/blueprints/gam.py
  src/admin/blueprints/inventory.py
  src/admin/sync_api.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix typo: addagents.json → adagents.json in setup checklist
  src/services/setup_checklist_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix Weather tenant sync error: Improve error messages (#407)
  src/admin/blueprints/gam.py
  src/admin/blueprints/inventory.py
  src/admin/sync_api.py
  static/js/tenant_settings.js
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix delivery_type field format: 'non-guaranteed' → 'non_guaranteed'
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add product pricing audit and fix scripts
  scripts/audit_and_fix_product_pricing.py
  scripts/check_production_pricing.py
  scripts/fix_product_pricing_production.sh
Due: none

Remove protocol envelope fields from response models per AdCP spec
  src/core/schema_adapters.py
  src/core/schemas.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_all_response_str_methods.py
  tests/unit/test_schema_generated_compatibility.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix typo: addagents.json → adagents.json in setup checklist (#408)
  src/services/setup_checklist_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add delivery_type validation to product creation integration test
  tests/integration/test_product_creation.py
Due: detect-test-antipatterns

Deprecate legacy pricing fields across the board
  scripts/audit_and_fix_product_pricing.py
  scripts/check_production_pricing.py
  scripts/fix_product_pricing_production.sh
  src/admin/blueprints/products.py
  src/core/database/models.py
  src/core/database/product_pricing.py
  src/core/main.py
  src/core/schemas.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Complete GAM pricing model implementation with dynamic line item configuration
  CLAUDE.md
  src/adapters/gam/managers/orders.py
  src/adapters/google_ad_manager.py
  templates/add_product.html
  templates/add_product_gam.html
  templates/products.html
  tests/integration/test_gam_pricing_models_integration.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, template-url-validation

Add comprehensive Admin UI testing with 2-level strategy
  .pre-commit-config.yaml
  docs/testing/admin-ui-route-testing.md
  docs/testing/admin-ui-testing-strategy.md
  scripts/analyze_routes.py
  scripts/check_admin_route_coverage.py
  src/admin/blueprints/policy.py
  src/admin/blueprints/principals.py
  src/admin/blueprints/products.py
  tests/integration/conftest.py
  tests/integration/test_admin_ui_data_validation.py
  tests/integration/test_admin_ui_pages.py
  tests/integration/test_admin_ui_routes_comprehensive.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Fix delivery_type field format: 'non-guaranteed' → 'non_guaranteed' (#409)
  src/admin/blueprints/products.py
  tests/integration/test_product_creation.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Add creative agent management UI and improve format display
  src/admin/app.py
  src/admin/blueprints/creative_agents.py
  src/admin/blueprints/products.py
  templates/creative_agent_form.html
  templates/creative_agents.html
  templates/products.html
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Update tests to use pricing_options instead of legacy pricing fields
  tests/unit/test_adcp_contract.py
Due: detect-test-antipatterns

Create migration to drop legacy pricing fields from products table
  alembic/versions/7426aa7e2f1a_drop_legacy_pricing_fields_from_products.py
Due: none

Fix protocol envelope migration - remove all protocol field references
  src/core/main.py
  src/core/response_factory.py
  tests/integration/test_a2a_response_message_fields.py
  tests/integration/test_error_paths.py
  tests/unit/test_response_factory.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add creative agent management UI and improve format display (#411)
  src/admin/app.py
  src/admin/blueprints/creative_agents.py
  src/admin/blueprints/products.py
  templates/creative_agent_form.html
  templates/creative_agents.html
  templates/products.html
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix test_product_pr79_fields to use pricing_options
  tests/unit/test_adcp_contract.py
Due: detect-test-antipatterns

Fix mock adapter - remove protocol fields from CreateMediaBuyResponse
  src/adapters/mock_ad_server.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Remove redundant test_list_products_with_pricing_options
  tests/integration/test_admin_ui_pages.py
Due: detect-test-antipatterns

Add comprehensive Admin UI testing with 2-level strategy (#410)
  .pre-commit-config.yaml
  docs/testing/admin-ui-route-testing.md
  docs/testing/admin-ui-testing-strategy.md
  scripts/analyze_routes.py
  scripts/check_admin_route_coverage.py
  src/admin/blueprints/policy.py
  src/admin/blueprints/principals.py
  tests/integration/conftest.py
  tests/integration/test_admin_ui_data_validation.py
  tests/integration/test_admin_ui_pages.py
  tests/integration/test_admin_ui_routes_comprehensive.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Fix critical issues from python-expert review
  alembic/versions/7426aa7e2f1a_drop_legacy_pricing_fields_from_products.py
  src/core/database/database.py
  src/core/schemas.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix merge conflict resolution - use protocol envelope version of schemas.py
  src/core/schemas.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment
