Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$

docs: Correct webhook analysis in human-in-loop doc
  docs/a2a-human-in-loop-analysis.md
Due: none

Add creative format validation against product formats
  src/core/helpers/__init__.py
  src/core/helpers/creative_helpers.py
  src/core/tools/media_buy_create.py
  tests/unit/test_validate_creative_format_against_products.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix mypy type errors by using unique variable names for validation results
  .mypy_baseline
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: Use adcp 2.12.1 get_adcp_version() for protocol version
  pyproject.toml
  src/a2a_server/adcp_a2a_server.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: Remove non-spec fields from A2A responses for AdCP compliance
  A2A_SPEC_COMPLIANCE_FIXES.md
  src/a2a_server/adcp_a2a_server.py
  tests/helpers/a2a_response_validator.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

Add documentation and improved error messages for creative format validation
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: Add TextPart for human-readable messages per A2A spec
  A2A_REMAINING_WORK.md
  A2A_SPEC_COMPLIANCE_FIXES.md
  src/a2a_server/adcp_a2a_server.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

feat: Add AdCP 2.5 extension to A2A agent card (#783)
  pyproject.toml
  src/a2a_server/README.md
  src/a2a_server/adcp_a2a_server.py
  tests/e2e/test_a2a_endpoints_working.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

refactor: Eliminate NLP/skill duplication in get_products (phase 1)
  src/a2a_server/adcp_a2a_server.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

refactor: Standardize NLP artifact creation with TextPart (phase 2)
  src/a2a_server/adcp_a2a_server.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

docs: Update compliance documentation with NLP refactoring work
  A2A_SPEC_COMPLIANCE_FIXES.md
Due: none

test: Update integration tests for AdCP spec compliance
  tests/integration/test_a2a_response_message_fields.py
Due: detect-test-antipatterns, mypy-no-regression

Simplify creative format validation based on review feedback
  src/core/helpers/__init__.py
  src/core/helpers/creative_helpers.py
  src/core/tools/media_buy_create.py
  tests/unit/test_validate_creative_format_against_product.py
  tests/unit/test_validate_creative_format_against_products.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Add proper type hints to validate_creative_format_against_product
  src/core/helpers/creative_helpers.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: Remove protocol fields from _create_media_buy NLP helper
  src/a2a_server/adcp_a2a_server.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

docs: Update compliance docs - all work complete
  A2A_SPEC_COMPLIANCE_FIXES.md
Due: none

Add docstring explaining why tests use dicts instead of Pydantic objects
  tests/unit/test_validate_creative_format_against_product.py
Due: detect-test-antipatterns, mypy-no-regression

chore: Remove temporary compliance tracking docs
  A2A_REMAINING_WORK.md
  A2A_SPEC_COMPLIANCE_FIXES.md
Due: none

test: Update parameter mapping test for ServerError exception handling
  tests/unit/test_a2a_parameter_mapping.py
Due: detect-test-antipatterns, mypy-no-regression

Tighten type enforcement: require FormatId and Product objects
  src/core/helpers/creative_helpers.py
  tests/unit/test_validate_creative_format_against_product.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: increase sync_id length from 50 to 100
  alembic/versions/e8223bd175df_increase_sync_job_id_length.py
  src/core/database/models.py
  tests/integration/test_sync_job_model.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment, mypy-no-regression

Add edge case tests for format validation
  tests/unit/test_validate_creative_format_against_product.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Update integration tests for A2A spec compliance
  tests/integration/test_a2a_response_message_fields.py
  tests/integration_v2/test_a2a_error_responses.py
  tests/integration_v2/test_a2a_skill_invocation.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Correct performance_data format in test_update_performance_index_skill
  tests/integration_v2/test_a2a_skill_invocation.py
Due: detect-test-antipatterns, mypy-no-regression

fix: GAM test error fix
  static/js/tenant_settings.js
  templates/tenant_settings.html
Due: none

fix: Update test_update_performance_index_skill to expect ServerError
  tests/integration_v2/test_a2a_skill_invocation.py
Due: detect-test-antipatterns, mypy-no-regression

fix: edit configuration feature
  src/admin/blueprints/settings.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: Implement PolicyService for tenant policy management
  alembic/versions/2b64218bfe0e_add_approval_thresholds_to_tenants.py
  alembic/versions/3709c99944e5_add_brand_manifest_policy_to_tenants.py
  pyproject.toml
  src/admin/blueprints/core.py
  src/admin/blueprints/settings.py
  src/admin/blueprints/tenants.py
  src/admin/tenant_management_api.py
  src/core/database/models.py
  src/services/policy_service.py
  static/js/tenant_settings.js
  templates/tenant_settings.html
  tests/conftest_db.py
  tests/unit/test_policy_service.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment, mypy-no-regression

fix: Remove duplicate brand_manifest_policy migration
  alembic/versions/2b64218bfe0e_add_approval_thresholds_to_tenants.py
  alembic/versions/3709c99944e5_add_brand_manifest_policy_to_tenants.py
Due: mypy-no-regression

refactor: Rename approval thresholds to creative_auto_* for clarity
  alembic/versions/2b64218bfe0e_add_approval_thresholds_to_tenants.py
  src/admin/blueprints/settings.py
  src/core/database/models.py
  src/services/policy_service.py
  templates/tenant_settings.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, mypy-no-regression

Implement PolicyService for policy management (#788)
  alembic/versions/2b64218bfe0e_add_approval_thresholds_to_tenants.py
  pyproject.toml
  src/admin/blueprints/core.py
  src/admin/blueprints/settings.py
  src/admin/blueprints/tenants.py
  src/admin/tenant_management_api.py
  src/core/database/models.py
  src/services/policy_service.py
  static/js/tenant_settings.js
  templates/tenant_settings.html
  tests/conftest_db.py
  tests/unit/test_policy_service.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment, mypy-no-regression

Add creative format validation against product formats (#774)
  .mypy_baseline
  src/core/helpers/__init__.py
  src/core/helpers/creative_helpers.py
  src/core/tools/media_buy_create.py
  tests/unit/test_validate_creative_format_against_product.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: sanitize tenant ID in GCP service account creation
  src/services/gcp_service_account_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: inventory profile save URL and property_mode handling
  src/admin/blueprints/inventory_profiles.py
  templates/components/inventory_profile_editor.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: nest inventory picker modal to resolve search input focus issue
  templates/components/inventory_profile_editor.html
Due: none

Fix authorized properties system and migrate to Publishers & Properties
  alembic/versions/5a0bd1eda2bd_migrate_publishers_to_new_system.py
  alembic/versions/e4f26160e57b_merge_heads.py
  src/admin/blueprints/publisher_partners.py
  src/core/tools/properties.py
  src/services/setup_checklist_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Remove deprecated authorized_properties templates
  templates/authorized_properties_list.html.deprecated
  templates/authorized_properties_upload.html.deprecated
Due: none

fix: correct inventory search endpoint and parameters in unified view
  templates/inventory_unified.html
Due: none

fix: implement missing naming template preview logic
  static/js/tenant_settings.js
Due: none

Condense CLAUDE.md from 1509 to 361 lines (76% reduction)
  CLAUDE.md
Due: none
