Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

fix: Correct AdCP 2.2.0 schema compliance - field names and required parameters
  src/adapters/google_ad_manager.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
  tests/integration/test_mcp_tool_roundtrip_minimal.py
  tests/integration/test_pricing_models_integration.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Remove deprecated Tenant fields and update test fixtures
  src/services/setup_checklist_service.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_setup_checklist_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

refactor: Convert SQLAlchemy 1.x query patterns to 2.0 in test cleanup
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
Due: detect-test-antipatterns, mypy-no-regression

fix mypy
  src/a2a_server/adcp_a2a_server.py
  src/core/context_manager.py
  src/core/schemas.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_delivery.py
  src/core/tools/media_buy_update.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: Critical test failures - authentication, field names, and async patterns
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
  tests/integration/test_mcp_tool_roundtrip_minimal.py
  tests/integration/test_pricing_models_integration.py
  tests/integration/test_update_media_buy_creative_assignment.py
  tests/integration/test_update_media_buy_persistence.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Comprehensive test fixes - authentication, model fields, and OAuth flow
  src/admin/blueprints/auth.py
  src/admin/tenant_management_api.py
  src/core/auth.py
  src/core/helpers/context_helpers.py
  tests/integration/conftest.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
  tests/integration/test_mcp_tool_roundtrip_minimal.py
  tests/integration/test_pricing_models_integration.py
  tests/integration/test_product_formats_update.py
  tests/integration/test_product_pricing_options_required.py
  tests/integration/test_tenant_isolation_fix.py
  tests/integration/test_update_media_buy_creative_assignment.py
  tests/integration/test_update_media_buy_persistence.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Test fixes and FormatId string-to-object conversion
  src/core/tools/media_buy_create.py
  tests/integration/test_gam_pricing_restriction.py
  tests/integration/test_tenant_management_api_integration.py
  tests/integration/test_tenant_utils.py
  tests/integration/test_update_media_buy_creative_assignment.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Final test fixes - package validation, imports, and AdCP 2.4 error patterns
  src/core/tools/media_buy_create.py
  tests/integration/test_gam_pricing_restriction.py
  tests/integration/test_pricing_models_integration.py
  tests/integration/test_product_deletion_with_trigger.py
  tests/integration/test_tenant_utils.py
  tests/integration/test_update_media_buy_creative_assignment.py
  tests/integration/test_update_media_buy_persistence.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Final 19 test failures - GAM validation, pricing, creative assignment, triggers
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
  src/core/tools/media_buy_create.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
  tests/integration/test_pricing_models_integration.py
  tests/integration/test_product_deletion_with_trigger.py
  tests/integration/test_update_media_buy_creative_assignment.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Final 4 test failures - pricing_options, sync_creatives field, package_id generation
  src/adapters/mock_ad_server.py
  tests/e2e/test_adcp_reference_implementation.py
  tests/e2e/test_creative_assignment_e2e.py
  tests/integration/conftest.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Final 2 test failures - UpdateMediaBuy status field and multi-package creation
  src/core/tools/media_buy_create.py
  tests/integration/test_mcp_tool_roundtrip_minimal.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Handle both product_id and products fields in Package
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: remove signals discovery checkbox and enabled flag
  product_catalog_providers/hybrid.py
  src/admin/blueprints/settings.py
  src/core/tools/products.py
  templates/tenant_settings.html
  tests/unit/test_comprehensive_product_validation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Correct cleanup order in pricing models integration tests
  tests/integration/test_pricing_models_integration.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Correct MediaPackage cleanup to use media_buy_id filter
  tests/integration/test_pricing_models_integration.py
Due: detect-test-antipatterns, mypy-no-regression

refactor: remove legacy signals_agent_config, use signals_agents table
  product_catalog_providers/hybrid.py
  src/admin/blueprints/settings.py
  src/core/tools/products.py
  templates/tenant_settings.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

test: Add @pytest.mark.requires_db to test_mcp_protocol.py (#672)
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
  src/admin/blueprints/auth.py
  src/admin/tenant_management_api.py
  src/core/auth.py
  src/core/helpers/context_helpers.py
  src/core/tools/media_buy_create.py
  src/services/setup_checklist_service.py
  tests/e2e/test_adcp_reference_implementation.py
  tests/e2e/test_creative_assignment_e2e.py
  tests/integration/conftest.py
  tests/integration/test_gam_lifecycle.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
  tests/integration/test_gam_tenant_setup.py
  tests/integration/test_generative_creatives.py
  tests/integration/test_main.py
  tests/integration/test_mcp_protocol.py
  tests/integration/test_mcp_tool_roundtrip_minimal.py
  tests/integration/test_media_buy_readiness.py
  tests/integration/test_pricing_models_integration.py
  tests/integration/test_product_deletion_with_trigger.py
  tests/integration/test_product_formats_update.py
  tests/integration/test_product_pricing_options_required.py
  tests/integration/test_setup_checklist_service.py
  tests/integration/test_tenant_dashboard.py
  tests/integration/test_tenant_isolation_breach_fix.py
  tests/integration/test_tenant_isolation_fix.py
  tests/integration/test_tenant_management_api_integration.py
  tests/integration/test_tenant_utils.py
  tests/integration/test_update_media_buy_creative_assignment.py
  tests/integration/test_update_media_buy_persistence.py
  tests/integration/test_workflow_approval.py
  tests/integration/test_workflow_architecture.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: add missing get_db_session import at module level
  src/core/tools/products.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Remove Enable Signals Discovery checkbox from settings (#673)
  product_catalog_providers/hybrid.py
  src/admin/blueprints/settings.py
  src/core/tools/products.py
  templates/tenant_settings.html
  tests/unit/test_comprehensive_product_validation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Check super admin status before signup flow redirect
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Check super admin status before signup flow redirect (#674)
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Resolve GAM inventory sync and targeting data loading issues
  src/admin/blueprints/inventory.py
  src/admin/blueprints/products.py
  src/services/background_sync_service.py
  src/services/gam_inventory_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Resolve GAM inventory sync and targeting data loading issues (#675)
  src/admin/blueprints/inventory.py
  src/admin/blueprints/products.py
  src/services/background_sync_service.py
  src/services/gam_inventory_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: Add enhanced logging to targeting data endpoint for debugging
  src/admin/blueprints/inventory.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Make targeting browser sync button actually sync targeting data
  templates/targeting_browser.html
Due: none

feat: Add missing /inventory/tree endpoint for ad unit hierarchy
  src/admin/blueprints/inventory.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Add inventory type counts to /inventory/tree endpoint
  src/admin/blueprints/inventory.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Add logging + fix targeting browser sync button (#677)
  src/admin/blueprints/inventory.py
  templates/targeting_browser.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: Add real-time custom targeting values endpoint and visual selector widget
  src/admin/blueprints/inventory.py
  templates/add_product.html
  templates/components/targeting_selector_widget.html
  templates/edit_product.html
  templates/targeting_browser.html
  tests/integration/test_targeting_values_endpoint.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Correct GAMInventoryDiscovery import path in test mocking
  tests/integration/test_targeting_values_endpoint.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Temporarily disable targeting widget to resolve CI RecursionError
  templates/add_product.html
  templates/edit_product.html
Due: none

test: Use minimal targeting widget to isolate CI RecursionError
  templates/add_product.html
  templates/components/targeting_selector_widget_minimal.html
Due: none

feat: Add v2 targeting widget with external JavaScript
  static/js/targeting_widget.js
  templates/components/targeting_selector_widget_v2.html
Due: none

feat: Enable full v2 targeting widget with visual selector
  templates/add_product.html
  templates/components/targeting_selector_widget_minimal.html
  templates/edit_product.html
Due: none

fix: Convert FormatReference to FormatId in MediaPackage reconstruction
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

test: Add CurrencyLimit and PropertyTag fixtures to format conversion tests
  tests/integration/test_format_conversion_approval.py
Due: detect-test-antipatterns, mypy-no-regression

test: Add comprehensive integration tests for format conversion
  tests/integration/test_format_conversion_approval.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Use correct CurrencyLimit field name in test fixture
  tests/integration/test_format_conversion_approval.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Add requires_db marker to all integration tests missing it
  tests/integration/test_a2a_response_compliance.py
  tests/integration/test_gam_validation_integration.py
  tests/integration/test_impression_tracker_flow.py
  tests/integration/test_mcp_contract_validation.py
  tests/integration/test_media_buy_readiness.py
  tests/integration/test_mock_adapter.py
  tests/integration/test_notification_urls_exist.py
  tests/integration/test_oauth_session_handling.py
  tests/integration/test_policy.py
  tests/integration/test_schema_contract_validation.py
  tests/integration/test_schema_field_validation.py
  tests/integration/test_spec_compliance.py
  tests/integration/test_template_url_validation.py
  tests/integration/test_tool_registration.py
  tests/integration/test_unified_delivery.py
  tests/integration/test_virtual_host_integration.py
  tests/integration/test_workflow_approval.py
  tests/integration/test_workflow_with_server.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Add module-level pytestmark to test_self_service_signup
  src/core/tools/media_buy_create.py
  tests/integration/test_self_service_signup.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
