Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

validate-column-lengths:
  name: Validate database column lengths
  entry: python scripts/validate_column_lengths.py
  language: system

check-api-deprecations:
  name: Check for deprecated API usage
  entry: python scripts/check_api_deprecations.py
  language: system

validate-model-imports:
  name: Validate model imports
  entry: python scripts/validate_model_imports.py
  language: system

🔒 SECURITY: Implement critical code review fixes
  alembic/versions/020_fix_tasks_schema_properly_fix_tasks_schema_properly.py
  src/admin/blueprints/tenants.py
  src/admin/services/dashboard_service.py
Due: validate-model-imports

🔧 FIX: Apply linter formatting improvements
  src/admin/blueprints/tenants.py
  src/admin/services/dashboard_service.py
Due: validate-model-imports

🔧 URGENT: Fix Task model import errors breaking CI
  src/adapters/xandr.py
  src/admin/superadmin_api.py
  src/core/main.py
Due: check-api-deprecations, validate-model-imports

trigger CI
  README.md
Due: none

Python code quality improvements: context management, datetime fixes, and testing enhancements
  scripts/setup/init_database.py
  scripts/setup/setup_tenant.py
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
  src/adapters/xandr.py
  src/admin/blueprints/gam.py
  src/admin/superadmin_api.py
  src/core/async_patterns.py
  src/core/auth_utils.py
  src/core/main.py
  src/core/mcp_context_wrapper.py
  src/core/mcp_server_enhanced.py
  src/core/retry_utils.py
  src/core/schemas.py
  src/core/strategy.py
  src/core/tool_context.py
  src/core/validation.py
  src/services/ai_creative_format_service.py
  tests/integration/test_workflow_approval.py
  tests/unit/test_context_management.py
  tests/unit/test_spec_compliance.py
  tests/unit/test_workflow_architecture.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Apply final Black formatting improvements to test_workflow_architecture.py
  tests/unit/test_workflow_architecture.py
Due: validate-model-imports

Python code quality improvements: context management, datetime fixes, and testing enhancements (#108)
  scripts/setup/init_database.py
  scripts/setup/setup_tenant.py
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
  src/adapters/xandr.py
  src/admin/blueprints/gam.py
  src/admin/superadmin_api.py
  src/core/async_patterns.py
  src/core/auth_utils.py
  src/core/main.py
  src/core/mcp_context_wrapper.py
  src/core/mcp_server_enhanced.py
  src/core/retry_utils.py
  src/core/schemas.py
  src/core/strategy.py
  src/core/tool_context.py
  src/core/validation.py
  src/services/ai_creative_format_service.py
  tests/integration/test_workflow_approval.py
  tests/unit/test_context_management.py
  tests/unit/test_spec_compliance.py
  tests/unit/test_workflow_architecture.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

🔧 FIX: Resolve CI test failures from main merge
  line_item_7047822666_response.json
  src/core/database/models.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_ai_products.py
  tests/integration/test_dashboard_reliability.py
Due: validate-column-lengths, validate-model-imports

🔧 FIX: Show most recent activity at the top in dashboard
  templates/tenant_dashboard.html
Due: none

🔧 FIX: Resolve CI test failures from main merge
  tests/e2e/schemas/compliance_report.json
  tests/integration/conftest.py
  tests/integration/test_ai_products.py
  tests/integration/test_mcp_protocol.py
Due: validate-model-imports

🔧 FIX: Resolve specific CI test failures blocking merge
  tests/conftest_db.py
  tests/integration/test_product_creation.py
  tests/unit/test_dashboard_service.py
Due: validate-model-imports

🔧 FIX: Resolve merge-blocking CI failures
  tests/integration/test_product_creation.py
Due: validate-model-imports

🔧 FIX: Skip complex mock test causing CI failures
  tests/unit/test_dashboard_service.py
Due: validate-model-imports

🔧 FIX: Resolve specific CI test failures blocking merge
  tests/conftest_db.py
  tests/integration/test_mcp_protocol.py
Due: validate-model-imports

🔧 FIX: Skip complex mock test causing CI failures
  tests/integration/test_dashboard_reliability.py
  tests/unit/test_dashboard_service.py
Due: validate-model-imports

Fix CI test failures and SSE connection issues (#103)
  README.md
  alembic/versions/020_fix_tasks_schema_properly_fix_tasks_schema_properly.py
  line_item_7047822666_response.json
  src/a2a_server/adcp_a2a_server.py
  src/adapters/xandr.py
  src/admin/app.py
  src/admin/blueprints/activity_stream.py
  src/admin/blueprints/tenants.py
  src/admin/services/__init__.py
  src/admin/services/dashboard_service.py
  src/admin/superadmin_api.py
  src/core/database/health_check.py
  src/core/database/models.py
  src/core/main.py
  templates/tenant_dashboard.html
  tests/conftest.py
  tests/conftest_db.py
  tests/e2e/schemas/compliance_report.json
  tests/integration/conftest.py
  tests/integration/test_ai_products.py
  tests/integration/test_dashboard_reliability.py
  tests/integration/test_mcp_protocol.py
  tests/integration/test_product_creation.py
  tests/unit/test_dashboard_service.py
  tests/unit/test_database_health.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Fix A2A server security: replace HTTP calls with direct function calls
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
Due: validate-model-imports

Fix A2A server security: replace HTTP calls with direct function calls (#109)
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
Due: validate-model-imports

Fix A2A authentication middleware for production routing
  src/a2a_server/adcp_a2a_server.py
Due: validate-model-imports

Fix min_spend validation error by converting DECIMAL to float
  product_catalog_providers/database.py
Due: validate-model-imports

Fix A2A authentication middleware for production routing (#110)
  product_catalog_providers/database.py
  src/a2a_server/adcp_a2a_server.py
Due: validate-model-imports

Fix critical AdCP compliance and validation issues
  CLAUDE.md
  creative_model_updates_summary.md
  demo_updated_formats.py
  src/core/main.py
  src/core/schemas.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_spec_compliance.py
Due: validate-column-lengths, validate-model-imports

Fix critical AdCP compliance and validation issues (#111)
  CLAUDE.md
  creative_model_updates_summary.md
  demo_updated_formats.py
  src/core/main.py
  src/core/schemas.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_spec_compliance.py
Due: validate-column-lengths, validate-model-imports

Add upstream AdCP signals discovery agent integration
  alembic/versions/022_add_signals_agent_config.py
  product_catalog_providers/factory.py
  product_catalog_providers/hybrid.py
  product_catalog_providers/signals.py
  src/admin/app.py
  src/admin/blueprints/settings.py
  src/core/database/models.py
  src/core/main.py
  templates/tenant_settings.html
  tests/integration/test_signals_agent_workflow.py
  tests/unit/test_signals_discovery_provider.py
Due: validate-column-lengths, validate-model-imports

Fix CI test collection errors and database model compatibility
  tests/fixtures/builders.py
  tests/integration/test_signals_agent_workflow.py
Due: validate-model-imports

Fix Signal schema mismatch in tests - use AdCP protocol format
  product_catalog_providers/signals.py
  tests/unit/test_signals_discovery_provider.py
Due: validate-model-imports

Add upstream AdCP signals discovery agent integration (#112)
  alembic/versions/022_add_signals_agent_config.py
  product_catalog_providers/factory.py
  product_catalog_providers/hybrid.py
  product_catalog_providers/signals.py
  src/admin/app.py
  src/admin/blueprints/settings.py
  src/core/database/models.py
  src/core/main.py
  templates/tenant_settings.html
  tests/fixtures/builders.py
  tests/integration/test_signals_agent_workflow.py
  tests/unit/test_signals_discovery_provider.py
Due: validate-column-lengths, validate-model-imports

Fix PostgreSQL connection issues with proper pooling and retry logic
  src/core/auth_utils.py
  src/core/database/database_session.py
Due: validate-model-imports

Fix PostgreSQL connection issues with proper pooling and retry logic (#113)
  src/core/auth_utils.py
  src/core/database/database_session.py
Due: validate-model-imports

Implement dual A2A skill invocation patterns from AdCP PR #48
  CLAUDE.md
  src/a2a_server/README.md
  src/a2a_server/adcp_a2a_server.py
  tests/e2e/test_a2a_adcp_compliance.py
  tests/integration/test_a2a_skill_invocation.py
Due: validate-model-imports

Fix A2A skill invocation tests and error handling
  src/a2a_server/adcp_a2a_server.py
  tests/integration/test_a2a_skill_invocation.py
Due: validate-model-imports

Implement dual A2A skill invocation patterns from AdCP PR #48 (#114)
  CLAUDE.md
  src/a2a_server/README.md
  src/a2a_server/adcp_a2a_server.py
  tests/e2e/test_a2a_adcp_compliance.py
  tests/integration/test_a2a_skill_invocation.py
Due: validate-model-imports

Path conditions:
  validate-column-lengths: any of: (models|schemas)\.py$
  check-api-deprecations: any of: adapters/.*\.py$
  validate-model-imports: any of: \.py$
