Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$

Add detailed error messaging for tenant context failures in get_products
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add creative assignments display to media buy detail view (#547)
  src/admin/blueprints/operations.py
  src/core/main.py
  templates/media_buy_detail.html
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment, template-url-validation

Fix tenant context not set error - restore global token lookup
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix mock adapter to use brand_manifest instead of promoted_offering
  src/adapters/mock_ad_server.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix naming utils to use brand_manifest instead of promoted_offering
  src/core/utils/naming.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Update test to match corrected tenant isolation behavior
  tests/unit/test_tenant_isolation_breach_fix.py
Due: detect-test-antipatterns

Complete removal of promoted_offering from naming utils
  src/core/utils/naming.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix 400 error when saving GAM service account network code (#546)
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix test_budget_format_compatibility to provide required fields
  tests/unit/test_budget_format_compatibility.py
Due: detect-test-antipatterns

Fix all CreateMediaBuyRequest tests in test_budget_format_compatibility
  tests/unit/test_budget_format_compatibility.py
Due: detect-test-antipatterns

Fix test_schema_validation_modes.py for brand_manifest migration
  tests/unit/test_schema_validation_modes.py
Due: detect-test-antipatterns

Fix test_policy.py for brand_manifest migration
  tests/integration/test_policy.py
Due: detect-test-antipatterns

Fix remaining test files for brand_manifest migration
  tests/unit/test_package_product_extraction.py
  tests/unit/test_pydantic_adcp_alignment.py
  tests/unit/test_schema_adapters.py
Due: detect-test-antipatterns

Fix GAM naming.py to use brand_manifest instead of promoted_offering
  src/adapters/gam/utils/naming.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix ContextVar sync/async boundary issue causing tenant context loss
  src/core/main.py
  tests/unit/test_tenant_isolation_breach_fix.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix test for new get_principal_from_context tuple return signature
  tests/unit/test_auth_removal_simple.py
Due: detect-test-antipatterns

Fix second test for new tuple return signature
  tests/unit/test_auth_removal_simple.py
Due: detect-test-antipatterns

Refactor signals agent integration to use registry pattern like creative agents
  alembic/versions/024_add_signals_agents_table.py
  product_catalog_providers/signals.py
  src/admin/app.py
  src/admin/blueprints/signals_agents.py
  src/core/database/models.py
  src/core/signals_agent_registry.py
  templates/signals_agent_form.html
  templates/signals_agents.html
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, template-url-validation

Fix source code check test for tuple return signature (after black format)
  tests/unit/test_auth_removal_simple.py
Due: detect-test-antipatterns

Fix order_name_template default in models.py to use brand_name
  alembic/versions/faaed3b71428_update_order_name_template_default_to_.py
  src/core/database/models.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment

Fix signals provider tests for registry-based architecture
  product_catalog_providers/signals.py
  tests/unit/test_signals_discovery_provider.py
Due: detect-test-antipatterns

Fix tenant context error caused by overly strict security fix (#548)
  src/core/main.py
  tests/unit/test_auth_removal_simple.py
  tests/unit/test_tenant_isolation_breach_fix.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Update integration tests for registry-based signals architecture
  tests/integration/test_signals_discovery_integration.py
Due: detect-test-antipatterns

Force Docker cache bust to pick up brand_manifest migration changes
  Dockerfile
Due: none

Fix signals agent integration: update main.py and tests to use registry pattern
  src/core/main.py
  tests/integration/test_signals_agent_workflow.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix import error: move SignalsAgent import to top-level imports
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add ARG cache bust immediately before COPY to force Docker rebuild
  Dockerfile
Due: none

Make list_authorized_properties public (no auth required)
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mcp-schema-alignment

Use ARG in RUN command to force cache invalidation
  Dockerfile
Due: none

Make list_authorized_properties public (no auth required) (#551)
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mcp-schema-alignment

Add data migration to update existing tenant order_name_templates
  alembic/versions/faaed3b71428_update_order_name_template_default_to_.py
Due: none

Add promoted_offering as backward compatibility alias in naming context
  src/adapters/gam/utils/naming.py
  src/core/utils/naming.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix AttributeError when Context object lacks meta attribute
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix AttributeError when Context object lacks meta attribute (#552)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Update cache bust value to force Docker rebuild with backward compat fix
  Dockerfile
Due: none

Fix hardcoded order_name_template defaults in adapters
  src/adapters/gam/managers/workflow.py
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Update cache bust to force rebuild with hardcoded template fixes
  Dockerfile
Due: none

Fix discovery endpoint auth handling and remove fallback behavior
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix migration to handle all template variations with promoted_offering
  alembic/versions/faaed3b71428_update_order_name_template_default_to_.py
Due: none
