Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

validate-column-lengths:
  name: Validate database column lengths
  entry: python scripts/validate_column_lengths.py
  language: system

check-api-deprecations:
  name: Check for deprecated API usage
  entry: python scripts/check_api_deprecations.py
  language: system

validate-model-imports:
  name: Validate model imports
  entry: python scripts/validate_model_imports.py
  language: system

Add dynamic port allocation for E2E tests
  tests/e2e/conftest.py
Due: validate-model-imports

Remove temporary planning/summary markdown files
  ASYNC_AI_REVIEW_SUMMARY.md
  IMPLEMENTATION_COMPLETE.md
  METRICS_SUMMARY.md
  PR_328_FINAL_SUMMARY.md
  SCHEMA-FIX-PLAN.md
Due: none

Fix test fixture: remove deprecated max_daily_budget field
  tests/fixtures/builders.py
Due: validate-model-imports

Fix E2E dynamic ports to respect CI environment variables
  tests/e2e/conftest.py
Due: validate-model-imports

Fix creative_reviews migration: JSONB syntax and type casting
  alembic/versions/add_creative_reviews_table.py
Due: validate-model-imports

Fix migration: use NOT IN for null check instead of != operator
  alembic/versions/add_creative_reviews_table.py
Due: validate-model-imports

Remove max_daily_budget field from tenant initialization scripts
  scripts/setup/init_database_ci.py
  scripts/setup/setup_tenant.py
Due: validate-model-imports

Remove max_daily_budget from database.py init_db() function
  src/core/database/database.py
Due: validate-model-imports

Fix E2E test failures
  src/core/main.py
  src/core/schemas.py
  tests/e2e/test_adcp_full_lifecycle.py
  tests/e2e/test_mock_server_testing_backend.py
Due: validate-column-lengths, validate-model-imports

Fix duplicate tenant creation: check by tenant_id instead of count
  src/core/database/database.py
Due: validate-model-imports

Fix NameError: add tenant_count back for status message
  src/core/database/database.py
Due: validate-model-imports

Add systemic E2E test quality controls
  .pre-commit-config.yaml
  scripts/audit_e2e_tests.py
  tests/e2e/conftest.py
  tests/e2e/conftest_contract_validation.py
  tests/e2e/test_adcp_full_lifecycle.py
  tests/e2e/test_mock_server_testing_backend.py
Due: validate-model-imports

Fix E2E test failures from CI
  docker-compose.yml
  tests/e2e/conftest.py
  tests/e2e/conftest_contract_validation.py
  tests/e2e/test_adcp_full_lifecycle.py
Due: validate-model-imports

Update AdCP schemas from registry
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json
Due: none

Fix pre-commit hooks and AdCP contract test
  scripts/audit_e2e_tests.py
  src/core/schemas.py
  tests/unit/test_adcp_contract.py
Due: validate-column-lengths, validate-model-imports

Add push_notification_config to SyncCreativesRequest
  src/core/schemas.py
Due: validate-column-lengths, validate-model-imports

Fix E2E test failures - AdCP spec compliance
  tests/e2e/test_adcp_full_lifecycle.py
  tests/e2e/test_mock_server_testing_backend.py
  tests/e2e/test_testing_hooks.py
Due: validate-model-imports

feat: Add Broadsign DOOH adapter with comprehensive configuration UI
  src/adapters/__init__.py
  src/adapters/broadsign.py
  src/adapters/broadsign_implementation_config_schema.py
  templates/adapters/broadsign_product_config.html
Due: check-api-deprecations, validate-model-imports

Update AdCP schemas to latest from registry
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json
Due: none

Delete 27 E2E tests using legacy AdCP format
  E2E_TEST_COVERAGE_GAPS.md
  tests/e2e/test_adcp_full_lifecycle.py
  tests/e2e/test_mock_server_testing_backend.py
  tests/e2e/test_testing_hooks.py
Due: validate-model-imports

Update test to expect 8 fields in UpdateMediaBuyRequest (added push_notification_config)
  src/core/main.py
  src/core/schemas.py
  src/core/tools.py
  tests/unit/test_adcp_contract.py
Due: validate-column-lengths, validate-model-imports

Add push_notification_config to SyncCreativesRequest with forward reference and model_rebuild()
  src/core/schemas.py
Due: validate-column-lengths, validate-model-imports

Delete ALL remaining broken E2E tests
  tests/e2e/test_adcp_full_lifecycle.py
  tests/e2e/test_creative_lifecycle_end_to_end.py
  tests/e2e/test_mock_server_testing_backend.py
Due: validate-model-imports

Fix syntax errors in E2E test files
  tests/e2e/test_adcp_full_lifecycle.py
  tests/e2e/test_creative_lifecycle_end_to_end.py
  tests/e2e/test_mock_server_testing_backend.py
  tests/e2e/test_testing_hooks.py
Due: validate-model-imports

Remove E2E_TEST_COVERAGE_GAPS.md
  E2E_TEST_COVERAGE_GAPS.md
Due: none

Add reference E2E test with AdCP V2.3 format and schema helpers
  tests/e2e/adcp_request_builder.py
  tests/e2e/test_adcp_reference_implementation.py
Due: validate-model-imports

Fix list_creative_formats call in reference E2E test
  tests/e2e/test_adcp_reference_implementation.py
Due: validate-model-imports

Remove req wrapper from all MCP tool calls in reference test
  tests/e2e/test_adcp_reference_implementation.py
Due: validate-model-imports

Make tenant creation idempotent - fix duplicate key error in CI
  scripts/setup/init_database.py
Due: validate-model-imports

Add push_notification_config to UpdateMediaBuyRequest
  src/core/schemas.py
Due: validate-column-lengths, validate-model-imports

Fix smoke test and AdCP contract test failures
  src/services/webhook_verification.py
  tests/unit/test_adcp_contract.py
Due: validate-model-imports

Add push_notification_config to CreateMediaBuyRequest and SyncCreativesRequest
  src/core/schemas.py
Due: validate-column-lengths, validate-model-imports

Fix database initialization duplicate tenant error
  src/core/main.py
  tests/conftest_db.py
Due: validate-model-imports

Fix business rules endpoint 404 by adding script_name prefix
  templates/tenant_settings.html
Due: none

Add webhook_url to GetProductsRequest schema and test
  tests/unit/test_mcp_schema_validator.py
Due: validate-model-imports

Fix 19 more hardcoded URLs missing script_name prefix
  templates/creative_formats.html
  templates/creative_review.html
  templates/edit_creative_format.html
  templates/gam_line_item_viewer.html
  templates/mcp_test.html
  templates/orders_browser.html
  templates/product_inventory_config.html
  templates/products.html
  templates/targeting_browser.html
  templates/tenant_dashboard.html
Due: none

Remove temporary E2E analysis documents
  E2E_FIXES_PRIORITY.md
  E2E_TEST_ARCHITECTURE_ANALYSIS.md
Due: none

Path conditions:
  validate-column-lengths: any of: (models|schemas)\.py$
  check-api-deprecations: any of: adapters/.*\.py$
  validate-model-imports: any of: \.py$
