Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

validate-column-lengths:
  name: Validate database column lengths
  entry: python scripts/validate_column_lengths.py
  language: system

check-api-deprecations:
  name: Check for deprecated API usage
  entry: python scripts/check_api_deprecations.py
  language: system

validate-model-imports:
  name: Validate model imports
  entry: python scripts/validate_model_imports.py
  language: system

Implement self-service tenant signup with OAuth-first flow (#197)
  docker-compose.yml
  src/admin/app.py
  src/admin/blueprints/auth.py
  src/admin/blueprints/core.py
  src/admin/blueprints/public.py
  templates/landing.html
  templates/signup_complete.html
  templates/signup_onboarding.html
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-response_json.json
  tests/integration/test_admin_ui_pages.py
  tests/integration/test_self_service_signup.py
Due: validate-model-imports

Add workflow review system with detailed approval pages
  src/admin/app.py
  src/admin/blueprints/workflows.py
  templates/tenant_dashboard.html
  templates/workflow_review.html
Due: validate-model-imports

Fix critical issues in workflow review system
  src/admin/blueprints/workflows.py
Due: validate-model-imports

Update AdCP schemas to latest from registry
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
Due: none

Fix test failures: update dashboard service function references
  src/admin/services/dashboard_service.py
  tests/unit/test_dashboard_service.py
Due: validate-model-imports

Fix get_products filter parameters to accept all AdCP-valid fields (#195)
  .pre-commit-config.yaml
  scripts/check_pydantic_adcp_alignment.py
  src/core/main.py
  src/core/schemas.py
  tests/integration/test_get_products_filters.py
  tests/unit/test_pydantic_adcp_alignment.py
Due: validate-column-lengths, validate-model-imports

Fix datetime.combine() bug and add comprehensive test coverage
  .pre-commit-config.yaml
  src/core/main.py
  src/core/schemas.py
  tests/integration/test_mcp_tool_roundtrip_minimal.py
  tools/validate_mcp_schemas.py
Due: validate-column-lengths, validate-model-imports

Fix admin authentication and routing for domain-based access
  fly/nginx.conf
  src/admin/blueprints/core.py
  src/admin/blueprints/public.py
Due: validate-model-imports

Fix admin authentication and routing for domain-based access (#202)
  fly/nginx.conf
  src/admin/blueprints/core.py
  src/admin/blueprints/public.py
Due: validate-model-imports

Mark MCP roundtrip tests as skip_ci (require running server)
  tests/integration/test_mcp_tool_roundtrip_minimal.py
Due: validate-model-imports

Add workflow review system with interactive activity feed (#200)
  src/admin/app.py
  src/admin/blueprints/workflows.py
  src/admin/services/business_activity_service.py
  src/admin/services/dashboard_service.py
  src/core/main.py
  templates/tenant_dashboard.html
  templates/workflow_review.html
  tests/unit/test_dashboard_service.py
Due: validate-model-imports

Fix datetime.combine() bug and add comprehensive test coverage (#201)
  .pre-commit-config.yaml
  src/core/main.py
  src/core/schemas.py
  tests/integration/test_mcp_tool_roundtrip_minimal.py
  tools/validate_mcp_schemas.py
Due: validate-column-lengths, validate-model-imports

Fix datetime.combine() bug with invalid time-only strings
  src/core/main.py
  src/core/schemas.py
Due: validate-column-lengths, validate-model-imports

Fix datetime.combine() bug with invalid time-only strings (#203)
  src/core/main.py
  src/core/schemas.py
Due: validate-column-lengths, validate-model-imports

Fix datetime parsing bug in CreateMediaBuyRequest validator
  src/core/schemas.py
Due: validate-column-lengths, validate-model-imports

Fix datetime parsing bug in CreateMediaBuyRequest validator (#204)
  src/core/schemas.py
Due: validate-column-lengths, validate-model-imports

Fix datetime parsing bugs and add comprehensive timezone validation
  src/core/main.py
  src/core/schemas.py
  tests/integration/test_mcp_endpoints_comprehensive.py
  tests/integration/test_mcp_tool_roundtrip_minimal.py
  tests/integration/test_mcp_tools_audit.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_datetime_string_parsing.py
Due: validate-column-lengths, validate-model-imports

Add comprehensive datetime validation to all request models
  src/core/schemas.py
  tests/unit/test_datetime_string_parsing.py
Due: validate-column-lengths, validate-model-imports

Fix CI failures: Add missing UTC imports in test files
  tests/integration/test_mcp_tools_audit.py
  tests/unit/test_adcp_contract.py
Due: validate-model-imports

Fix datetime parsing bugs and add comprehensive timezone validation (#205)
  src/core/main.py
  src/core/schemas.py
  tests/integration/test_mcp_endpoints_comprehensive.py
  tests/integration/test_mcp_tool_roundtrip_minimal.py
  tests/integration/test_mcp_tools_audit.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_datetime_string_parsing.py
Due: validate-column-lengths, validate-model-imports

Fix NoneType bug and improve MCP validator
  src/core/schemas.py
  tools/validate_mcp_schemas.py
Due: validate-column-lengths, validate-model-imports

Add regression test for Package.products=None handling
  tests/integration/test_mcp_contract_validation.py
Due: validate-model-imports

Add None guard for request.packages iteration in Xandr adapter
  src/adapters/xandr.py
Due: check-api-deprecations, validate-model-imports

Fix NoneType iteration bugs in package.products handling (#206)
  src/adapters/xandr.py
  src/core/schemas.py
  tests/integration/test_mcp_contract_validation.py
  tools/validate_mcp_schemas.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Fix promoted_offering field missing from create_media_buy (AdCP spec compliance)
  .pre-commit-config.yaml
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
  src/core/schemas.py
  tests/integration/test_mcp_contract_validation.py
  tests/integration/test_mcp_endpoints_comprehensive.py
  tests/integration/test_mcp_tool_roundtrip_minimal.py
  tests/manual/test_gam_automation_real.py
  tests/manual/test_gam_supported_only.py
  tests/unit/adapters/test_base.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_datetime_string_parsing.py
  tests/unit/test_pydantic_schema_alignment.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Mark comprehensive schema validation tests as skip_ci
  tests/unit/test_pydantic_schema_alignment.py
Due: validate-model-imports

Revert "Mark comprehensive schema validation tests as skip_ci"
  tests/unit/test_pydantic_schema_alignment.py
Due: validate-model-imports

Fix comprehensive schema validation tests and add testing principle
  CLAUDE.md
  tests/unit/test_pydantic_schema_alignment.py
Due: validate-model-imports

Add missing AdCP spec fields and fix comprehensive schema tests
  src/core/schemas.py
  tests/unit/test_pydantic_schema_alignment.py
Due: validate-column-lengths, validate-model-imports

Make po_number optional and allow creatives without media_buy_id
  src/core/main.py
  src/core/schemas.py
  tests/unit/test_pydantic_schema_alignment.py
Due: validate-column-lengths, validate-model-imports

Fix promoted_offering missing from create_media_buy (AdCP spec compliance) (#207)
  .pre-commit-config.yaml
  CLAUDE.md
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
  src/core/schemas.py
  tests/integration/test_mcp_contract_validation.py
  tests/integration/test_mcp_endpoints_comprehensive.py
  tests/integration/test_mcp_tool_roundtrip_minimal.py
  tests/manual/test_gam_automation_real.py
  tests/manual/test_gam_supported_only.py
  tests/unit/adapters/test_base.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_datetime_string_parsing.py
  tests/unit/test_pydantic_schema_alignment.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Fix GoogleAdManager initialization in get_adapter()
  src/core/main.py
Due: validate-model-imports

Fix GoogleAdManager initialization in get_adapter() (#208)
  src/core/main.py
Due: validate-model-imports

Auto-generate GAM config defaults and make UI fields optional
  src/core/main.py
  templates/adapters/gam_product_config.html
Due: validate-model-imports

Require GAM inventory sync before accessing product config UI
  src/admin/blueprints/products.py
Due: validate-model-imports

Fix: Allow inventory sync from GAM config page instead of redirecting
  src/admin/blueprints/products.py
  templates/adapters/gam_product_config.html
Due: validate-model-imports

Fix import collision test: Use ModelProduct instead of Product
  src/core/main.py
Due: validate-model-imports

Auto-generate GAM config defaults and make UI fields optional (#209)
  src/admin/blueprints/products.py
  src/core/main.py
  templates/adapters/gam_product_config.html
Due: validate-model-imports

Fix GAM OAuth callback route path
  src/admin/blueprints/auth.py
  templates/tenant_settings.html
Due: validate-model-imports

Fix GAM OAuth callback route path (#210)
  src/admin/blueprints/auth.py
  templates/tenant_settings.html
Due: validate-model-imports

Path conditions:
  validate-column-lengths: any of: (models|schemas)\.py$
  check-api-deprecations: any of: adapters/.*\.py$
  validate-model-imports: any of: \.py$
