Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$

Fix unhashable FormatReference error in format validation
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add SQLAlchemy 2.0 type annotations to 16 models (batch 2)
  src/core/database/models.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment

Add Slack notifications for critical admin UI operations
  src/core/audit_logger.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix unhashable FormatReference error in format validation (#444)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add SQLAlchemy 2.0 type annotations to GAM and workflow models (batch 3)
  src/core/database/models.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment

Add comprehensive search & filtering UI to audit logs
  templates/workflows.html
Due: template-url-validation

Fix: Add missing imports to 3 A2A integration tests and remove skip_ci
  .github/workflows/test.yml
  tests/integration/test_a2a_error_responses.py
  tests/integration/test_a2a_response_message_fields.py
  tests/integration/test_a2a_skill_invocation.py
Due: detect-test-antipatterns

Fix creative management UI bugs
  templates/creative_management.html
Due: template-url-validation

Fix mypy type errors in audit_decorator
  src/admin/utils/audit_decorator.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Complete SQLAlchemy 2.0 migration: Product model basic fields
  src/core/database/models.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment

Standardize dashboard back button text across all templates
  templates/creative_management.html
  templates/creative_review.html
  templates/creatives_list.html
  templates/media_buy_detail.html
  templates/products.html
  templates/settings.html
  templates/targeting_browser.html
  templates/tenant_settings.html
  templates/users.html
  templates/webhooks.html
Due: template-url-validation

Reject creatives when preview generation returns no previews
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Enhance SQLAlchemy 2.0 hook: Prevent Column() backsliding in models.py
  .pre-commit-hooks/check_sqlalchemy_2_0.py
Due: none

Standardize dashboard back button text across all templates (#446)
  templates/creative_management.html
  templates/creative_review.html
  templates/creatives_list.html
  templates/media_buy_detail.html
  templates/products.html
  templates/settings.html
  templates/targeting_browser.html
  templates/tenant_settings.html
  templates/users.html
  templates/webhooks.html
Due: template-url-validation

Revert pytestmark: keep skip_ci for python_a2a-dependent tests
  .github/workflows/test.yml
  tests/integration/test_a2a_error_responses.py
  tests/integration/test_a2a_response_message_fields.py
  tests/integration/test_a2a_skill_invocation.py
Due: detect-test-antipatterns

Fix Mock adapter inventory targeting validation
  src/adapters/mock_ad_server.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Reject creatives when validation fails due to network errors
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Implement Search, Filter, and Export for Audit Logs (#448)
  audit-logging-product-review.md
  src/admin/blueprints/adapters.py
  src/admin/blueprints/api.py
  src/admin/blueprints/authorized_properties.py
  src/admin/blueprints/core.py
  src/admin/blueprints/creative_agents.py
  src/admin/blueprints/creatives.py
  src/admin/blueprints/gam.py
  src/admin/blueprints/inventory.py
  src/admin/blueprints/policy.py
  src/admin/blueprints/principals.py
  src/admin/blueprints/products.py
  src/admin/blueprints/settings.py
  src/admin/blueprints/tenants.py
  src/admin/blueprints/users.py
  src/admin/blueprints/workflows.py
  src/admin/utils/__init__.py
  src/admin/utils/audit_decorator.py
  src/core/audit_logger.py
  src/core/main.py
  templates/workflows.html
  tests/integration/test_audit_decorator.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment, template-url-validation

Complete SQLAlchemy 2.0 migration: All models use Mapped[] type hints (#447)
  .pre-commit-hooks/check_sqlalchemy_2_0.py
  src/core/database/models.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment

Fix: Return failed creatives properly in AdCP response schema
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Improve GAM adapter error message for missing inventory targeting
  src/adapters/gam/managers/orders.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix product deletion failure with improved error handling
  src/admin/blueprints/products.py
  src/core/json_validators.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix test_ai_provider_bug: update for PricingOption model changes
  tests/integration/test_ai_provider_bug.py
Due: detect-test-antipatterns

Add validation for numeric ad unit IDs in GAM adapter
  src/adapters/gam/managers/orders.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix test_ai_provider_bug: update for PricingOption model changes (#449)
  tests/integration/test_ai_provider_bug.py
Due: detect-test-antipatterns

Fix test_context_persistence: add missing datetime import
  tests/integration/test_context_persistence.py
Due: detect-test-antipatterns

Add script to find and fix invalid ad unit IDs
  scripts/FIX_INVALID_AD_UNITS.md
  scripts/fix_invalid_ad_unit_ids.py
Due: none

Add backend validation for ad unit IDs in product forms
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Show detailed error messages in product create/edit forms
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix all remaining skip_ci integration tests (batch 3)
  tests/integration/test_admin_ui_data_validation.py
  tests/integration/test_admin_ui_routes_comprehensive.py
  tests/integration/test_ai_products.py
  tests/integration/test_context_persistence.py
  tests/integration/test_create_media_buy_roundtrip.py
  tests/integration/test_create_media_buy_v24.py
  tests/integration/test_creative_lifecycle_mcp.py
  tests/integration/test_dashboard_integration.py
  tests/integration/test_dashboard_reliability.py
  tests/integration/test_dashboard_service_integration.py
  tests/integration/test_database_health_integration.py
  tests/integration/test_delivery_simulator_restart.py
  tests/integration/test_error_paths.py
  tests/integration/test_gam_automation_focused.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
  tests/integration/test_gam_tenant_setup.py
  tests/integration/test_generative_creatives.py
  tests/integration/test_get_products_database_integration.py
  tests/integration/test_get_products_filters.py
  tests/integration/test_list_creative_formats_params.py
  tests/integration/test_product_pricing_options_required.py
  tests/integration/test_workflow_lifecycle.py
Due: detect-test-antipatterns

Add debug logging for creative format dimension issues
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix missing imports in integration tests
  tests/integration/test_ai_products.py
  tests/integration/test_context_persistence.py
  tests/integration/test_dashboard_reliability.py
  tests/integration/test_dashboard_service_integration.py
  tests/integration/test_database_health_integration.py
  tests/integration/test_error_paths.py
  tests/integration/test_get_products_database_integration.py
Due: detect-test-antipatterns

Fix missing imports in test_list_creative_formats_params.py
  tests/integration/test_list_creative_formats_params.py
Due: detect-test-antipatterns

Fix inventory targeting requirement issues (#452)
  scripts/FIX_INVALID_AD_UNITS.md
  scripts/fix_invalid_ad_unit_ids.py
  src/adapters/gam/managers/orders.py
  src/adapters/mock_ad_server.py
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Skip integration tests requiring non-existent modules
  tests/integration/test_ai_products.py
  tests/integration/test_dashboard_reliability.py
  tests/integration/test_dashboard_service_integration.py
  tests/integration/test_database_health_integration.py
  tests/integration/test_error_paths.py
  tests/integration/test_list_creative_formats_params.py
Due: detect-test-antipatterns

Add integration tests for creative validation failures
  tests/integration/test_creative_validation_failures.py
Due: detect-test-antipatterns

Fix product edit: validate pricing options before deleting old ones
  docs/PRODUCT_INVENTORY_DATA_FLOW_DIAGRAM.md
  docs/PRODUCT_INVENTORY_TARGETING_DATA_FLOW.md
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix syntax errors from partial comment-out of ToolContext creation
  tests/integration/test_dashboard_reliability.py
  tests/integration/test_dashboard_service_integration.py
  tests/integration/test_database_health_integration.py
  tests/integration/test_error_paths.py
  tests/integration/test_get_products_database_integration.py
  tests/integration/test_list_creative_formats_params.py
Due: detect-test-antipatterns

Add creative agent to docker-compose and real integration tests
  docker-compose.yml
  docs/testing/creative-agent-testing.md
  tests/integration/test_creative_agent_integration.py
Due: detect-test-antipatterns

Changes auto-committed by Conductor
  alembic/versions/47e05de8f5c2_add_service_account_authentication_for_.py
  docs/gam-service-account-setup.md
  src/adapters/gam/__init__.py
  src/adapters/gam/auth.py
  src/admin/blueprints/gam.py
  src/core/database/models.py
  tests/unit/test_gam_service_account_auth.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment
