Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

validate-column-lengths:
  name: Validate database column lengths
  entry: python scripts/validate_column_lengths.py
  language: system

check-api-deprecations:
  name: Check for deprecated API usage
  entry: python scripts/check_api_deprecations.py
  language: system

validate-model-imports:
  name: Validate model imports
  entry: python scripts/validate_model_imports.py
  language: system

Fix nginx routing and proxy headers for admin UI auth
  activate.sh
  config/nginx/nginx.conf
Due: none

Fix nginx port-in-redirect issue for Fly.io deployment
  config/nginx/nginx.conf
Due: none

Fix HTTPS detection for OAuth callbacks
  config/nginx/nginx.conf
Due: none

Fix HTTPS detection using Fly.io's Fly-Forwarded-Proto header
  config/nginx/nginx.conf
Due: none

Force HTTPS scheme for Flask URLs in production
  src/admin/app.py
Due: validate-model-imports

Use Werkzeug's ProxyFix for proper HTTPS detection
  src/admin/app.py
Due: validate-model-imports

Force HTTPS in OAuth callback URLs for production
  src/admin/app.py
  src/admin/blueprints/auth.py
Due: validate-model-imports

Fix admin routing properly without nginx hacks
  config/nginx/nginx.conf
  src/admin/app.py
Due: validate-model-imports

Fix all internal URLs to include /admin prefix in production
  src/admin/app.py
  templates/index.html
  templates/tenant_dashboard.html
Due: validate-model-imports

fix: Use production MCP URL in MCP test interface
  activate.sh
  scripts/setup/setup_conductor_workspace.sh
  src/admin/blueprints/core.py
  src/admin/blueprints/tenants.py
Due: validate-model-imports

Fix production deployment issues and CI test failures
  FIXES_APPLIED.md
  scripts/deploy/entrypoint.sh
  scripts/test_a2a.sh
  src/admin/blueprints/core.py
  src/core/database/models.py
  templates/base.html
  templates/index.html
  templates/tenant_settings.html
  tests/integration/conftest.py
Due: validate-column-lengths, validate-model-imports

fix: Use actual access token in A2A config copy format
  templates/tenant_settings.html
Due: none

Add production tenant strategy system and fix MCP/A2A protocol issues
  Dockerfile
  alembic/versions/2485bb2ff253_add_strategy_system.py
  docs/E2E_TESTING_GUIDE.md
  docs/a2a-spec-clarification-issue.md
  docs/index.md
  line_item_7047822666_response.json
  scripts/deploy/entrypoint.sh
  scripts/launch_mcp_inspector.sh
  scripts/setup_test_environment.py
  src/a2a/__init__.py
  src/a2a/adcp_a2a_server.py
  src/adapters/mock_ad_server.py
  src/core/database/models.py
  src/core/main.py
  src/core/schemas.py
  src/core/strategy.py
  tests/e2e/test_strategy_simulation_end_to_end.py
  tests/fixtures/test_products.json
  tests/fixtures/test_strategies.json
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

fix: Resolve admin UI routing confusion and improve tenant settings
  CLAUDE.md
  scripts/setup/init_database_ci.py
  src/a2a/adcp_a2a_server.py
  src/adapters/gam_reporting_api.py
  src/admin/app.py
  src/admin/blueprints/core.py
  src/admin/blueprints/gam.py
  src/admin/blueprints/inventory.py
  src/admin/blueprints/principals.py
  src/admin/blueprints/settings.py
  src/admin/blueprints/tenants.py
  src/admin/sync_api.py
  templates/base.html
  templates/tenant_dashboard.html
  templates/tenant_settings.html
Due: check-api-deprecations, validate-model-imports

fix: Restore expected superadmin function names for CI compatibility
  src/admin/blueprints/settings.py
  templates/settings.html
Due: validate-model-imports

style: Apply automatic formatting fixes from pre-commit hooks
  src/admin/blueprints/settings.py
Due: validate-model-imports

Fix price_guidance JSON encoding and implement comprehensive E2E test suite
  alembic/versions/e81e275c9b29_fix_price_guidance_json_encoding.py
  docs/a2a-spec-clarification-issue.md
  scripts/testing/fetch_gam_line_item.py
  src/core/database/database.py
  src/core/main.py
  tests/e2e/README.md
  tests/e2e/conftest.py
  tests/e2e/test_adcp_full_lifecycle.py
  tests/e2e/test_testing_hooks.py
Due: validate-model-imports

Mark manual approval test to skip in CI
  tests/integration/test_manual_approval.py
Due: validate-model-imports

Fix migration to handle TEXT columns in production PostgreSQL
  alembic/versions/e81e275c9b29_fix_price_guidance_json_encoding.py
  line_item_7047822666_response.json
Due: validate-model-imports

Fix migration to cast JSON columns to text for LIKE operations
  alembic/versions/e81e275c9b29_fix_price_guidance_json_encoding.py
Due: validate-model-imports

Skip migration in production temporarily
  alembic/versions/e81e275c9b29_fix_price_guidance_json_encoding.py
Due: validate-model-imports

Path conditions:
  validate-column-lengths: any of: (models|schemas)\.py$
  check-api-deprecations: any of: adapters/.*\.py$
  validate-model-imports: any of: \.py$
