Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$

Match local CI to production CI with --ignore flags
  run_all_tests.sh
Due: none

Fix import errors in integration_v2 tests
  tests/integration_v2/test_a2a_error_responses.py
  tests/integration_v2/test_create_media_buy_v24.py
  tests/integration_v2/test_error_paths.py
Due: detect-test-antipatterns

Fix integration_v2 tests: update to v2 pricing model API
  tests/integration_v2/test_a2a_error_responses.py
  tests/integration_v2/test_create_media_buy_roundtrip.py
  tests/integration_v2/test_create_media_buy_v24.py
  tests/integration_v2/test_error_paths.py
  tests/integration_v2/test_gam_pricing_restriction.py
Due: detect-test-antipatterns

Fix A2A skill invocation format in test_a2a_error_responses.py
  tests/integration_v2/test_a2a_error_responses.py
Due: detect-test-antipatterns

Mock GAMClientManager instead of non-existent _initialize_client
  tests/integration_v2/test_gam_pricing_restriction.py
Due: detect-test-antipatterns

Update integration_v2 tests for spec-compliant A2A responses (PR #604)
  tests/integration_v2/test_a2a_error_responses.py
  tests/integration_v2/test_a2a_response_message_fields.py
Due: detect-test-antipatterns

Skip GAM pricing tests due to FormatId hashable bug
  tests/integration_v2/test_gam_pricing_restriction.py
Due: detect-test-antipatterns

Fix import path for GAMAdapter
  tests/integration_v2/test_gam_pricing_restriction.py
Due: detect-test-antipatterns

Fix unit test to check for required_parameters in new error structure
  tests/unit/test_a2a_parameter_mapping.py
Due: detect-test-antipatterns

Fix CI failures: add missing imports and remove invalid Principal fields
  tests/integration_v2/test_a2a_error_responses.py
  tests/integration_v2/test_create_media_buy_v24.py
  tests/integration_v2/test_error_paths.py
  tests/integration_v2/test_gam_pricing_restriction.py
Due: detect-test-antipatterns

Fix Package validation and test fixtures for v2 pricing model
  src/core/main.py
  tests/integration_v2/conftest.py
  tests/integration_v2/test_create_media_buy_v24.py
  tests/integration_v2/test_gam_pricing_restriction.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Use gam_refresh_token instead of service_account_json in test fixture
  tests/integration_v2/test_gam_pricing_restriction.py
Due: detect-test-antipatterns

Fix error path tests: bypass setup validation and handle None product_ids
  src/core/schemas.py
  tests/integration_v2/test_error_paths.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Mock GAM adapter initialization in pricing restriction tests
  tests/integration_v2/test_gam_pricing_restriction.py
Due: detect-test-antipatterns

Fix imports in test_gam_pricing_restriction.py
  tests/integration_v2/test_gam_pricing_restriction.py
Due: detect-test-antipatterns

Fix A2A error response tests to use new error structure
  tests/integration_v2/test_a2a_error_responses.py
Due: detect-test-antipatterns

Restore removed test files to integration_v2/
  tests/integration_v2/test_a2a_error_responses.py
  tests/integration_v2/test_create_media_buy_roundtrip.py
  tests/integration_v2/test_create_media_buy_v24.py
  tests/integration_v2/test_error_paths.py
Due: detect-test-antipatterns

Mock get_adapter instead of GAMClientManager internals
  tests/integration_v2/test_gam_pricing_restriction.py
Due: detect-test-antipatterns

Fix method name: get_supported_pricing_models not supports_pricing_model
  tests/integration_v2/test_gam_pricing_restriction.py
Due: detect-test-antipatterns

Migrate test_error_paths to v2 pricing model
  tests/integration_v2/test_error_paths.py
Due: detect-test-antipatterns

Fix auth error handling and price_guidance validation
  src/a2a_server/adcp_a2a_server.py
  tests/integration_v2/conftest.py
  tests/integration_v2/test_a2a_response_message_fields.py
  tests/integration_v2/test_gam_pricing_restriction.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Remove failing tests from integration_v2 - keep only passing tests
  tests/integration_v2/test_a2a_error_responses.py
  tests/integration_v2/test_create_media_buy_roundtrip.py
  tests/integration_v2/test_create_media_buy_v24.py
  tests/integration_v2/test_error_paths.py
  tests/integration_v2/test_gam_pricing_restriction.py
Due: detect-test-antipatterns

Fix pricing_helpers tests to expect lowercase pricing models
  tests/integration_v2/test_pricing_helpers.py
Due: detect-test-antipatterns

Migrate test_gam_automation_focused to v2 pricing model
  tests/integration_v2/test_gam_automation_focused.py
Due: detect-test-antipatterns

Fix integration_v2 test fixtures to include required setup data
  .env.bak2
  tests/integration_v2/conftest.py
  tests/integration_v2/test_a2a_error_responses.py
  tests/integration_v2/test_create_media_buy_v24.py
  tests/integration_v2/test_error_paths.py
  tests/integration_v2/test_gam_pricing_restriction.py
Due: detect-test-antipatterns

Fix remaining import and validation errors in integration_v2 tests
  tests/integration_v2/test_a2a_error_responses.py
  tests/integration_v2/test_error_paths.py
Due: detect-test-antipatterns

Fix GAMAdapter import to use correct module path
  tests/integration_v2/test_gam_pricing_restriction.py
Due: detect-test-antipatterns

Fix integration_v2 tests: format IDs, artifact data extraction, validation errors
  src/a2a_server/adcp_a2a_server.py
  tests/integration_v2/conftest.py
  tests/integration_v2/test_a2a_error_responses.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Restore duplicate product validation - critical business rule
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix: Convert summary dict to JSON string in sync completion
  src/services/background_sync_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Remove .env.bak2 from git tracking and add .env.bak* to gitignore
  .env.bak2
  .gitignore
Due: none

Fix A2A get_products_skill: add missing brand_manifest parameter
  src/a2a_server/adcp_a2a_server.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Fix package iteration bug in create_media_buy for multiple packages
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix FormatId agent_url=None validation error in E2E tests
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix FormatId hashability and integration_v2 teardown errors
  src/adapters/xandr.py
  src/core/schemas.py
  src/services/gam_product_config_service.py
  tests/integration_v2/test_create_media_buy_v24.py
  tests/integration_v2/test_gam_pricing_restriction.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix SCO-165: Make subdomain nullable and fix OAuth redirect 404s
  alembic/versions/67fb0e2beb7a_make_subdomain_nullable_and_clear_.py
  src/admin/blueprints/auth.py
  src/core/database/models.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment

Fix SCO-165: Correct inventory sync API endpoint in JavaScript
  static/js/tenant_settings.js
Due: none

Fix: Add missing /api/tenant/<tenant_id>/products endpoint
  src/admin/blueprints/api.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix: Inventory sync JavaScript errors
  src/adapters/google_ad_manager.py
  src/adapters/kevel.py
  src/adapters/triton_digital.py
  static/js/tenant_settings.js
  templates/inventory_browser.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation
