Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

template-url-validation:
  name: Validate template url_for calls
  entry: uv run pytest tests/integration/test_template_url_validation.py::TestTemplateUrlValidation::test_all_template_url_for_calls_resolve -q
  language: system
  pass_filenames: false

Fix remaining orphaned ToolContext arguments
  tests/integration/test_error_paths.py
  tests/integration/test_list_creative_formats_params.py
Due: detect-test-antipatterns

Update creative agent docker-compose to build from source
  docker-compose.yml
  pytest.ini
  tests/integration/test_creative_agent_integration.py
Due: detect-test-antipatterns

Fix indentation of pass statements in test_list_creative_formats_params.py
  tests/integration/test_list_creative_formats_params.py
Due: detect-test-antipatterns

Add more debug logging for pricing options parsing
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix product deletion failure with improved error handling (#453)
  src/admin/blueprints/products.py
  src/core/json_validators.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Changes auto-committed by Conductor (#454)
  alembic/versions/47e05de8f5c2_add_service_account_authentication_for_.py
  docs/gam-service-account-setup.md
  src/adapters/gam/__init__.py
  src/adapters/gam/auth.py
  src/admin/blueprints/gam.py
  src/core/database/models.py
  tests/unit/test_gam_service_account_auth.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment

Add manual creative agent testing tools
  docs/testing/creative-agent-testing.md
  tests/manual/test_creative_agent_curl.sh
  tests/manual/test_creative_agent_mcp.py
Due: detect-test-antipatterns

Fix product edit: use UPDATE strategy instead of DELETE+INSERT for pricing options
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix: Add required fields to Creative schema in integration tests
  tests/integration/test_creative_agent_integration.py
Due: detect-test-antipatterns

Fix import: change python_a2a to a2a (correct module name)
  scripts/standard_a2a_client.py
  tests/integration/test_a2a_error_responses.py
  tests/integration/test_a2a_skill_invocation.py
  tests/integration/test_a2a_standard_endpoints.py
Due: detect-test-antipatterns

Add missing imports to integration tests
  tests/integration/test_create_media_buy_roundtrip.py
  tests/integration/test_create_media_buy_v24.py
  tests/integration/test_creative_lifecycle_mcp.py
  tests/integration/test_dashboard_integration.py
  tests/integration/test_database_health_integration.py
  tests/integration/test_get_products_database_integration.py
Due: detect-test-antipatterns

Fix remaining integration test failures
  src/admin/blueprints/inventory.py
  tests/integration/test_context_persistence.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Add creative format selection to mock adapter config UI
  src/adapters/mock_ad_server.py
  templates/adapters/mock_product_config.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

WIP: Update creative agent integration test schema
  tests/integration/test_creative_agent_integration.py
Due: detect-test-antipatterns

Fix product edit: use UPDATE strategy instead of DELETE+INSERT for pricing options (#455)
  scripts/standard_a2a_client.py
  src/admin/blueprints/products.py
  tests/integration/test_a2a_error_responses.py
  tests/integration/test_a2a_skill_invocation.py
  tests/integration/test_a2a_standard_endpoints.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Remove template-url-validation pre-commit hook that requires PostgreSQL
  .pre-commit-config.yaml
Due: none

Fix creative format dimension extraction from AdCP v2.4 spec
  src/admin/blueprints/products.py
  src/core/schemas.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Add debug logging for ad unit and countries fields in product edit
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Mark real creative agent tests as skip_ci
  tests/integration/test_creative_agent_integration.py
Due: detect-test-antipatterns

Remove creative agent from docker-compose
  docker-compose.yml
  docs/testing/creative-agent-testing.md
  pytest.ini
  tests/integration/test_creative_agent_integration.py
  tests/manual/test_creative_agent_curl.sh
  tests/manual/test_creative_agent_mcp.py
Due: detect-test-antipatterns

Fix test failures: Principal fields and Creative agent_url
  tests/integration/test_context_persistence.py
  tests/integration/test_creative_lifecycle_mcp.py
Due: detect-test-antipatterns

Remove broken mocked creative validation tests
  tests/integration/test_creative_validation_failures.py
Due: detect-test-antipatterns

Fix creative format dimension extraction from AdCP v2.4 spec (#456)
  src/admin/blueprints/products.py
  src/core/schemas.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix all remaining integration test failures
  tests/fixtures/creative_formats/reference_formats.json
  tests/integration/test_create_media_buy_roundtrip.py
  tests/integration/test_create_media_buy_v24.py
  tests/integration/test_creative_lifecycle_mcp.py
  tests/integration/test_dashboard_integration.py
  tests/integration/test_delivery_simulator_restart.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
Due: detect-test-antipatterns

Fix product deletion by using passive_deletes instead of SQLAlchemy cascade
  alembic/versions/2453043b72da_allow_pricing_option_deletion_when_.py
  src/admin/blueprints/products.py
  src/core/database/models.py
  tests/integration/test_product_delete_with_pricing.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment

Fix product formats display and add format info modal
  src/admin/blueprints/products.py
  templates/add_product_gam.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Show creative formats in GAM product edit view
  src/admin/blueprints/products.py
  templates/add_product_gam.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Add /api/formats/list endpoint for creative format selection
  src/admin/blueprints/api.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix creative formats display in product configuration UI (#461)
  src/admin/blueprints/api.py
  src/admin/blueprints/products.py
  templates/add_product_gam.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix product deletion by using passive_deletes instead of SQLAlchemy cascade (#459)
  alembic/versions/2453043b72da_allow_pricing_option_deletion_when_.py
  src/admin/blueprints/products.py
  src/core/database/models.py
  tests/integration/test_product_delete_with_pricing.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment

Simplify format info modal to essentials
  src/admin/blueprints/products.py
  templates/add_product_gam.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix: Creative management - reject invalid creatives (#460)
  src/core/main.py
  templates/creative_management.html
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment, template-url-validation

Add missing mock adapter config route for creative format selection
  src/admin/blueprints/adapters.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add logging to mock adapter config route for debugging format fetch issues
  src/admin/blueprints/adapters.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix tenant isolation bug in get_products
  src/core/main.py
  tests/integration/test_tenant_isolation_fix.py
  tests/unit/test_tenant_isolation_fix.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add missing mock adapter config route for creative format selection (#462)
  src/admin/blueprints/adapters.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix delivery_type values: hyphen to underscore per AdCP spec
  alembic/versions/f9300bf2246d_fix_delivery_type_values_hyphen_to_.py
Due: none

Fix import: Message from a2a.types not a2a
  tests/integration/test_a2a_error_responses.py
Due: detect-test-antipatterns

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$
