Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

template-url-validation:
  name: Validate template url_for calls
  entry: uv run pytest tests/integration/test_template_url_validation.py::TestTemplateUrlValidation::test_all_template_url_for_calls_resolve -q
  language: system
  pass_filenames: false

Fix all test_adcp_contract.py failures after pricing migration
  src/core/schemas.py
  tests/unit/test_adcp_contract.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Add comprehensive production pricing fix scripts
  PRODUCTION_PRICING_FIX.md
  scripts/maintenance/audit_all_production_products.py
  scripts/maintenance/fix_all_missing_pricing_options.py
Due: none

Fix schema compatibility tests - remove protocol fields
  tests/unit/test_schema_generated_compatibility.py
Due: detect-test-antipatterns

Fix GetProductsResponse __str__() methods for pricing_options migration
  src/core/schema_adapters.py
  tests/unit/test_all_response_str_methods.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Fix test_auth_removal_simple.py for pricing_options migration
  tests/unit/test_auth_removal_simple.py
Due: detect-test-antipatterns

Fix remaining test in test_auth_removal_simple.py
  tests/unit/test_auth_removal_simple.py
Due: detect-test-antipatterns

Fix schema_adapters.py - remove protocol fields from response models (partial)
  src/core/schema_adapters.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix adapter selection mechanism in tenant settings
  static/js/tenant_settings.js
Due: none

Fix test_get_products_response_str.py and test_mock_server_response_headers.py
  tests/unit/test_get_products_response_str.py
  tests/unit/test_mock_server_response_headers.py
Due: detect-test-antipatterns

Fix remaining unit test failures for pricing_options migration
  product_catalog_providers/signals.py
  tests/unit/test_pricing_validation.py
  tests/unit/test_product_validation.py
Due: detect-test-antipatterns

Update GAM API version from v202505 to v202508
  src/adapters/gam/utils/constants.py
  src/adapters/gam/utils/health_check.py
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Align SyncCreativesResponse with official AdCP v2.4 spec
  src/core/main.py
  src/core/schema_adapters.py
  src/core/schemas.py
  tests/integration/test_a2a_response_message_fields.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_all_response_str_methods.py
  tests/unit/test_customer_webhook_regression.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix all integration and E2E test failures for pricing_options migration
  scripts/setup/init_database_ci.py
  tests/integration/test_mcp_tool_roundtrip_validation.py
  tests/integration/test_schema_contract_validation.py
  tests/integration/test_schema_database_mapping.py
Due: detect-test-antipatterns

Protocol Envelope Migration - Phase 3: Remove protocol fields from responses (#404)
  src/adapters/mock_ad_server.py
  src/core/main.py
  src/core/protocol_envelope.py
  src/core/response_factory.py
  src/core/schema_adapters.py
  src/core/schemas.py
  tests/integration/test_a2a_response_message_fields.py
  tests/integration/test_error_paths.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_all_response_str_methods.py
  tests/unit/test_customer_webhook_regression.py
  tests/unit/test_error_status_codes.py
  tests/unit/test_protocol_envelope.py
  tests/unit/test_response_factory.py
  tests/unit/test_schema_generated_compatibility.py
  tests/unit/test_spec_compliance.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix test_signals_discovery_provider pricing_options migration
  product_catalog_providers/signals.py
  tests/unit/test_signals_discovery_provider.py
Due: detect-test-antipatterns

Add detailed logging to GAM network detection
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix test_schema_roundtrip_patterns pricing_options migration
  tests/integration/test_schema_roundtrip_patterns.py
Due: detect-test-antipatterns

Fix final Product instantiation in test_roundtrip_with_data_loss_detection
  tests/integration/test_schema_roundtrip_patterns.py
Due: detect-test-antipatterns

Remove references to dropped Product legacy pricing fields
  src/admin/blueprints/products.py
  src/services/dynamic_pricing_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Remove temporary production fix documentation
  PRODUCTION_PRICING_FIX.md
Due: none

Deprecate legacy pricing fields and migrate to pricing_options (#412)
  alembic/versions/7426aa7e2f1a_drop_legacy_pricing_fields_from_products.py
  product_catalog_providers/signals.py
  scripts/maintenance/audit_all_production_products.py
  scripts/maintenance/fix_all_missing_pricing_options.py
  scripts/setup/init_database_ci.py
  src/admin/blueprints/products.py
  src/core/database/database.py
  src/core/database/models.py
  src/core/database/product_pricing.py
  src/core/main.py
  src/core/schema_adapters.py
  src/core/schemas.py
  src/services/dynamic_pricing_service.py
  tests/integration/test_mcp_tool_roundtrip_validation.py
  tests/integration/test_schema_contract_validation.py
  tests/integration/test_schema_database_mapping.py
  tests/integration/test_schema_roundtrip_patterns.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_all_response_str_methods.py
  tests/unit/test_auth_removal_simple.py
  tests/unit/test_get_products_response_str.py
  tests/unit/test_mock_server_response_headers.py
  tests/unit/test_pricing_validation.py
  tests/unit/test_product_validation.py
  tests/unit/test_signals_discovery_provider.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix OAuth status check to handle missing DOM elements gracefully
  static/js/tenant_settings.js
Due: none

Fix broken OAuth button: startGAMOAuth → initiateGAMAuth
  templates/tenant_settings.html
Due: template-url-validation

Fix detectGAMNetwork to send refresh_token in request body
  static/js/tenant_settings.js
Due: none

Fix: Load pricing_options when querying products
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add missing saveGAMConfig function and fix trafficker ID display
  src/admin/blueprints/settings.py
  static/js/tenant_settings.js
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Simplify GAM configuration UI with progressive disclosure
  static/js/tenant_settings.js
  templates/tenant_settings.html
Due: template-url-validation

Fix inventory sync to use adapter_config for GAM credentials
  src/admin/blueprints/inventory.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add regression tests for pricing_options loading
  tests/integration/test_product_pricing_options_required.py
Due: detect-test-antipatterns

Add Save Token button for manual OAuth token entry
  src/admin/blueprints/inventory.py
  static/js/tenant_settings.js
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Skip regression tests in CI - require local test fixtures
  tests/integration/test_product_pricing_options_required.py
Due: detect-test-antipatterns

Update AdCP format schema to latest from registry
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
Due: none

Add network selection dropdown for multi-network GAM accounts
  src/admin/blueprints/gam.py
  static/js/tenant_settings.js
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix inventory sync success message to show actual counts
  static/js/tenant_settings.js
Due: none

Fix: Load pricing_options when querying products (#413)
  src/core/main.py
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/integration/test_product_pricing_options_required.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Update creative preview response handling to AdCP PR #119 spec
  src/core/main.py
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix inventory sync: add loading animation and correct count display
  static/js/tenant_settings.js
Due: none

Store full preview response and add multi-variant UI navigation
  src/core/main.py
  templates/creative_review.html
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment, template-url-validation

Fix total count calculation to include targeting values
  static/js/tenant_settings.js
Due: none

Support multi-variant creative previews per AdCP PR #119 (#415)
  src/core/main.py
  templates/creative_review.html
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment, template-url-validation

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$
