Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

Refactor auth-optional discovery endpoints and improve test quality
  src/a2a_server/adcp_a2a_server.py
  tests/e2e/test_landing_pages.py
  tests/unit/test_a2a_auth_optional.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

Add E2E tests for landing page domain routing (#803)
  src/a2a_server/adcp_a2a_server.py
  tests/e2e/test_landing_pages.py
  tests/unit/test_a2a_auth_optional.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

Fix publisher verification for mock tenants
  src/admin/blueprints/publisher_partners.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Add Publishers link to inventory section for mock tenants
  templates/tenant_settings.html
Due: none

Extend auto-verification to development environment
  src/admin/blueprints/publisher_partners.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Allow non-GAM tenants to access Publishers tab
  src/admin/blueprints/inventory.py
  templates/inventory_unified.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Add localhost fallback for tenant detection in development
  scripts/a2a_query.py
  src/core/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Improve localhost detection and remove emoji from UI
  src/core/auth.py
  templates/tenant_settings.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Enable publisher management for mock and dev tenants (#804)
  scripts/a2a_query.py
  src/admin/blueprints/inventory.py
  src/admin/blueprints/publisher_partners.py
  src/core/auth.py
  templates/inventory_unified.html
  templates/tenant_settings.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix list_creative_formats auth requirement in A2A message handler
  src/a2a_server/adcp_a2a_server.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

Refactor discovery skills to use shared constant
  src/a2a_server/adcp_a2a_server.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

Fix list_creative_formats requiring authentication (#805)
  src/a2a_server/adcp_a2a_server.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix(a2a): correct authentication logic for discovery endpoints
  scripts/test_a2a_discovery_no_auth.py
  src/a2a_server/adcp_a2a_server.py
  tests/unit/test_a2a_auth_optional.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

refactor(schemas): remove unused pricing_summary property from Product
  src/core/schemas.py
  tests/unit/test_mock_server_response_headers.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

chore(deps): upgrade adcp to 2.12.2 and a2a-sdk to 0.3.19
  pyproject.toml
  uv.lock
Due: none

fix(a2a): add protocol fields (success, message) to A2A skill responses
  src/a2a_server/adcp_a2a_server.py
  tests/integration/test_a2a_response_message_fields.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix(a2a): add message field to create_media_buy response
  src/a2a_server/adcp_a2a_server.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

Fix A2A authentication and schema compliance issues (#806)
  pyproject.toml
  scripts/test_a2a_discovery_no_auth.py
  src/a2a_server/adcp_a2a_server.py
  src/core/schemas.py
  tests/integration/test_a2a_response_message_fields.py
  tests/unit/test_a2a_auth_optional.py
  tests/unit/test_mock_server_response_headers.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

feat: Add manual delivery webhook trigger to admin UI
  src/admin/blueprints/operations.py
  src/services/delivery_webhook_scheduler.py
  templates/media_buy_detail.html
  tests/integration/test_delivery_webhooks_force.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: tests
  tests/integration/test_template_url_validation.py
Due: detect-test-antipatterns, mypy-no-regression

Remove field suggestions from validation errors
  src/core/validation_helpers.py
  tests/unit/test_validation_errors.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Remove field suggestions from validation errors (#808)
  src/core/tools/media_buy_create.py
  tests/helpers/adcp_factories.py
  tests/unit/test_adcp_contract.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Add new get_products filters: countries, channels, budget_range, dates
  src/core/tools/products.py
  tests/integration_v2/test_get_products_filters.py
  tests/unit/test_new_product_filters.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Refine get_products filters: use channel field, remove date/budget filters
  alembic/versions/661829084198_add_channel_to_products.py
  src/core/database/models.py
  src/core/tools/products.py
  tests/integration_v2/test_get_products_filters.py
  tests/unit/test_new_product_filters.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment, mypy-no-regression

Add adapter-based default channels for get_products filter
  src/core/tools/products.py
  tests/integration_v2/test_get_products_filters.py
  tests/unit/test_new_product_filters.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Add channel selector to product admin UI
  src/admin/blueprints/products.py
  templates/add_product_mock.html
  templates/edit_product_mock.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Add channel selector to GAM product form
  templates/add_product_gam.html
Due: none

Fix channel selector help text for mock adapter
  templates/add_product_mock.html
  templates/edit_product_mock.html
Due: none

Fix get_products filters not being applied
  src/core/product_conversion.py
  src/core/schemas.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Move adapter default channels to adapter classes and add comprehensive country selector
  src/adapters/base.py
  src/adapters/google_ad_manager.py
  src/adapters/kevel.py
  src/adapters/mock_ad_server.py
  src/adapters/triton_digital.py
  src/core/tools/products.py
  templates/add_product_gam.html
  templates/add_product_mock.html
  templates/components/country_selector.html
  tests/unit/test_new_product_filters.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Support new get_products filters: countries, channels (#809)
  alembic/versions/661829084198_add_channel_to_products.py
  src/adapters/base.py
  src/adapters/google_ad_manager.py
  src/adapters/kevel.py
  src/adapters/mock_ad_server.py
  src/adapters/triton_digital.py
  src/admin/blueprints/products.py
  src/core/database/models.py
  src/core/product_conversion.py
  src/core/schemas.py
  src/core/tools/products.py
  templates/add_product_gam.html
  templates/add_product_mock.html
  templates/components/country_selector.html
  templates/edit_product_mock.html
  tests/integration_v2/test_get_products_filters.py
  tests/unit/test_new_product_filters.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Enhance custom targeting UI with OR/AND operators and exclusions
  src/adapters/gam/managers/targeting.py
  src/admin/blueprints/products.py
  static/js/targeting_widget.js
  templates/components/targeting_selector_widget.html
  tests/unit/test_enhanced_custom_targeting.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix incremental sync incorrectly marking placements as STALE
  src/services/background_sync_service.py
  tests/unit/test_incremental_sync_stale_marking.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix incremental sync incorrectly marking placements as STALE (#813)
  src/services/background_sync_service.py
  tests/unit/test_incremental_sync_stale_marking.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Remove debug logging from get_tenant_by_virtual_host
  src/core/config_loader.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Remove debug logging from get_tenant_by_virtual_host (#814)
  src/core/config_loader.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Invalidate inventory cache after sync completion
  src/admin/blueprints/inventory.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix code review issues in structured logging implementation
  src/core/logging_config.py
  src/core/main.py
  src/core/mcp_context_wrapper.py
  src/core/startup.py
  src/core/tool_error_logging.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

Fix code review issues in structured logging implementation (#815)
  src/core/logging_config.py
  src/core/main.py
  src/core/mcp_context_wrapper.py
  src/core/startup.py
  src/core/tool_error_logging.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

Use enhanced targeting widget on all product pages
  templates/add_product_gam.html
  templates/add_product_mock.html
  templates/components/targeting_selector_widget.html
  templates/edit_product_mock.html
Due: none

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
