Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

docs: the compliance migration instruction, derived from the pilot
  docs/design/bdd-compliance-migration.md
Due: none

test: add a response compliance check to 1118 of 1168 BDD scenarios
  tests/bdd/features/BR-CODES-001-open-vocabulary-wire-codes.feature
  tests/bdd/features/BR-CODES-002-table-resolved-suggestion.feature
  tests/bdd/features/BR-SECURITY-001-wire-error-safety.feature
  tests/bdd/features/BR-UC-002-account-access.feature
  tests/bdd/features/BR-UC-002-create-media-buy.feature
  tests/bdd/features/BR-UC-002-media-buy-status-dual-emit.feature
  tests/bdd/features/BR-UC-002-nfr-enforcement.feature
  tests/bdd/features/BR-UC-003-update-media-buy.feature
  tests/bdd/features/BR-UC-004-deliver-media-buy-metrics.feature
  tests/bdd/features/BR-UC-005-discover-creative-formats.feature
  tests/bdd/features/BR-UC-006-creatives-invariants.feature
  tests/bdd/features/BR-UC-006-sync-creatives.feature
  tests/bdd/features/BR-UC-010-discover-seller-capabilities.feature
  tests/bdd/features/BR-UC-011-account-validation.feature
  tests/bdd/features/BR-UC-011-manage-accounts.feature
  tests/bdd/features/BR-UC-018-list-creatives.feature
  tests/bdd/features/BR-UC-019-query-media-buys.feature
  tests/bdd/features/BR-UC-026-package-media-buy.feature
  tests/bdd/features/BR-UC-BRAND-SHORTHAND.feature
  tests/bdd/features/local-constraint-relaxation-rejections.feature
  tests/bdd/features/local-egress-ssrf-refusal.feature
  tests/bdd/features/local-uc006-cross-principal-assignment.feature
  tests/bdd/features/local-uc006-dry-run-out-of-transaction-effects.feature
  tests/bdd/features/local-uc006-post-commit-effect-ordering.feature
  tests/bdd/features/local-uc010-declaration-backing.feature
  tests/bdd/features/local-uc011-dry-run-preview-parity.feature
Due: none

test: grade outbound delivery webhooks, and remove a scenario that graded nothing
  tests/bdd/conftest.py
  tests/bdd/features/BR-UC-004-deliver-media-buy-metrics.feature
  tests/bdd/features/BR-UC-011-manage-accounts.feature
  tests/bdd/steps/generic/then_schema.py
Due: detect-test-antipatterns, mypy-no-regression

test: cite GH #2058 for the webhook xfails, not a beads id
  tests/bdd/conftest.py
  tests/bdd/steps/generic/then_schema.py
Due: detect-test-antipatterns, mypy-no-regression

docs: cite the upstream question about the unencoded aggregated_totals rule
  tests/bdd/steps/generic/then_schema.py
Due: detect-test-antipatterns, mypy-no-regression

fix: grade the contract for the outcome that happened, not the one assumed
  tests/bdd/steps/generic/then_schema.py
Due: detect-test-antipatterns, mypy-no-regression

fix(delivery): release the read transaction before the webhook POST
  src/services/delivery_webhook_scheduler.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

test: bind every feature file, and skip what the registry cannot dispatch
  tests/bdd/conftest.py
  tests/bdd/test_unbound_surface.py
  tests/bdd/unregistered_tools.py
Due: detect-test-antipatterns, mypy-no-regression

test(bdd): let the e2e DB reset lose a lock race and retry
  tests/bdd/conftest.py
Due: detect-test-antipatterns, mypy-no-regression

test: skip a whole feature whose subject tool this seller does not have
  tests/bdd/unregistered_tools.py
Due: detect-test-antipatterns, mypy-no-regression

docs: predictions for the first run with every feature file bound
  docs/design/bdd-run-prediction.md
Due: none

test(guards): plant the stray-site specimen in a sandbox, not in src/
  tests/unit/test_guards_a2a_integer_restoration.py
Due: detect-test-antipatterns, mypy-no-regression

test: drop the tests that graded the deleted __str__ and builder mechanisms
  .type-ignore-baseline
  tests/unit/test_account_schemas.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_approval_error_handling.py
  tests/unit/test_architecture_behavioral_mock_cap.py
  tests/unit/test_architecture_local_schema_imports.py
  tests/unit/test_architecture_no_swallowed_validation_error.py
  tests/unit/test_creative.py
Due: detect-test-antipatterns, mypy-no-regression

test: compare runs test-by-test, because totals cannot show correctness
  scripts/audit/compare_runs.py
  tests/bdd/conftest.py
  tests/bdd/unbound_steps.py
Due: detect-test-antipatterns, mypy-no-regression

refactor: delete request normalization; the DTO is the accepted shape
  .ruff-complexity-baseline
  src/a2a_server/adcp_a2a_server.py
  src/app.py
  src/core/helpers/brand_key.py
  src/core/mcp_compat_middleware.py
  src/core/request_compat.py
  src/core/schema_helpers.py
  src/core/schemas/_base.py
  src/core/schemas/product.py
  src/core/validation_helpers.py
  src/routes/rest_compat_middleware.py
  tests/bdd/conftest.py
  tests/bdd/features/BR-COMPAT-001-deprecated-field-normalization.feature
  tests/bdd/features/BR-UC-BRAND-SHORTHAND.feature
  tests/bdd/steps/domain/compat_normalization.py
  tests/bdd/steps/domain/uc_brand_shorthand.py
  tests/bdd/test_brand_shorthand_bdd.py
  tests/bdd/test_compat001_deprecated_field_normalization.py
  tests/harness/test_forward_compat_acceptance.py
  tests/unit/test_architecture_env_route_agreement.py
  tests/unit/test_brand_shorthand_coercion.py
  tests/unit/test_deep_strip.py
  tests/unit/test_mcp_compat_middleware.py
  tests/unit/test_request_compat.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

docs: R1 is done; compat is absent by design, filed as #2218
  docs/design/one-tool-registry-remaining.md
Due: none

refactor: one function produces the response body for all three transports
  src/a2a_server/adcp_a2a_server.py
  src/core/tools/_mcp.py
  src/core/tools/_wire.py
  src/routes/api_v1.py
  tests/harness/_base.py
  tests/harness/client.py
  tests/harness/transport.py
  tests/unit/test_architecture_one_wire_body.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

docs: final state — no known failure remains, one quiet-box run to certify
  HANDOFF-merge-main-into-rfc9421.md
Due: none

Revert the collection changes: they made the suite grade LESS, not more
  tests/bdd/conftest.py
  tests/bdd/test_unbound_surface.py
  tests/bdd/unbound_steps.py
  tests/bdd/unregistered_tools.py
Due: detect-test-antipatterns, mypy-no-regression

test: P01, the identity Given, collapsed on a proven-identical body
  tests/bdd/features/BR-UC-011-manage-accounts.feature
  tests/bdd/features/BR-UC-026-package-media-buy.feature
  tests/bdd/steps/generic/given_auth.py
  tests/unit/test_bdd_given_p01_identity.py
Due: detect-test-antipatterns, mypy-no-regression

docs: re-evaluate the plan against the tree; add R7
  docs/design/one-tool-registry-remaining.md
Due: none

docs: R7 is a model gap, not an MCP habit — measured
  docs/design/one-tool-registry-remaining.md
Due: none

docs: what back-at-baseline has to mean for the post-revert run
  docs/design/bdd-run-prediction.md
Due: none

docs: defer the transport de-pinning, and record the twin-name trap it hides
  docs/design/bdd-harness-architecture.md
Due: none

fix: two BR-UC-014 scenarios shared a name, so one silently did not exist
  tests/bdd/features/BR-UC-014-sponsored-intelligence-session.feature
Due: none

fix: envelope parsing belongs on TransportResult, not in a step definition
  tests/bdd/steps/generic/then_schema.py
  tests/harness/transport.py
Due: detect-test-antipatterns, mypy-no-regression

docs: green — all seven suites, zero failures, at f6dd2ad6b
  HANDOFF-merge-main-into-rfc9421.md
Due: none

fix: ledger the six webhook scenarios I wrongly reported as already xfailed
  tests/bdd/conftest.py
Due: detect-test-antipatterns, mypy-no-regression

fix: grade the delivery report, not the envelope GH #2058 has not decided
  tests/bdd/conftest.py
  tests/bdd/steps/generic/then_schema.py
Due: detect-test-antipatterns, mypy-no-regression

Revert "grade the delivery report, not the envelope GH #2058 has not decided"
  tests/bdd/conftest.py
  tests/bdd/steps/generic/then_schema.py
Due: detect-test-antipatterns, mypy-no-regression

docs: one accurate ledger note for the webhook xfails, not three corrections
  tests/bdd/conftest.py
Due: detect-test-antipatterns, mypy-no-regression

fix: nothing undeclared passes the boundary, at any nesting depth
  src/core/mcp_compat_middleware.py
  src/core/schemas/_accepted_shape.py
  src/core/tools/registry.py
  tests/unit/test_deep_strip.py
  tests/unit/test_setup_dev.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

docs: creative.py cited a beads id, and claimed a report that never happened
  src/core/schemas/creative.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: the boundary stops probing, and a failure is an exception
  docs/design/one-tool-registry-remaining.md
  src/core/tools/_boundary.py
  src/core/tools/media_buy_create.py
  tests/unit/test_boundary_idempotency_rules.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

refactor: derive required-nullable retention from the model, not a schema path
  docs/design/one-tool-registry-remaining.md
  src/core/schemas/_base.py
  src/core/schemas/_pinned_fields.py
  src/core/schemas/account.py
  src/core/schemas/delivery.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

docs: the registry plan is complete except R6
  docs/design/one-tool-registry-remaining.md
Due: none

test: an adapter rejection raises, so the tests that expected a return follow it
  tests/integration/test_create_media_buy_behavioral.py
  tests/integration/test_idempotency_replay.py
Due: detect-test-antipatterns, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
