Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

fix: improve inventory browser UX and fix search lag
  src/admin/blueprints/inventory.py
  src/services/background_sync_service.py
  templates/add_product_gam.html
  templates/inventory_browser.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: improve inventory browser UX and fix search lag (#709)
  src/admin/blueprints/inventory.py
  src/services/background_sync_service.py
  templates/add_product_gam.html
  templates/inventory_browser.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: add GAMInventory to integration test sample_tenant fixture
  tests/integration/conftest.py
Due: detect-test-antipatterns, mypy-no-regression

fix: fetch all GAM advertisers with pagination instead of limiting to 100
  src/admin/blueprints/api.py
  src/admin/blueprints/gam.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: add GAMInventory to integration_v2 test fixtures
  tests/integration_v2/conftest.py
Due: detect-test-antipatterns, mypy-no-regression

feat: add search and pagination controls for GAM advertiser fetching
  src/adapters/gam/managers/orders.py
  src/adapters/google_ad_manager.py
  src/admin/blueprints/principals.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: make sync_creatives and list_creatives async for FastMCP context injection
  src/core/tools/creatives.py
  static/js/tenant_settings.js
  templates/tenant_settings.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: add Select2 searchable dropdown for GAM advertisers
  templates/create_principal.html
Due: none

fix: add GAMInventory to test_minimum_spend_validation fixture
  tests/integration_v2/test_minimum_spend_validation.py
Due: detect-test-antipatterns, mypy-no-regression

fix: use correct AdCP spec status 'pending_review' for creatives awaiting approval
  src/core/tools/creatives.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: address code review feedback - validation, typo, and tests
  src/adapters/gam/managers/orders.py
  templates/create_principal.html
  tests/unit/test_gam_orders_manager_advertisers.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

refactor: use AdCP generated CreativeStatus enum instead of hardcoded strings
  src/core/tools/creatives.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: include pending_review creatives in dashboard 'Needs Attention' count
  src/admin/services/dashboard_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: eliminate code duplication in test-connection endpoints
  src/admin/blueprints/api.py
  src/admin/blueprints/gam.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: GAM advertiser search and pagination with Select2 UI (#710)
  src/adapters/gam/managers/orders.py
  src/adapters/google_ad_manager.py
  src/admin/blueprints/api.py
  src/admin/blueprints/gam.py
  src/admin/blueprints/principals.py
  templates/create_principal.html
  tests/unit/test_gam_orders_manager_advertisers.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: add GAMInventory to test_tenant_with_data fixtures (CRITICAL)
  tests/integration/conftest.py
  tests/integration_v2/conftest.py
Due: detect-test-antipatterns, mypy-no-regression

fix: set task status to 'submitted' when sync_creatives has pending reviews
  src/a2a_server/adcp_a2a_server.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: only fire webhook when ALL creatives in task have been reviewed
  src/admin/blueprints/creatives.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Auto-install uv in Conductor workspace setup (#645)
  scripts/setup/setup_conductor_workspace.sh
Due: none

fix: use unique names in test fixtures to avoid conflicts
  tests/integration/conftest.py
  tests/integration_v2/conftest.py
Due: detect-test-antipatterns, mypy-no-regression

fix: update setup scripts to use AdCP-compliant format_ids schema
  scripts/setup/init_database.py
  scripts/setup/init_database_ci.py
Due: mypy-no-regression

fix: correct Product formats field to use AdCP-compliant FormatId structure
  schemas/v1/_schemas_v1_core_format_json.json
  schemas/v1/_schemas_v1_core_product_json.json
  scripts/setup/init_database.py
  scripts/setup/init_database_ci.py
Due: mypy-no-regression

chore: update AdCP schemas to latest from registry
  schemas/v1/_schemas_v1_core_format_json.json
  schemas/v1/_schemas_v1_core_product_json.json
  src/admin/blueprints/inventory.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: comment out unused adapter instantiation in analyze_ad_server
  src/admin/blueprints/inventory.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: inventory sync status now checks GAMInventory table instead of Products (#708)
  schemas/v1/_schemas_v1_core_format_json.json
  schemas/v1/_schemas_v1_core_product_json.json
  scripts/setup/init_database_ci.py
  src/admin/blueprints/inventory.py
  src/services/setup_checklist_service.py
  tests/integration/conftest.py
  tests/integration/test_setup_checklist_service.py
  tests/integration_v2/conftest.py
  tests/integration_v2/test_minimum_spend_validation.py
  tests/unit/test_inventory_sync_status.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: validate products have inventory BEFORE creating GAM orders
  src/adapters/google_ad_manager.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: update unit tests to mock products with inventory configuration
  tests/unit/test_gam_workflow_packages.py
Due: detect-test-antipatterns, mypy-no-regression

fix: eliminate hidden failures in GAM adapter media buy creation
  src/adapters/gam/managers/orders.py
  src/adapters/google_ad_manager.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

test: add GAM inventory records to fix integration test failures
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
Due: detect-test-antipatterns, mypy-no-regression

chore: add bid_price debugging and fix B023 lint error
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: add migration script to fix products missing pricing_options
  scripts/migrations/README.md
  scripts/migrations/add_missing_pricing_options.py
Due: mypy-no-regression

fix: add missing line_item_type to GAM pricing restriction test products
  tests/integration/test_gam_pricing_restriction.py
Due: detect-test-antipatterns, mypy-no-regression

fix: use numeric GAM ad unit IDs in pricing restriction tests
  tests/integration/test_gam_pricing_restriction.py
Due: detect-test-antipatterns, mypy-no-regression

fix: change non-numeric ad unit IDs to numeric in test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_models_integration.py
Due: detect-test-antipatterns, mypy-no-regression

fix: update product formats to use proper AdCP v2.4 format structure
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
Due: detect-test-antipatterns, mypy-no-regression

fix: use correct creative agent format IDs from https://creative.adcontextprotocol.org
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
Due: detect-test-antipatterns, mypy-no-regression

fix: resolve GAM adapter dry-run and format override bugs
  src/adapters/gam/managers/orders.py
  src/core/format_resolver.py
  tests/integration/test_gam_pricing_restriction.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

chore: add logging to diagnose MCP package field stripping
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: use dict[str,Any] type hint for MCP packages parameter
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: preserve bid_price from package in pricing extraction
  scripts/migrations/add_missing_pricing_options.py
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
