Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$

Simplify format validation and fix error handling in product admin
  src/admin/blueprints/products.py
  tests/unit/test_product_format_validation_admin.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Prevent unknown creative formats from being saved to products (#832)
  src/admin/blueprints/products.py
  templates/edit_product_mock.html
  tests/unit/test_product_format_validation_admin.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix code review issues for product principal access control
  .type-ignore-baseline
  src/admin/blueprints/products.py
  src/core/product_conversion.py
  src/core/tools/products.py
  templates/add_product_mock.html
  tests/integration/test_product_principal_access.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix integration test: add required Principal fields
  tests/integration/test_product_principal_access.py
Due: detect-test-antipatterns, mypy-no-regression

Fix integration test: platform_mappings requires valid structure
  tests/integration/test_product_principal_access.py
Due: detect-test-antipatterns, mypy-no-regression

Simplify format_ids handling to trust FormatId types
  .type-ignore-baseline
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix OAuth callback 404 in Docker standalone mode
  .env.example
  docs/TROUBLESHOOTING.md
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix FormatId JSON serialization in create_media_buy
  src/core/tools/media_buy_create.py
  tests/unit/test_formatid_media_package.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Improve Docker setup experience for new users
  .env.secrets.template
  README.md
  docker-compose.yml
  docs/SETUP.md
  docs/TROUBLESHOOTING.md
  docs/adapters/mock-adapter-guide.md
  docs/deployment.md
  scripts/README.md
  tests/e2e/README.md
Due: none

Fix FormatId JSON serialization in create_media_buy (#834)
  src/core/tools/media_buy_create.py
  tests/unit/test_formatid_media_package.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Add product principal access control (#831)
  .type-ignore-baseline
  alembic/versions/add_principal_access_to_products.py
  src/admin/blueprints/products.py
  src/core/database/models.py
  src/core/product_conversion.py
  src/core/schemas.py
  src/core/tools/media_buy_create.py
  src/core/tools/products.py
  templates/add_product_gam.html
  templates/add_product_mock.html
  templates/edit_product_mock.html
  tests/integration/test_product_principal_access.py
  tests/unit/test_product_principal_access.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Make .env.secrets optional in docker-compose for CI
  docker-compose.yml
Due: none

Add debug logging and fix pricing lookup for multi-package media buys
  src/adapters/mock_ad_server.py
  src/core/tools/media_buy_create.py
  tests/unit/test_multi_package_id_bug.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Revert env_file syntax - CI uses older docker-compose
  .env.secrets.template
  README.md
  docker-compose.yml
Due: none

Add product_id to mock adapter response and improve debug logging
  src/adapters/mock_ad_server.py
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix Docker standalone OAuth and improve setup docs (#835)
  .env.example
  .env.secrets.template
  README.md
  docs/SETUP.md
  docs/TROUBLESHOOTING.md
  docs/adapters/mock-adapter-guide.md
  docs/deployment.md
  scripts/README.md
  src/admin/blueprints/auth.py
  tests/e2e/README.md
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Remove debug logging and improve multi-package pricing lookup tests
  src/adapters/mock_ad_server.py
  src/core/tools/media_buy_create.py
  tests/unit/test_multi_package_id_bug.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix multi-package pricing lookup and clean up debug logging (#836)
  src/adapters/mock_ad_server.py
  src/core/tools/media_buy_create.py
  tests/unit/test_multi_package_id_bug.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Implement GAM-style nested groups targeting UI and backend
  src/adapters/gam/managers/targeting.py
  src/admin/blueprints/products.py
  static/js/targeting_widget.js
  templates/add_product_gam.html
  templates/components/targeting_selector_widget.html
  templates/products.html
  tests/unit/test_enhanced_custom_targeting.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Implement GAM-style nested groups targeting UI and backend (#840)
  src/adapters/gam/managers/targeting.py
  src/admin/blueprints/products.py
  static/js/targeting_widget.js
  templates/add_product_gam.html
  templates/components/targeting_selector_widget.html
  templates/products.html
  tests/unit/test_enhanced_custom_targeting.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix FormatCategory enum JSON serialization in audit logs
  src/core/tools/creative_formats.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix edit product form submission failure with empty formats field
  src/admin/blueprints/products.py
  templates/add_product_mock.html
  templates/edit_product_mock.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Add searchable key selector with alphabetical sorting to targeting widget
  static/js/targeting_widget.js
  templates/components/targeting_selector_widget.html
Due: none

Fix GAM product form format selection not being saved
  templates/add_inventory_profile.html
  templates/add_product_gam.html
  templates/edit_inventory_profile.html
Due: none

Improve code quality from review feedback
  static/js/targeting_widget.js
  templates/add_product_gam.html
  templates/edit_product_mock.html
  tests/unit/test_product_format_validation_admin.py
Due: detect-test-antipatterns, mypy-no-regression

Skip tests when external services are unavailable
  tests/e2e/test_a2a_protocol_compliance.py
  tests/integration/test_a2a_response_message_fields.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
Due: detect-test-antipatterns, mypy-no-regression

Fix targeting widget display names for legacy data migration
  static/js/targeting_widget.js
Due: none

Extract external service error helpers to shared module
  tests/helpers/external_service.py
  tests/integration/test_a2a_response_message_fields.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
Due: detect-test-antipatterns, mypy-no-regression

Add timeout limits to CI jobs to prevent hanging
  .github/workflows/test.yml
Due: none

Fix FormatCategory enum serialization and edit product form submission (#841)
  .github/workflows/test.yml
  src/admin/blueprints/products.py
  src/core/tools/creative_formats.py
  static/js/targeting_widget.js
  templates/add_inventory_profile.html
  templates/add_product_gam.html
  templates/add_product_mock.html
  templates/components/targeting_selector_widget.html
  templates/edit_inventory_profile.html
  templates/edit_product_mock.html
  tests/e2e/test_a2a_protocol_compliance.py
  tests/helpers/external_service.py
  tests/integration/test_a2a_response_message_fields.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
  tests/unit/test_product_format_validation_admin.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

feat: update webhook delivery function to support both mcp and a2a payloads
  docs/webhooks.md
  src/a2a_server/adcp_a2a_server.py
  src/admin/blueprints/creatives.py
  src/core/tools/creatives.py
  src/services/protocol_webhook_service.py
  tests/integration/test_a2a_protocol_webhooks.py
  tests/unit/test_a2a_working_webhook.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

feat: migrate push notification sending for media_buy
  docker-compose.yml
  src/a2a_server/adcp_a2a_server.py
  src/admin/blueprints/creatives.py
  src/admin/blueprints/operations.py
  src/core/tools/media_buy_create.py
  src/services/delivery_webhook_scheduler.py
  src/services/protocol_webhook_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

feat: undo unrelated changes
  docs/webhooks.md
  src/a2a_server/adcp_a2a_server.py
  tests/integration/test_a2a_protocol_webhooks.py
  tests/unit/test_a2a_working_webhook.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

Use typed AdCP schemas in MCP tool signatures for schema exposure
  src/core/schema_helpers.py
  src/core/tools/creative_formats.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_update.py
  src/core/tools/performance.py
  src/core/tools/products.py
  src/core/tools/properties.py
  tests/unit/test_list_creative_formats_new_filters.py
  tests/unit/test_mcp_tool_schemas.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix test_context_management mock to match FastMCP Context API
  tests/unit/test_context_management.py
Due: detect-test-antipatterns, mypy-no-regression

feat: wip
  src/a2a_server/adcp_a2a_server.py
  src/admin/blueprints/creatives.py
  src/admin/blueprints/operations.py
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

Accept union types (typed | dict) in MCP tools for backward compatibility
  src/core/tools/creative_formats.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_delivery.py
  src/core/tools/media_buy_update.py
  src/core/tools/performance.py
  src/core/tools/products.py
  src/core/tools/properties.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Remove | dict union types from MCP tool signatures
  .type-ignore-baseline
  src/core/tools/creative_formats.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_delivery.py
  src/core/tools/media_buy_update.py
  src/core/tools/performance.py
  src/core/tools/products.py
  src/core/tools/properties.py
  tests/e2e/adcp_request_builder.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix integration test to use AdCP-compliant CreativeAsset schema
  tests/integration/test_mcp_tool_roundtrip_minimal.py
Due: detect-test-antipatterns, mypy-no-regression

Use typed AdCP schemas in MCP tool signatures for schema exposure (#842)
  .type-ignore-baseline
  src/core/schema_helpers.py
  src/core/tools/creative_formats.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_delivery.py
  src/core/tools/media_buy_update.py
  src/core/tools/performance.py
  src/core/tools/products.py
  src/core/tools/properties.py
  tests/e2e/adcp_request_builder.py
  tests/integration/test_mcp_tool_roundtrip_minimal.py
  tests/unit/test_context_management.py
  tests/unit/test_list_creative_formats_new_filters.py
  tests/unit/test_mcp_tool_schemas.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression
