Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Check for removed columns still referenced in code
      - id: check-schema-references
        name: Check schema references
        entry: python scripts/check_schema_references.py
        language: system
        pass_filenames: false
        always_run: true
        
      # Validate model column lengths
      - id: validate-column-lengths
        name: Validate database column lengths
        entry: python scripts/validate_column_lengths.py
        language: system
        files: '(models|schemas)\.py$'
        
      # Check for tenant.config references
      - id: no-tenant-config
        name: No tenant.config references
        entry: sh -c 'if grep -r "tenant\.config\|tenant\[.config.\]" --include="*.py" . | grep -v "test_migration\|postmortem\|pre-commit"; then echo "Found tenant.config references!"; exit 1; fi'
        language: system
        pass_filenames: false
        
      # Validate migrations can run
      - id: test-migrations
        name: Test database migrations
        entry: sh -c 'cp adcp_local.db .test.db && DATABASE_URL=sqlite:///.test.db python migrate.py && rm .test.db'
        language: system
        pass_filenames: false
        stages: [commit]
        
      # Check for API deprecations
      - id: check-api-deprecations
        name: Check for deprecated API usage
        entry: python scripts/check_api_deprecations.py
        language: system
        files: 'adapters/.*\.py$'
        
      # Validate Pydantic vs SQLAlchemy imports
      - id: validate-model-imports
        name: Validate model imports
        entry: python scripts/validate_model_imports.py
        language: system
        files: '\.py$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: check-ast
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.272
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Fix A2A handler dropping errors from create_media_buy responses
  src/a2a_server/adcp_a2a_server.py
  tests/integration/test_a2a_error_responses.py
Due: validate-model-imports

Update cached AdCP schemas from test runs
  tests/e2e/schemas/v1/_schemas_v1_core_push-notification-config_json.json
Due: none

Fix update_media_buy_raw and adapter error handling
  src/adapters/google_ad_manager.py
  src/core/main.py
Due: check-api-deprecations, validate-model-imports

Fix A2A handler dropping errors from create_media_buy responses (#341)
  src/a2a_server/adcp_a2a_server.py
  src/adapters/google_ad_manager.py
  src/core/main.py
  tests/e2e/schemas/v1/_schemas_v1_core_push-notification-config_json.json
  tests/integration/test_a2a_error_responses.py
Due: check-api-deprecations, validate-model-imports

Fix webhook registration for both MCP and A2A protocols
  CLAUDE.md
  scripts/setup/setup_tenant.py
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
  src/core/tools.py
Due: validate-model-imports

Fix UTC import scope issue in create_media_buy
  src/core/main.py
Due: validate-model-imports

Fix webhook registration for both MCP and A2A protocols (#342)
  CLAUDE.md
  scripts/setup/setup_tenant.py
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
  src/core/tools.py
Due: validate-model-imports

Add default currency limits for all tenants
  alembic/versions/9309ac2fa74f_add_default_currency_limits.py
  scripts/setup/setup_tenant.py
Due: validate-model-imports

Fix AdCP protocol compliance for error responses
  src/core/main.py
  src/core/schemas.py
Due: validate-column-lengths, validate-model-imports

Fix package product extraction to support both product_id and products
  src/core/schemas.py
Due: validate-column-lengths, validate-model-imports

Fix remaining package validation to support both product_id and products
  src/core/main.py
Due: validate-model-imports

Add comprehensive tests for product_id/products and error status fixes
  tests/unit/test_error_status_codes.py
  tests/unit/test_package_product_extraction.py
Due: validate-model-imports

Fix webhook testing: currency limits, product extraction, and error statuses (#343)
  alembic/versions/9309ac2fa74f_add_default_currency_limits.py
  scripts/setup/setup_tenant.py
  src/core/main.py
  src/core/schemas.py
  tests/unit/test_error_status_codes.py
  tests/unit/test_package_product_extraction.py
Due: validate-column-lengths, validate-model-imports

Fix missing buyer_ref in Slack notification responses
  src/core/main.py
Due: validate-model-imports

Add tenant-specific URLs and response factory to prevent errors systematically
  src/core/main.py
  src/core/response_factory.py
  src/services/slack_notifier.py
  tests/unit/test_response_factory.py
  tests/unit/test_slack_notification_urls.py
Due: validate-model-imports

Update AdCP schemas to latest from registry
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_targeting_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-authorized-properties-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json
Due: none

Fix CI test failures: Slack notification tests and schema alignment
  src/services/slack_notifier.py
  tests/unit/test_pydantic_schema_alignment.py
  tests/unit/test_slack_notification_urls.py
Due: validate-model-imports

Fix Slack notification errors: missing buyer_ref and localhost URLs (#344)
  src/core/main.py
  src/core/response_factory.py
  src/services/slack_notifier.py
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_targeting_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-authorized-properties-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json
  tests/unit/test_pydantic_schema_alignment.py
  tests/unit/test_response_factory.py
  tests/unit/test_slack_notification_urls.py
Due: validate-model-imports

Fix Slack notification 404 errors and media buy validation
  src/core/main.py
  src/services/slack_notifier.py
  tests/unit/test_slack_notification_urls.py
Due: validate-model-imports

Add test gap analysis and missing roundtrip test
  TEST_GAP_ANALYSIS.md
  tests/integration/test_create_media_buy_roundtrip.py
Due: validate-model-imports

Implement recommended improvements from test gap analysis
  .pre-commit-config.yaml
  .pre-commit-hooks/check_roundtrip_tests.py
  CLAUDE.md
  tests/integration/test_notification_urls_exist.py
Due: validate-model-imports

Remove TEST_GAP_ANALYSIS.md
  TEST_GAP_ANALYSIS.md
Due: none

Fix Slack notification 404 errors and media buy validation (#345)
  .pre-commit-config.yaml
  .pre-commit-hooks/check_roundtrip_tests.py
  CLAUDE.md
  src/core/main.py
  src/services/slack_notifier.py
  tests/integration/test_create_media_buy_roundtrip.py
  tests/integration/test_notification_urls_exist.py
  tests/unit/test_slack_notification_urls.py
Due: validate-model-imports

Add Slack notifications for audit logs
  docs/webhooks.md
  src/core/audit_logger.py
  src/services/slack_notifier.py
Due: validate-model-imports

Add Slack notifications for audit logs (#346)
  docs/webhooks.md
  src/core/audit_logger.py
  src/services/slack_notifier.py
Due: validate-model-imports

Fix webhook delivery: restart simulations on server startup
  src/core/main.py
  src/core/startup.py
  src/services/delivery_simulator.py
  tests/e2e/schemas/v1/_schemas_v1_core_creative-asset_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-response_json.json
Due: validate-model-imports

Fix webhook delivery: restart simulations on server startup (#347)
  src/core/main.py
  src/core/startup.py
  src/services/delivery_simulator.py
  tests/e2e/schemas/v1/_schemas_v1_core_creative-asset_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-response_json.json
Due: validate-model-imports

Fix GAM order name length errors and workflow anchor navigation
  src/adapters/gam/managers/orders.py
  src/adapters/gam/utils/constants.py
  src/adapters/gam/utils/naming.py
  src/adapters/google_ad_manager.py
  src/services/slack_notifier.py
  templates/workflows.html
  tests/e2e/schemas/v1/_schemas_v1_core_creative-asset_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-response_json.json
Due: check-api-deprecations, validate-model-imports

Include pending status in delivery simulator restart
  src/services/delivery_simulator.py
Due: validate-model-imports

Fix missing /admin prefix in dashboard media buy link
  templates/tenant_dashboard.html
Due: none

Fix GAM order name length errors and workflow anchor navigation (#349)
  src/adapters/gam/managers/orders.py
  src/adapters/gam/utils/constants.py
  src/adapters/gam/utils/naming.py
  src/adapters/google_ad_manager.py
  src/services/slack_notifier.py
  templates/tenant_dashboard.html
  templates/workflows.html
Due: check-api-deprecations, validate-model-imports

Add buyer_ref unique constraint and AI-powered auto_name template variable
  alembic/versions/31ff6218695a_add_buyer_ref_unique_constraint_and_.py
  src/adapters/gam/managers/workflow.py
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
  src/core/database/models.py
  src/core/utils/naming.py
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_package_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Fix A2A server not passing push_notification_config to create_media_buy
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
Due: validate-model-imports

Update AdCP schemas to latest from registry
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_package_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json
Due: none

Remove unused Codecov integration and update AdCP schemas
  .github/workflows/test.yml
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_package_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json
Due: none

Improve e2e test visibility and Docker build performance
  .github/workflows/test.yml
  Dockerfile
  tests/e2e/conftest.py
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_package_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json
Due: validate-model-imports

Fix E2E test for updated AdCP product schema
  tests/e2e/schemas/v1/_schemas_v1_core_pricing-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpc-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpcv-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpm-auction-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpm-fixed-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpp-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpv-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_flat-rate-option_json.json
  tests/e2e/test_schema_validation_standalone.py
Due: validate-model-imports

Fix E2E test failure: update test data for new AdCP product schema
  tests/e2e/schemas/v1/_schemas_v1_core_pricing-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpc-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpcv-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpm-auction-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpm-fixed-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpp-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpv-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_flat-rate-option_json.json
  tests/e2e/test_schema_validation_standalone.py
Due: validate-model-imports

Remove unused Codecov integration (#353)
  .github/workflows/test.yml
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_package_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_pricing-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpc-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpcv-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpm-auction-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpm-fixed-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpp-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpv-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_flat-rate-option_json.json
  tests/e2e/test_schema_validation_standalone.py
Due: validate-model-imports

feat: Add agent_url to Format schema per AdCP v2.4
  src/core/schemas.py
  tests/e2e/schemas/v1/_schemas_v1_core_creative-asset_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-response_json.json
Due: validate-column-lengths, validate-model-imports
