Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

docs: Use prebuilt Docker Hub image in GCP walkthrough
  Dockerfile
  docs/deployment/walkthroughs/gcp.md
Due: none

fix: Handle Cloud SQL Unix socket paths in get_connection_string()
  src/core/database/db_config.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

docs: Add prebuilt Docker Hub image option to Fly walkthrough
  docs/deployment/walkthroughs/fly.md
Due: none

docs: Add Fly Managed Postgres option to deployment guide (#894)
  .type-ignore-baseline
  Dockerfile
  docs/deployment/walkthroughs/fly.md
  docs/deployment/walkthroughs/fly.toml.template
  docs/deployment/walkthroughs/gcp.md
  src/admin/blueprints/core.py
  src/admin/utils/helpers.py
  src/core/config.py
  src/core/database/db_config.py
  templates/login.html
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

docs: Fix GCP Cloud Run deployment walkthrough
  docs/deployment/walkthroughs/gcp.md
Due: none

docs: Fix GCP Cloud Run deployment walkthrough (#896)
  docs/deployment/walkthroughs/gcp.md
Due: none

feat: Consolidate video templates into unified Video format
  static/js/format-template-picker.js
Due: none

feat: Add dynamic authentication configuration (passkeys + OIDC)
  CLAUDE.md
  README.md
  alembic/versions/add_passkey_and_auth_config_tables.py
  docker-compose.dev.yml
  docs/development/README.md
  docs/development/contributing.md
  pyproject.toml
  src/admin/app.py
  src/admin/blueprints/oidc.py
  src/admin/blueprints/passkey.py
  src/admin/blueprints/setup.py
  src/admin/blueprints/tenants.py
  src/admin/blueprints/users.py
  src/core/database/models.py
  src/services/auth_config_service.py
  src/services/passkey_service.py
  templates/auth_settings.html
  templates/oidc_test_success.html
  templates/setup.html
  templates/tenant_settings.html
  templates/users.html
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, mypy-no-regression

fix: Fix nginx dev config for dynamic DNS resolution
  config/nginx/nginx-development.conf
Due: none

feat: Convert advertising channel from single to multi-select
  alembic/versions/channel_to_channels.py
  src/admin/blueprints/products.py
  src/core/database/models.py
  src/core/product_conversion.py
  src/core/schemas.py
  src/core/tools/products.py
  templates/add_product_gam.html
  templates/add_product_mock.html
  templates/components/channel_selector.html
  templates/edit_product_mock.html
  tests/integration_v2/test_get_products_filters.py
  tests/unit/test_new_product_filters.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: Enable format removal and fix edit mode initialization
  static/js/format-template-picker.js
  templates/add_product_gam.html
Due: none

fix: Update integration tests to use channels (list) instead of channel (string)
  tests/integration_v2/test_get_products_filters.py
Due: detect-test-antipatterns, mypy-no-regression

feat: Convert advertising channel from single to multi-select (#897)
  alembic/versions/channel_to_channels.py
  src/admin/blueprints/products.py
  src/core/database/models.py
  src/core/product_conversion.py
  src/core/schemas.py
  src/core/tools/products.py
  templates/add_product_gam.html
  templates/add_product_mock.html
  templates/components/channel_selector.html
  templates/edit_product_mock.html
  tests/integration_v2/test_get_products_filters.py
  tests/unit/test_new_product_filters.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

feat: Add format template picker UI for AdCP 2.5 parameterized formats (#782) (#882)
  alembic/versions/28cdf399fb73_add_format_parameters_to_creatives.py
  alembic/versions/46b1bf1c82c5_merge_format_parameters_and_gam_network_.py
  config/nginx/nginx-development.conf
  src/admin/blueprints/format_search.py
  src/admin/blueprints/inventory.py
  src/admin/blueprints/products.py
  src/core/database/models.py
  src/core/format_cache.py
  src/core/helpers/__init__.py
  src/core/helpers/creative_helpers.py
  src/core/schemas.py
  src/core/tools/creatives.py
  static/js/format-template-picker.js
  templates/add_product_gam.html
  templates/add_product_mock.html
  templates/edit_product_mock.html
  tests/manual/test_format_picker_e2e.js
  tests/unit/test_format_templates.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: src.core.format_spec_cache undefined
  src/core/tools/media_buy_create.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

feat: Display sales agent version in agent card
  alembic/versions/a2a336ecb71d_merge_migration_heads.py
  src/a2a_server/adcp_a2a_server.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

feat: Display sales agent version in agent card (#902)
  alembic/versions/a2a336ecb71d_merge_migration_heads.py
  src/a2a_server/adcp_a2a_server.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: Add user_id to URL validation tests and SSO config to setup test
  tests/integration/test_setup_checklist_service.py
  tests/integration/test_template_url_validation.py
Due: detect-test-antipatterns, mypy-no-regression

docs: Update documentation for SSO-first authentication flow
  docker-compose.dev.yml
  docker-compose.yml
  docs/deployment/environment-variables.md
  docs/deployment/single-tenant.md
  docs/quickstart.md
  docs/user-guide/sso-setup.md
Due: none

feat: Add dynamic per-tenant OIDC/SSO authentication (#903)
  CLAUDE.md
  README.md
  alembic/versions/add_auth_setup_mode.py
  alembic/versions/add_tenant_auth_config.py
  docker-compose.dev.yml
  docker-compose.yml
  docs/deployment/environment-variables.md
  docs/deployment/single-tenant.md
  docs/development/README.md
  docs/development/contributing.md
  docs/index.md
  docs/quickstart.md
  docs/user-guide/sso-setup.md
  src/admin/app.py
  src/admin/blueprints/auth.py
  src/admin/blueprints/oidc.py
  src/admin/blueprints/tenants.py
  src/admin/blueprints/users.py
  src/core/database/models.py
  src/services/auth_config_service.py
  src/services/setup_checklist_service.py
  templates/oidc_test_success.html
  templates/tenant_settings.html
  templates/users.html
  tests/integration/test_setup_checklist_service.py
  tests/integration/test_template_url_validation.py
  tests/unit/test_auth_setup_mode.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment, mypy-no-regression

feat: Add vidium MCP server to local configuration
  .mcp.json
Due: none

feat: Add vidium MCP server to local configuration (#904)
  .mcp.json
Due: none

docs: Clarify SUPER_ADMIN_EMAILS is optional with per-tenant OIDC
  alembic/versions/30acc1daf358_merge_migration_heads.py
  docs/deployment/walkthroughs/fly.md
  docs/deployment/walkthroughs/gcp.md
  docs/user-guide/README.md
  scripts/deploy/run_all_services.py
  src/core/config.py
  src/core/startup.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

docs: Clarify SUPER_ADMIN_EMAILS is optional with per-tenant OIDC (#905)
  alembic/versions/30acc1daf358_merge_migration_heads.py
  docs/deployment/walkthroughs/fly.md
  docs/deployment/walkthroughs/gcp.md
  docs/user-guide/README.md
  scripts/deploy/run_all_services.py
  src/core/config.py
  src/core/startup.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: Implement AI product ranking with simplified catalog
  .pre-commit-config.yaml
  .pre-commit-hooks/check_sqlalchemy_2_0.py
  alembic/versions/498429a885ac_merge_auth_setup_mode_with_main.py
  alembic/versions/58e9d3fdf1f6_add_product_ranking_prompt_to_tenants.py
  product_catalog_providers/__init__.py
  product_catalog_providers/ai.py
  product_catalog_providers/base.py
  product_catalog_providers/database.py
  product_catalog_providers/factory.py
  product_catalog_providers/hybrid.py
  product_catalog_providers/mcp.py
  product_catalog_providers/signals.py
  src/admin/blueprints/settings.py
  src/core/database/models.py
  src/core/main.py
  src/core/tools/products.py
  src/core/utils/tenant_utils.py
  src/services/ai/agents/ranking_agent.py
  src/services/policy_service.py
  templates/tenant_settings.html
  tests/integration/test_ai_provider_bug.py
  tests/integration_v2/test_signals_agent_workflow.py
  tests/integration_v2/test_signals_discovery_integration.py
  tests/unit/test_brand_manifest_policy.py
  tests/unit/test_comprehensive_product_validation.py
  tests/unit/test_product_provider_direct.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

feat: Implement AI product ranking with simplified catalog (#906)
  .pre-commit-config.yaml
  .pre-commit-hooks/check_sqlalchemy_2_0.py
  alembic/versions/498429a885ac_merge_auth_setup_mode_with_main.py
  alembic/versions/58e9d3fdf1f6_add_product_ranking_prompt_to_tenants.py
  product_catalog_providers/__init__.py
  product_catalog_providers/ai.py
  product_catalog_providers/base.py
  product_catalog_providers/database.py
  product_catalog_providers/factory.py
  product_catalog_providers/hybrid.py
  product_catalog_providers/mcp.py
  product_catalog_providers/signals.py
  src/admin/blueprints/settings.py
  src/core/database/models.py
  src/core/main.py
  src/core/tools/products.py
  src/core/utils/tenant_utils.py
  src/services/ai/agents/ranking_agent.py
  src/services/policy_service.py
  templates/tenant_settings.html
  tests/integration/test_ai_provider_bug.py
  tests/integration_v2/test_signals_agent_workflow.py
  tests/integration_v2/test_signals_discovery_integration.py
  tests/unit/test_brand_manifest_policy.py
  tests/unit/test_comprehensive_product_validation.py
  tests/unit/test_product_provider_direct.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

feat: asyncio.run
  src/core/tools/media_buy_create.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
  tests/unit/test_media_buy_create_helpers.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

feat: Simplify user authorization with User records as primary auth method
  src/admin/blueprints/auth.py
  src/admin/domain_access.py
  templates/login.html
  templates/users.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: Simplify user authorization with User records as primary auth method (#907)
  src/admin/blueprints/auth.py
  src/admin/domain_access.py
  templates/login.html
  templates/users.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Use pull_request_target for PR title check on fork PRs
  .github/workflows/pr-title-check.yml
Due: none

fix: Use pull_request_target for PR title check on fork PRs (#909)
  .github/workflows/pr-title-check.yml
Due: none

fix: src.core.format_spec_cache undefined (#901)
  src/core/tools/media_buy_create.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
  tests/unit/test_media_buy_create_helpers.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix Mintlify syntax error in delivery-simulation.md
  docs/adapters/mock/delivery-simulation.md
Due: none

fix: Simplify Docker Compose setup to fix mount errors
  Dockerfile
  README.md
  docker-compose.dev.yml
  docker-compose.yml
  docs/deployment/single-tenant.md
  docs/development/README.md
  docs/development/contributing.md
  docs/quickstart.md
Due: none

fix: Update broken docs links in README
  README.md
Due: none

fix: Remove redundant alembic migration and improve docs link checker
  .pre-commit-config.yaml
  .pre-commit-hooks/check_docs_links.py
  alembic/versions/30acc1daf358_merge_migration_heads.py
Due: mypy-no-regression

fix: Update docs links and fix alembic migrations (#911)
  .pre-commit-config.yaml
  .pre-commit-hooks/check_docs_links.py
  README.md
  alembic/versions/30acc1daf358_merge_migration_heads.py
Due: mypy-no-regression

fix: Simplify Docker Compose setup to fix mount errors (#910)
  Dockerfile
  README.md
  docker-compose.dev.yml
  docker-compose.yml
  docs/deployment/single-tenant.md
  docs/development/README.md
  docs/development/contributing.md
  docs/quickstart.md
Due: none

Fix OIDC config not showing after save/reload
  src/services/auth_config_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
