Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$

Add Claude-specific guidance section to CLAUDE.md
  CLAUDE.md
Due: none

Address code review feedback: Fix logging, add timeout, add integration tests
  src/admin/blueprints/publisher_partners.py
  src/core/tools/properties.py
  tests/integration/test_list_authorized_properties_integration.py
  tests/unit/test_inventory_sync_status.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Simplify CLAUDE.md: condense to essential quick reference (#795)
  CLAUDE.md
Due: none

Fix CI: Create PublisherPartner records in tests for list_authorized_properties
  tests/integration_v2/conftest.py
  tests/integration_v2/test_a2a_skill_invocation.py
Due: detect-test-antipatterns, mypy-no-regression

docs: Update add_required_setup_data docstring to reflect PublisherPartner as primary source
  tests/integration_v2/conftest.py
Due: detect-test-antipatterns, mypy-no-regression

Fix landing page not showing for custom domains
  alembic/versions/8fcc1374d4e5_merge_heads.py
  src/core/main.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

Improve error handling and logging for publisher sync (#794)
  alembic/versions/5a0bd1eda2bd_migrate_publishers_to_new_system.py
  alembic/versions/e4f26160e57b_merge_heads.py
  src/admin/blueprints/publisher_partners.py
  src/core/tools/properties.py
  src/services/setup_checklist_service.py
  templates/authorized_properties_list.html.deprecated
  templates/authorized_properties_upload.html.deprecated
  tests/integration/test_list_authorized_properties_integration.py
  tests/integration_v2/conftest.py
  tests/integration_v2/test_a2a_skill_invocation.py
  tests/unit/test_inventory_sync_status.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Add back buttons to form pages
  templates/add_inventory_profile.html
  templates/add_product_gam.html
  templates/add_product_mock.html
  templates/create_principal.html
  templates/edit_inventory_profile.html
  templates/edit_product_mock.html
Due: none

Improve custom domain routing logic
  alembic/versions/6ae57c13adca_merge_migration_heads.py
  src/core/main.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

Move back button to consistent position on Products page
  templates/products.html
Due: none

Fix inventory sync status polling URL pattern
  templates/inventory_unified.html
Due: none

Fix inventory profile creation - use format_ids column
  src/admin/blueprints/inventory_profiles.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix hardcoded URLs in create_principal.html - use url_for()
  templates/create_principal.html
Due: none

Refactor: Extract inline back button styles to CSS classes
  templates/add_inventory_profile.html
  templates/add_product_gam.html
  templates/add_product_mock.html
  templates/base.html
  templates/create_principal.html
  templates/edit_inventory_profile.html
  templates/edit_product_mock.html
  templates/products.html
Due: none

Add back buttons and fix bugs in admin UI (#796)
  src/admin/blueprints/inventory_profiles.py
  templates/add_inventory_profile.html
  templates/add_product_gam.html
  templates/add_product_mock.html
  templates/base.html
  templates/create_principal.html
  templates/edit_inventory_profile.html
  templates/edit_product_mock.html
  templates/inventory_unified.html
  templates/products.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix host header handling for direct subdomain access
  src/core/main.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

Use generate_fallback_landing_page for all error cases
  src/core/main.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

Add debug logging for host detection
  src/core/main.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

Add production testing tools for PR #797 deployment
  docs/deployment/PR-797-DEPLOY-GUIDE.md
  docs/deployment/ROLLBACK_PROCEDURE.md
  scripts/test_production_landing_pages.py
Due: mypy-no-regression

Fix production domain names in test script
  docs/deployment/PR-797-DEPLOY-GUIDE.md
  scripts/test_production_landing_pages.py
Due: mypy-no-regression

Update test script to handle actual production tenant states
  scripts/test_production_landing_pages.py
Due: mypy-no-regression

Don't test test-agent MCP/A2A endpoints with curl
  scripts/test_production_landing_pages.py
Due: mypy-no-regression

Rewrite test script to properly use npx @adcp/client
  scripts/test_production_landing_pages.py
Due: mypy-no-regression

Fix AccuWeather domain to correct production URL
  scripts/test_production_landing_pages.py
Due: mypy-no-regression

fix: 'Select All' buttons in Create Product page by fixing JS scope
  templates/add_product_gam.html
Due: none

fix: add type field to audience segments API for filtering
  src/admin/blueprints/inventory.py
  tests/integration/test_targeting_api.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Update test script to use npx -y and follow redirects
  scripts/test_production_landing_pages.py
Due: mypy-no-regression

Fix landing page not showing for custom domains (#797)
  alembic/versions/6ae57c13adca_merge_migration_heads.py
  docs/deployment/PR-797-DEPLOY-GUIDE.md
  docs/deployment/ROLLBACK_PROCEDURE.md
  scripts/test_production_landing_pages.py
  src/core/main.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

Fix Admin UI to show agent landing page for custom domains
  src/admin/blueprints/core.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Update test to expect agent landing page for custom domains
  tests/unit/test_external_domain_routing.py
Due: detect-test-antipatterns, mypy-no-regression

feat: Add manual delivery webhook trigger to admin UI
  src/admin/blueprints/operations.py
  src/services/delivery_webhook_scheduler.py
  templates/media_buy_detail.html
  tests/integration/test_delivery_webhooks_force.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix custom domain landing page
  alembic/versions/6cc4765445a1_merge_migration_heads.py
  src/admin/blueprints/core.py
  tests/unit/test_external_domain_routing.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Refactor: Extract shared domain routing logic
  src/admin/blueprints/core.py
  src/core/domain_routing.py
  src/core/main.py
  tests/unit/test_domain_routing.py
  tests/unit/test_external_domain_routing.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

Use shared tenant lookup functions from config_loader
  src/core/domain_routing.py
  tests/unit/test_domain_routing.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Security: Use is_admin_domain() to prevent admin route spoofing
  src/core/domain_routing.py
  tests/unit/test_domain_routing.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Refactor: Clean up domain routing code per review recommendations
  src/admin/blueprints/core.py
  src/core/domain_routing.py
  tests/unit/test_domain_routing.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Refactor domain routing and fix custom domain landing pages (#801)
  alembic/versions/6cc4765445a1_merge_migration_heads.py
  src/admin/blueprints/core.py
  src/core/domain_routing.py
  src/core/main.py
  tests/unit/test_domain_routing.py
  tests/unit/test_external_domain_routing.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

Fix test expectations for custom domain landing pages
  scripts/test_production_landing_pages.py
Due: mypy-no-regression

Clean up: Remove temporary PR deployment guides
  CONDUCTOR_PORTS.md
  cleanup_conductor_workspace.sh
  docs/deployment/PR-797-DEPLOY-GUIDE.md
  docs/deployment/ROLLBACK_PROCEDURE.md
  manage_conductor_ports.py
  setup_conductor_workspace.sh
Due: mypy-no-regression

Add E2E tests for landing page domain routing
  tests/e2e/test_landing_pages.py
Due: detect-test-antipatterns, mypy-no-regression
