Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$

feat: add background scheduler to auto-transition media buy statuses based on flight dates
  src/admin/blueprints/operations.py
  src/core/main.py
  src/services/media_buy_status_scheduler.py
  tests/integration/test_media_buy_status_scheduler.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

fix: lint errors
  src/services/media_buy_status_scheduler.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: remove UI changes to keep PR focused on backend scheduler
  src/admin/blueprints/operations.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: set tenant context before fetching delivery metrics
  src/admin/blueprints/operations.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Implement AdCP 2.5 creative format filters with comprehensive testing
  src/core/tools/creative_formats.py
  tests/integration/test_list_creative_formats_params.py
  tests/unit/test_list_creative_formats_new_filters.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix creative format filters to use proper AdCP spec structure
  src/core/tools/creative_formats.py
  tests/integration/test_list_creative_formats_params.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Add filter fields to schema_adapters.ListCreativeFormatsRequest
  src/a2a_server/adcp_a2a_server.py
  src/core/schema_adapters.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

Refactor schema adapters to inherit from library types
  src/core/schema_adapters.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, validate-adapter-usage, no-fn-calls, mypy-no-regression

Fix backward compatibility and data persistence for custom targeting
  src/adapters/gam/managers/targeting.py
  src/admin/blueprints/products.py
  static/js/targeting_widget.js
  templates/components/targeting_selector_widget.html
  tests/unit/test_enhanced_custom_targeting.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Enhance custom targeting UI with OR/AND operators and exclusions (#811)
  src/adapters/gam/managers/targeting.py
  src/admin/blueprints/inventory.py
  src/admin/blueprints/products.py
  static/js/targeting_widget.js
  templates/add_product_gam.html
  templates/add_product_mock.html
  templates/components/targeting_selector_widget.html
  templates/edit_product_mock.html
  tests/unit/test_enhanced_custom_targeting.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: list_tasks query using non-existent WorkflowStep.tenant_id
  src/core/main.py
  tests/integration/test_tool_registration.py
  tests/unit/test_task_management_tools.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

fix: list_tasks query using non-existent WorkflowStep.tenant_id (#822)
  src/core/main.py
  tests/integration/test_tool_registration.py
  tests/unit/test_task_management_tools.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

Apply code review recommendations
  pyproject.toml
  src/a2a_server/adcp_a2a_server.py
  src/core/schema_adapters.py
  src/core/schemas.py
  src/core/tools/creative_formats.py
  src/core/tools/properties.py
  tests/integration/test_list_creative_formats_params.py
  tests/integration/test_mcp_contract_validation.py
  tests/unit/test_all_response_str_methods.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix CI test failures for library .summary() message format
  tests/integration/test_a2a_response_compliance.py
Due: detect-test-antipatterns, mypy-no-regression

Implement AdCP 2.5 creative format filters (#818)
  pyproject.toml
  src/a2a_server/adcp_a2a_server.py
  src/core/schema_adapters.py
  src/core/schemas.py
  src/core/tools/creative_formats.py
  src/core/tools/properties.py
  tests/integration/test_a2a_response_compliance.py
  tests/integration/test_list_creative_formats_params.py
  tests/integration/test_mcp_contract_validation.py
  tests/unit/test_all_response_str_methods.py
  tests/unit/test_list_creative_formats_new_filters.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

chore: cleanup mypy.ini and reset baseline
  .mypy_baseline
  mypy.ini
Due: none

fix: resolve 169 mypy errors with targeted type fixes
  .type-ignore-baseline
  product_catalog_providers/ai.py
  product_catalog_providers/signals.py
  src/a2a_server/adcp_a2a_server.py
  src/adapters/gam/managers/sync.py
  src/adapters/google_ad_manager.py
  src/adapters/kevel.py
  src/adapters/mock_creative_engine.py
  src/adapters/triton_digital.py
  src/adapters/xandr.py
  src/admin/services/business_activity_service.py
  src/admin/services/dashboard_service.py
  src/core/config.py
  src/core/main.py
  src/core/mcp_server_enhanced.py
  src/core/schema_adapters.py
  src/core/schemas.py
  src/core/tools/creative_formats.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_delivery.py
  src/core/tools/media_buy_update.py
  src/core/tools/products.py
  src/services/delivery_webhook_scheduler.py
  src/services/dynamic_pricing_service.py
  src/services/property_discovery_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: accept FormatId objects in list_creative_formats MCP tool
  .pre-commit-config.yaml
  mypy.ini
  src/core/tools/creative_formats.py
  src/core/tools/properties.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

test: add regression tests for list_creative_formats format_ids
  tests/unit/test_list_creative_formats_new_filters.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Update A2A server to use creative_ids instead of removed patch parameter (AdCP 2.5)
  src/a2a_server/adcp_a2a_server.py
  src/core/helpers/creative_helpers.py
  src/core/schemas.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_update.py
  tests/e2e/adcp_request_builder.py
  tests/unit/test_adcp_25_creative_management.py
  tests/unit/test_adcp_contract.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

refactor: Code review improvements for AdCP 2.5 creative changes
  src/a2a_server/adcp_a2a_server.py
  src/core/tools/creatives.py
  tests/e2e/adcp_request_builder.py
  tests/unit/test_adcp_25_creative_management.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

Migrate schemas to extend library types and remove signals tools
  .type-ignore-baseline
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
  src/core/schemas.py
  src/core/tools/__init__.py
  src/core/tools/media_buy_delivery.py
  src/services/delivery_webhook_scheduler.py
  tests/helpers/adcp_factories.py
  tests/unit/test_a2a_function_call_validation.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_authorized_properties.py
  tests/unit/test_inventory_profile_adcp_compliance.py
  tests/unit/test_mcp_tool_type_alignment.py
  tests/unit/test_schema_library_inheritance.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Use proper AdCP library types for get_media_buy_delivery parameters
  .type-ignore-baseline
  src/core/tools/media_buy_delivery.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Remove signals tool references from E2E and integration tests
  tests/e2e/README.md
  tests/e2e/conftest_contract_validation.py
  tests/e2e/test_a2a_adcp_compliance.py
  tests/e2e/test_a2a_endpoints_working.py
  tests/e2e/test_a2a_protocol_compliance.py
  tests/e2e/test_a2a_regression_prevention.py
  tests/e2e/test_adcp_schema_compliance.py
  tests/integration_v2/test_a2a_skill_invocation.py
Due: detect-test-antipatterns, mypy-no-regression

fix: validate product format_ids and improve error messages
  src/core/product_conversion.py
  src/core/tools/media_buy_create.py
  tests/unit/test_adcp_contract.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix remaining signals tool references in integration tests
  tests/integration/test_tool_registration.py
  tests/integration_v2/test_a2a_skill_invocation.py
Due: detect-test-antipatterns, mypy-no-regression

Migrate schemas to extend library types and remove signals tools (#826)
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
  src/core/schemas.py
  src/core/tools/__init__.py
  src/core/tools/media_buy_delivery.py
  src/services/delivery_webhook_scheduler.py
  tests/e2e/README.md
  tests/e2e/conftest_contract_validation.py
  tests/e2e/test_a2a_adcp_compliance.py
  tests/e2e/test_a2a_endpoints_working.py
  tests/e2e/test_a2a_protocol_compliance.py
  tests/e2e/test_a2a_regression_prevention.py
  tests/e2e/test_adcp_schema_compliance.py
  tests/helpers/adcp_factories.py
  tests/integration/test_tool_registration.py
  tests/integration_v2/test_a2a_skill_invocation.py
  tests/unit/test_a2a_function_call_validation.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_authorized_properties.py
  tests/unit/test_inventory_profile_adcp_compliance.py
  tests/unit/test_mcp_tool_type_alignment.py
  tests/unit/test_schema_library_inheritance.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

test: Add comprehensive spec-driven tests for AdCP 2.5 creative management (#825)
  src/a2a_server/adcp_a2a_server.py
  src/core/helpers/creative_helpers.py
  src/core/product_conversion.py
  src/core/schemas.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_update.py
  tests/e2e/adcp_request_builder.py
  tests/unit/test_adcp_25_creative_management.py
  tests/unit/test_adcp_contract.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix product creative formats UI issues
  templates/adapters/mock_product_config.html
  templates/add_product_mock.html
  templates/edit_product_mock.html
Due: none

Fix product creative formats UI issues (#828)
  templates/adapters/mock_product_config.html
  templates/add_product_mock.html
  templates/edit_product_mock.html
Due: none

Fix edit_product to parse formats JSON from UI
  src/admin/blueprints/products.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix edit_product to parse formats JSON from UI (#829)
  src/admin/blueprints/products.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Add null checks to loadPublishers and renderPublishers functions
  templates/inventory_unified.html
Due: none

Add null checks to loadPublishers and renderPublishers functions (#830)
  templates/inventory_unified.html
Due: none

Add product principal access control
  alembic/versions/add_principal_access_to_products.py
  src/admin/blueprints/products.py
  src/core/database/models.py
  src/core/product_conversion.py
  src/core/schemas.py
  src/core/tools/products.py
  templates/add_product_gam.html
  templates/edit_product_mock.html
  tests/unit/test_product_principal_access.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Prevent unknown creative formats from being saved to products
  src/admin/blueprints/products.py
  templates/edit_product_mock.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix Docker container name references in documentation
  docs/DEVELOPMENT.md
  docs/SETUP.md
  docs/TROUBLESHOOTING.md
  docs/adapters/mock-adapter-guide.md
  docs/deployment.md
  scripts/setup/create_scribd_tenant.sh
  tests/README.md
  tests/e2e/README.md
Due: none

Fix Docker container name references in documentation (#833)
  docs/DEVELOPMENT.md
  docs/SETUP.md
  docs/TROUBLESHOOTING.md
  docs/adapters/mock-adapter-guide.md
  docs/deployment.md
  scripts/setup/create_scribd_tenant.sh
  tests/README.md
  tests/e2e/README.md
Due: none
