Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

Fix: Mock format cache for creative validation in test_create_media_buy_with_creative_ids
  tests/integration_v2/test_creative_lifecycle_mcp.py
Due: detect-test-antipatterns, mypy-no-regression

Fix adcp 2.5.0 compatibility issues in tests
  product_catalog_providers/signals.py
  tests/helpers/adcp_factories.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
Due: enforce-sqlalchemy-2-0, detect-test-antipatterns, mypy-no-regression

Fix duplicate authorized properties in inventory profile editor
  src/admin/blueprints/authorized_properties.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix: Default publisher_properties to 'all' when not specified
  src/core/database/models.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, mypy-no-regression

Fix adapter type safety: Return Package objects instead of dicts
  src/adapters/google_ad_manager.py
  src/adapters/kevel.py
  src/adapters/mock_ad_server.py
  src/adapters/triton_digital.py
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Improve authorized properties display with individual property selection
  src/admin/blueprints/authorized_properties.py
  templates/components/inventory_profile_editor.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix: Default publisher_properties to 'all' when not specified (#759)
  src/core/database/models.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, mypy-no-regression

Fix adapter type safety: Return Package objects instead of dicts (#760)
  src/adapters/google_ad_manager.py
  src/adapters/kevel.py
  src/adapters/mock_ad_server.py
  src/adapters/triton_digital.py
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix authorized properties display in inventory editor (#761)
  src/admin/blueprints/authorized_properties.py
  templates/components/inventory_profile_editor.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Merge main and upgrade to adcp 2.6.0
  alembic/versions/1ad9b025f95e_merge_webhook_delivery_log_with_main.py
  uv.lock
Due: mypy-no-regression

Fix AttributeError: 'AnyUrl' object has no attribute 'rstrip'
  src/core/tools/media_buy_create.py
  tests/unit/test_format_id_anyurl_validation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Upgrade to adcp 2.6.0 with library aliases and pricing types
  pyproject.toml
  src/adapters/xandr.py
  src/core/schemas.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix AttributeError: 'AnyUrl' object has no attribute 'rstrip' (#762)
  src/core/tools/media_buy_create.py
  tests/unit/test_format_id_anyurl_validation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Refactor webhook scheduler to avoid holding DB session during async sends
  src/services/delivery_webhook_scheduler.py
  tests/integration/test_delivery_webhooks.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Add webhook delivery logging and daily reporting metrics (#752)
  alembic/versions/1759f70fc76a_add_webhook_delivery_log.py
  alembic/versions/1ad9b025f95e_merge_webhook_delivery_log_with_main.py
  src/adapters/gam_data_freshness.py
  src/adapters/google_ad_manager.py
  src/admin/blueprints/operations.py
  src/core/database/models.py
  src/core/main.py
  src/core/schemas.py
  src/services/delivery_webhook_scheduler.py
  src/services/protocol_webhook_service.py
  templates/media_buy_detail.html
  tests/integration/test_delivery_webhooks.py
  tests/unit/test_delivery_metrics.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix AnyUrl serialization in creative upload
  src/core/helpers/creative_helpers.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix AnyUrl serialization in sync_creatives
  src/core/tools/creatives.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix AnyUrl serialization in creative upload (#763)
  src/core/helpers/creative_helpers.py
  src/core/tools/creatives.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix measurement provider validation for GAM tenants
  src/admin/blueprints/settings.py
  tests/unit/test_measurement_provider_validation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Consolidate GAM tenant detection into single source of truth
  src/admin/blueprints/principals.py
  src/admin/blueprints/settings.py
  src/core/database/models.py
  src/services/setup_checklist_service.py
  tests/unit/test_tenant_is_gam_property.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment, mypy-no-regression

Fix mocks to work with is_gam_tenant property
  tests/unit/test_setup_checklist_mock_adapter.py
Due: detect-test-antipatterns, mypy-no-regression

Fix measurement provider validation and consolidate GAM detection (#764)
  src/admin/blueprints/principals.py
  src/admin/blueprints/settings.py
  src/core/database/models.py
  src/services/setup_checklist_service.py
  tests/unit/test_measurement_provider_validation.py
  tests/unit/test_setup_checklist_mock_adapter.py
  tests/unit/test_tenant_is_gam_property.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment, mypy-no-regression

Migrate to adcp.types.stable API per library recommendation
  src/adapters/xandr.py
  src/core/schemas.py
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Migrate 5 additional types to adcp.types.stable API
  src/core/schemas.py
  src/core/tools/media_buy_update.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix sync_creatives schema compliance: exclude internal status field
  src/core/schemas.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix sync_creatives schema compliance: exclude internal status field (#765)
  src/core/schemas.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Upgrade to adcp 2.7.0 and migrate 4 more types to stable API
  product_catalog_providers/signals.py
  pyproject.toml
  src/adapters/xandr.py
  src/core/schemas.py
  src/core/tools/media_buy_delivery.py
  src/core/tools/products.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Use ergonomic PlatformDestination alias instead of Destination1
  src/core/signals_agent_registry.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix sync_creatives schema compliance: exclude internal status field (#765)
  docs/fixes/2025-11-18-update-media-buy-changes-applied-field.md
  src/core/schemas.py
  src/core/tools/media_buy_update.py
  tests/integration/test_update_media_buy_creative_assignment.py
  tests/unit/test_affected_packages_comprehensive.py
  tests/unit/test_update_media_buy_affected_packages.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Upgrade to adcp 2.8.0 and complete migration to stable API
  pyproject.toml
  src/adapters/google_ad_manager.py
  src/adapters/kevel.py
  src/adapters/mock_ad_server.py
  src/adapters/triton_digital.py
  src/core/creative_agent_registry.py
  src/core/schema_helpers.py
  src/core/schemas.py
  src/core/signals_agent_registry.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix: Resolve Package status and AssetType/Type import mismatches after adcp 2.8.0 upgrade
  src/adapters/google_ad_manager.py
  src/adapters/kevel.py
  src/adapters/mock_ad_server.py
  src/adapters/triton_digital.py
  src/core/creative_agent_registry.py
  src/core/schemas.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix format validation consistency and remove file-based cache
  CLAUDE.md
  cache/format_specs/reference_formats.json
  docs/architecture/creative-format-validation.md
  docs/architecture/creative-model-architecture.md
  src/core/format_spec_cache.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  tests/unit/test_sync_creatives_format_validation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix event loop conflict in format validation
  src/core/tools/creatives.py
  tests/unit/test_sync_creatives_async_fix.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix async/sync helper to properly handle coroutine execution
  src/core/validation_helpers.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix async mocking in integration tests - add registry.get_format mock
  tests/integration/test_creative_sync_data_preservation.py
  tests/integration/test_generative_creatives.py
Due: detect-test-antipatterns, mypy-no-regression

Fix Integration V2 tests - remove deleted module import and update format IDs
  tests/integration_v2/test_creative_lifecycle_mcp.py
Due: detect-test-antipatterns, mypy-no-regression

Remove orphaned mock_cached_format reference in test
  tests/integration_v2/test_creative_lifecycle_mcp.py
Due: detect-test-antipatterns, mypy-no-regression

Fix format validation consistency and remove file-based cache (#768)
  CLAUDE.md
  cache/format_specs/reference_formats.json
  docs/architecture/creative-format-validation.md
  docs/architecture/creative-model-architecture.md
  src/core/format_spec_cache.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  src/core/validation_helpers.py
  tests/integration/test_creative_sync_data_preservation.py
  tests/integration/test_generative_creatives.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
  tests/unit/test_sync_creatives_async_fix.py
  tests/unit/test_sync_creatives_format_validation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: tests
  tests/integration/test_delivery_webhooks.py
Due: detect-test-antipatterns, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
