Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

fix: file lint error
  src/services/background_sync_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: file lint error (#625)
  src/services/background_sync_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Add GBP product for test_no_minimum_when_not_set
  tests/integration_v2/test_minimum_spend_validation.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Import errors from main branch refactor
  src/core/tools/media_buy_create.py
  src/core/tools/properties.py
  src/core/tools/signals.py
  tests/integration_v2/test_a2a_skill_invocation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Remove DRY_RUN_MODE global constant reference
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Handle ToolContext in get_principal_id_from_context
  src/core/helpers/context_helpers.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Update get_adapter import after main branch refactor
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Add missing imports after main branch refactor
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_update.py
  src/core/tools/properties.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Resolve circular import by moving get_product_catalog
  src/core/tools/media_buy_create.py
  src/core/tools/products.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Remove legacy in-memory media_buys dict references
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_update.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Add EUR pricing option to prod_global for multi-currency tests
  tests/integration_v2/test_minimum_spend_validation.py
Due: detect-test-antipatterns, mypy-no-regression

refactor: Add explicit type hints to media_buy_update parameters
  src/core/tools/media_buy_update.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Match pricing option by currency in minimum spend validation
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Multi-currency validation and media_buy_update fixes
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_update.py
  tests/integration_v2/test_minimum_spend_validation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Remove flaky upper bound timing assertion in webhook retry test
  tests/unit/test_webhook_delivery.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Add per-package currency validation and fix test teardown
  src/core/tools/media_buy_create.py
  tests/integration_v2/test_minimum_spend_validation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Use subquery to delete MediaPackages in test teardown
  tests/integration_v2/test_minimum_spend_validation.py
Due: detect-test-antipatterns, mypy-no-regression

feat: Migrate integration tests to pricing_options model and modernize A2A tests (#622)
  .pre-commit-config.yaml
  scripts/check_a2a_skill_coverage.py
  src/core/helpers/context_helpers.py
  src/core/schema_adapters.py
  src/core/schemas.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_update.py
  src/core/tools/products.py
  src/core/tools/properties.py
  src/core/tools/signals.py
  tests/integration/test_dashboard_service_integration.py
  tests/integration/test_get_products_database_integration.py
  tests/integration/test_minimum_spend_validation.py
  tests/integration_v2/conftest.py
  tests/integration_v2/test_a2a_error_responses.py
  tests/integration_v2/test_a2a_skill_invocation.py
  tests/integration_v2/test_admin_ui_data_validation.py
  tests/integration_v2/test_create_media_buy_roundtrip.py
  tests/integration_v2/test_create_media_buy_v24.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
  tests/integration_v2/test_dashboard_integration.py
  tests/integration_v2/test_error_paths.py
  tests/integration_v2/test_gam_automation_focused.py
  tests/integration_v2/test_get_products_database_integration.py
  tests/integration_v2/test_get_products_filters.py
  tests/integration_v2/test_get_products_format_id_filter.py
  tests/integration_v2/test_mcp_endpoints_comprehensive.py
  tests/integration_v2/test_mcp_tool_roundtrip_validation.py
  tests/integration_v2/test_mcp_tools_audit.py
  tests/integration_v2/test_minimum_spend_validation.py
  tests/integration_v2/test_product_deletion.py
  tests/integration_v2/test_schema_database_mapping.py
  tests/integration_v2/test_schema_roundtrip_patterns.py
  tests/integration_v2/test_session_json_validation.py
  tests/integration_v2/test_signals_agent_workflow.py
  tests/ui/test_product_creation_integration.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_webhook_delivery.py
  tests/utils/a2a_helpers.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: Run all integration_v2 tests except skip_ci ones
  .github/workflows/test.yml
Due: none

fix: Remove skip_ci from all integration_v2 tests - achieve 100% pass goal
  tests/integration_v2/test_a2a_error_responses.py
  tests/integration_v2/test_admin_ui_data_validation.py
  tests/integration_v2/test_create_media_buy_roundtrip.py
  tests/integration_v2/test_create_media_buy_v24.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
  tests/integration_v2/test_dashboard_integration.py
  tests/integration_v2/test_error_paths.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Critical database and fixture issues found by subagent analysis
  tests/integration_v2/conftest.py
  tests/integration_v2/test_a2a_error_responses.py
  tests/integration_v2/test_create_media_buy_roundtrip.py
  tests/integration_v2/test_dashboard_integration.py
  tests/integration_v2/test_error_paths.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Add missing integration_db to setup_super_admin_config fixture
  tests/integration_v2/test_product_deletion.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Resolve all 12 mypy errors in integration_v2 tests
  tests/integration_v2/test_a2a_skill_invocation.py
  tests/integration_v2/test_mcp_tool_roundtrip_validation.py
Due: detect-test-antipatterns, mypy-no-regression

fix: CI errors - remove invalid Principal fields and add enable_axe_signals
  tests/integration_v2/test_a2a_error_responses.py
  tests/integration_v2/test_dashboard_integration.py
Due: detect-test-antipatterns, mypy-no-regression

fix: CI errors - remove invalid Principal fields and add enable_axe_signals
  tests/integration_v2/test_dashboard_integration.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Unskip 3 integration tests and reduce mypy errors by 330
  schemas/v1/_schemas_v1_core_assets_audio-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_css-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_daast-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_html-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_image-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_javascript-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_text-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_url-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_vast-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_video-asset_json.json.meta
  schemas/v1/_schemas_v1_core_format-id_json.json.meta
  schemas/v1/_schemas_v1_core_promoted-offerings_json.json.meta
  schemas/v1/_schemas_v1_core_push-notification-config_json.json.meta
  schemas/v1/_schemas_v1_core_reporting-capabilities_json.json.meta
  schemas/v1/_schemas_v1_media-buy_package-request_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_cpc-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_cpcv-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_cpm-auction-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_cpm-fixed-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_cpp-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_cpv-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_flat-rate-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_vcpm-auction-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_vcpm-fixed-option_json.json.meta
  src/adapters/kevel.py
  src/adapters/mock_ad_server.py
  src/adapters/triton_digital.py
  src/core/main.py
  src/core/schemas.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_update.py
  tests/e2e/schemas/compliance_report.json
  tests/integration/conftest.py
  tests/integration/test_mcp_tool_roundtrip_minimal.py
  tests/integration/test_product_pricing_options_required.py
  tests/integration/test_self_service_signup.py
  tests/integration/test_workflow_lifecycle.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: Add missing approval_mode field to tenant INSERT statements
  tests/integration_v2/test_dashboard_integration.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Unskip 3 integration tests and reduce mypy errors by 330 (#627)
  schemas/v1/_schemas_v1_core_assets_audio-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_css-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_daast-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_html-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_image-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_javascript-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_text-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_url-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_vast-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_video-asset_json.json.meta
  schemas/v1/_schemas_v1_core_format-id_json.json.meta
  schemas/v1/_schemas_v1_core_promoted-offerings_json.json.meta
  schemas/v1/_schemas_v1_core_push-notification-config_json.json.meta
  schemas/v1/_schemas_v1_core_reporting-capabilities_json.json.meta
  schemas/v1/_schemas_v1_media-buy_package-request_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_cpc-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_cpcv-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_cpm-auction-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_cpm-fixed-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_cpp-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_cpv-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_flat-rate-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_vcpm-auction-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_vcpm-fixed-option_json.json.meta
  src/adapters/kevel.py
  src/adapters/mock_ad_server.py
  src/adapters/triton_digital.py
  src/core/main.py
  src/core/schemas.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_update.py
  tests/e2e/schemas/compliance_report.json
  tests/integration/conftest.py
  tests/integration/test_mcp_tool_roundtrip_minimal.py
  tests/integration/test_product_pricing_options_required.py
  tests/integration/test_self_service_signup.py
  tests/integration/test_workflow_lifecycle.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: Resolve 70+ integration_v2 test failures - schema validation and async fixes
  src/core/tools/media_buy_create.py
  tests/integration_v2/conftest.py
  tests/integration_v2/test_create_media_buy_roundtrip.py
  tests/integration_v2/test_create_media_buy_v24.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
  tests/integration_v2/test_error_paths.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Add session.flush() to ensure tenant access control changes persist
  tests/integration_v2/conftest.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Add flag_modified() and session.flush() for JSON field updates
  tests/integration_v2/conftest.py
  tests/integration_v2/test_a2a_error_responses.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Integration tests, mypy errors, and deprecation warnings
  mypy.ini
  src/core/config_loader.py
  src/core/context_manager.py
  src/core/main.py
  src/core/oauth_retry.py
  src/core/schema_helpers.py
  src/core/schema_validation.py
  src/core/schemas_generated/_schemas_v1_core_assets_audio_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_css_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_daast_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_html_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_image_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_javascript_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_text_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_url_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_vast_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_video_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_format_id_json.py
  src/core/schemas_generated/_schemas_v1_core_promoted_offerings_json.py
  src/core/schemas_generated/_schemas_v1_core_push_notification_config_json.py
  src/core/schemas_generated/_schemas_v1_core_reporting_capabilities_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_package_request_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpc_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpcv_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpm_auction_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpm_fixed_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpp_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpv_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_flat_rate_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_vcpm_auction_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_vcpm_fixed_option_json.py
  src/core/strategy.py
  src/core/webhook_delivery.py
  src/services/delivery_simulator.py
  src/services/webhook_delivery_service.py
  tests/integration/test_a2a_response_message_fields.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

fix: Integration tests, mypy errors, and deprecation warnings (#628)
  mypy.ini
  src/core/config_loader.py
  src/core/context_manager.py
  src/core/main.py
  src/core/oauth_retry.py
  src/core/schema_helpers.py
  src/core/schema_validation.py
  src/core/schemas_generated/_schemas_v1_core_assets_audio_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_css_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_daast_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_html_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_image_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_javascript_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_text_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_url_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_vast_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_video_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_format_id_json.py
  src/core/schemas_generated/_schemas_v1_core_promoted_offerings_json.py
  src/core/schemas_generated/_schemas_v1_core_push_notification_config_json.py
  src/core/schemas_generated/_schemas_v1_core_reporting_capabilities_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_package_request_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpc_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpcv_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpm_auction_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpm_fixed_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpp_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpv_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_flat_rate_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_vcpm_auction_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_vcpm_fixed_option_json.py
  src/core/strategy.py
  src/core/webhook_delivery.py
  src/services/delivery_simulator.py
  src/services/webhook_delivery_service.py
  tests/integration/test_a2a_response_message_fields.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

fix: Clean up smoke tests and resolve warnings
  .github/workflows/test.yml
  src/core/database/models.py
  src/core/main.py
  src/core/schemas_generated/_schemas_v1_core_assets_audio_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_css_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_daast_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_html_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_image_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_javascript_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_text_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_url_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_vast_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_video_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_format_id_json.py
  src/core/schemas_generated/_schemas_v1_core_promoted_offerings_json.py
  src/core/schemas_generated/_schemas_v1_core_push_notification_config_json.py
  src/core/schemas_generated/_schemas_v1_core_reporting_capabilities_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_package_request_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpc_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpcv_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpm_auction_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpm_fixed_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpp_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpv_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_flat_rate_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_vcpm_auction_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_vcpm_fixed_option_json.py
  tests/smoke/test_database_migrations.py
  tests/smoke/test_smoke_basic.py
  tests/smoke/test_smoke_critical_paths.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: Address code review critical issues
  src/core/tools/media_buy_create.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
  tests/integration_v2/test_error_paths.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

docs: Add PostgreSQL-only comment to dashboard integration tests
  tests/integration_v2/test_dashboard_integration.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Clean up smoke tests and resolve warnings (#629)
  .github/workflows/test.yml
  src/core/database/models.py
  src/core/main.py
  tests/smoke/test_database_migrations.py
  tests/smoke/test_smoke_basic.py
  tests/smoke/test_smoke_critical_paths.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: Apply parallel subagent fixes for 20+ integration test failures
  src/a2a_server/adcp_a2a_server.py
  src/core/schemas.py
  src/core/tools/media_buy_create.py
  tests/integration_v2/test_a2a_error_responses.py
  tests/integration_v2/test_create_media_buy_roundtrip.py
  tests/integration_v2/test_create_media_buy_v24.py
  tests/integration_v2/test_error_paths.py
  tests/integration_v2/test_signals_agent_workflow.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: Apply parallel subagent fixes for warnings and remaining test failures
  src/core/database/models.py
  src/services/activity_feed.py
  tests/integration_v2/test_a2a_error_responses.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
  tests/integration_v2/test_error_paths.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
