Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

validate-column-lengths:
  name: Validate database column lengths
  entry: python scripts/validate_column_lengths.py
  language: system

check-api-deprecations:
  name: Check for deprecated API usage
  entry: python scripts/check_api_deprecations.py
  language: system

validate-model-imports:
  name: Validate model imports
  entry: python scripts/validate_model_imports.py
  language: system

Fix CI: add pytest-cov and pytest-asyncio to dev extras
  pyproject.toml
Due: none

Fix CI: exclude tests requiring server from integration tests
  .github/workflows/test.yml
Due: none

Fix bulk upload test to use proper file upload format
  tests/integration/test_ai_products.py
  uv.lock
Due: validate-model-imports

fix: Fix orders browser authentication to use session-based auth
  admin_ui.py
  templates/orders_browser.html
  templates/tenant_detail.html
Due: validate-model-imports

Fix critical test issues identified in code review
  tests/conftest.py
  tests/integration/test_admin_api.py
  tests/integration/test_ai_product_basic.py
  tests/integration/test_ai_products.py
  tests/integration/test_ai_quick.py
  tests/integration/test_manual_approval.py
  tests/integration/test_mock_adapter.py
  tests/integration/test_policy.py
  tests/integration/test_superadmin_api_integration.py
  tests/integration/test_task_verification.py
  tests/unit/adapters/test_base.py
  tests/unit/test_admin_api.py
  tests/unit/test_admin_ui_oauth.py
  tests/unit/test_ai_parsing_improvements.py
  tests/unit/test_auth.py
  tests/unit/test_creative_parsing.py
  tests/unit/test_format_json.py
  tests/unit/test_gam_line_item_viewer.py
  tests/unit/test_targeting.py
Due: check-api-deprecations, validate-model-imports

fix: Fix orders browser authentication to use session-based auth
  admin_ui.py
Due: validate-model-imports

feat: Enhanced GAM Line Item Viewer with human-readable targeting
  admin_ui.py
  templates/gam_line_item_viewer.html
  templates/orders_browser.html
  tests/unit/test_targeting_translation.py
Due: validate-model-imports

chore: Remove redundant demo_gam_line_item_viewer.py
  demo_gam_line_item_viewer.py
Due: validate-model-imports

fix: Fix unit test for GAM line item viewer
  tests/unit/test_gam_line_item_viewer.py
Due: validate-model-imports

feat: Implement persistent context and workflow management for A2A protocol
  admin_ui.py
  alembic/versions/014_add_context_persistence.py
  alembic/versions/015_workflow_improvements.py
  context_manager.py
  main.py
  models.py
  schemas.py
  server.pid
  templates/tenant_detail.html
  templates/workflows.html
  test_context_persistence.py
  test_workflow_architecture.py
  test_workflow_with_server.py
Due: validate-column-lengths, validate-model-imports

fix: Organize tests in proper directories and fix test database setup
  test_context_persistence.py
  tests/integration/test_workflow_with_server.py
  tests/unit/test_context_persistence.py
  tests/unit/test_workflow_architecture.py
Due: validate-model-imports

feat: Standardize session management and add JSON validation
  alembic/versions/016_add_json_validation.py
  context_manager.py
  database_session.py
  json_validators.py
  main.py
  models.py
  tests/unit/test_session_json_validation.py
Due: validate-column-lengths, validate-model-imports

fix: Fix test failures for CI/CD pipeline
  context_manager.py
  tests/unit/test_context_persistence.py
Due: validate-model-imports

fix: Remove server.pid from version control and add to .gitignore
  .gitignore
  server.pid
Due: none

Fix GAM reporting dashboard display and data aggregation
  CLAUDE.md
  adapters/gam_reporting_api.py
  adapters/gam_reporting_service.py
  adapters/google_ad_manager_security.md
  admin_ui.py
  docker-compose.yml
  docs/OPERATIONS.md
  docs/TROUBLESHOOTING.md
  entrypoint.sh
  gam_helper.py
  pyproject.toml
  setup_test_gam.py
  templates/error.html
  templates/gam_reporting.html
  templates/tenant_detail.html
  test_gam_line_item_viewer.py
  test_sync_commands.md
  tests/integration/test_gam_reporting.py
  tests/integration/test_gam_timezone.py
  uv.lock
Due: check-api-deprecations, validate-model-imports

fix: Remove non-spec get_principal_summary tool and fix simulation
  get_tokens.py
  main.py
  schemas.py
  test_spec_compliance.py
  tools/simulations/simulation_full.py
Due: validate-column-lengths, validate-model-imports

feat: Unify get_media_buy_delivery to support single/multiple/all buys
  main.py
  schemas.py
  tools/simulations/simulation_full.py
Due: validate-column-lengths, validate-model-imports

fix: Critical fixes for AdCP compliance and database compatibility
  adapters/mock_ad_server.py
  admin_ui.py
  alembic/versions/014_add_context_id_to_media_buys.py
  alembic/versions/015_add_automatic_creation_to_products.py
  comprehensive_mcp_test.py
  create_test_products.py
  docker-compose.yml
  docs/mcp-usage.md
  entrypoint.sh
  main.py
  product_catalog_providers/ai.py
  product_catalog_providers/database.py
  schemas.py
  templates/index.html
  templates/mcp_test.html
  templates/test_mcp_simple.html
  test_adcp_compliance.py
  test_adcp_workflow.py
  test_archive/mcp_test_page.html
  test_archive/test_adcp_compliance_fix.py
  test_archive/test_get_products_fix.py
  test_archive/test_mcp_final.py
  test_archive/test_mcp_fix.py
  test_archive/test_mcp_fix2.py
  test_archive/test_mcp_ui.html
  test_archive/test_product_validation_direct.py
  test_mcp_workflow.py
  test_product_security.py
  tools/simulations/simulation_full.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

fix: Cast JSON columns to jsonb in migration 016 for PostgreSQL compatibility
  alembic/versions/016_add_json_validation.py
Due: validate-model-imports

fix: Fix integration test failures
  tests/integration/test_gam_reporting.py
  tests/integration/test_gam_timezone.py
Due: validate-model-imports

fix: Rename 'filter' to 'status_filter' to match AdCP spec PR #26
  main.py
  schemas.py
  tools/simulations/simulation_full.py
Due: validate-column-lengths, validate-model-imports

Path conditions:
  validate-column-lengths: any of: (models|schemas)\.py$
  check-api-deprecations: any of: adapters/.*\.py$
  validate-model-imports: any of: \.py$
