Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

fix: Prevent redirect loop for super admins accessing /admin/
  src/admin/blueprints/core.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Prevent redirect loop for super admins accessing /admin/ (#929)
  src/admin/blueprints/core.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Fix list_creatives enum serialization and invalid creative count
  src/core/tools/creatives.py
  tests/unit/test_list_creatives_serialization.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Fix list_creatives enum serialization and invalid creative count (#930)
  src/core/tools/creatives.py
  tests/unit/test_list_creatives_serialization.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

feat: Make SSO optional for multi-tenant deployments
  docs/deployment/environment-variables.md
  docs/deployment/multi-tenant.md
  src/services/setup_checklist_service.py
  tests/integration/test_setup_checklist_service.py
  tests/unit/test_setup_checklist_mock_adapter.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

feat: Make SSO optional for multi-tenant deployments (#931)
  docs/deployment/environment-variables.md
  docs/deployment/multi-tenant.md
  src/services/setup_checklist_service.py
  tests/integration/test_setup_checklist_service.py
  tests/unit/test_setup_checklist_mock_adapter.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

feat: wip
  src/a2a_server/adcp_a2a_server.py
  src/admin/blueprints/creatives.py
  src/admin/blueprints/operations.py
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

feat: update webhook delivery function to support both mcp and a2a payloads
  src/a2a_server/adcp_a2a_server.py
  src/admin/blueprints/creatives.py
  src/core/tools/creatives.py
  src/services/protocol_webhook_service.py
  tests/integration/test_a2a_protocol_webhooks.py
  tests/unit/test_a2a_working_webhook.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

feat: apply suggestions
  src/services/delivery_webhook_scheduler.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: run_all_tests ci
  run_all_tests.sh
Due: none

fix: adcp version; media buy status change; media buy delivery look up
  docker-compose.yml
  pyproject.toml
  src/a2a_server/adcp_a2a_server.py
  src/admin/blueprints/creatives.py
  src/core/database/models.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_update.py
  src/services/delivery_webhook_scheduler.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mypy-no-regression

feat: migrate push notification sending for media_buy
  docker-compose.yml
  src/a2a_server/adcp_a2a_server.py
  src/admin/blueprints/creatives.py
  src/admin/blueprints/operations.py
  src/core/tools/media_buy_create.py
  src/services/delivery_webhook_scheduler.py
  src/services/protocol_webhook_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: mypy failures
  src/a2a_server/adcp_a2a_server.py
  src/adapters/mock_ad_server.py
  src/admin/blueprints/creatives.py
  src/core/context_manager.py
  src/core/tools/media_buy_update.py
  src/services/delivery_webhook_scheduler.py
  src/services/protocol_webhook_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

feat: undo unrelated changes
  src/a2a_server/adcp_a2a_server.py
  tests/integration/test_a2a_protocol_webhooks.py
  tests/unit/test_a2a_working_webhook.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

feat: apply suggestions
  src/services/protocol_webhook_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Task and TaskStatusUpdate serializations
  src/a2a_server/adcp_a2a_server.py
  src/admin/blueprints/creatives.py
  src/admin/blueprints/operations.py
  src/services/delivery_webhook_scheduler.py
  src/services/protocol_webhook_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: link validator check for cyclic bugs
  tests/integration/link_validator.py
Due: detect-test-antipatterns, mypy-no-regression

fix: integrations
  tests/integration/test_delivery_webhooks_force.py
  tests/integration/test_delivery_webhooks_integration.py
  tests/integration/test_duplicate_product_validation.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
  tests/integration/test_pricing_models_integration.py
Due: detect-test-antipatterns, mypy-no-regression

fix: integration test v2
  tests/integration_v2/conftest.py
  tests/integration_v2/test_a2a_skill_invocation.py
  tests/integration_v2/test_create_media_buy_v24.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
  tests/integration_v2/test_error_paths.py
  tests/integration_v2/test_minimum_spend_validation.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Run database migrations automatically on docker compose up
  .github/workflows/test.yml
  docker-compose.yml
  docs/quickstart.md
Due: none

fix: Run database migrations automatically on docker compose up (#933)
  .github/workflows/test.yml
  docker-compose.yml
  docs/quickstart.md
Due: none

docs: Update Docker Compose documentation to reflect nginx proxy architecture
  CLAUDE.md
  scripts/setup/setup_conductor_workspace.sh
Due: none

docs: Update MCP client example to use nginx proxy port
  CLAUDE.md
Due: none

docs: Update all localhost:8080/8001 references to use nginx proxy port 8000
  docs/adapters/mock/README.md
  docs/development/contributing.md
  docs/development/troubleshooting.md
Due: none

docs: Comprehensive nginx proxy documentation update
  CLAUDE.md
  docs/adapters/gam/product-configuration.md
  docs/adapters/gam/service-account-setup.md
  docs/adapters/mock/README.md
  docs/deployment/environment-variables.md
  docs/development/troubleshooting.md
  docs/security.md
  tests/e2e/README.md
Due: none

docs: Update Docker Compose documentation to reflect nginx proxy architecture (#934)
  CLAUDE.md
  docs/adapters/gam/product-configuration.md
  docs/adapters/gam/service-account-setup.md
  docs/adapters/mock/README.md
  docs/deployment/environment-variables.md
  docs/development/contributing.md
  docs/development/troubleshooting.md
  docs/security.md
  scripts/setup/setup_conductor_workspace.sh
  tests/e2e/README.md
Due: none

fix: e2e webhook delivery check
  tests/e2e/test_delivery_webhooks_e2e.py
Due: detect-test-antipatterns, mypy-no-regression

fix: improve tests
  docker-compose.yml
  src/a2a_server/adcp_a2a_server.py
  tests/e2e/test_a2a_webhook_payload_types.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

feat: improve e2e test for a2a push notification delivery v2
  tests/e2e/test_a2a_webhook_payload_types.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Handle RootModel wrapper when extracting brand_manifest (#932)
  src/core/tools/products.py
  tests/unit/test_brand_manifest_rootmodel.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Reuse unwrapped brand_manifest for policy checks (#932)
  src/core/tools/products.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Handle RootModel wrappers for pricing_options in media_buy_create
  src/core/tools/media_buy_create.py
  tests/unit/test_pricing_option_rootmodel.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Reuse unwrapped brand_manifest for policy checks (#932) (#935)
  src/core/tools/media_buy_create.py
  src/core/tools/products.py
  tests/unit/test_brand_manifest_rootmodel.py
  tests/unit/test_pricing_option_rootmodel.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Set default role to admin for SSO auto-provisioned users
  src/admin/blueprints/oidc.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: Update uv.lock for v0.6.0
  uv.lock
Due: none

fix: Set default role to admin for SSO auto-provisioned users (#937)
  src/admin/blueprints/oidc.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Include empty pricing_options in serialization for anonymous users
  src/core/schemas.py
  tests/unit/test_anonymous_user_pricing.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: Include empty pricing_options in serialization for anonymous users (#939)
  src/core/schemas.py
  tests/unit/test_anonymous_user_pricing.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

feat: Add tenant-configurable favicon support
  alembic/versions/f319ed58b321_add_favicon_url_to_tenants.py
  src/admin/blueprints/tenants.py
  src/core/database/models.py
  static/favicons/default/favicon.jpg
  templates/base.html
  templates/tenant_settings.html
  tests/unit/test_tenant_favicon.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment, mypy-no-regression

feat: Add tenant-configurable favicon support (#940)
  alembic/versions/f319ed58b321_add_favicon_url_to_tenants.py
  src/admin/blueprints/tenants.py
  src/core/database/models.py
  static/favicons/default/favicon.jpg
  templates/base.html
  templates/tenant_settings.html
  tests/unit/test_tenant_favicon.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
