Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

validate-column-lengths:
  name: Validate database column lengths
  entry: python scripts/validate_column_lengths.py
  language: system

check-api-deprecations:
  name: Check for deprecated API usage
  entry: python scripts/check_api_deprecations.py
  language: system

validate-model-imports:
  name: Validate model imports
  entry: python scripts/validate_model_imports.py
  language: system

Implement AdCP v1.3+ creative asset upload with third-party tags and native support (#130)
  src/adapters/gam_validation.py
  src/adapters/google_ad_manager.py
  src/core/main.py
  src/core/schemas.py
  tests/integration/test_gam_validation_integration.py
  tests/unit/test_gam_validation.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Fix FastMCP context authentication - use context.meta instead of get_http_request()
  src/core/main.py
Due: validate-model-imports

Fix undefined 'text' variable in A2A logging - replace with 'combined_text'
  src/a2a_server/adcp_a2a_server.py
Due: validate-model-imports

Fix MCP specification compliance - remove non-compliant 'req' wrapper
  src/admin/blueprints/api.py
  src/core/main.py
Due: validate-model-imports

Fix core MCP tools for specification compliance - remove req wrapper (6/21 tools fixed)
  src/core/main.py
Due: validate-model-imports

Complete MCP specification compliance - fix all 21 tools (100% compliant)
  src/core/main.py
Due: validate-model-imports

Fix create_media_buy function - remove **kwargs for FastMCP compliance
  src/core/main.py
Due: validate-model-imports

Fix missing Targeting import in main.py
  src/core/main.py
Due: validate-model-imports

Fix update_media_buy function - remove **kwargs for FastMCP compliance
  src/core/main.py
Due: validate-model-imports

Fix GetProductsRequest schema - make promoted_offering optional
  src/core/main.py
  src/core/schemas.py
  tests/unit/test_adcp_contract.py
Due: validate-column-lengths, validate-model-imports

Revert promoted_offering to required per AdCP specification
  src/core/main.py
  src/core/schemas.py
  tests/unit/test_adcp_contract.py
Due: validate-column-lengths, validate-model-imports

Add debug logging to authentication header extraction
  src/core/auth_utils.py
Due: validate-model-imports

Add token verification script and clean auth debug
  check_token.py
  src/core/auth_utils.py
Due: validate-model-imports

Add focused header extraction debugging
  src/core/auth_utils.py
Due: validate-model-imports

Fix MCP session management with stateless HTTP mode
  src/core/main.py
  test_mcp_session_fix.js
Due: validate-model-imports

Remove debug script check_token.py
  check_token.py
Due: validate-model-imports

Security: Remove hardcoded authentication token from test script
  test_mcp_session_fix.js
Due: none

Fix MCP protocol compliance and parameter validation issues (#131)
  src/a2a_server/adcp_a2a_server.py
  src/admin/blueprints/api.py
  src/core/auth_utils.py
  src/core/main.py
  test_mcp_session_fix.js
Due: validate-model-imports

Implement AdCP spec-compliant creative lifecycle endpoints
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
  src/core/schemas.py
Due: validate-column-lengths, validate-model-imports

🚨 CRITICAL FIX: Add missing Creative database model and fix transaction safety
  src/core/database/models.py
  src/core/main.py
Due: validate-column-lengths, validate-model-imports

✅ TESTS: Add comprehensive creative lifecycle test coverage
  tests/integration/test_a2a_skill_invocation.py
  tests/unit/test_adcp_contract.py
Due: validate-model-imports

Add comprehensive integration tests for creative lifecycle endpoints
  tests/e2e/test_creative_lifecycle_end_to_end.py
  tests/integration/test_creative_lifecycle_a2a.py
  tests/integration/test_creative_lifecycle_mcp.py
Due: validate-model-imports

🐛 Fix missing creative lifecycle schema imports in main.py
  src/core/main.py
Due: validate-model-imports

Fix ServerError import in A2A integration tests
  tests/integration/test_creative_lifecycle_a2a.py
Due: validate-model-imports

Fix Tenant model field name in integration tests
  tests/integration/test_creative_lifecycle_a2a.py
  tests/integration/test_creative_lifecycle_mcp.py
Due: validate-model-imports

Fix database model field mismatches in integration tests
  tests/integration/test_creative_lifecycle_a2a.py
  tests/integration/test_creative_lifecycle_mcp.py
Due: validate-model-imports

Fix A2A server import causing database connection at module level
  tests/integration/test_creative_lifecycle_a2a.py
Due: validate-model-imports

Temporarily skip creative lifecycle integration tests in CI
  tests/integration/test_creative_lifecycle_a2a.py
  tests/integration/test_creative_lifecycle_mcp.py
Due: validate-model-imports

🐛 Fix database initialization errors in integration tests
  tests/integration/test_creative_lifecycle_a2a.py
  tests/integration/test_gam_automation_focused.py
  tests/integration/test_gam_lifecycle.py
  tests/integration/test_gam_validation_integration.py
Due: validate-model-imports

Fix creative lifecycle validation and schema compliance
  src/core/main.py
  tests/integration/test_creative_lifecycle_mcp.py
Due: validate-model-imports

Fix critical CI failures across multiple test categories
  .github/workflows/test.yml
  src/core/database/models.py
  tests/e2e/test_a2a_adcp_compliance.py
Due: validate-column-lengths, validate-model-imports

Fix AdCP schema compliance - formats field should be format IDs (strings)
  src/core/schemas.py
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
  tests/e2e/schemas/v1/cache/_schemas_v1_core_product_json.json
Due: validate-column-lengths, validate-model-imports

Fix remaining database foreign key constraint for media_buys table
  src/core/database/models.py
Due: validate-column-lengths, validate-model-imports

Fix GAM admin detection to check nested platform mappings
  src/adapters/google_ad_manager.py
Due: check-api-deprecations, validate-model-imports

Fix E2E test failures by starting servers in CI
  .github/workflows/test.yml
  alembic/versions/001_link_to_initial.py
  alembic/versions/002_add_foundational_formats.py
  alembic/versions/003_add_policy_compliance_fields.py
  alembic/versions/004_add_superadmin_config.py
  alembic/versions/005_move_config_to_columns.py
  alembic/versions/006_add_remaining_config_fields.py
  alembic/versions/007_remove_config_json_column.py
  alembic/versions/008_add_gam_inventory_tables.py
  alembic/versions/009_fix_inventory_type_length.py
  alembic/versions/010_add_sync_tracking.py
  alembic/versions/011_add_superadmin_api_key.py
  alembic/versions/012_add_gam_orders_line_items.py
  alembic/versions/013_principal_advertiser_mapping.py
  alembic/versions/014_add_context_persistence.py
  alembic/versions/015_workflow_improvements.py
  alembic/versions/016_add_json_validation.py
  alembic/versions/017_handle_partial_schemas.py
  alembic/versions/initial_schema.py
  line_item_7047822666_response.json
  tests/conftest.py
  tests/conftest_db.py
  tests/e2e/schemas/compliance_report.json
  tests/integration/test_ai_products.py
  tests/integration/test_dashboard_reliability.py
  tests/smoke/test_database_migrations.py
  tests/unit/test_dashboard_service.py
  tests/unit/test_form_validation.py
  tests/unit/test_gam_validation.py
Due: validate-column-lengths, validate-model-imports

Apply consistent formatting to Alembic migrations and update tooling
  .pre-commit-config.yaml
  alembic/versions/001_link_to_initial.py
  alembic/versions/002_add_foundational_formats.py
  alembic/versions/003_add_policy_compliance_fields.py
  alembic/versions/004_add_superadmin_config.py
  alembic/versions/005_move_config_to_columns.py
  alembic/versions/006_add_remaining_config_fields.py
  alembic/versions/007_remove_config_json_column.py
  alembic/versions/008_add_gam_inventory_tables.py
  alembic/versions/009_fix_inventory_type_length.py
  alembic/versions/010_add_sync_tracking.py
  alembic/versions/011_add_superadmin_api_key.py
  alembic/versions/012_add_gam_orders_line_items.py
  alembic/versions/013_principal_advertiser_mapping.py
  alembic/versions/014_add_context_persistence.py
  alembic/versions/015_workflow_improvements.py
  alembic/versions/016_add_json_validation.py
  alembic/versions/017_handle_partial_schemas.py
  alembic/versions/018_add_missing_updated_at.py
  alembic/versions/020_fix_tasks_schema_properly_fix_tasks_schema_properly.py
  alembic/versions/021_add_adcp_product_fields.py
  alembic/versions/022_add_signals_agent_config.py
  alembic/versions/13a4e417ebb5_add_adcp_v24_fields.py
  alembic/versions/2485bb2ff253_add_strategy_system.py
  alembic/versions/8f8c9aec1458_rename_enable_aee_signals_to_enable_axe_.py
  alembic/versions/e81e275c9b29_fix_price_guidance_json_encoding.py
  alembic/versions/initial_schema.py
  pyproject.toml
Due: validate-column-lengths, validate-model-imports

Implement virtual host routing with simplified manual DNS setup
  FIXES_APPLIED.md
  VIRTUAL_HOST_SETUP.md
  VIRTUAL_HOST_SUMMARY.md
  VIRTUAL_HOST_TEST_REPORT.md
  alembic/versions/4f80e016686e_add_virtual_host_field_to_tenants.py
  config/nginx/nginx.conf
  docker-compose.yml
  fly/nginx.conf
  scripts/setup/setup_conductor_workspace.sh
  src/admin/app.py
  src/admin/blueprints/settings.py
  src/core/config_loader.py
  src/core/database/models.py
  src/core/main.py
  templates/tenant_settings.html
  tests/integration/test_virtual_host_integration.py
  tests/unit/test_virtual_host_admin_ui.py
  tests/unit/test_virtual_host_config_loader.py
  tests/unit/test_virtual_host_edge_cases.py
  tests/unit/test_virtual_host_landing_page.py
Due: validate-column-lengths, validate-model-imports

Path conditions:
  validate-column-lengths: any of: (models|schemas)\.py$
  check-api-deprecations: any of: adapters/.*\.py$
  validate-model-imports: any of: \.py$
