Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

validate-column-lengths:
  name: Validate database column lengths
  entry: python scripts/validate_column_lengths.py
  language: system

check-api-deprecations:
  name: Check for deprecated API usage
  entry: python scripts/check_api_deprecations.py
  language: system

validate-model-imports:
  name: Validate model imports
  entry: python scripts/validate_model_imports.py
  language: system

Fix test_product_validation for property validation
  tests/unit/test_product_validation.py
Due: validate-model-imports

Remove useless skill invocation activity messages and improve error reporting
  src/admin/blueprints/tenants.py
  src/admin/services/business_activity_service.py
Due: validate-model-imports

Make activity feed show meaningful business context instead of generic messages
  src/a2a_server/adcp_a2a_server.py
  src/admin/services/business_activity_service.py
Due: validate-model-imports

Fix E2E test assertion for get_media_buy_delivery response structure
  tests/e2e/test_adcp_reference_implementation.py
Due: validate-model-imports

Fix Alembic migration conflict: merge multiple heads
  alembic/versions/ad50e8fe9840_merge_property_authorization_and_buyer_.py
Due: validate-model-imports

Populate audit logs in workflows page with enriched data
  src/admin/blueprints/workflows.py
Due: validate-model-imports

Fix buyer_ref missing in CreateMediaBuyResponse
  src/core/main.py
Due: validate-model-imports

Add clickable links from activity summaries to related objects and audit logs
  src/admin/services/business_activity_service.py
  templates/tenant_dashboard.html
Due: validate-model-imports

Fix E2E test to use correct budget format per AdCP spec
  tests/e2e/test_adcp_reference_implementation.py
Due: validate-model-imports

Fix E2E test failure: ensure products are created even if tenant exists
  scripts/setup/init_database_ci.py
Due: validate-model-imports

Fix buyer_ref missing in CreateMediaBuyResponse (#361)
  src/core/main.py
Due: validate-model-imports

Make activity feed show meaningful business context with clickable links (#362)
  src/a2a_server/adcp_a2a_server.py
  src/admin/blueprints/tenants.py
  src/admin/blueprints/workflows.py
  src/admin/services/business_activity_service.py
  templates/tenant_dashboard.html
Due: validate-model-imports

Fix E2E test: add required CurrencyLimit when creating tenant
  scripts/setup/init_database_ci.py
Due: validate-model-imports

Merge migration heads and remove completed TODO
  ADMIN_UI_PRICING_TODO.md
  alembic/versions/0937c1edf84c_merge_migration_heads.py
Due: validate-model-imports

Add comprehensive pricing models support (AdCP PR #88)
  ADMIN_UI_PRICING_TODO.md
  CLAUDE.md
  alembic/versions/c3b75d304773_add_pricing_options_support.py
  docker-compose.yml
  product_catalog_providers/database.py
  scripts/validate_schema_database_alignment.py
  src/adapters/base.py
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
  src/admin/blueprints/products.py
  src/core/database/models.py
  src/core/main.py
  src/core/schemas.py
  templates/add_product.html
  templates/add_product_gam.html
  templates/edit_product.html
  tests/e2e/test_gam_pricing_restriction.py
  tests/integration/test_pricing_models_integration.py
  tests/unit/test_pricing_validation.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Restore and reposition Line Item Type section in GAM form
  src/admin/blueprints/products.py
  templates/add_product_gam.html
Due: validate-model-imports

Fix update_media_buy to convert budget float to Budget object
  src/core/main.py
Due: validate-model-imports

Fix E2E test: create PropertyTag for all_inventory
  scripts/setup/init_database_ci.py
Due: validate-model-imports

Fix CI test failures
  tests/e2e/test_gam_pricing_restriction.py
  tests/integration/test_main.py
  tests/integration/test_pricing_models_integration.py
  tests/integration/test_schema_database_mapping.py
Due: validate-model-imports

Fix update_media_buy to extract currency from Budget object
  src/core/main.py
Due: validate-model-imports

Fix critical AdCP spec violation: enforce oneOf XOR constraint for properties/property_tags
  src/core/schemas.py
  tests/unit/test_adcp_contract.py
Due: validate-column-lengths, validate-model-imports

Fix CI test failures: update test fixtures for new tenant/currency schema
  tests/e2e/test_gam_pricing_restriction.py
  tests/integration/test_pricing_models_integration.py
Due: validate-model-imports

Fix update_media_buy to access buyer_ref attribute instead of .get() method
  src/core/main.py
Due: validate-model-imports

Address expert review recommendations: improve code organization and documentation
  CLAUDE.md
  scripts/setup/init_database_ci.py
  static/js/tenant_settings.js
  templates/tenant_settings.html
Due: validate-model-imports

Add property_tags validation to ensure referential integrity
  src/admin/blueprints/api.py
  src/admin/blueprints/products.py
Due: validate-model-imports

Fix test fixtures to use integration_db fixture
  tests/e2e/test_gam_pricing_restriction.py
  tests/integration/test_pricing_models_integration.py
Due: validate-model-imports

Remove obsolete backwards compatibility code for UpdateMediaBuyRequest
  src/core/main.py
Due: validate-model-imports

Move GAM pricing restriction test to integration tests
  tests/integration/test_gam_pricing_restriction.py
Due: validate-model-imports

Fix update_media_buy to update CreateMediaBuyRequest in place, not replace it
  src/core/main.py
Due: validate-model-imports

Add comprehensive pricing models support (AdCP PR #88) (#360)
  CLAUDE.md
  alembic/versions/0937c1edf84c_merge_migration_heads.py
  alembic/versions/c3b75d304773_add_pricing_options_support.py
  docker-compose.yml
  product_catalog_providers/database.py
  scripts/validate_schema_database_alignment.py
  src/adapters/base.py
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
  src/admin/blueprints/products.py
  src/core/database/models.py
  src/core/main.py
  src/core/schemas.py
  templates/add_product.html
  templates/add_product_gam.html
  templates/edit_product.html
  tests/integration/test_gam_pricing_restriction.py
  tests/integration/test_main.py
  tests/integration/test_pricing_models_integration.py
  tests/integration/test_schema_database_mapping.py
  tests/unit/test_pricing_validation.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Remove unnecessary documentation files
  docs/postmortems/2025-01-12-sync-creatives-parameter-mismatch.md
  docs/production-tenant-status.md
  docs/setup-checklist-system.md
  docs/setup-checklist-ux-flow.md
Due: none

feat: Improve format discovery UX with smart matching logic
  .github/ISSUE_NATIVE_SUPPORT.md
  alembic/versions/33d3c9c61315_add_creative_agents_table.py
  docker-compose.yml
  docs/format-discovery-ux-improvements.md
  docs/format-size-mapping-proposal.md
  src/admin/blueprints/format_search.py
  src/core/creative_agent_registry.py
  src/core/database/models.py
  src/core/schemas.py
  templates/add_product.html
  templates/add_product_gam.html
  templates/edit_product.html
Due: validate-column-lengths, validate-model-imports

Add detailed logging to init_database_ci.py for debugging E2E test failures
  scripts/setup/init_database_ci.py
Due: validate-model-imports

Fix UpdateMediaBuyResponse to use AdCP-compliant status values and required fields
  src/core/main.py
Due: validate-model-imports

Fix UniqueViolation error in init_database_ci.py when reusing existing data
  scripts/setup/init_database_ci.py
Due: validate-model-imports

Add comprehensive setup checklist system for tenant onboarding (#350)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/check_import_usage.py
  .pre-commit-hooks/check_parameter_alignment.py
  scripts/README.md
  scripts/dev/check_ci.py
  scripts/setup/init_database_ci.py
  src/admin/blueprints/tenants.py
  src/core/database/database.py
  src/core/main.py
  src/services/setup_checklist_service.py
  templates/components/setup_checklist_widget.html
  templates/setup_checklist.html
  templates/tenant_dashboard.html
  tests/e2e/conftest.py
  tests/e2e/test_adcp_reference_implementation.py
  tests/unit/test_setup_checklist_service.py
Due: validate-model-imports

Add critical validation checks to init_database_ci.py for better CI debugging
  scripts/setup/init_database_ci.py
Due: validate-model-imports

Make entrypoint fail on init_database_ci.py failure for better E2E debugging
  scripts/deploy/entrypoint.sh
Due: none

Add AdCP v1.8.0 brand_manifest support with backward compatibility
  .pre-commit-config.yaml
  scripts/check_mypy_diff.py
  src/core/main.py
  src/core/schemas.py
  src/core/tools.py
  tests/unit/test_adcp_contract.py
Due: validate-column-lengths, validate-model-imports

chore: Remove local issue file (already created as GitHub issue #363)
  .github/ISSUE_NATIVE_SUPPORT.md
Due: none

Path conditions:
  validate-column-lengths: any of: (models|schemas)\.py$
  check-api-deprecations: any of: adapters/.*\.py$
  validate-model-imports: any of: \.py$
