Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

fix: one push_notification_config step, and the copy that sent no config
  tests/bdd/steps/domain/uc006_sync_creatives.py
  tests/bdd/steps/domain/uc011_accounts.py
  tests/bdd/steps/generic/given_config.py
Due: detect-test-antipatterns, mypy-no-regression

refactor: one identity implementation, reached by every step that creates one
  tests/bdd/steps/domain/uc002_create_media_buy.py
  tests/bdd/steps/domain/uc004_delivery.py
  tests/bdd/steps/domain/uc006_storyboard_creative_sync.py
  tests/bdd/steps/domain/uc006_sync_creatives.py
  tests/bdd/steps/domain/uc011_accounts.py
  tests/bdd/steps/generic/_auth.py
  tests/bdd/steps/generic/given_auth.py
Due: detect-test-antipatterns, mypy-no-regression

refactor: one datatable parser, one header dialect, one bool dialect
  tests/bdd/steps/domain/uc003_update_media_buy.py
  tests/bdd/steps/domain/uc011_accounts.py
  tests/bdd/steps/domain/uc026_package_media_buy.py
  tests/bdd/steps/generic/_table.py
  tests/bdd/steps/generic/given_config.py
  tests/bdd/steps/generic/then_payload.py
Due: detect-test-antipatterns, mypy-no-regression

refactor: one authentication step, in the generic vocabulary
  tests/bdd/steps/domain/uc011_accounts.py
  tests/bdd/steps/generic/_auth.py
  tests/bdd/steps/generic/given_auth.py
Due: detect-test-antipatterns, mypy-no-regression

fix: reporting_frequency is spelled the way the schema spells it
  tests/bdd/steps/generic/given_media_buy.py
  tests/integration/test_delivery_webhooks.py
  tests/integration/test_delivery_webhooks_integration.py
  tests/integration/test_webhook_carrier_is_a_gated_value.py
Due: detect-test-antipatterns, mypy-no-regression

feat: three webhook-config factories, one per pinned schema, bound to the SDK class
  tests/factories/webhook.py
Due: detect-test-antipatterns, mypy-no-regression

test: one conformant webhook document, plus three named perturbations of it
  tests/integration/test_webhook_carrier_is_a_gated_value.py
Due: detect-test-antipatterns, mypy-no-regression

docs: the negative path for webhook configs, with the trap named
  tests/factories/webhook.py
Due: detect-test-antipatterns, mypy-no-regression

refactor: every webhook config is built by the factory for its schema
  tests/bdd/steps/domain/egress_ssrf.py
  tests/bdd/steps/domain/uc004_delivery.py
  tests/bdd/steps/generic/given_config.py
  tests/bdd/steps/generic/given_media_buy.py
  tests/e2e/adcp_request_builder.py
  tests/e2e/test_adcp_reference_implementation.py
  tests/harness/dispatchers.py
  tests/harness/webhook_registration.py
  tests/integration/test_webhook_registration_reaches_delivery_signed.py
  tests/unit/test_a2a_create_media_buy_push_config_validation.py
  tests/unit/test_creative_coverage_gaps.py
  tests/unit/test_protocol_envelope.py
  tests/unit/test_protocol_webhook_ssrf.py
  tests/unit/test_rest_api_endpoints.py
Due: detect-test-antipatterns, mypy-no-regression

test: delete a tautology, and the cross-product that ran it six times
  tests/integration/test_prkv8_untyped_exception_wire_leak.py
  tests/integration/test_untyped_tool_crash_wire.py
  tests/unit/test_error_boundary_translation.py
Due: detect-test-antipatterns, mypy-no-regression

fix: follow main's task-DTO changes through the request factories
  tests/factories/request.py
Due: detect-test-antipatterns, mypy-no-regression

test: delete the hand-rolled e2e lifecycle tests; BDD grades this ground live
  tests/e2e/test_adcp_full_lifecycle.py
  tests/e2e/test_adcp_reference_implementation.py
  tests/e2e/test_creative_assignment_e2e.py
Due: detect-test-antipatterns, mypy-no-regression

test: grade the wire-level idempotency hash on MCP only, and say why
  tests/integration/test_a2a_skill_invocation.py
  tests/integration/test_idempotency_wire_matrix.py
Due: detect-test-antipatterns, mypy-no-regression

test: xfail the cross-transport replay instead of deleting it; drop the A2A conformance duplicate
  tests/e2e/test_a2a_adcp_compliance.py
  tests/integration/test_idempotency_wire_matrix.py
Due: detect-test-antipatterns, mypy-no-regression

test: allowlist complete_task's missing schema, as a decision with an owner
  tests/e2e/test_a2a_protocol_compliance.py
Due: detect-test-antipatterns, mypy-no-regression

docs: cut the complete_task allowlist comment to three lines
  tests/e2e/test_a2a_protocol_compliance.py
Due: detect-test-antipatterns, mypy-no-regression

docs: reference GitHub issues in code, not beads ids
  src/core/schemas/creative.py
  tests/e2e/test_a2a_protocol_compliance.py
  tests/integration/test_idempotency_wire_matrix.py
  tests/unit/test_products_transport_wrappers.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

refactor: one refusal replaces 262 lines of schema-conformance tests
  src/core/main.py
  tests/factories/request.py
  tests/unit/test_request_factories_conform_to_the_pin.py
  tests/unit/test_request_factory_perturbation.py
  tests/unit/test_request_factory_schema_conformance.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

fix: drop an import my conflict resolution restored and nothing uses
  tests/unit/test_creative_coverage_gaps.py
Due: detect-test-antipatterns, mypy-no-regression

test: delete the perturbation suite; it grades dict semantics, not the system
  src/core/main.py
  tests/factories/__init__.py
  tests/factories/request.py
  tests/unit/test_request_factory_perturbation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

chore: lower the duplication baseline to match actual
  .duplication-baseline
Due: none

refactor: point the DB-backed suites and the docs at the boundary
  .claude/rules/patterns/mcp-patterns.md
  CLAUDE.md
  docs/design/one-tool-registry.md
  docs/development/structural-guards.md
  tests/bdd/conftest.py
  tests/bdd/steps/domain/egress_ssrf.py
  tests/harness/_base.py
  tests/harness/authorized_properties.py
  tests/harness/creative_sync.py
  tests/harness/dispatchers.py
  tests/harness/media_buy_create.py
  tests/harness/product.py
  tests/harness/transport.py
  tests/integration/test_account_rest_routes.py
  tests/integration/test_ambient_identity_bleed.py
  tests/integration/test_creative_lifecycle_mcp.py
  tests/integration/test_creative_v3.py
  tests/integration/test_idempotency_race.py
  tests/integration/test_media_buy_v3.py
  tests/integration/test_nested_creative_sync_borrowed_key.py
  tests/integration/test_product_v3.py
  tests/integration/test_sync_creatives_idempotency.py
  tests/integration/test_wire_omission_matrix.py
  tests/unit/test_architecture_boundary_completeness.py
  tests/unit/test_architecture_no_handrolled_identity_guard.py
  tests/unit/test_rest_api_endpoints.py
Due: detect-test-antipatterns, mypy-no-regression

fix: the boundary was caching errors, and had lost the durable conflict signal
  src/core/database/repositories/media_buy.py
  src/core/idempotency_replay.py
  src/core/tools/_boundary.py
  src/core/tools/media_buy_create.py
  tests/helpers/idempotency_seeds.py
  tests/integration/test_a2a_response_compliance.py
  tests/integration/test_a2a_skill_invocation.py
  tests/integration/test_error_paths.py
  tests/integration/test_idempotency_replay.py
  tests/integration/test_idempotency_wire_matrix.py
  tests/integration/test_media_buy_revision_producer_agreement.py
  tests/integration/test_nested_creative_sync_borrowed_key.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

test: grade the boundary's four idempotency decisions where they are made
  tests/unit/test_boundary_idempotency_rules.py
Due: detect-test-antipatterns, mypy-no-regression

docs: record step 9 and what it did to the guards
  docs/design/one-tool-registry.md
Due: none

fix: inject_untyped_exception patched a name nothing calls any more
  tests/harness/_base.py
  tests/harness/product.py
  tests/integration/test_creative_lifecycle_mcp.py
  tests/integration/test_media_buy_v3.py
Due: detect-test-antipatterns, mypy-no-regression

docs: the spec-prose path in the grounding gate 404s
  CLAUDE.md
Due: none

fix: UC-019's account-filter scenario named an account that does not exist
  tests/bdd/features/BR-UC-019-query-media-buys.feature
  tests/bdd/steps/domain/uc019_query_media_buys.py
Due: detect-test-antipatterns, mypy-no-regression

feat: grade a BDD response against its tool's spec, naming the tool not the file
  tests/bdd/steps/generic/then_schema.py
  tests/helpers/adcp_pinned_schema.py
  tests/helpers/pinned_schema.py
  tests/helpers/response_schemas.py
Due: detect-test-antipatterns, mypy-no-regression

docs: the never-loaded features are unbuilt protocol surface, and the pilot is BR-UC-011
  docs/design/bdd-harness-architecture.md
Due: none

test: BR-UC-011 grades sync_accounts against the pinned schema, not against 'is a list'
  tests/bdd/features/BR-UC-011-manage-accounts.feature
Due: none

refactor: delete the non-spec account_id; guard the class instead of the instance
  docs/design/one-tool-registry-remaining.md
  src/core/schemas/_base.py
  src/core/tools/_boundary.py
  src/core/tools/media_buy_list.py
  tests/unit/test_architecture_dto_adds_no_field.py
  tests/unit/test_architecture_resolved_identity_inline_cap.py
  tests/unit/test_boundary_idempotency_rules.py
  tests/unit/test_get_media_buys_architecture.py
  tests/unit/test_media_buy.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

docs: correct R3 — replayed is stamped on the way out, not declared on the model
  docs/design/one-tool-registry-remaining.md
Due: none

docs: R3 is the whole protocol envelope, not one field
  docs/design/one-tool-registry-remaining.md
Due: none

docs: the response half of R1 — one body, three wrappers
  docs/design/one-tool-registry-remaining.md
Due: none

test: kill the schema-file assertion; scenarios name the tool, and unbuilt tools say so
  tests/bdd/features/BR-UC-004-deliver-media-buy-metrics.feature
  tests/bdd/features/BR-UC-005-discover-creative-formats.feature
  tests/bdd/features/BR-UC-006-sync-creatives.feature
  tests/bdd/features/BR-UC-008-manage-audience-signals.feature
  tests/bdd/features/BR-UC-011-manage-accounts.feature
  tests/bdd/features/BR-UC-014-sponsored-intelligence-session.feature
  tests/bdd/features/BR-UC-018-list-creatives.feature
  tests/bdd/features/BR-UC-019-query-media-buys.feature
  tests/bdd/features/BR-UC-020-build-creative.feature
  tests/bdd/features/BR-UC-021-preview-creative.feature
  tests/bdd/steps/generic/then_schema.py
  tests/helpers/response_schemas.py
Due: detect-test-antipatterns, mypy-no-regression

fix: every response IS a ProtocolEnvelope; delete the hand-rolled replay marker
  src/core/schemas/_base.py
  src/core/schemas/account.py
  src/core/schemas/creative.py
  src/core/tools/_boundary.py
  tests/unit/test_architecture_dto_adds_no_field.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

test: every scenario carries a response compliance check
  tests/bdd/features/BR-UC-002-create-media-buy.feature
  tests/bdd/features/BR-UC-GET-PRODUCTS-inventory-profile.feature
  tests/bdd/steps/generic/then_schema.py
  tests/helpers/response_schemas.py
Due: detect-test-antipatterns, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
