Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Check for removed columns still referenced in code
      - id: check-schema-references
        name: Check schema references
        entry: python scripts/check_schema_references.py
        language: system
        pass_filenames: false
        always_run: true
        
      # Validate model column lengths
      - id: validate-column-lengths
        name: Validate database column lengths
        entry: python scripts/validate_column_lengths.py
        language: system
        files: '(models|schemas)\.py$'
        
      # Check for tenant.config references
      - id: no-tenant-config
        name: No tenant.config references
        entry: sh -c 'if grep -r "tenant\.config\|tenant\[.config.\]" --include="*.py" . | grep -v "test_migration\|postmortem\|pre-commit"; then echo "Found tenant.config references!"; exit 1; fi'
        language: system
        pass_filenames: false
        
      # Validate migrations can run
      - id: test-migrations
        name: Test database migrations
        entry: sh -c 'cp adcp_local.db .test.db && DATABASE_URL=sqlite:///.test.db python migrate.py && rm .test.db'
        language: system
        pass_filenames: false
        stages: [commit]
        
      # Check for API deprecations
      - id: check-api-deprecations
        name: Check for deprecated API usage
        entry: python scripts/check_api_deprecations.py
        language: system
        files: 'adapters/.*\.py$'
        
      # Validate Pydantic vs SQLAlchemy imports
      - id: validate-model-imports
        name: Validate model imports
        entry: python scripts/validate_model_imports.py
        language: system
        files: '\.py$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: check-ast
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.272
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Fix business rules endpoint 404 in production (#331)
  templates/creative_formats.html
  templates/creative_review.html
  templates/edit_creative_format.html
  templates/gam_line_item_viewer.html
  templates/mcp_test.html
  templates/orders_browser.html
  templates/product_inventory_config.html
  templates/products.html
  templates/targeting_browser.html
  templates/tenant_dashboard.html
  templates/tenant_settings.html
Due: none

Add merge migration to resolve multiple Alembic heads
  alembic/versions/1ce85bf58867_merge_migration_heads.py
Due: validate-model-imports

Add systematic solution for Alembic multiple migration heads
  .pre-commit-config.yaml
  ALEMBIC_MULTIPLE_HEADS_SOLUTION.md
  MIGRATION_HEADS_IMPLEMENTATION.md
  docs/database-migrations-best-practices.md
  scripts/ops/auto_merge_migrations.sh
  scripts/ops/check_migration_heads.py
  scripts/setup/install_git_hooks.sh
Due: validate-model-imports

Consolidate git hooks setup into existing setup_hooks.sh
  ALEMBIC_MULTIPLE_HEADS_SOLUTION.md
  MIGRATION_HEADS_IMPLEMENTATION.md
  docs/database-migrations-best-practices.md
  scripts/setup/install_git_hooks.sh
  scripts/setup/setup_hooks.sh
Due: none

Fix NameError: Import Error class from schemas
  src/core/main.py
Due: validate-model-imports

Add comprehensive error path testing and import validation
  .pre-commit-config.yaml
  .pre-commit-hooks/check_import_usage.py
  tests/integration/test_error_paths.py
Due: validate-model-imports

Fix NameError: Import Error class from schemas (#332)
  .pre-commit-config.yaml
  .pre-commit-hooks/check_import_usage.py
  src/core/main.py
  tests/integration/test_error_paths.py
Due: validate-model-imports

Add workflow_dispatch to allow manual CI triggers
  .github/workflows/test.yml
Due: none

Remove duplicate migration causing CI failures
  alembic/versions/1ce85bf58867_merge_migration_heads.py
  alembic/versions/8cce9697e412_add_creative_review_fields_to_tenants_.py
Due: validate-model-imports

Fix E2E test failures
  tests/e2e/test_adcp_reference_implementation.py
  tests/e2e/test_creative_lifecycle_end_to_end.py
Due: validate-model-imports

Remove temporary documentation files
  ALEMBIC_MULTIPLE_HEADS_SOLUTION.md
  MIGRATION_HEADS_IMPLEMENTATION.md
Due: none

Fix E2E test for async media buy creation with webhooks
  tests/e2e/test_adcp_reference_implementation.py
Due: validate-model-imports

Fix GetProductsResponse to return human-readable content
  src/core/schemas.py
  tests/unit/test_get_products_response_str.py
Due: validate-column-lengths, validate-model-imports

Fix MCP tools to accept agentConfig parameter
  src/core/main.py
  tools/validate_mcp_schemas.py
Due: validate-column-lengths, validate-model-imports

Fix e2e tests to properly fail CI when they have errors (#323)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  docker-compose.yml
  docs/database-migrations-best-practices.md
  run_all_tests.sh
  scripts/audit_e2e_tests.py
  scripts/ops/auto_merge_migrations.sh
  scripts/ops/check_migration_heads.py
  scripts/setup/init_database.py
  scripts/setup/setup_conductor_workspace.sh
  scripts/setup/setup_hooks.sh
  src/admin/static/slack-webhook-setup.png
  src/core/config.py
  src/core/database/database.py
  src/core/main.py
  src/core/schemas.py
  src/services/policy_check_service.py
  tests/conftest_db.py
  tests/e2e/adcp_request_builder.py
  tests/e2e/conftest.py
  tests/e2e/conftest_contract_validation.py
  tests/e2e/schemas/v1/_schemas_v1_enums_task-status_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json
  tests/e2e/test_adcp_full_lifecycle.py
  tests/e2e/test_adcp_reference_implementation.py
  tests/e2e/test_comprehensive_adcp_compliance.py
  tests/e2e/test_creative_lifecycle_end_to_end.py
  tests/e2e/test_mock_server_testing_backend.py
  tests/e2e/test_testing_hooks.py
  tests/unit/test_mcp_schema_validator.py
Due: validate-column-lengths, validate-model-imports

feat: Add AI-powered test orchestration for mock adapter
  docs/MOCK_ADAPTER_AI_TEST_ORCHESTRATION.md
  src/adapters/ai_test_orchestrator.py
  src/adapters/mock_ad_server.py
  tests/integration/test_mock_ai_per_creative.py
  tests/unit/test_ai_orchestrator.py
Due: check-api-deprecations, validate-model-imports

Add human-readable __str__() to all MCP response classes
  src/core/schemas.py
  tests/unit/test_all_response_str_methods.py
Due: validate-column-lengths, validate-model-imports

fix: Skip AI integration tests when GEMINI_API_KEY not available
  tests/unit/test_ai_orchestrator.py
Due: validate-model-imports

fix: Add runtime skips for integration tests requiring GEMINI_API_KEY
  tests/integration/test_mock_ai_per_creative.py
Due: validate-model-imports

docs: Add comprehensive simulation control capabilities section
  docs/MOCK_ADAPTER_AI_TEST_ORCHESTRATION.md
Due: none

Fix CI test failures by detecting mock API key
  tests/integration/test_mock_ai_per_creative.py
  tests/unit/test_ai_orchestrator.py
Due: validate-model-imports

Fix list_creatives response schema to match AdCP spec
  src/core/main.py
Due: validate-model-imports

Fix integration tests and document mocking policy
  docs/testing/mocking-policy.md
  tests/integration/test_creative_lifecycle_mcp.py
Due: validate-model-imports

Fix E2E test failure: handle duplicate tenant creation race condition
  scripts/setup/init_database.py
  src/core/database/database.py
Due: validate-model-imports

Fix list_creatives response schema to match AdCP spec (#335)
  docs/testing/mocking-policy.md
  scripts/setup/init_database.py
  src/core/database/database.py
  src/core/main.py
  tests/integration/test_creative_lifecycle_mcp.py
Due: validate-model-imports

Fix integration test fixture dependency
  tests/integration/test_mock_ai_per_creative.py
Due: validate-model-imports

Fix MCP content field to return human-readable messages (#336)
  src/core/schemas.py
  tests/unit/test_all_response_str_methods.py
  tests/unit/test_get_products_response_str.py
Due: validate-column-lengths, validate-model-imports

AI-Powered Test Orchestration for Mock Adapter (#334)
  docs/MOCK_ADAPTER_AI_TEST_ORCHESTRATION.md
  src/adapters/ai_test_orchestrator.py
  src/adapters/mock_ad_server.py
  tests/integration/test_mock_ai_per_creative.py
  tests/unit/test_ai_orchestrator.py
Due: check-api-deprecations, validate-model-imports

Fix A2A response message handling for all response types
  src/a2a_server/adcp_a2a_server.py
Due: validate-model-imports

Add comprehensive A2A response validation to prevent AttributeError bugs
  .pre-commit-config.yaml
  scripts/hooks/check_response_attribute_access.py
  tests/helpers/a2a_response_validator.py
  tests/integration/test_a2a_response_message_fields.py
Due: validate-model-imports

Fix A2A webhook response AttributeError (#337)
  .pre-commit-config.yaml
  scripts/hooks/check_response_attribute_access.py
  src/a2a_server/adcp_a2a_server.py
  tests/helpers/a2a_response_validator.py
  tests/integration/test_a2a_response_message_fields.py
Due: validate-model-imports

feat: add 'asap' union type for start_time to support immediate campaign starts
  src/core/main.py
  src/core/schemas.py
  tests/unit/test_adcp_contract.py
Due: validate-column-lengths, validate-model-imports

Fix remaining response.message AttributeError in get_creatives skill
  src/a2a_server/adcp_a2a_server.py
Due: validate-model-imports

feat: add 'asap' union type for start_time to support immediate campaign starts (#338)
  src/core/main.py
  src/core/schemas.py
  tests/unit/test_adcp_contract.py
Due: validate-column-lengths, validate-model-imports

Add regression test for customer webhook AttributeError
  tests/unit/test_customer_webhook_regression.py
Due: validate-model-imports

Fix remaining response.message AttributeError in get_creatives skill (#339)
  src/a2a_server/adcp_a2a_server.py
  tests/unit/test_customer_webhook_regression.py
Due: validate-model-imports

Fix three critical admin UI errors
  src/admin/blueprints/creatives.py
  src/admin/blueprints/tenants.py
  templates/add_product_gam.html
  templates/media_buys_list.html
Due: validate-model-imports

Fix creative approval: add Content-Type headers in frontend instead of backend workaround
  src/admin/blueprints/creatives.py
  templates/creative_management.html
Due: validate-model-imports

Fix three critical admin UI errors (#340)
  src/admin/blueprints/tenants.py
  templates/add_product_gam.html
  templates/creative_management.html
  templates/media_buys_list.html
Due: validate-model-imports
