Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$

Update AdCP schemas and fix test
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_media-buy_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_package-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-request_json.json
  tests/unit/test_adcp_contract.py
Due: detect-test-antipatterns

Remove legacy product_ids fallback tests
  tests/unit/test_package_product_extraction.py
Due: detect-test-antipatterns

Fix CI test failures after deprecated field removal
  tests/integration/test_a2a_response_message_fields.py
  tests/integration/test_mcp_contract_validation.py
  tests/integration/test_signals_discovery_integration.py
  tests/unit/test_raw_function_parameter_validation.py
Due: detect-test-antipatterns

Fix check-import-usage false positives + update schemas
  .pre-commit-hooks/check_import_usage.py
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_package-request_json.json
Due: none

Fix CI test failures - part 2
  src/core/schema_adapters.py
  tests/e2e/test_adcp_reference_implementation.py
  tests/unit/test_raw_function_parameter_validation.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Fix validation mode test to handle BrandManifest object
  tests/unit/test_schema_validation_modes.py
Due: detect-test-antipatterns

Remove dead code flagged by import checker
  src/a2a_server/adcp_a2a_server.py
  src/admin/blueprints/creatives.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Fix remaining CI test failures
  tests/unit/test_schema_adapters.py
  tests/unit/test_schema_generated_compatibility.py
Due: detect-test-antipatterns

Remove dead CreativeFormat routes (294 lines of dead code)
  src/admin/blueprints/creatives.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Remove all promoted_offering variable references from main.py
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix E2E test: add required brand_manifest to get-products request validation
  tests/e2e/test_schema_validation_standalone.py
Due: detect-test-antipatterns

Fix integration tests: remove deprecated Product fields and fix async/await
  tests/integration/conftest.py
  tests/integration/test_a2a_error_responses.py
  tests/integration/test_admin_ui_data_validation.py
  tests/integration/test_ai_provider_bug.py
  tests/integration/test_create_media_buy_roundtrip.py
  tests/integration/test_creative_lifecycle_mcp.py
  tests/integration/test_delivery_simulator_restart.py
  tests/integration/test_error_paths.py
  tests/integration/test_gam_automation_focused.py
  tests/integration/test_gam_pricing_restriction.py
  tests/integration/test_get_products_database_integration.py
  tests/integration/test_get_products_filters.py
  tests/integration/test_mcp_endpoints_comprehensive.py
  tests/integration/test_mcp_tool_roundtrip_validation.py
  tests/integration/test_mcp_tools_audit.py
  tests/integration/test_minimum_spend_validation.py
  tests/integration/test_mock_ai_per_creative.py
  tests/integration/test_pricing_models_integration.py
  tests/integration/test_product_creation.py
  tests/integration/test_product_deletion.py
  tests/integration/test_schema_database_mapping.py
  tests/integration/test_schema_roundtrip_patterns.py
  tests/integration/test_session_json_validation.py
  tests/integration/test_signals_agent_workflow.py
Due: detect-test-antipatterns

Fix E2E test for updated get-products schema
  tests/e2e/test_schema_validation_standalone.py
Due: detect-test-antipatterns

Fix E2E test: use 'creatives' field instead of 'results'
  tests/e2e/test_adcp_reference_implementation.py
Due: detect-test-antipatterns

Add VCPM pricing option schemas from merge
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_vcpm-auction-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_vcpm-fixed-option_json.json
Due: none

Add VCPM pricing model and comprehensive GAM pricing strategy (#403)
  CLAUDE.md
  src/adapters/gam/managers/orders.py
  src/adapters/gam/pricing_compatibility.py
  src/adapters/gam/utils/constants.py
  src/adapters/gam/utils/health_check.py
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
  src/admin/blueprints/gam.py
  src/admin/blueprints/inventory.py
  src/admin/blueprints/operations.py
  src/admin/blueprints/products.py
  src/admin/blueprints/settings.py
  src/admin/blueprints/tenants.py
  src/core/schemas.py
  static/js/tenant_settings.js
  templates/add_product.html
  templates/add_product_gam.html
  templates/edit_product.html
  templates/products.html
  templates/tenant_settings.html
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_package-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_vcpm-auction-option_json.json
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_vcpm-fixed-option_json.json
  tests/e2e/test_schema_validation_standalone.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_setup_checklist_service.py
  tests/unit/test_gam_pricing_compatibility.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Speed up pre-commit hooks: 2m14s → 17s (7.8x faster)
  .pre-commit-config.yaml
  scripts/check_mypy_no_regression.py
Due: none

Fix integration test failures: Part 1
  tests/integration/test_a2a_error_responses.py
  tests/integration/test_dashboard_integration.py
  tests/integration/test_product_deletion.py
Due: detect-test-antipatterns

Fix MediaPackage validation error in test_gam_automation_focused.py
  tests/integration/test_gam_automation_focused.py
Due: detect-test-antipatterns

Add generative creative support with Gemini API integration
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix schema validation errors: Remove protocol fields from domain response models
  tests/integration/test_create_media_buy_roundtrip.py
  tests/integration/test_create_media_buy_v24.py
  tests/integration/test_creative_lifecycle_mcp.py
Due: detect-test-antipatterns

Fix SignalPricing validation error: Add required cpm field
  tests/integration/test_schema_roundtrip_patterns.py
Due: detect-test-antipatterns

Add comprehensive integration tests for generative creative support
  tests/integration/test_generative_creatives.py
Due: detect-test-antipatterns

Fix test_create_media_buy_v24.py: Add async/await to test methods
  tests/integration/test_create_media_buy_v24.py
Due: detect-test-antipatterns

Fix test_creative_lifecycle_mcp.py: Add buyer_ref and fix assertions
  tests/integration/test_creative_lifecycle_mcp.py
Due: detect-test-antipatterns

Fix ListCreativesResponse: Remove message field from schema instantiation
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix A2A sync_creatives: Remove non-existent attribute access
  src/a2a_server/adcp_a2a_server.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Fix A2A ListCreativesResponse wrapper and async test
  src/a2a_server/adcp_a2a_server.py
  tests/integration/test_creative_lifecycle_mcp.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Add generative creative support with Gemini API integration (#428)
  src/core/main.py
  tests/integration/test_generative_creatives.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix SyncCreativesResponse test assertions: remove .summary attribute access
  tests/integration/test_creative_lifecycle_mcp.py
Due: detect-test-antipatterns

Fix GetSignalsResponse and ListAuthorizedPropertiesResponse protocol field issues
  src/core/main.py
  src/core/tools.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix test_get_products_database_integration.py: remove is_fixed_price and add property_tags
  tests/integration/test_get_products_database_integration.py
Due: detect-test-antipatterns

Fix test fixture constraint violations
  tests/conftest_db.py
  tests/fixtures/builders.py
  tests/integration/conftest.py
  tests/integration/test_a2a_error_responses.py
  tests/integration/test_admin_ui_pages.py
  tests/integration/test_create_media_buy_roundtrip.py
  tests/integration/test_create_media_buy_v24.py
  tests/integration/test_creative_lifecycle_mcp.py
  tests/integration/test_delivery_simulator_restart.py
  tests/integration/test_error_paths.py
  tests/integration/test_gam_pricing_restriction.py
  tests/integration/test_get_products_database_integration.py
  tests/integration/test_get_products_filters.py
  tests/integration/test_media_buy_readiness.py
  tests/integration/test_minimum_spend_validation.py
  tests/integration/test_pricing_models_integration.py
  tests/integration/test_product_deletion.py
  tests/integration/test_self_service_signup.py
  tests/integration/test_setup_checklist_service.py
  tests/integration/test_tenant_dashboard.py
  tests/integration/test_update_media_buy_persistence.py
  tests/integration/test_workflow_lifecycle.py
  tests/unit/test_creative_review_model.py
Due: detect-test-antipatterns

Fix CreateMediaBuyRequest validation errors in integration tests
  tests/integration/test_gam_pricing_restriction.py
  tests/integration/test_minimum_spend_validation.py
Due: detect-test-antipatterns

CRITICAL FIX: Enable requires_db tests in CI mode
  run_all_tests.sh
Due: none

Fix remaining is_active usage in test_a2a_error_responses.py
  tests/integration/test_a2a_error_responses.py
Due: detect-test-antipatterns

Fix Product constraint violations in test_ai_provider_bug and test_mcp_tools_audit
  tests/integration/test_ai_provider_bug.py
  tests/integration/test_mcp_tools_audit.py
Due: detect-test-antipatterns
