Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

template-url-validation:
  name: Validate template url_for calls
  entry: uv run pytest tests/integration/test_template_url_validation.py::TestTemplateUrlValidation::test_all_template_url_for_calls_resolve -q
  language: system
  pass_filenames: false

fix: media buys & creatives
  alembic/versions/e38f2f6f395a_add_mock_manual_approval_required.py
  scripts/test-sales-agent-local-a2a.sh
  scripts/test-sales-agent-local-mcp.sh
  src/admin/blueprints/creatives.py
  src/admin/blueprints/operations.py
  src/admin/blueprints/settings.py
  src/admin/services/media_buy_readiness_service.py
  src/core/database/models.py
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, schema-database-alignment, mcp-schema-alignment

fix scripts
  scripts/test-sales-agent-local-a2a.sh
  scripts/test-sales-agent-local-mcp.sh
Due: none

small change to preview
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

fixes: overall fixes
  run_all_tests.sh
  scripts/test-sales-agent-local-a2a.sh
  scripts/test-sales-agent-local-mcp.sh
  src/a2a_server/adcp_a2a_server.py
  src/adapters/mock_ad_server.py
  src/admin/blueprints/operations.py
  src/admin/services/media_buy_readiness_service.py
  src/core/auth_utils.py
  src/core/context_manager.py
  src/core/main.py
  src/core/schemas.py
  static/js/tenant_settings.js
  templates/creative_management.html
  templates/media_buy_detail.html
  tests/unit/test_ai_orchestrator.py
  tests/unit/test_tenant_isolation_fix.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

fix: approval flow
  src/admin/blueprints/operations.py
  src/admin/services/media_buy_readiness_service.py
  templates/media_buy_detail.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Restore detailed phase-by-phase progress tracking to inventory sync
  src/admin/blueprints/inventory.py
  src/services/background_sync_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Consolidate inventory sync endpoints and restore detailed progress tracking (#603)
  src/admin/blueprints/gam.py
  src/admin/blueprints/inventory.py
  src/services/background_sync_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

FIXING lint + tests + comments
  scripts/test-sales-agent-local-a2a.sh
  scripts/test-sales-agent-local-mcp.sh
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
  src/core/tools.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mcp-schema-alignment

Fix A2A responses to return spec-compliant data matching MCP
  src/a2a_server/adcp_a2a_server.py
  tests/integration/test_a2a_response_compliance.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

fixing tests
  run_all_tests.sh
  tests/integration/test_get_products_format_id_filter.py
Due: detect-test-antipatterns

Fix migration: Update ALL adapter_config rows, not just mock
  alembic/versions/e38f2f6f395a_add_mock_manual_approval_required.py
Due: none

Fix A2A responses to return spec-compliant data matching MCP (#604)
  src/a2a_server/adcp_a2a_server.py
  tests/integration/test_a2a_response_compliance.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Fix budget field to be number per AdCP v2.2.0 spec
  src/core/main.py
  src/core/schemas.py
  tests/integration/test_mcp_contract_validation.py
  tests/unit/test_adcp_contract.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Remove budget format compatibility test (tests non-spec-compliant Budget objects)
  tests/unit/test_budget_format_compatibility.py
Due: detect-test-antipatterns

Remove budget migration test (tests non-spec-compliant Budget objects)
  tests/unit/test_budget_migration_integration.py
Due: detect-test-antipatterns

Fix remaining tests to use numeric budget per AdCP v2.2.0 spec
  tests/unit/test_datetime_string_parsing.py
  tests/unit/test_package_product_extraction.py
  tests/unit/test_schema_validation_modes.py
Due: detect-test-antipatterns

Fix test_duplicate_product_validation to use numeric budget
  tests/unit/test_duplicate_product_validation.py
Due: detect-test-antipatterns

Fix test_create_media_buy_legacy_field_conversion for numeric budget
  tests/integration/test_mcp_tool_roundtrip_minimal.py
Due: detect-test-antipatterns

Fix oauth2 import scope error in GAM test connection
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix additional oauth2 import scope issues
  src/adapters/gam/utils/health_check.py
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix oauth2 import scope errors in GAM connection testing (#608)
  src/adapters/gam/utils/health_check.py
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix: Ensure all adapters return package_id in error responses
  src/adapters/google_ad_manager.py
  src/adapters/kevel.py
  src/adapters/mock_ad_server.py
  src/adapters/triton_digital.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix: Replace progress_data with progress in SyncJob
  src/services/background_sync_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix: Add missing adapter_type to SyncJob creation
  src/services/background_sync_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Stage 1: Add integration_v2 infrastructure for pricing migration
  .github/workflows/test.yml
  IMPLEMENTATION_PLAN.md
  run_all_tests.sh
  tests/conftest_shared.py
  tests/integration_v2/conftest.py
  tests/integration_v2/test_pricing_helpers.py
Due: detect-test-antipatterns

Fix delivery_simulator shutdown logging error
  src/services/delivery_simulator.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add Stage 1 completion documentation
  STAGE1_COMPLETE.md
Due: none

Migrate test_dashboard_service_integration to v2 pricing model
  tests/integration_v2/test_dashboard_service_integration.py
Due: detect-test-antipatterns

Migrate test_create_media_buy_roundtrip to v2 pricing model
  tests/integration_v2/test_create_media_buy_roundtrip.py
Due: detect-test-antipatterns

Fix shutdown logging error and remove planning docs
  IMPLEMENTATION_PLAN.md
  STAGE1_COMPLETE.md
  src/services/webhook_delivery_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Migrate test_a2a_error_responses to v2 pricing model
  tests/integration_v2/test_a2a_error_responses.py
Due: detect-test-antipatterns

Fix missing imports in integration_v2/conftest.py
  tests/integration_v2/conftest.py
Due: detect-test-antipatterns

Fix database isolation bug and A2A sync_creatives response
  tests/integration_v2/conftest.py
Due: detect-test-antipatterns

Migrate test_gam_pricing_restriction to v2 with helper functions
  tests/integration_v2/test_gam_pricing_restriction.py
Due: detect-test-antipatterns

Migrate test_create_media_buy_v24 to v2 pricing model
  tests/integration_v2/test_create_media_buy_v24.py
Due: detect-test-antipatterns

Stage 4: Migrate test_a2a_response_message_fields.py (first test!)
  tests/integration_v2/conftest.py
  tests/integration_v2/test_a2a_response_message_fields.py
Due: detect-test-antipatterns

Fix integration_v2 infrastructure and migrate first test file
  tests/integration_v2/conftest.py
  tests/integration_v2/test_a2a_response_message_fields.py
Due: detect-test-antipatterns

Inline pricing helpers into integration_v2/conftest.py
  tests/conftest_shared.py
  tests/integration_v2/conftest.py
Due: detect-test-antipatterns

Fix import in test_pricing_helpers.py
  tests/integration_v2/test_pricing_helpers.py
Due: detect-test-antipatterns

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$
