Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

validate-column-lengths:
  name: Validate database column lengths
  entry: python scripts/validate_column_lengths.py
  language: system

check-api-deprecations:
  name: Check for deprecated API usage
  entry: python scripts/check_api_deprecations.py
  language: system

validate-model-imports:
  name: Validate model imports
  entry: python scripts/validate_model_imports.py
  language: system

Fix e2e test database persistence issue
  .github/workflows/test.yml
Due: none

Fix test_environment fixture to preserve DATABASE_URL for unittest.TestCase classes
  tests/conftest.py
Due: validate-model-imports

fix: Add unique order naming and require inventory targeting
  src/adapters/google_ad_manager.py
Due: check-api-deprecations, validate-model-imports

Remove GitHub Actions PostgreSQL service from e2e-tests job
  .github/workflows/test.yml
Due: none

Add integration_db fixture to all integration tests missing it
  tests/integration/test_dashboard_reliability.py
  tests/integration/test_database_health.py
  tests/integration/test_get_products_database_integration.py
  tests/integration/test_schema_database_mapping.py
  tests/integration/test_self_service_signup.py
  tests/integration/test_virtual_host_integration.py
Due: validate-model-imports

Skip smoke tests that require database setup in CI
  tests/smoke/test_database_migrations.py
  tests/smoke/test_smoke_critical_paths.py
Due: validate-model-imports

Always cleanup Docker volumes before e2e tests to fix persistent duplicate key error
  tests/e2e/conftest.py
Due: validate-model-imports

Fix remaining CI test failures - lazy imports and integration_db fixtures
  tests/integration/test_dashboard_reliability.py
  tests/integration/test_database_health_integration.py
  tests/integration/test_mcp_tool_roundtrip_validation.py
  tests/integration/test_mcp_tools_audit.py
  tests/integration/test_product_deletion.py
  tests/integration/test_self_service_signup.py
  tests/unit/test_auth_removal_simple.py
  tests/unit/test_direct_get_products.py
Due: validate-model-imports

Implement lazy initialization for database engine and remove SQLite support (#325)
  .gitignore
  CLAUDE.md
  run_all_tests.sh
  src/core/database/database_session.py
  src/core/database/db_config.py
  tests/conftest.py
  tests/conftest_db.py
  tests/integration/conftest.py
  tests/integration/test_ai_provider_bug.py
  tests/integration/test_context_persistence.py
  tests/integration/test_dashboard_reliability.py
  tests/integration/test_database_health.py
  tests/integration/test_database_health_integration.py
  tests/integration/test_get_products_database_integration.py
  tests/integration/test_health_route_migration.py
  tests/integration/test_list_creative_formats_params.py
  tests/integration/test_mcp_tool_roundtrip_validation.py
  tests/integration/test_mcp_tools_audit.py
  tests/integration/test_product_deletion.py
  tests/integration/test_schema_database_mapping.py
  tests/integration/test_self_service_signup.py
  tests/integration/test_session_json_validation.py
  tests/integration/test_virtual_host_integration.py
  tests/smoke/test_database_migrations.py
  tests/smoke/test_smoke_critical_paths.py
  tests/unit/conftest.py
  tests/unit/test_auth_removal_simple.py
  tests/unit/test_dashboard_service.py
  tests/unit/test_direct_get_products.py
Due: validate-model-imports

Make GAM OAuth config optional to fix e2e test startup
  src/core/config.py
Due: validate-model-imports

Add per-currency budget limits with min/max validation
  alembic/versions/226b47580589_add_min_product_spend_to_tenants.py
  src/admin/blueprints/products.py
  src/admin/blueprints/settings.py
  src/admin/blueprints/tenants.py
  src/core/config_loader.py
  src/core/database/models.py
  src/core/main.py
  templates/edit_product.html
  templates/tenant_settings.html
  tests/integration/test_minimum_spend_validation.py
Due: validate-column-lengths, validate-model-imports

Clarify currency limits are per-package, not per media buy
  src/core/database/models.py
  src/core/main.py
  templates/tenant_settings.html
Due: validate-column-lengths, validate-model-imports

Consolidate adapter configuration: naming templates now work across all adapters
  CLAUDE.md
  PR_DESCRIPTION.md
  alembic/versions/ebcb8dda247a_add_naming_templates_to_tenants.py
  src/adapters/gam/managers/workflow.py
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
  src/admin/blueprints/settings.py
  src/core/database/models.py
  src/core/utils/__init__.py
  src/core/utils/naming.py
  templates/tenant_settings.html
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Add explicit Docker volume pruning to fix persistent duplicate key error
  tests/e2e/conftest.py
Due: validate-model-imports

Fix mock adapter naming template handling in unit tests
  src/adapters/mock_ad_server.py
  src/core/utils/naming.py
Due: check-api-deprecations, validate-model-imports

Rename fields to min_package_budget and add inline examples
  alembic/versions/9b54e0acc0e7_rename_currency_limit_fields_for_clarity.py
  src/admin/blueprints/settings.py
  src/core/database/models.py
  src/core/main.py
  templates/tenant_settings.html
  tests/integration/test_minimum_spend_validation.py
Due: validate-column-lengths, validate-model-imports

Make database initialization idempotent to fix persistent e2e test failures
  scripts/setup/init_database.py
Due: validate-model-imports

Add currency limit validation to update_media_buy
  src/core/main.py
Due: validate-model-imports

Fix test_parallel_database_isolation: add missing integration_db fixture
  tests/integration/test_get_products_database_integration.py
Due: validate-model-imports

Remove PR_DESCRIPTION.md after PR creation
  PR_DESCRIPTION.md
Due: none

Remove deprecated tenant fields from config loader
  src/admin/blueprints/products.py
  src/core/config_loader.py
  tests/integration/conftest.py
Due: validate-model-imports

Fix e2e test API usage and make signal schema fields optional
  src/core/schemas.py
  tests/e2e/test_creative_lifecycle_end_to_end.py
Due: validate-column-lengths, validate-model-imports

Fix Budget field reference and add CurrencyLimit to test fixtures
  src/core/main.py
  tests/integration/test_create_media_buy_v24.py
Due: validate-model-imports

Fix migration: backfill existing rows, remove explicit commit, safer downgrade
  alembic/versions/ebcb8dda247a_add_naming_templates_to_tenants.py
Due: validate-model-imports

Support legacy format in currency limit validation
  src/core/main.py
  tests/integration/test_create_media_buy_v24.py
Due: validate-model-imports

Remove max_daily_budget from creative lifecycle test fixture
  tests/integration/test_creative_lifecycle_mcp.py
Due: validate-model-imports

Remove deprecated tenant fields from integration tests
  tests/integration/test_mcp_endpoints_comprehensive.py
  tests/integration/test_product_creation.py
  tests/integration/test_self_service_signup.py
  tests/integration/test_tenant_dashboard.py
  tests/integration/test_tenant_management_api_integration.py
Due: validate-model-imports

Add currency limits to creative lifecycle tests and remove deprecated fields
  src/core/main.py
  tests/integration/test_creative_lifecycle_mcp.py
Due: validate-model-imports

Force Docker image rebuild in e2e tests to pick up code changes
  tests/e2e/conftest.py
Due: validate-model-imports

Rename to 'Policies & Workflows', remove GAM redundancy, add validation
  CLAUDE.md
  src/admin/blueprints/settings.py
  templates/tenant_settings.html
Due: validate-model-imports

Fix CI test failures - remove max_daily_budget from remaining tests
  tests/integration/test_schema_field_validation.py
Due: validate-model-imports

Consolidate Adapter Configuration: Naming Templates Now Work Across All Adapters (#326)
  CLAUDE.md
  alembic/versions/ebcb8dda247a_add_naming_templates_to_tenants.py
  src/adapters/gam/managers/workflow.py
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
  src/admin/blueprints/settings.py
  src/core/database/models.py
  src/core/utils/__init__.py
  src/core/utils/naming.py
  templates/tenant_settings.html
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Add merge migration to resolve multiple heads conflict
  alembic/versions/merge_heads_currency_limits_naming.py
Due: validate-model-imports

Remove max_daily_budget from init_database.py default tenant
  scripts/setup/init_database.py
Due: validate-model-imports

Add per-currency budget limits to prevent line item proliferation (#327)
  alembic/versions/226b47580589_add_min_product_spend_to_tenants.py
  alembic/versions/9b54e0acc0e7_rename_currency_limit_fields_for_clarity.py
  alembic/versions/merge_heads_currency_limits_naming.py
  scripts/setup/init_database.py
  src/admin/blueprints/products.py
  src/admin/blueprints/settings.py
  src/admin/blueprints/tenants.py
  src/core/config_loader.py
  src/core/database/models.py
  src/core/main.py
  templates/edit_product.html
  templates/tenant_settings.html
  tests/integration/conftest.py
  tests/integration/test_create_media_buy_v24.py
  tests/integration/test_creative_lifecycle_mcp.py
  tests/integration/test_mcp_endpoints_comprehensive.py
  tests/integration/test_minimum_spend_validation.py
  tests/integration/test_product_creation.py
  tests/integration/test_schema_field_validation.py
  tests/integration/test_self_service_signup.py
  tests/integration/test_tenant_dashboard.py
  tests/integration/test_tenant_management_api_integration.py
Due: validate-column-lengths, validate-model-imports

Fix critical local CI divergence: remove --skip-docker flag
  run_all_tests.sh
Due: none

fix: GAM line item status, audit log details, and UI improvements
  src/adapters/gam/managers/orders.py
  src/core/audit_logger.py
  templates/tenant_dashboard.html
  templates/tenant_settings.html
Due: check-api-deprecations, validate-model-imports

fix: Merge Alembic migration heads
  alembic/versions/cce7df2e7bea_merge_migration_heads.py
Due: validate-model-imports

fix: Update policy test mocks to use generate_content_async
  tests/integration/test_policy.py
Due: validate-model-imports

Path conditions:
  validate-column-lengths: any of: (models|schemas)\.py$
  check-api-deprecations: any of: adapters/.*\.py$
  validate-model-imports: any of: \.py$
