Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$

Fix all remaining test failures in formats → format_ids migration
  tests/integration_v2/test_get_products_database_integration.py
  tests/integration_v2/test_get_products_filters.py
  tests/integration_v2/test_mcp_endpoints_comprehensive.py
  tests/integration_v2/test_mcp_tool_roundtrip_validation.py
  tests/integration_v2/test_schema_database_mapping.py
  tests/integration_v2/test_schema_roundtrip_patterns.py
  tests/integration_v2/test_session_json_validation.py
Due: detect-test-antipatterns, mypy-no-regression

Fix remaining formats → format_ids attribute access in application code
  src/admin/blueprints/products.py
  src/core/main.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

Rename auto_approve_formats to auto_approve_format_ids
  scripts/setup/init_database.py
  scripts/setup/init_database_ci.py
  scripts/setup/setup_tenant.py
  src/admin/blueprints/public.py
  src/admin/tenant_management_api.py
  src/admin/tests/unit/test_utils.py
  src/core/config_loader.py
  src/core/database/database.py
  src/core/json_validators.py
  tests/fixtures/builders.py
  tests/fixtures/factories.py
  tests/ui/test_product_creation_integration.py
  tools/demos/demo_creative_auto_approval.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix format_ids validation in test_roundtrip_with_data_loss_detection
  tests/integration_v2/test_schema_roundtrip_patterns.py
Due: detect-test-antipatterns, mypy-no-regression

Convert all string format_ids to FormatId objects in integration_v2 tests
  tests/integration_v2/test_mcp_tool_roundtrip_validation.py
  tests/integration_v2/test_mcp_tools_audit.py
  tests/integration_v2/test_schema_database_mapping.py
  tests/integration_v2/test_schema_roundtrip_patterns.py
Due: detect-test-antipatterns, mypy-no-regression

fix: e2e test
  src/core/tools/media_buy_delivery.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix test assertions to handle FormatId objects instead of strings
  tests/integration_v2/test_mcp_tool_roundtrip_validation.py
  tests/integration_v2/test_mcp_tools_audit.py
  tests/integration_v2/test_session_json_validation.py
Due: detect-test-antipatterns, mypy-no-regression

fix: test_get_products_without_signals_config
  tests/integration_v2/test_signals_agent_workflow.py
Due: detect-test-antipatterns, mypy-no-regression

fix: mypy errors
  src/a2a_server/adcp_a2a_server.py
  src/core/helpers/creative_helpers.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

Add pricing fields (pricing_model, rate, currency) to PackageDelivery schema
  src/core/schemas.py
  src/core/tools/media_buy_delivery.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Update MockAdServer to return per-package delivery breakdown
  src/adapters/mock_ad_server.py
  src/core/tools/media_buy_delivery.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix test assertion to expect dict format_ids from model_dump_internal()
  tests/integration_v2/test_mcp_tool_roundtrip_validation.py
Due: detect-test-antipatterns, mypy-no-regression

Fix format_ids handling in roundtrip tests and signals provider
  product_catalog_providers/signals.py
  tests/integration_v2/test_mcp_tool_roundtrip_validation.py
Due: enforce-sqlalchemy-2-0, detect-test-antipatterns, mypy-no-regression

Fix legacy integration tests for format_ids migration
  tests/integration/test_inventory_profile_transitions.py
  tests/integration/test_list_creative_formats_params.py
  tests/integration/test_pricing_models_integration.py
  tests/integration/test_product_pricing_options_required.py
Due: detect-test-antipatterns, mypy-no-regression

Redesign AXE segment targeting UI with inline configuration
  alembic/versions/986aa36f9589_add_gam_axe_custom_targeting_key_to_.py
  docs/features/axe-segment-targeting.md
  src/adapters/gam/managers/inventory.py
  src/adapters/gam/managers/targeting.py
  src/adapters/gam_inventory_discovery.py
  src/admin/blueprints/settings.py
  src/core/database/models.py
  templates/inventory_unified.html
  templates/targeting_browser.html
  templates/tenant_settings.html
  tests/unit/test_gam_axe_inventory_sync.py
  tests/unit/test_gam_axe_segment_targeting.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment, mypy-no-regression

Fix remaining format_ids test failures
  tests/conftest_db.py
  tests/e2e/test_inventory_profile_media_buy.py
  tests/integration/conftest.py
  tests/integration/test_schema_contract_validation.py
  tests/integration/test_tenant_utils.py
  tests/ui/test_product_creation_integration.py
  tests/utils/database_helpers.py
Due: detect-test-antipatterns, mypy-no-regression

Fix AXE config save: allow empty string to clear configuration
  src/admin/blueprints/settings.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix ListCreativeFormatsResponse attribute access
  src/core/creative_agent_registry.py
  tests/unit/test_creative_agent_registry.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix test_product_pricing_options_required field name
  tests/integration/test_product_pricing_options_required.py
Due: detect-test-antipatterns, mypy-no-regression

Add separate AXE keys for include/exclude/macro per AdCP spec
  alembic/versions/5b7de72d6110_add_separate_axe_keys_for_include_.py
  src/core/database/models.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, mypy-no-regression

Fix database init scripts: formats → format_ids
  scripts/setup/init_database.py
  scripts/setup/init_database_ci.py
Due: mypy-no-regression

Fix test environment setup: formats → format_ids + FormatId dicts
  scripts/setup_test_environment.py
Due: mypy-no-regression

Implement three-key AXE configuration UI per AdCP spec
  src/admin/blueprints/settings.py
  templates/targeting_browser.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix database.py init: formats → format_ids
  src/core/database/database.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Remove outdated AXE migration and update down_revision
  alembic/versions/5b7de72d6110_add_separate_axe_keys_for_include_.py
  alembic/versions/986aa36f9589_add_gam_axe_custom_targeting_key_to_.py
Due: mypy-no-regression

Fix FormatId structure in database.py sample products
  src/core/database/database.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Remove hardcoded AXE fallback and use configured keys per AdCP spec
  src/adapters/gam/managers/targeting.py
  src/adapters/google_ad_manager.py
  tests/unit/test_gam_axe_segment_targeting.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Remove GAM-specific AXE methods - treat AXE keys as regular custom targeting
  src/adapters/gam/managers/inventory.py
  tests/unit/test_gam_axe_inventory_sync.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Rename gam_axe_* fields to axe_* for adapter-agnostic AXE support
  alembic/versions/240284b2f169_rename_gam_axe_fields_to_adapter_.py
  src/adapters/gam/managers/targeting.py
  src/admin/blueprints/settings.py
  src/core/database/models.py
  templates/targeting_browser.html
  tests/unit/test_gam_axe_segment_targeting.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment, mypy-no-regression

Clarify difference between _load_geo_mappings and _load_axe_keys
  src/adapters/gam/managers/targeting.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix E2E test accessing wrong field name
  tests/e2e/test_adcp_reference_implementation.py
Due: detect-test-antipatterns, mypy-no-regression

Implement GAM budget sync and pause/resume functionality
  src/adapters/gam/managers/orders.py
  src/adapters/google_ad_manager.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Add architectural explanation for _load_axe_keys() method
  src/adapters/gam/managers/targeting.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Update tests for budget sync and pause/resume implementation
  tests/unit/test_gam_update_media_buy.py
Due: detect-test-antipatterns, mypy-no-regression

Add data transformation to migration for production safety
  alembic/versions/rename_formats_to_format_ids.py
Due: mypy-no-regression

Remove deprecated gam_axe_custom_targeting_key from model
  src/core/database/models.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, mypy-no-regression

Fix migration SQL execution method
  alembic/versions/rename_formats_to_format_ids.py
Due: mypy-no-regression

Fix migration to handle mixed format_id/id production data
  alembic/versions/rename_formats_to_format_ids.py
Due: mypy-no-regression

Preserve existing agent_url values in migration
  alembic/versions/rename_formats_to_format_ids.py
Due: mypy-no-regression
