Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

validate-column-lengths:
  name: Validate database column lengths
  entry: python scripts/validate_column_lengths.py
  language: system

check-api-deprecations:
  name: Check for deprecated API usage
  entry: python scripts/check_api_deprecations.py
  language: system

validate-model-imports:
  name: Validate model imports
  entry: python scripts/validate_model_imports.py
  language: system

Fix CI failures: add missing imports and fix timestamp issues
  tests/integration/test_database_health_integration.py
  tests/integration/test_get_products_database_integration.py
  tests/integration/test_tenant_management_api_integration.py
Due: validate-model-imports

Fix Creative MCP lifecycle tests with proper JSONB schema alignment
  src/core/main.py
  tests/integration/test_creative_lifecycle_mcp.py
Due: validate-model-imports

Add comprehensive schema alignment prevention guidelines to claude.md
  CLAUDE.md
Due: none

Fix CI failures: add missing imports and fix timestamp issues
  tests/integration/test_database_health_integration.py
  tests/integration/test_get_products_database_integration.py
Due: validate-model-imports

Fix critical production bugs with comprehensive test validation and schema alignment
  src/core/database/health_check.py
  tests/integration/test_database_health_integration.py
Due: validate-model-imports

Fix all remaining CI integration test failures with comprehensive systematic fixes
  alembic/versions/020_fix_tasks_schema_properly_fix_tasks_schema_properly.py
  tests/conftest_db.py
  tests/integration/test_dashboard_reliability.py
  tests/integration/test_database_health.py
  tests/integration/test_database_health_integration.py
Due: validate-model-imports

Fix final unit test mock import path for complete CI success
  tests/unit/test_database_health.py
Due: validate-model-imports

Fix nginx routing for adcontextprotocol.org domains to show proper web interface
  config/nginx/nginx.conf
Due: none

Fix nginx routing for adcontextprotocol.org domains to show proper web interface (#168)
  config/nginx/nginx.conf
Due: none

Fix all remaining integration test failures for complete CI success
  product_catalog_providers/database.py
  src/core/schemas.py
  tests/integration/test_get_products_database_integration.py
Due: validate-column-lengths, validate-model-imports

Refactor authorized properties code for improved maintainability
  src/admin/blueprints/authorized_properties.py
  src/core/schemas.py
Due: validate-column-lengths, validate-model-imports

Fix CI test failures and deployment issues
  scripts/deploy/run_all_services.py
  tests/integration/test_template_url_validation.py
  tests/unit/test_property_verification_service.py
Due: validate-model-imports

Implement AdCP authorized properties feature with admin UI and verification
  CLAUDE.md
  alembic/versions/023_add_authorized_properties.py
  src/admin/app.py
  src/admin/blueprints/authorized_properties.py
  src/core/database/models.py
  src/core/main.py
  src/core/schemas.py
  src/services/property_verification_service.py
  templates/authorized_properties_list.html
  templates/authorized_properties_upload.html
  templates/base.html
  templates/property_form.html
  templates/property_tags_list.html
  templates/tenant_dashboard.html
  tests/unit/test_adcp_contract.py
  tests/unit/test_authorized_properties.py
  tests/unit/test_property_verification_service.py
Due: validate-column-lengths, validate-model-imports

🔒 Security fix: Prevent dev URL overrides in production
  config/nginx/nginx.conf
  src/admin/blueprints/authorized_properties.py
  templates/authorized_properties_list.html
  templates/base.html
  templates/login.html
Due: validate-model-imports

🧹 Remove temporary tenant fix script after successful execution
  fix_tenant_host.py
Due: validate-model-imports

🔧 Add script to fix tenant virtual_host configuration
  fix_tenant_host.py
Due: validate-model-imports

🐛 Add comprehensive debug logging for property verification
  src/admin/blueprints/authorized_properties.py
  src/services/property_verification_service.py
Due: validate-model-imports

Implement AdCP Authorized Properties Feature with Admin UI and Verification (#167)
  CLAUDE.md
  alembic/versions/023_add_authorized_properties.py
  config/nginx/nginx.conf
  scripts/deploy/run_all_services.py
  src/admin/app.py
  src/admin/blueprints/authorized_properties.py
  src/core/database/models.py
  src/core/main.py
  src/core/schemas.py
  src/services/property_verification_service.py
  templates/authorized_properties_list.html
  templates/authorized_properties_upload.html
  templates/base.html
  templates/login.html
  templates/property_form.html
  templates/property_tags_list.html
  templates/tenant_dashboard.html
  tests/integration/test_template_url_validation.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_authorized_properties.py
  tests/unit/test_property_verification_service.py
Due: validate-column-lengths, validate-model-imports

Implement Approximated routing support and A2A protocol enhancements
  config/nginx/nginx.conf
  src/a2a_server/adcp_a2a_server.py
  src/admin/app.py
  src/admin/blueprints/auth.py
  src/admin/blueprints/core.py
  src/admin/blueprints/schemas.py
  src/core/main.py
  src/core/schema_validation.py
  src/core/tools.py
  templates/login.html
Due: validate-column-lengths, validate-model-imports

Fix Approximated header detection to use Apx-Incoming-Host
  src/admin/blueprints/auth.py
  src/admin/blueprints/core.py
Due: validate-model-imports

Add debug logging to OAuth callback to diagnose redirect issue
  src/admin/blueprints/auth.py
Due: validate-model-imports

Fix OAuth cross-domain session handling and add comprehensive documentation
  CLAUDE.md
  src/admin/blueprints/auth.py
  tests/integration/test_oauth_session_handling.py
Due: validate-model-imports

Implement comprehensive Approximated routing and timeout handling improvements
  config/nginx/nginx.conf
  fly.toml
  src/a2a_server/adcp_a2a_server.py
  src/admin/blueprints/core.py
  src/core/main.py
Due: validate-model-imports

Clean up temporary debug script
  debug_database_provider.py
Due: validate-model-imports

Fix A2A skill invocation test: add missing skills to expected list
  tests/integration/test_a2a_skill_invocation.py
Due: validate-model-imports

Fix AdN timeouts and implement comprehensive Approximated routing support (#169)
  CLAUDE.md
  config/nginx/nginx.conf
  debug_database_provider.py
  fly.toml
  src/a2a_server/adcp_a2a_server.py
  src/admin/app.py
  src/admin/blueprints/auth.py
  src/admin/blueprints/core.py
  src/admin/blueprints/schemas.py
  src/core/main.py
  src/core/schema_validation.py
  src/core/tools.py
  templates/login.html
  tests/integration/test_a2a_skill_invocation.py
  tests/integration/test_oauth_session_handling.py
Due: validate-column-lengths, validate-model-imports

Fix broken migration chain for missing revision 7e66d36b68a4
  alembic/versions/023_add_authorized_properties.py
  alembic/versions/7e66d36b68a4_ghost_revision_placeholder.py
Due: validate-model-imports

Fix broken migration chain for missing revision 7e66d36b68a4 (#170)
  alembic/versions/023_add_authorized_properties.py
  alembic/versions/7e66d36b68a4_ghost_revision_placeholder.py
Due: validate-model-imports

Document Fly.io automatic deployment from main branch
  CLAUDE.md
Due: none

Document Fly.io automatic deployment from main branch (#171)
  CLAUDE.md
Due: none

Fix MCP tool roundtrip validation vulnerability preventing production crashes
  CLAUDE.md
  docs/testing.md
  src/core/main.py
  tests/integration/test_mcp_tool_roundtrip_validation.py
  tests/integration/test_mcp_tools_audit.py
  tests/integration/test_schema_contract_validation.py
  tests/integration/test_schema_roundtrip_patterns.py
  tests/unit/test_mock_server_response_headers.py
Due: validate-model-imports

Fix integration test failures from roundtrip validation
  tests/e2e/schemas/v1/_schemas_v1_core_response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-response_json.json
  tests/integration/test_mcp_tool_roundtrip_validation.py
  tests/integration/test_mcp_tools_audit.py
  tests/integration/test_schema_contract_validation.py
Due: validate-model-imports

Fix remaining integration test failures
  tests/integration/test_mcp_tools_audit.py
  tests/integration/test_tenant_settings_comprehensive.py
Due: validate-model-imports

Implement MCP Status System per AdCP PR #77
  src/core/main.py
  src/core/schemas.py
  tests/e2e/schemas/v1/_schemas_v1_core_response_json.json
  tests/e2e/schemas/v1/_schemas_v1_enums_task-status_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-response_json.json
  tests/unit/test_adcp_contract.py
Due: validate-column-lengths, validate-model-imports

Implement MCP Status System per AdCP PR #77 (#173)
  src/core/main.py
  src/core/schemas.py
  tests/e2e/schemas/v1/_schemas_v1_core_response_json.json
  tests/e2e/schemas/v1/_schemas_v1_enums_task-status_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-response_json.json
  tests/unit/test_adcp_contract.py
Due: validate-column-lengths, validate-model-imports

Fix roundtrip validation test failures
  tests/integration/test_mcp_tool_roundtrip_validation.py
Due: validate-model-imports

Fix integration test Mock database errors
  tests/integration/test_mcp_tool_roundtrip_validation.py
Due: validate-model-imports

Replace problematic async MCP tests with isolated roundtrip tests
  tests/integration/test_mcp_tool_roundtrip_validation.py
Due: validate-model-imports

Fix Principal access_token unique constraint violation in audit test
  tests/integration/test_mcp_tools_audit.py
Due: validate-model-imports

Path conditions:
  validate-column-lengths: any of: (models|schemas)\.py$
  check-api-deprecations: any of: adapters/.*\.py$
  validate-model-imports: any of: \.py$
