Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

Update fly.md
  docs/deployment/walkthroughs/fly.md
Due: none

Update single-tenant.md
  docs/deployment/single-tenant.md
Due: none

patches
  .github/workflows/ipr-agreement.yml
  CONTRIBUTING.md
  IPR_POLICY.md
  signatures/ipr-signatures.json
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update IPR_POLICY.md
  IPR_POLICY.md
Due: none

Modify IPR_POLICY.md with test comment
  IPR_POLICY.md
Due: none

Update remote organization and repository names in workflow
  .github/workflows/ipr-agreement.yml
Due: none

Remove remote organization and repository names
  .github/workflows/ipr-agreement.yml
Due: none

Remove reference to PAT
  .github/workflows/ipr-agreement.yml
Due: none

Add PR naming guideline to CLAUDE.md
  CLAUDE.md
Due: none

CI: allow IPR workflow write access to the repo
  .github/workflows/ipr-agreement.yml
Due: none

docs Update README to reflect name change to Prebid Sales Agent
  README.md
Due: none

Update adcp_a2a_server.py
  src/a2a_server/adcp_a2a_server.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: Preserve signup flow state through OAuth redirect
  src/admin/blueprints/auth.py
  tests/unit/test_signup_flow_session.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Add audit logging for get_products, update_media_buy, and update_performance_index
  src/core/tools/media_buy_update.py
  src/core/tools/performance.py
  src/core/tools/products.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: Display version in tenant landing page footer
  src/a2a_server/adcp_a2a_server.py
  src/core/version.py
  src/landing/landing_page.py
  src/landing/templates/tenant_landing.html
  tests/unit/test_version.py
  tests/unit/test_virtual_host_landing_page.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix(bdd): restore the wire-envelope reads and the egress buyer that #1802 moved
  tests/bdd/conftest.py
  tests/bdd/steps/domain/uc010_capabilities.py
Due: detect-test-antipatterns, mypy-no-regression

fix(bdd): read the wire envelope through the guarded accessor in then_error
  tests/bdd/steps/generic/then_error.py
Due: detect-test-antipatterns, mypy-no-regression

fix(bdd): a self-dispatching When must clear the previous dispatch's result
  tests/bdd/steps/domain/uc011_accounts.py
Due: detect-test-antipatterns, mypy-no-regression

fix(tests): finish the egress-backoff extraction — three symbols stayed behind
  tests/helpers/egress_backoff.py
  tests/integration/test_outbound_http.py
Due: detect-test-antipatterns, mypy-no-regression

fix(tests): pass the typed WebhookTaskContext, not the retired four-key dict
  tests/integration/test_webhook_signing_boundary.py
Due: detect-test-antipatterns, mypy-no-regression

fix(tests): pin the private-range hatch closed where the refusal is graded
  tests/unit/test_stored_url_egress_gate.py
Due: detect-test-antipatterns, mypy-no-regression

fix(tests): admin webhook tests posted a retired scheme spelling
  tests/admin/test_principals_webhooks.py
Due: detect-test-antipatterns, mypy-no-regression

fix(tests): re-table the A2A TransportResult sites the merge moved
  tests/integration/test_harness_wire_response.py
Due: detect-test-antipatterns, mypy-no-regression

fix(tests): the fabricated wire contexts must declare a transport
  tests/integration/test_harness_wire_response.py
Due: detect-test-antipatterns, mypy-no-regression

fix(tests): stub the resolver the seam actually calls, not just the old one
  tests/helpers/webhook_wire.py
Due: detect-test-antipatterns, mypy-no-regression

fix(tests): stub httpx clients with TYPES, not factory functions
  tests/helpers/webhook_wire.py
Due: detect-test-antipatterns, mypy-no-regression

fix(tests): the unsigned REST leg must still send its bearer, and egress declares its posture
  tests/bdd/conftest.py
  tests/harness/_base.py
Due: detect-test-antipatterns, mypy-no-regression

fix(tests): the in-process REST leg must identify its tenant to the ASGI stack
  tests/harness/_base.py
Due: detect-test-antipatterns, mypy-no-regression

fix(tests): declare the ingest-refusal seller non-signing
  tests/integration/test_webhook_hmac_credentials_ingest_refusal.py
Due: detect-test-antipatterns, mypy-no-regression

fix(bdd): wire the wrong-type revision row instead of xfailing it
  tests/bdd/steps/domain/uc003_update_media_buy.py
Due: detect-test-antipatterns, mypy-no-regression

fix(tests): declare the non-signing posture through the writer that owns it
  tests/bdd/conftest.py
  tests/helpers/signing.py
  tests/integration/test_webhook_hmac_credentials_ingest_refusal.py
Due: detect-test-antipatterns, mypy-no-regression

refactor(tests): decide wire-presence from the declaration, not the transport enum
  tests/bdd/steps/_outcome_helpers.py
  tests/harness/test_outcome_helpers_wire_contract.py
Due: detect-test-antipatterns, mypy-no-regression

fix(webhooks): the delivery-report sender must carry idempotency_key
  src/services/webhook_delivery_service.py
  tests/integration/test_delivery_service_behavioral.py
  tests/integration/test_operator_probe_agent.py
  tests/integration/test_signing_capability_honesty.py
  tests/integration/test_webhook_signing_boundary.py
  tests/unit/test_architecture_bdd_no_direct_call_impl.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix(bdd): the invoice-recipient scenario xpassed on a refusal it does not grade
  tests/bdd/features/BR-UC-003-update-media-buy.feature
Due: none

docs: update the merge handoff — 21 failures down to 3
  HANDOFF-merge-main-into-rfc9421.md
Due: none

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
