Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

validate-column-lengths:
  name: Validate database column lengths
  entry: python scripts/validate_column_lengths.py
  language: system

check-api-deprecations:
  name: Check for deprecated API usage
  entry: python scripts/check_api_deprecations.py
  language: system

validate-model-imports:
  name: Validate model imports
  entry: python scripts/validate_model_imports.py
  language: system

feat: multi-tenant user access, GAM-only signup, and tenant deactivation
  README.md
  alembic/versions/aff9ca8baa9c_allow_users_multi_tenant_access.py
  src/admin/blueprints/core.py
  src/admin/blueprints/public.py
  src/admin/blueprints/tenants.py
  src/core/database/models.py
  templates/signup_onboarding.html
  templates/tenant_settings.html
Due: validate-column-lengths, validate-model-imports

merge heads
  alembic/versions/82e5d9c895cf_merge_heads.py
Due: validate-model-imports

Fix: Stop auto-generating buyer_ref - it's the buyer's identifier (#302)
  docs/partners/wonderstruck-package-name-bug.md
  src/core/schemas.py
  tests/integration/test_mcp_contract_validation.py
  tests/integration/test_mcp_endpoints_comprehensive.py
  tests/unit/adapters/test_base.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

fix: update signup test to match GAM-only UI change
  tests/integration/test_self_service_signup.py
Due: validate-model-imports

fix: add retry logic for 502 errors in schema sync check
  scripts/check_schema_sync.py
Due: validate-model-imports

Multi-tenant user access, GAM-only signup, and tenant deactivation (#303)
  README.md
  alembic/versions/aff9ca8baa9c_allow_users_multi_tenant_access.py
  scripts/check_schema_sync.py
  src/admin/blueprints/core.py
  src/admin/blueprints/public.py
  src/admin/blueprints/tenants.py
  src/core/database/models.py
  templates/signup_onboarding.html
  templates/tenant_settings.html
  tests/integration/test_self_service_signup.py
Due: validate-column-lengths, validate-model-imports

Fix: Use promoted_offering instead of optional campaign_name for GAM order names
  docs/partners/wonderstruck-package-name-bug.md
  src/adapters/gam/managers/workflow.py
  src/adapters/google_ad_manager.py
Due: check-api-deprecations, validate-model-imports

Stage 1: SQLAlchemy 2.0 infrastructure migration
  src/core/database/database_session.py
  src/core/database/models.py
  src/services/gam_inventory_service.py
  src/services/gam_orders_service.py
Due: validate-column-lengths, validate-model-imports

feat: Add configurable GAM order/line item naming templates
  alembic/versions/ede76bc258af_add_naming_templates_to_adapter_config.py
  docs/partners/wonderstruck-package-name-bug.md
  src/adapters/gam/managers/workflow.py
  src/adapters/gam/utils/naming.py
  src/adapters/google_ad_manager.py
  src/admin/blueprints/gam.py
  src/core/database/models.py
  templates/tenant_settings.html
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Stage 2: SQLAlchemy 2.0 helper function migration
  src/core/database/database_session.py
Due: validate-model-imports

feat: Add UX improvements to naming templates - live preview, presets, validation
  alembic/versions/ede76bc258af_add_naming_templates_to_adapter_config.py
  templates/tenant_settings.html
Due: validate-model-imports

chore: Merge migration heads (multi-tenant access + naming templates)
  alembic/versions/e2d9b45ea2bc_merge_multi_tenant_access_with_naming_.py
Due: validate-model-imports

Add SQLAlchemy 2.0 query patterns to CLAUDE.md
  CLAUDE.md
Due: none

feat: Add UX improvements to naming templates - live preview, presets, validation (#306)
  alembic/versions/e2d9b45ea2bc_merge_multi_tenant_access_with_naming_.py
  alembic/versions/ede76bc258af_add_naming_templates_to_adapter_config.py
  docs/partners/wonderstruck-package-name-bug.md
  src/adapters/gam/managers/workflow.py
  src/adapters/gam/utils/naming.py
  src/adapters/google_ad_manager.py
  src/admin/blueprints/gam.py
  src/core/database/models.py
  templates/tenant_settings.html
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

SQLAlchemy 2.0 Migration - Stage 1 & 2: Infrastructure and Helper Functions (#307)
  CLAUDE.md
  src/core/database/database_session.py
  src/core/database/models.py
  src/services/gam_inventory_service.py
  src/services/gam_orders_service.py
Due: validate-column-lengths, validate-model-imports

Fix authorized domains display showing character-by-character
  src/admin/blueprints/tenants.py
  templates/tenant_settings.html
Due: validate-model-imports

Add user-visible warnings for JSON parse errors
  src/admin/blueprints/tenants.py
Due: validate-model-imports

Add custom SQLAlchemy JSONType to fix JSON fields database-wide
  src/admin/blueprints/tenants.py
  src/core/database/json_type.py
  src/core/database/models.py
  tests/unit/test_json_type.py
Due: validate-column-lengths, validate-model-imports

Improve JSONType with production-ready error handling and optimizations
  src/core/database/json_type.py
  tests/unit/test_json_type.py
Due: validate-model-imports

Add JSONType pattern documentation and enforcement
  .pre-commit-config.yaml
  CLAUDE.md
Due: none

Fix JSONType to prevent None -> 'null' PostgreSQL constraint failures
  src/core/database/json_type.py
  tests/unit/test_json_type.py
Due: validate-model-imports

Fix authorized domains display showing character-by-character (#305)
  .pre-commit-config.yaml
  CLAUDE.md
  src/admin/blueprints/tenants.py
  src/core/database/json_type.py
  src/core/database/models.py
  templates/tenant_settings.html
  tests/unit/test_json_type.py
Due: validate-column-lengths, validate-model-imports

SQLAlchemy 2.0 Migration - Stage 3: Application Code
  src/core/main.py
  src/services/ai_creative_format_service.py
  src/services/ai_product_service.py
  src/services/format_metrics_service.py
  src/services/gam_inventory_service.py
  src/services/property_verification_service.py
Due: validate-model-imports

Fix tenant detection for sync MCP tools when headers are empty
  src/core/main.py
Due: validate-model-imports

Fix test to validate invalid auth token error behavior
  tests/integration/test_creative_lifecycle_mcp.py
Due: validate-model-imports

Fix MCP authentication for sync tools (#309)
  src/core/main.py
  tests/integration/test_creative_lifecycle_mcp.py
Due: validate-model-imports

Fix dashboard integration tests missing integration_db fixture
  tests/integration/test_dashboard_reliability.py
  tests/integration/test_dashboard_service_integration.py
Due: validate-model-imports

Fix property verification tests for SQLAlchemy 2.0
  tests/unit/test_property_verification_service.py
Due: validate-model-imports

Complete SQLAlchemy 2.0 migration for dashboard service
  src/admin/services/dashboard_service.py
  tests/integration/test_dashboard_service_integration.py
Due: validate-model-imports

Fix tests to use dicts/lists instead of json.dumps() for JSONType fields
  tests/integration/conftest.py
  tests/integration/test_admin_ui_pages.py
  tests/integration/test_gam_automation_focused.py
  tests/unit/test_ai_provider_bug.py
Due: validate-model-imports

Fix dashboard service unit test for SQLAlchemy 2.0
  tests/unit/test_dashboard_service.py
Due: validate-model-imports

Add comprehensive auth debugging logs for tenant resolution
  src/core/main.py
Due: validate-model-imports

Fix test_get_products_database_integration missing integration_db fixture
  tests/integration/test_get_products_database_integration.py
Due: validate-model-imports

Add comprehensive auth debugging logs for tenant resolution (#312)
  src/core/main.py
Due: validate-model-imports

Fix dashboard and integration tests missing integration_db fixture (#311)
  tests/integration/conftest.py
  tests/integration/test_admin_ui_pages.py
  tests/integration/test_dashboard_reliability.py
  tests/integration/test_dashboard_service_integration.py
  tests/integration/test_gam_automation_focused.py
  tests/integration/test_get_products_database_integration.py
  tests/unit/test_ai_provider_bug.py
Due: validate-model-imports

feat: GAM line item creation with format extensibility and immediate creative association
  alembic/versions/018_add_platform_config_to_formats.py
  docs/creative_placeholder_gap_analysis.md
  docs/format_extensibility_proposal.md
  src/adapters/base.py
  src/adapters/gam/managers/creatives.py
  src/adapters/gam/managers/orders.py
  src/adapters/gam/managers/targeting.py
  src/adapters/gam/utils/naming.py
  src/adapters/google_ad_manager.py
  src/adapters/kevel.py
  src/adapters/mock_ad_server.py
  src/adapters/triton_digital.py
  src/core/database/database_schema.py
  src/core/format_resolver.py
  src/core/main.py
  src/core/schemas.py
  tests/unit/test_format_resolver.py
  tests/unit/test_gam_creatives_manager.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Fix dashboard metrics unit test for SQLAlchemy 2.0
  tests/unit/test_dashboard_service.py
Due: validate-model-imports

fix: Handle creatives without platform_creative_id in immediate association
  src/core/main.py
Due: validate-model-imports

Fix tenant settings page SQLAlchemy 2.0 migration (partial)
  src/admin/blueprints/tenants.py
Due: validate-model-imports

fix: Add requires_db marker to dashboard service integration test
  tests/integration/test_dashboard_service_integration.py
Due: validate-model-imports

Path conditions:
  validate-column-lengths: any of: (models|schemas)\.py$
  check-api-deprecations: any of: adapters/.*\.py$
  validate-model-imports: any of: \.py$
