Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

fix: Pass tenant_gemini_key as keyword argument to build_order_name_context
  src/adapters/gam/managers/workflow.py
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
  tests/unit/conftest.py
  tests/unit/test_gam_workflow_packages.py
  tests/unit/test_naming_parameter_bug.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Add isinstance check for list before append in creative_helpers
  src/core/helpers/creative_helpers.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: Upgrade pyasn1 0.6.1 -> 0.6.2 to fix GHSA-63vm-454h-vhhq
  uv.lock
Due: none

fix: Sync custom targeting keys to adapter_config during inventory sync
  src/services/background_sync_service.py
  src/services/gam_inventory_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Construct FormatId from DB creative's agent_url and format columns
  pyproject.toml
  src/core/tools/media_buy_create.py
  tests/unit/test_creative_format_validation_bug.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Construct FormatId from DB creative's agent_url and format columns (#961)
  pyproject.toml
  src/core/tools/media_buy_create.py
  tests/unit/test_creative_format_validation_bug.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Use PAT for release-please to trigger downstream workflows
  .github/workflows/release-please.yml
  uv.lock
Due: none

allow width height duration in format (#953)
  alembic/versions/allow_width_height_duration_in_format.py
Due: mypy-no-regression

fix: ignore url not configured when use mock adapters (#943)
  src/admin/blueprints/publisher_partners.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: Remove company-specific references for transfer preparation
  .type-ignore-baseline
  CLAUDE.md
  config/nginx/nginx-multi-tenant.conf
  docker-compose.multi-tenant.yml
  docs/adapters/gam/gcp-provisioning.md
  docs/security.md
  examples/scope3_integration.py
  fly.toml
  scripts/deploy/run_all_services.py
  src/admin/app.py
  src/admin/blueprints/core.py
  src/core/domain_config.py
  templates/index.html
  templates/login.html
  templates/products.html
  templates/signup_complete.html
  templates/signup_onboarding.html
  templates/tenant_settings.html
  tests/e2e/test_a2a_regression_prevention.py
  tests/e2e/test_landing_pages.py
  tests/integration/test_cross_principal_security.py
  tests/integration/test_list_creatives_auth.py
  tests/integration/test_oauth_session_handling.py
  tests/integration/test_tenant_isolation_breach_fix.py
  tests/integration/test_tenant_isolation_fix.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
  tests/unit/test_auth_removal_simple.py
  tests/unit/test_enhanced_custom_targeting.py
  tests/unit/test_external_domain_routing.py
  tests/unit/test_gam_macros.py
  tests/unit/test_gam_orders_manager_advertisers.py
  tests/unit/test_property_discovery_service.py
  tests/unit/test_slack_notification_urls.py
  tests/unit/test_virtual_host_edge_cases.py
  tests/unit/test_virtual_host_landing_page.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

ci: Ignore protobuf vulnerability until fix is available
  .github/workflows/test.yml
Due: none

chore: Remove company-specific references for transfer preparation (#967)
  .github/workflows/test.yml
  .type-ignore-baseline
  CLAUDE.md
  config/nginx/nginx-multi-tenant.conf
  docker-compose.multi-tenant.yml
  docs/adapters/gam/gcp-provisioning.md
  docs/security.md
  examples/scope3_integration.py
  fly.toml
  scripts/deploy/run_all_services.py
  src/admin/app.py
  src/admin/blueprints/core.py
  src/core/domain_config.py
  templates/index.html
  templates/login.html
  templates/products.html
  templates/signup_complete.html
  templates/signup_onboarding.html
  templates/tenant_settings.html
  tests/e2e/test_a2a_regression_prevention.py
  tests/e2e/test_landing_pages.py
  tests/integration/test_cross_principal_security.py
  tests/integration/test_list_creatives_auth.py
  tests/integration/test_oauth_session_handling.py
  tests/integration/test_tenant_isolation_breach_fix.py
  tests/integration/test_tenant_isolation_fix.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
  tests/unit/test_auth_removal_simple.py
  tests/unit/test_enhanced_custom_targeting.py
  tests/unit/test_external_domain_routing.py
  tests/unit/test_gam_macros.py
  tests/unit/test_gam_orders_manager_advertisers.py
  tests/unit/test_property_discovery_service.py
  tests/unit/test_slack_notification_urls.py
  tests/unit/test_virtual_host_edge_cases.py
  tests/unit/test_virtual_host_landing_page.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Handle product.format_ids as dicts in creative validation
  src/core/helpers/creative_helpers.py
  tests/unit/test_creative_format_validation_bug.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Handle product.format_ids as dicts in creative validation (#965)
  src/core/helpers/creative_helpers.py
  tests/unit/test_creative_format_validation_bug.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

feat: Migrate to AdCP 3.0.0 library
  .pre-commit-config.yaml
  pyproject.toml
  src/adapters/xandr.py
  src/core/product_conversion.py
  src/core/schema_helpers.py
  src/core/schemas.py
  src/core/tools/creative_formats.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_update.py
  src/services/dynamic_pricing_service.py
  tests/integration/test_schema_contract_validation.py
  tests/unit/test_a2a_response_attribute_access.py
  tests/unit/test_adcp_25_creative_management.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_mcp_tool_schemas.py
  tests/unit/test_new_product_filters.py
  tests/unit/test_null_field_exclusion.py
  tests/unit/test_schema_library_inheritance.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: Use dynamic AdCP version and fix mypy errors
  .type-ignore-baseline
  alembic/versions/allow_width_height_duration_in_format.py
  src/a2a_server/README.md
  src/a2a_server/adcp_a2a_server.py
  src/adapters/gam/managers/creatives.py
  src/adapters/gam/managers/workflow.py
  src/adapters/xandr.py
  src/admin/blueprints/creatives.py
  src/admin/blueprints/oidc.py
  src/admin/blueprints/operations.py
  src/admin/blueprints/users.py
  src/core/context_manager.py
  src/core/schema_validation.py
  src/core/schemas.py
  src/core/tools/media_buy_create.py
  src/services/delivery_webhook_scheduler.py
  src/services/dynamic_pricing_service.py
  src/services/gam_inventory_service.py
  src/services/protocol_webhook_service.py
  src/services/webhook_delivery_service.py
  tests/e2e/test_a2a_webhook_payload_types.py
  tests/e2e/test_delivery_webhooks_e2e.py
  tests/integration/test_list_creative_formats_params.py
  tests/integration_v2/test_error_paths.py
  tests/unit/test_creative_format_validation_bug.py
  tests/unit/test_naming_parameter_bug.py
  tests/unit/test_schema_validation_modes.py
  tests/unit/test_webhook_delivery_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: Update tests and adapters for V3 pricing and channel changes
  src/adapters/google_ad_manager.py
  src/adapters/kevel.py
  src/adapters/mock_ad_server.py
  src/adapters/triton_digital.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_pricing_models_integration.py
  tests/integration_v2/test_get_products_filters.py
  tests/integration_v2/test_mcp_endpoints_comprehensive.py
  tests/unit/test_new_product_filters.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Add timezone info to naive datetimes in list_creatives
  src/core/tools/creatives.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: Add dry_run mode support for create/update media buy operations
  .pre-commit-config.yaml
  .type-ignore-baseline
  src/core/tools/creative_formats.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_update.py
  tests/unit/test_dry_run_no_persistence.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Mark live creative agent tests as skip_ci
  tests/integration/test_creative_agent_live.py
Due: detect-test-antipatterns, mypy-no-regression

Revert "fix: Mark live creative agent tests as skip_ci"
  tests/integration/test_creative_agent_live.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Let adapter run validation in dry_run mode
  src/core/tools/media_buy_create.py
  tests/unit/test_dry_run_no_persistence.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Add v2.x backward compatibility for pricing_options and clean up production logs
  pyproject.toml
  src/a2a_server/adcp_a2a_server.py
  src/admin/blueprints/auth.py
  src/admin/blueprints/core.py
  src/core/audit_logger.py
  src/core/auth.py
  src/core/logging_config.py
  src/core/product_conversion.py
  src/core/tools/products.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: Add CPP to higher impression limit list and mock formats in ADCP_TESTING mode
  src/adapters/mock_ad_server.py
  src/core/creative_agent_registry.py
  tests/integration/test_creative_agent_live.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Add v2.x backward compatibility for pricing_options and clean up production logs (#971)
  pyproject.toml
  src/a2a_server/adcp_a2a_server.py
  src/admin/blueprints/auth.py
  src/admin/blueprints/core.py
  src/core/audit_logger.py
  src/core/auth.py
  src/core/logging_config.py
  src/core/product_conversion.py
  src/core/tools/products.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: Add is_standard attribute to mock formats
  src/core/creative_agent_registry.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: Add dry_run mode support for create/update media buy operations (#970)
  .type-ignore-baseline
  src/adapters/mock_ad_server.py
  src/core/creative_agent_registry.py
  src/core/tools/creative_formats.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_update.py
  tests/integration/test_creative_agent_live.py
  tests/unit/test_dry_run_no_persistence.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

feat: Add get_adcp_capabilities tool for AdCP v3 compliance
  src/adapters/base.py
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
  src/core/main.py
  src/core/tools/__init__.py
  src/core/tools/capabilities.py
  tests/unit/test_get_adcp_capabilities.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

feat: Add A2A integration for get_adcp_capabilities tool
  src/a2a_server/adcp_a2a_server.py
  src/core/tools/capabilities.py
  tests/unit/test_get_adcp_capabilities.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: Remove dead code causing potential memory growth
  src/core/main.py
  src/core/tools/media_buy_create.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

fix: Add get_adcp_capabilities to test expected skills lists
  tests/integration/test_tool_registration.py
  tests/integration_v2/test_a2a_skill_invocation.py
  uv.lock
Due: detect-test-antipatterns, mypy-no-regression

refactor: Remove legacy get_pricing and get_targeting skills
  src/a2a_server/adcp_a2a_server.py
  tests/e2e/test_a2a_adcp_compliance.py
  tests/integration_v2/test_a2a_skill_invocation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: Remove unnecessary trafficker_id requirement from GAM creatives_manager initialization
  src/adapters/google_ad_manager.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: Fix python-multipart vulnerability (GHSA-wp53-j4wj-2cfg)
  pyproject.toml
  uv.lock
Due: none

fix: Remove unnecessary trafficker_id requirement from GAM creatives_manager (#975)
  pyproject.toml
  src/adapters/google_ad_manager.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: Add get_adcp_capabilities tool for AdCP v3 compliance (#973)
  src/a2a_server/adcp_a2a_server.py
  src/adapters/base.py
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
  src/core/main.py
  src/core/tools/__init__.py
  src/core/tools/capabilities.py
  tests/e2e/test_a2a_adcp_compliance.py
  tests/integration/test_tool_registration.py
  tests/integration_v2/test_a2a_skill_invocation.py
  tests/unit/test_get_adcp_capabilities.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mcp-schema-alignment, mypy-no-regression

fix repo loc
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  Dockerfile
  README.md
  docker-compose.multi-tenant.yml
  docs/deployment/single-tenant.md
  docs/deployment/walkthroughs/fly.md
  docs/deployment/walkthroughs/gcp.md
  docs/development/contributing.md
  docs/index.md
  docs/quickstart.md
  docs/user-guide/sso-setup.md
  static/js/format-template-picker.js
  templates/signup_complete.html
  templates/users.html
  tests/integration/test_a2a_response_message_fields.py
  tests/unit/test_tenant_manual_approval_enforcement.py
Due: detect-test-antipatterns, mypy-no-regression

Update quickstart.md
  docs/quickstart.md
Due: none

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
