Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$

fix: Use content-based hashing for schema sync to avoid metadata noise (#649)
  schemas/v1/_schemas_v1_core_webhook-payload_json.json
  schemas/v1/_schemas_v1_core_webhook-payload_json.json.meta
  schemas/v1/_schemas_v1_enums_task-type_json.json
  schemas/v1/_schemas_v1_enums_task-type_json.json.meta
  scripts/generate_schemas.py
  src/core/schemas_generated/_schemas_v1_core_webhook_payload_json.py
  src/core/schemas_generated/_schemas_v1_enums_task_type_json.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: Unify login/signup flow and remove hardcoded OAuth redirect
  src/admin/blueprints/auth.py
  templates/choose_tenant.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix Google login loop and unify login/signup flow (#650)
  src/admin/blueprints/auth.py
  templates/choose_tenant.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Add /admin prefix to OAuth redirect URI for nginx routing
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Add /admin prefix to OAuth redirect URI for nginx routing (#651)
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

test: Add mcp_client fixture to test_tool_result_format
  tests/integration_v2/test_tool_result_format.py
Due: detect-test-antipatterns, mypy-no-regression

debug: Add detailed OAuth redirect URI logging and env var documentation
  .env.example
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Update tenant selector template to work with dictionary objects
  templates/choose_tenant.html
Due: none

fix: Update tenant selector template to work with dictionary objects (#652)
  .env.example
  src/admin/blueprints/auth.py
  templates/choose_tenant.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Add missing is_admin field to tenant selection data
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Improve tenant selector UX with proper button hierarchy
  templates/choose_tenant.html
Due: none

Fix Google OAuth login loop and unify login/signup flow (#653)
  src/admin/blueprints/auth.py
  templates/choose_tenant.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

test: Fix tool result length assertion for empty results
  tests/integration_v2/test_tool_result_format.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Set session role for super admin OAuth login
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Return human-readable text in MCP protocol messages (#644)
  src/core/tools/creative_formats.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_delivery.py
  src/core/tools/media_buy_update.py
  src/core/tools/performance.py
  src/core/tools/products.py
  src/core/tools/properties.py
  src/core/tools/signals.py
  tests/e2e/adcp_request_builder.py
  tests/e2e/test_adcp_reference_implementation.py
  tests/e2e/test_creative_assignment_e2e.py
  tests/integration/test_generative_creatives.py
  tests/integration/test_list_creatives_auth.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
  tests/integration_v2/test_get_products_filters.py
  tests/integration_v2/test_mcp_endpoints_comprehensive.py
  tests/integration_v2/test_signals_agent_workflow.py
  tests/integration_v2/test_tool_result_format.py
  tests/unit/test_parse_tool_result.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Set session role for super admin OAuth login (#654)
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: tests
  tests/unit/test_order_approval_service.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Convert FormatReference to FormatId in MediaPackage reconstruction
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: Add comprehensive validation to format conversion
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: Move imports and helper function to module level
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

test: Add comprehensive integration tests for format conversion
  tests/integration/test_format_conversion_approval.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Prevent duplicate tenant display when user has both domain and email access
  src/admin/blueprints/auth.py
  src/admin/tests/unit/test_auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Skip package processing for pending/async responses
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Remove fake media_buy_id from pending/async responses
  src/adapters/mock_ad_server.py
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Route external domains to tenant login instead of signup
  src/admin/blueprints/core.py
  tests/unit/test_external_domain_routing.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Remove fake media_buy_id from pending/async responses in mock adapter
  src/adapters/mock_ad_server.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Remove fake media_buy_id from pending/async responses in mock adapter (#658)
  src/adapters/mock_ad_server.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Achieve 100% mypy compliance in src/ directory - 881 errors to 0
  src/adapters/ai_test_orchestrator.py
  src/adapters/gam/client.py
  src/adapters/gam/managers/inventory.py
  src/adapters/gam/managers/orders.py
  src/adapters/gam/managers/sync.py
  src/adapters/gam/managers/targeting.py
  src/adapters/gam/managers/workflow.py
  src/adapters/gam/utils/error_handler.py
  src/adapters/gam/utils/formatters.py
  src/adapters/gam/utils/health_check.py
  src/adapters/gam/utils/logging.py
  src/adapters/gam/utils/validation.py
  src/adapters/gam_inventory_discovery.py
  src/adapters/gam_orders_discovery.py
  src/adapters/gam_reporting_api.py
  src/adapters/google_ad_manager.py
  src/adapters/kevel.py
  src/adapters/mock_ad_server.py
  src/adapters/mock_creative_engine.py
  src/adapters/triton_digital.py
  src/core/database/db_config.py
  src/core/helpers/creative_helpers.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  src/core/tools/products.py
  src/services/background_approval_service.py
  src/services/gam_inventory_service.py
  src/services/gam_orders_service.py
  src/services/order_approval_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Prevent duplicate tenant display when user has both domain and email access (#660)
  src/admin/blueprints/auth.py
  src/admin/tests/unit/test_auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Resolve NameError for MockGAMInventoryDiscovery forward reference
  src/adapters/gam/managers/inventory.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Route external domains to tenant login instead of signup (#661)
  src/admin/blueprints/core.py
  tests/unit/test_external_domain_routing.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

feat: Enforce 100% mypy compliance in pre-commit and CI
  .github/workflows/test.yml
  .pre-commit-config.yaml
  product_catalog_providers/ai.py
  product_catalog_providers/database.py
  product_catalog_providers/factory.py
  product_catalog_providers/hybrid.py
  product_catalog_providers/mcp.py
  product_catalog_providers/signals.py
  scripts/check_mypy_no_regression.py
  scripts/ops/gam_helper.py
Due: enforce-sqlalchemy-2-0, mypy-no-regression

fix: Use FormatId objects instead of strings in AI catalog provider
  product_catalog_providers/ai.py
Due: enforce-sqlalchemy-2-0, mypy-no-regression

fix: Extract AdCP assets fields from database in list_creatives
  CREATIVE_CONSTRUCTION_REVIEW.md
  src/core/tools/creatives.py
  tests/unit/test_list_creatives_assets_extraction.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression
