Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

Update user name from SSO on login
  src/admin/blueprints/oidc.py
  templates/users.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix OAuth CSRF state mismatch by using consistent client names
  src/admin/blueprints/auth.py
  src/admin/blueprints/oidc.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Improve SSO setup flow and add IdP logout support
  alembic/versions/add_oidc_logout_url.py
  docs/deployment/single-tenant.md
  docs/deployment/walkthroughs/fly.md
  docs/user-guide/sso-setup.md
  src/admin/blueprints/auth.py
  src/admin/blueprints/oidc.py
  src/admin/blueprints/users.py
  src/core/database/models.py
  src/services/auth_config_service.py
  templates/oidc_test_success.html
  templates/users.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, mypy-no-regression

Pass single_tenant_mode to tenant login page
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Add name column to users table in admin UI
  src/admin/blueprints/users.py
  templates/users.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Add error handling and logging to OAuth callback
  src/admin/blueprints/oidc.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix login page to check per-tenant OIDC in single-tenant mode
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix OAuth callback 500 error - avoid nested db sessions
  src/admin/blueprints/oidc.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Add name field to add user form with fallback to email username
  src/admin/blueprints/users.py
  templates/users.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Add SSO login option to login page when OIDC is configured
  src/admin/blueprints/auth.py
  templates/login.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix single-tenant deployment and SSO configuration issues
  scripts/deploy/run_all_services.py
  src/admin/blueprints/oidc.py
  src/admin/utils/helpers.py
  src/core/config.py
  src/core/tenant_status.py
  src/landing/landing_page.py
  src/services/auth_config_service.py
  src/services/setup_checklist_service.py
  templates/users.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Add SSO access warning and auto-create users from authorized domains
  src/admin/blueprints/oidc.py
  templates/users.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Add ENCRYPTION_KEY to Fly.io deployment docs
  docs/deployment/walkthroughs/fly.md
Due: none

fix: Update tests for SSO requirement in setup checklist
  .type-ignore-baseline
  alembic/versions/d0c0d908f805_merge_all_heads.py
  src/core/config.py
  tests/integration/test_setup_checklist_service.py
  tests/integration_v2/conftest.py
  tests/unit/test_setup_checklist_mock_adapter.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Improve login page messaging for single-tenant SSO setup
  templates/login.html
Due: none

Require SSO login to disable auth_setup_mode
  src/admin/blueprints/users.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: Update fly.toml for adcp-sales-agent deployment
  fly.toml
Due: none

Reload page after enabling SSO to show Disable Setup Mode button
  templates/users.html
Due: none

Auto-enable SSO when test connection succeeds
  src/admin/blueprints/oidc.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Allow SSO login when OIDC configured in setup mode
  src/admin/blueprints/oidc.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Add debug logging for OIDC enable issue
  src/admin/blueprints/oidc.py
  src/admin/blueprints/users.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix OIDC config GET response format to match frontend expectations
  src/admin/blueprints/oidc.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix OAuth callback session loss and improve secret handling
  fly.toml
  src/admin/app.py
  src/admin/blueprints/oidc.py
  src/services/auth_config_service.py
  templates/users.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Fix alembic migration heads after rebase
  alembic/versions/f3bac4654620_merge_oidc_heads.py
Due: mypy-no-regression

fix: Update test fixtures for SSO and production ad server requirements
  docker-compose.e2e.yml
  tests/integration/conftest.py
  tests/integration/test_setup_checklist_service.py
  tests/integration_v2/conftest.py
  tests/integration_v2/test_minimum_spend_validation.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Add kevel platform_mappings to principals for kevel ad_server
  tests/fixtures/factories.py
  tests/integration/conftest.py
  tests/integration_v2/conftest.py
  tests/integration_v2/test_minimum_spend_validation.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Allow mock adapter in test environments (ADCP_TESTING=true)
  src/services/setup_checklist_service.py
  tests/integration/conftest.py
  tests/integration/test_setup_checklist_service.py
  tests/integration_v2/conftest.py
  tests/integration_v2/test_minimum_spend_validation.py
  tests/unit/test_setup_checklist_mock_adapter.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Add SSO config for demo tenant and enable ADCP_TESTING in bulk status
  docker-compose.e2e.yml
  src/core/database/database.py
  src/services/setup_checklist_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Use 'default' tenant for E2E tests (matches ci-test-token)
  tests/e2e/conftest.py
  tests/e2e/test_adcp_reference_implementation.py
  tests/e2e/test_creative_assignment_e2e.py
  tests/e2e/test_delivery_webhooks_e2e.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Add SSO config for ci-test tenant and revert E2E to use ci-test
  scripts/setup/init_database_ci.py
  tests/e2e/conftest.py
  tests/e2e/test_adcp_reference_implementation.py
  tests/e2e/test_creative_assignment_e2e.py
  tests/e2e/test_delivery_webhooks_e2e.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Single-tenant deployment and SSO configuration (#908)
  .type-ignore-baseline
  alembic/versions/add_oidc_logout_url.py
  alembic/versions/f3bac4654620_merge_oidc_heads.py
  docker-compose.e2e.yml
  docs/deployment/single-tenant.md
  docs/deployment/walkthroughs/fly.md
  docs/user-guide/sso-setup.md
  scripts/deploy/run_all_services.py
  scripts/setup/init_database_ci.py
  src/admin/app.py
  src/admin/blueprints/auth.py
  src/admin/blueprints/oidc.py
  src/admin/blueprints/users.py
  src/admin/utils/helpers.py
  src/core/config.py
  src/core/database/database.py
  src/core/database/models.py
  src/core/tenant_status.py
  src/landing/landing_page.py
  src/services/auth_config_service.py
  src/services/setup_checklist_service.py
  templates/login.html
  templates/oidc_test_success.html
  templates/users.html
  tests/e2e/test_creative_assignment_e2e.py
  tests/e2e/test_delivery_webhooks_e2e.py
  tests/fixtures/factories.py
  tests/integration/conftest.py
  tests/integration/test_setup_checklist_service.py
  tests/integration_v2/conftest.py
  tests/integration_v2/test_minimum_spend_validation.py
  tests/unit/test_setup_checklist_mock_adapter.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment, mypy-no-regression

improve: Show full values in Pydantic extra_forbidden errors
  src/core/validation_helpers.py
  tests/unit/test_validation_errors.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

chore: Update uv.lock version to 0.5.0
  uv.lock
Due: none

fix: Show full values in Pydantic extra_forbidden errors (#912)
  src/core/validation_helpers.py
  tests/unit/test_validation_errors.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Restore deleted migration to fix Fly.io deploy
  alembic/versions/30acc1daf358_merge_migration_heads.py
  alembic/versions/g1h2i3j4k5l6_merge_orphan_branch.py
Due: mypy-no-regression

fix: Restore deleted migration to fix Fly.io deploy (#914)
  alembic/versions/30acc1daf358_merge_migration_heads.py
  alembic/versions/g1h2i3j4k5l6_merge_orphan_branch.py
Due: mypy-no-regression

feat: Add GAM placement targeting for creative-level targeting (adcp#208)
  alembic/versions/cdaa4d359774_add_placement_ids_to_creative_.py
  src/adapters/gam/managers/creatives.py
  src/adapters/gam/managers/orders.py
  src/adapters/gam_implementation_config_schema.py
  src/adapters/google_ad_manager.py
  src/core/database/models.py
  src/core/schemas.py
  src/core/tools/media_buy_update.py
  tests/unit/test_adcp_25_creative_management.py
  tests/unit/test_gam_placement_targeting.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

chore: Fix typo in .mcp.json (vidium → vibium)
  .mcp.json
Due: none

feat: Add GAM placement targeting for creative-level targeting (adcp#208) (#915)
  .mcp.json
  alembic/versions/cdaa4d359774_add_placement_ids_to_creative_.py
  src/adapters/gam/managers/creatives.py
  src/adapters/gam/managers/orders.py
  src/adapters/gam_implementation_config_schema.py
  src/adapters/google_ad_manager.py
  src/core/database/models.py
  src/core/schemas.py
  src/core/tools/media_buy_update.py
  tests/unit/test_adcp_25_creative_management.py
  tests/unit/test_gam_placement_targeting.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: Route multi-tenant subdomain requests to tenant-specific login
  src/admin/blueprints/auth.py
  src/admin/blueprints/core.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
