Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

validate-column-lengths:
  name: Validate database column lengths
  entry: python scripts/validate_column_lengths.py
  language: system

check-api-deprecations:
  name: Check for deprecated API usage
  entry: python scripts/check_api_deprecations.py
  language: system

validate-model-imports:
  name: Validate model imports
  entry: python scripts/validate_model_imports.py
  language: system

Stage 5: Migrate adapter files to SQLAlchemy 2.0 (18 patterns)
  src/adapters/gam/managers/sync.py
  src/adapters/gam/managers/workflow.py
  src/adapters/gam_reporting_api.py
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
  src/adapters/xandr.py
Due: check-api-deprecations, validate-model-imports

Stage 5: Migrate a2a_server file to SQLAlchemy 2.0 (4 patterns)
  src/a2a_server/adcp_a2a_server.py
Due: validate-model-imports

Stage 5: Fix test to use scalars() mock for SQLAlchemy 2.0
  tests/unit/test_virtual_host_edge_cases.py
Due: validate-model-imports

Stage 5: Complete test fixes for SQLAlchemy 2.0
  tests/unit/test_virtual_host_edge_cases.py
Due: validate-model-imports

Fix MCP comprehensive integration tests with PostgreSQL (#317)
  .gitignore
  run_all_tests.sh
  src/core/main.py
  src/core/tools.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_mcp_endpoints_comprehensive.py
Due: validate-model-imports

Add production-ready thread-safe webhook delivery system
  src/adapters/gam/managers/__init__.py
  src/adapters/gam/managers/reporting.py
  src/admin/blueprints/operations.py
  src/services/delivery_simulator.py
  src/services/webhook_delivery_service.py
  templates/tenant_dashboard.html
  templates/webhooks.html
  tests/unit/test_delivery_simulator.py
  tests/unit/test_webhook_delivery_service.py
Due: check-api-deprecations, validate-model-imports

chore: Remove legacy google_ad_manager_original.py backup
  src/adapters/google_ad_manager_original.py
Due: check-api-deprecations, validate-model-imports

Stage 5: Migrate google_ad_manager_original (legacy) to SQLAlchemy 2.0 (13 patterns)
  src/adapters/google_ad_manager_original.py
Due: check-api-deprecations, validate-model-imports

Add AdCP V2.3 compliant delivery webhook simulation for mock adapter (#316)
  docs/delivery-simulation.md
  docs/mock-adapter-guide.md
  examples/delivery_simulation_demo.py
  src/adapters/gam/managers/__init__.py
  src/adapters/gam/managers/reporting.py
  src/adapters/mock_ad_server.py
  src/admin/blueprints/operations.py
  src/services/delivery_simulator.py
  src/services/webhook_delivery_service.py
  templates/adapters/mock_product_config.html
  templates/tenant_dashboard.html
  templates/webhooks.html
  tests/unit/adapters/test_base.py
  tests/unit/test_delivery_simulator.py
  tests/unit/test_webhook_delivery_service.py
Due: check-api-deprecations, validate-model-imports

Stage 5: Fix syntax errors from automated test migration
  src/core/context_manager.py
  tests/e2e/conftest.py
  tests/integration/test_adapter_factory.py
  tests/integration/test_create_media_buy_v24.py
  tests/integration/test_creative_lifecycle_mcp.py
  tests/integration/test_database_health_integration.py
  tests/integration/test_gam_automation_focused.py
  tests/integration/test_gam_tenant_setup.py
  tests/integration/test_main.py
  tests/integration/test_mcp_tool_roundtrip_validation.py
  tests/integration/test_mcp_tools_audit.py
  tests/integration/test_media_buy_readiness.py
  tests/integration/test_product_creation.py
  tests/integration/test_product_deletion.py
  tests/integration/test_schema_database_mapping.py
  tests/integration/test_self_service_signup.py
  tests/integration/test_signals_agent_workflow.py
  tests/integration/test_tenant_dashboard.py
  tests/integration/test_tenant_management_api_integration.py
  tests/integration/test_workflow_approval.py
  tests/integration/test_workflow_lifecycle.py
  tests/manual/test_gam_automation_real.py
  tests/smoke/test_smoke_critical_paths.py
  tests/unit/test_ai_provider_bug.py
  tests/unit/test_import_collisions.py
  tests/unit/test_session_json_validation.py
  tests/unit/test_workflow_architecture.py
  tests/utils/database_helpers.py
Due: validate-model-imports

Add mypy with SQLAlchemy plugin for type checking
  .pre-commit-config.yaml
  mypy.ini
  pyproject.toml
  uv.lock
Due: none

Fix SQLAlchemy type annotations for Decimal columns
  .pre-commit-config.yaml
  mypy.ini
  src/a2a_server/adcp_a2a_server.py
  src/core/context_manager.py
  src/core/database/models.py
Due: validate-column-lengths, validate-model-imports

Add mypy type checking requirements to development guidelines
  CLAUDE.md
Due: none

Add mypy with SQLAlchemy plugin for type checking (#320)
  .pre-commit-config.yaml
  CLAUDE.md
  mypy.ini
  pyproject.toml
  src/a2a_server/adcp_a2a_server.py
  src/core/context_manager.py
  src/core/database/models.py
  uv.lock
Due: validate-column-lengths, validate-model-imports

Fix platform_mappings format to match PlatformMappingModel validator
  alembic/versions/013_principal_advertiser_mapping.py
  docs/SETUP.md
  docs/api.md
  examples/upstream_with_implementation.py
  scripts/setup/init_database.py
  src/admin/blueprints/principals.py
Due: validate-model-imports

Fix platform_mappings format to match PlatformMappingModel validator (#321)
  alembic/versions/013_principal_advertiser_mapping.py
  docs/SETUP.md
  docs/api.md
  examples/upstream_with_implementation.py
  scripts/setup/init_database.py
  src/admin/blueprints/principals.py
Due: validate-model-imports

Fix admin UI 401/404 errors for reporting and media buy pages
  src/adapters/gam_reporting_api.py
  templates/gam_reporting.html
  templates/workflows.html
Due: check-api-deprecations, validate-model-imports

Fix production errors in tenant settings and business activity service
  src/admin/blueprints/tenants.py
  src/admin/services/business_activity_service.py
Due: validate-model-imports

Fix admin UI 401/404 errors for reporting and media buy pages (#322)
  src/adapters/gam_reporting_api.py
  src/admin/blueprints/tenants.py
  src/admin/services/business_activity_service.py
  templates/gam_reporting.html
  templates/workflows.html
Due: check-api-deprecations, validate-model-imports

Remove continue-on-error from e2e tests to properly fail CI
  .github/workflows/test.yml
Due: none

Fix AdCP schema validation tests
  tests/e2e/test_comprehensive_adcp_compliance.py
Due: validate-model-imports

Fix port defaults in e2e test fixtures
  tests/e2e/conftest.py
Due: validate-model-imports

Add Inventory menu item to tenant settings
  src/admin/blueprints/tenants.py
  templates/tenant_settings.html
Due: validate-model-imports

Delete redundant mock schema validation tests
  tests/e2e/test_comprehensive_adcp_compliance.py
Due: validate-model-imports

fix: Allow multiple workspaces by fixing docker-compose port mapping
  docker-compose.yml
Due: none

Add Inventory menu item to tenant settings (#324)
  src/admin/blueprints/tenants.py
  templates/tenant_settings.html
Due: validate-model-imports

Fix e2e health check timeout and add better logging
  tests/e2e/conftest.py
Due: validate-model-imports

Implement lazy initialization for database engine and remove SQLite support
  .gitignore
  CLAUDE.md
  run_all_tests.sh
  src/core/database/database_session.py
  src/core/database/db_config.py
  tests/conftest.py
  tests/conftest_db.py
  tests/integration/conftest.py
  tests/integration/test_ai_provider_bug.py
  tests/integration/test_context_persistence.py
  tests/integration/test_get_products_database_integration.py
  tests/integration/test_session_json_validation.py
  tests/unit/conftest.py
  tests/unit/test_dashboard_service.py
Due: validate-model-imports

Add comprehensive creative review and AI approval system
  alembic/versions/51ff03cbe186_add_creative_review_fields_to_tenant.py
  src/admin/blueprints/creatives.py
  src/admin/blueprints/settings.py
  src/core/database/models.py
  src/core/main.py
  templates/creative_review.html
  templates/creatives_list.html
  templates/tenant_settings.html
Due: validate-column-lengths, validate-model-imports

Add missing ad_manager import for GAM client creation
  src/admin/blueprints/gam.py
Due: validate-model-imports

Add missing os import for GAM OAuth credentials
  src/admin/blueprints/gam.py
Due: validate-model-imports

Fix GAMInventoryDiscovery initialization for API compatibility
  src/admin/blueprints/gam.py
Due: validate-model-imports

Add selective inventory sync with limits for large publishers
  src/adapters/gam_inventory_discovery.py
  src/admin/blueprints/gam.py
  src/admin/blueprints/inventory.py
  templates/inventory_browser.html
Due: check-api-deprecations, validate-model-imports

Fix e2e test database persistence issue
  tests/e2e/conftest.py
Due: validate-model-imports

Move integration tests from unit/ to integration/ and fix test_environment fixture
  tests/conftest.py
  tests/integration/test_ai_provider_bug.py
  tests/integration/test_list_creative_formats_params.py
Due: validate-model-imports

Optimize CI performance with parallel jobs and faster health checks
  .github/workflows/test.yml
Due: none

Fix test_context_persistence to use integration_db fixture
  tests/integration/test_context_persistence.py
Due: validate-model-imports

Fix test_health_route_migration to use integration_db fixture
  tests/integration/test_health_route_migration.py
Due: validate-model-imports

fix: Agent card port and async policy check issues
  docker-compose.yml
  src/adapters/google_ad_manager.py
  src/admin/blueprints/tenants.py
  src/core/main.py
  src/services/policy_check_service.py
  templates/tenant_settings.html
Due: check-api-deprecations, validate-model-imports

Path conditions:
  validate-column-lengths: any of: (models|schemas)\.py$
  check-api-deprecations: any of: adapters/.*\.py$
  validate-model-imports: any of: \.py$
