Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$

test: add comprehensive auth requirement tests for all tools
  tests/unit/test_auth_requirements.py
Due: detect-test-antipatterns, mypy-no-regression

chore: remove temporary AUTH_AUDIT_FINDINGS.md
  AUTH_AUDIT_FINDINGS.md
Due: none

fix: require authentication for sync_creatives and update_media_buy (#721)
  src/core/tools/creatives.py
  src/core/tools/media_buy_update.py
  tests/unit/test_auth_requirements.py
  tests/unit/test_sync_creatives_auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

feat: implement dynamic products with signals agent integration
  alembic/versions/c608bc822a13_add_dynamic_product_fields.py
  product_catalog_providers/signals.py
  schemas/v1/_schemas_v1_signals_get-signals-request_json.json
  schemas/v1/_schemas_v1_signals_get-signals-response_json.json
  src/adapters/xandr.py
  src/admin/app.py
  src/admin/blueprints/products.py
  src/core/database/models.py
  src/core/tools/products.py
  src/services/dynamic_products.py
  templates/add_product_gam.html
  templates/products.html
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, mypy-no-regression

feat: integrate signals registry for dynamic product variant generation
  src/services/dynamic_products.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: optimize dynamic products to use singleton registry and multi-agent queries
  src/core/tools/products.py
  src/services/dynamic_products.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: remove countries parameter from signals agent context
  src/services/dynamic_products.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: add inventory profiles for reusable inventory configuration
  GAM_TARGETING_PRESETS_ANALYSIS.md
  INVENTORY_GROUP_DESIGN.md
  PROPERTY_AUTHORIZATION_ANALYSIS.md
  alembic/versions/4efe7b2471a9_add_inventory_profiles_table.py
  schemas/v1/_schemas_v1_core_format_json.json.meta
  schemas/v1/_schemas_v1_core_product_json.json.meta
  schemas/v1/index.json.meta
  src/admin/app.py
  src/admin/blueprints/inventory_profiles.py
  src/core/database/models.py
  templates/add_inventory_profile.html
  templates/edit_inventory_profile.html
  templates/inventory_profiles_list.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, mypy-no-regression

feat: integrate browse inventory and inventory profiles into unified page
  src/admin/blueprints/inventory.py
  src/admin/blueprints/inventory_profiles.py
  templates/inventory_unified.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: complete priority fixes for unified inventory page
  src/admin/blueprints/authorized_properties.py
  templates/inventory_unified.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

docs: remove temporary analysis documents
  GAM_TARGETING_PRESETS_ANALYSIS.md
  INVENTORY_GROUP_DESIGN.md
  PROPERTY_AUTHORIZATION_ANALYSIS.md
Due: none

fix: address critical security and performance issues from code review
  alembic/versions/4efe7b2471a9_add_inventory_profiles_table.py
  src/admin/blueprints/inventory_profiles.py
  templates/inventory_unified.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: use correct Product primary key in inventory profile queries
  src/admin/blueprints/inventory_profiles.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: implement dynamic products with signals agent integration
  alembic/versions/149ad85edb6f_add_variant_name_and_description_.py
  schemas/v1/_schemas_v1_media-buy_create-media-buy-response_json.json
  schemas/v1/_schemas_v1_media-buy_sync-creatives-response_json.json
  schemas/v1/_schemas_v1_media-buy_update-media-buy-response_json.json
  schemas/v1/_schemas_v1_signals_get-signals-request_json.json
  schemas/v1/_schemas_v1_signals_get-signals-response_json.json
  src/admin/blueprints/products.py
  src/core/database/models.py
  src/core/signals_agent_registry.py
  src/core/tools/products.py
  src/services/dynamic_products.py
  templates/add_product_gam.html
  tests/integration_v2/test_admin_ui_data_validation.py
  tests/unit/test_signals_agent_registry.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment, mypy-no-regression

fix: use AsyncMock for ADCPMultiAgentClient to support async context manager
  tests/integration_v2/test_signals_agent_workflow.py
Due: detect-test-antipatterns, mypy-no-regression

Add product details, measurement providers, and UI enhancements (#720)
  alembic/versions/149ad85edb6f_add_variant_name_and_description_.py
  alembic/versions/a79158b4a1ae_add_measurement_providers_to_tenants.py
  alembic/versions/c608bc822a13_add_dynamic_product_fields.py
  alembic/versions/e40d739b89c6_add_product_detail_fields.py
  product_catalog_providers/signals.py
  pyproject.toml
  schemas/v1/_schemas_v1_media-buy_create-media-buy-response_json.json
  schemas/v1/_schemas_v1_media-buy_sync-creatives-response_json.json
  schemas/v1/_schemas_v1_media-buy_update-media-buy-response_json.json
  schemas/v1/_schemas_v1_signals_get-signals-request_json.json
  schemas/v1/_schemas_v1_signals_get-signals-response_json.json
  src/adapters/xandr.py
  src/admin/app.py
  src/admin/blueprints/products.py
  src/admin/blueprints/settings.py
  src/core/database/models.py
  src/core/schemas.py
  src/core/signals_agent_registry.py
  src/core/tools/products.py
  src/services/dynamic_products.py
  templates/add_product_gam.html
  templates/add_product_mock.html
  templates/edit_product_mock.html
  templates/products.html
  templates/tenant_settings.html
  tests/integration_v2/test_admin_ui_data_validation.py
  tests/integration_v2/test_signals_agent_workflow.py
  tests/unit/test_signals_agent_registry.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: await extractSizesFromInventory in applyInventorySelection
  templates/add_product_gam.html
Due: none

fix: handle null/undefined values in targeting selector
  templates/components/targeting_selector_simple.html
Due: none

fix: improve error messages for targeting values API endpoint
  src/admin/blueprints/inventory.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

debug: add logging to diagnose targeting values 400 error
  src/admin/blueprints/inventory.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: support service account authentication in targeting values endpoint
  src/admin/blueprints/inventory.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

audit: ensure all GAM endpoints support both OAuth and service account auth
  .pre-commit-config.yaml
  .pre-commit-hooks/check-gam-auth-support.py
  AUDIT_RESULTS.md
Due: mypy-no-regression

test: update targeting values test to match new error message
  tests/integration/test_targeting_values_endpoint.py
Due: detect-test-antipatterns, mypy-no-regression

chore: remove audit results file
  AUDIT_RESULTS.md
Due: none

fix: ad unit format button, targeting selector crash, and service account auth (#723)
  .pre-commit-config.yaml
  .pre-commit-hooks/check-gam-auth-support.py
  src/admin/blueprints/inventory.py
  templates/add_product_gam.html
  templates/components/targeting_selector_simple.html
  tests/integration/test_targeting_values_endpoint.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix creative status mismatch: pending → pending_review
  src/admin/blueprints/creatives.py
  src/admin/services/media_buy_readiness_service.py
  src/core/database/queries.py
  templates/creative_management.html
  tests/unit/test_ai_review.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix creative status mismatch: pending → pending_review (#724)
  src/admin/blueprints/creatives.py
  src/admin/services/media_buy_readiness_service.py
  src/core/database/queries.py
  templates/creative_management.html
  tests/unit/test_ai_review.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: remove top-level budget requirement from create_media_buy
  src/a2a_server/adcp_a2a_server.py
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: remove top-level budget requirement from create_media_buy (#725)
  src/a2a_server/adcp_a2a_server.py
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

docs: Add brand manifest policy configuration docs and update script
  docs/brand-manifest-policy.md
  scripts/update_brand_manifest_policy.py
Due: mypy-no-regression

feat: Add brand manifest policy UI dropdown in Admin
  src/admin/blueprints/settings.py
  templates/tenant_settings.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: Add brand manifest policy UI dropdown in Admin (#726)
  docs/brand-manifest-policy.md
  scripts/update_brand_manifest_policy.py
  src/admin/blueprints/settings.py
  templates/tenant_settings.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: wrap service account credentials with GoogleCredentialsClient
  src/admin/blueprints/inventory.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: add inventory profiles for reusable product configurations
  src/admin/blueprints/inventory.py
  src/admin/blueprints/inventory_profiles.py
  src/admin/blueprints/products.py
  src/core/database/models.py
  src/core/main.py
  src/core/tools/products.py
  templates/add_product_gam.html
  templates/components/inventory_picker.html
  templates/components/inventory_profile_editor.html
  templates/inventory_unified.html
  templates/products.html
  tests/e2e/test_inventory_profile_media_buy.py
  tests/integration/test_inventory_profile_effective_properties.py
  tests/integration/test_inventory_profile_security.py
  tests/integration/test_inventory_profile_transitions.py
  tests/integration/test_inventory_profile_updates.py
  tests/unit/test_inventory_profile_adcp_compliance.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: wrap service account credentials with GoogleCredentialsClient (#727)
  src/admin/blueprints/inventory.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix A2A get_products brand_manifest parameter support
  docs/fixes/brand-manifest-a2a-fix.md
  schemas/v1/_schemas_v1_core_activation-key_json.json
  schemas/v1/_schemas_v1_core_deployment_json.json
  schemas/v1/_schemas_v1_core_deployment_json.json.meta
  schemas/v1/_schemas_v1_core_destination_json.json
  schemas/v1/_schemas_v1_core_destination_json.json.meta
  schemas/v1/_schemas_v1_core_sub-asset_json.json
  schemas/v1/_schemas_v1_core_sub-asset_json.json.meta
  schemas/v1/_schemas_v1_core_webhook-payload_json.json
  schemas/v1/_schemas_v1_core_webhook-payload_json.json.meta
  schemas/v1/_schemas_v1_media-buy_create-media-buy-response_json.json.meta
  schemas/v1/_schemas_v1_media-buy_provide-performance-feedback-response_json.json
  schemas/v1/_schemas_v1_media-buy_provide-performance-feedback-response_json.json.meta
  schemas/v1/_schemas_v1_media-buy_sync-creatives-response_json.json.meta
  schemas/v1/_schemas_v1_media-buy_update-media-buy-response_json.json.meta
  schemas/v1/_schemas_v1_signals_activate-signal-request_json.json
  schemas/v1/_schemas_v1_signals_activate-signal-request_json.json.meta
  schemas/v1/_schemas_v1_signals_activate-signal-response_json.json
  schemas/v1/_schemas_v1_signals_activate-signal-response_json.json.meta
  schemas/v1/_schemas_v1_signals_get-signals-request_json.json.meta
  schemas/v1/_schemas_v1_signals_get-signals-response_json.json.meta
  schemas/v1/index.json
  schemas/v1/index.json.meta
  src/a2a_server/adcp_a2a_server.py
  src/core/schemas_generated/__init__.py
  src/core/schemas_generated/_schemas_v1_core_deployment_json.py
  src/core/schemas_generated/_schemas_v1_core_destination_json.py
  src/core/schemas_generated/_schemas_v1_core_sub_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_webhook_payload_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_create_media_buy_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_provide_performance_feedback_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_update_media_buy_response_json.py
  src/core/schemas_generated/_schemas_v1_signals_activate_signal_response_json.py
  src/core/schemas_generated/_schemas_v1_signals_get_signals_request_json.py
  tests/integration_v2/test_a2a_brand_manifest.py
  tests/unit/test_a2a_brand_manifest_parameter.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: resolve CI test failures for inventory profiles
  tests/e2e/test_inventory_profile_media_buy.py
  tests/integration/test_template_url_validation.py
Due: detect-test-antipatterns, mypy-no-regression

fix: update schema compatibility tests for RootModel union types
  tests/unit/test_schema_generated_compatibility.py
Due: detect-test-antipatterns, mypy-no-regression

docs: add root cause analysis for CI failures (2025-11-11)
  docs/testing/root-cause-analysis-ci-failures-2025-11-11.md
Due: none

Remove unnecessary RCA documentation
  docs/testing/root-cause-analysis-ci-failures-2025-11-11.md
Due: none
