Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$

Changes auto-committed by Conductor (#520)
  src/core/context_manager.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Changes auto-committed by Conductor (#528)
  src/core/schemas.py
  tests/unit/test_null_field_exclusion.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Make list_authorized_properties public (no auth required) (#551)
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mcp-schema-alignment

Fix list_creatives A2A response mapping (#527)
  src/a2a_server/adcp_a2a_server.py
  tests/unit/test_a2a_response_attribute_access.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Fix discovery endpoint auth handling and remove fallback behavior (#553)
  src/core/main.py
  tests/unit/test_auth_removal_simple.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Improve media buy approval UX with direct approve/reject actions (#540)
  src/admin/blueprints/operations.py
  templates/media_buy_detail.html
  tests/integration/test_template_url_validation.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, template-url-validation

Refactor: Validate creative asset structure (#518)
  src/core/creative_agent_registry.py
  src/core/main.py
  src/core/schemas.py
  tests/e2e/schemas/v1/index.json
  tests/e2e/test_a2a_adcp_compliance.py
  tests/integration/test_a2a_response_message_fields.py
  tests/integration/test_a2a_skill_invocation.py
  tests/integration/test_session_json_validation.py
  tests/unit/test_validate_creative_assets.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix timezone-aware datetime comparison in stale sync detection (#516)
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix service account GAM connection flow (#530)
  src/admin/blueprints/gam.py
  static/js/tenant_settings.js
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Add creative assignments display to media buy detail view (#547)
  src/admin/blueprints/operations.py
  src/core/main.py
  templates/media_buy_detail.html
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment, template-url-validation

Fix sync_creatives asyncio and variable scoping errors (#535)
  src/core/main.py
  tests/unit/test_sync_creatives_async_fix.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix targeting browser display and navigation issues (#523)
  .gitignore
  docker-compose.yml
  src/adapters/gam_inventory_discovery.py
  src/admin/blueprints/gam.py
  src/admin/blueprints/inventory.py
  src/services/gam_inventory_service.py
  static/js/tenant_settings.js
  templates/targeting_browser.html
  templates/tenant_settings.html
  test_sync.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Changes auto-committed by Conductor (#521)
  src/core/schemas.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Remove session.tenant_name usage (#519)
  src/admin/app.py
  src/admin/blueprints/auth.py
  src/admin/blueprints/public.py
  templates/base.html
  tests/unit/test_tenant_name_sync.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, template-url-validation

Fix A2A authentication header reading for Approximated proxy compatibility (#563)
  src/a2a_server/adcp_a2a_server.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Fix tenant context detection in MCP tools (#555)
  src/core/mcp_context_wrapper.py
  tests/unit/test_context_management.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Fix list_authorized_properties schema and add comprehensive tests (#564)
  .pre-commit-config.yaml
  scripts/generate_schemas.py
  scripts/setup/setup_conductor_workspace.sh
  src/a2a_server/adcp_a2a_server.py
  src/core/schemas.py
  src/core/schemas_generated/__init__.py
  src/core/schemas_generated/_schemas_v1_core_promoted_offerings_json.py
  tests/integration/test_a2a_skill_invocation.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_authorized_properties.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix Approximated API endpoints for domain status check (#554)
  src/admin/blueprints/settings.py
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix A2A list_authorized_properties tenant detection without auth (#557)
  src/a2a_server/adcp_a2a_server.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Fix: Implement creative assignment in update_media_buy (#560)
  CLAUDE.md
  docs/fixes/2025-10-23-update-media-buy-creative-assignment.md
  src/core/main.py
  tests/integration/test_update_media_buy_creative_assignment.py
  tests/unit/test_update_media_buy_affected_packages.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix creative approval 500 error and webhook auth bug (#567)
  src/core/context_manager.py
  templates/creative_management.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix A2A tenant authentication by resolving tenant from headers before auth (#569)
  docs/testing/postmortems/2025-10-23-a2a-tenant-auth-bug.md
  src/a2a_server/adcp_a2a_server.py
  tests/unit/test_a2a_function_call_validation.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Fix get_products MCP tool registration with missing parentheses (#556)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix nginx binding to 0.0.0.0:8000 for Fly.io load balancer (#559)
  fly/nginx.conf
Due: none

Fix inventory sync to support service account authentication (#570)
  src/admin/blueprints/inventory.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix GAM service account authentication missing scope parameter (#565)
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix MCP tenant detection by capturing Host header (#558)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix list_authorized_properties to use AdCP v2.4 spec-compliant publisher_domains (#562)
  src/core/main.py
  src/core/schema_adapters.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix creative assignment to support buyer_ref lookup (#561)
  src/core/main.py
  tests/e2e/adcp_request_builder.py
  tests/e2e/test_creative_assignment_e2e.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add duplicate product validation and assignment reporting (#568)
  src/core/main.py
  src/core/schemas.py
  tests/unit/test_duplicate_product_validation.py
  tests/unit/test_sync_creatives_assignment_reporting.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

fixes: overall fixes
  run_all_tests.sh
  scripts/test-sales-agent-local-a2a.sh
  scripts/test-sales-agent-local-mcp.sh
  src/a2a_server/adcp_a2a_server.py
  src/adapters/mock_ad_server.py
  src/admin/blueprints/operations.py
  src/admin/services/media_buy_readiness_service.py
  src/core/auth_utils.py
  src/core/context_manager.py
  src/core/main.py
  src/core/schemas.py
  static/js/tenant_settings.js
  templates/creative_management.html
  templates/media_buy_detail.html
  tests/unit/test_ai_orchestrator.py
  tests/unit/test_tenant_isolation_fix.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Fix schema generator to use union operator for consistency (#574)
  .pre-commit-config.yaml
  scripts/generate_schemas.py
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_json.py
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_ref_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_error_json.py
  src/core/schemas_generated/_schemas_v1_core_format_json.py
  src/core/schemas_generated/_schemas_v1_core_pricing_option_json.py
  src/core/schemas_generated/_schemas_v1_core_product_json.py
  src/core/schemas_generated/_schemas_v1_core_promoted_offerings_json.py
  src/core/schemas_generated/_schemas_v1_core_start_timing_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_create_media_buy_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_media_buy_delivery_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_authorized_properties_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creative_formats_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_package_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_update_media_buy_request_json.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix get_gam_advertisers endpoint to support service account auth (#588)
  scripts/test_service_account_auth.py
  src/admin/blueprints/principals.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Enable FastMCP sessions for proper HTTP context in unauthenticated calls (#580)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add comprehensive MCP debugging for list_authorized_properties (#583)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix service account credential wrapping in GAM setup flow (#584)
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix: Correct AdManagerClient signature for service account auth (#571)
  src/admin/blueprints/inventory.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls
