Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$

Exclude is_fixed from PricingOption AdCP serialization
  src/core/schemas.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

fix: Move addPricingOption function to main script block
  templates/add_product_gam.html
Due: template-url-validation

Fix E2E test principal-tenant mismatch in init_database_ci
  scripts/setup/init_database_ci.py
Due: none

fix: Default to empty property_tags when creating products
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix principal-tenant mismatch in new-tenant code path
  scripts/setup/init_database_ci.py
Due: none

fix: E2E test failures - async event loop and schema validation
  src/core/format_resolver.py
  tests/e2e/test_schema_validation_standalone.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Fix tenant is_active not set causing auth lookup failure
  scripts/setup/init_database_ci.py
Due: none

Add debug logging to verify tenant is_active value
  scripts/setup/init_database_ci.py
Due: none

fix: Handle async context in list_creative_formats MCP tool
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add auth query verification to debug tenant lookup failure
  scripts/setup/init_database_ci.py
Due: none

feat: Dynamic format discovery via CreativeAgentRegistry (AdCP v2.4) (#358)
  alembic/versions/2a2aaed3b50d_merge_dynamic_format_discovery_with_main.py
  alembic/versions/33d3c9c61315_add_creative_agents_table.py
  alembic/versions/deb82ef8a598_migrate_product_formats_to_format_.py
  alembic/versions/ef5672f3a134_merge_creative_agents_with_pricing_.py
  docker-compose.yml
  docs/format-discovery-ux-improvements.md
  docs/format-size-mapping-proposal.md
  src/admin/app.py
  src/admin/blueprints/format_search.py
  src/admin/blueprints/products.py
  src/core/creative_agent_registry.py
  src/core/database/models.py
  src/core/format_resolver.py
  src/core/main.py
  src/core/schemas.py
  templates/add_product.html
  templates/add_product_gam.html
  templates/creative_management.html
  templates/edit_product.html
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-authorized-properties-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-authorized-properties-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creatives-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creatives-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_signals_get-signals-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_signals_get-signals-response_json.json
  tests/e2e/test_schema_validation_standalone.py
  tests/unit/test_format_resolver.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Add auth debug logging to diagnose E2E test failures
  src/core/auth_utils.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Create merge migration to resolve multiple heads
  alembic/versions/39c5ac5558c7_merge_pricing_migration_with_format_.py
Due: none

Replace print with console.print for auth debug logging
  src/core/auth_utils.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add database connection pool reset endpoint to fix E2E test failures
  src/core/auth_utils.py
  src/core/main.py
  tests/e2e/conftest.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add debug logging to get_products to trace 0 products issue
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Migrate signals and list_creatives tools to schema adapters
  src/core/main.py
  src/core/schema_adapters.py
  src/core/schemas.py
  src/core/tools.py
  tests/integration/test_mcp_contract_validation.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_all_response_str_methods.py
  tests/unit/test_authorized_properties.py
  tests/unit/test_customer_webhook_regression.py
  tests/unit/test_get_products_response_str.py
  tests/unit/test_mcp_schema_validator.py
  tests/unit/test_spec_compliance.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix A2A test to use GetProductsResponse adapter
  tests/integration/test_a2a_response_message_fields.py
Due: detect-test-antipatterns

Fix GetProductsResponse contract test - message not in AdCP spec
  tests/integration/test_schema_contract_validation.py
Due: detect-test-antipatterns

Add database verification after connection pool reset
  tests/e2e/conftest.py
Due: detect-test-antipatterns

Fix missing import: add create_get_products_request to main.py
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix E2E tests by clearing product catalog provider cache on reset
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add print debug statements to trace get_products execution
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add unit test to catch missing imports in MCP tool wrappers
  tests/unit/test_mcp_tool_imports.py
Due: detect-test-antipatterns

Hide setup checklist widget once critical tasks complete
  templates/tenant_dashboard.html
  templates/tenant_settings.html
Due: template-url-validation

Hide setup checklist widget once critical tasks complete (#372)
  templates/tenant_dashboard.html
  templates/tenant_settings.html
Due: template-url-validation

Add debug endpoint to check MCP server's database view
  src/core/main.py
  tests/e2e/conftest.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix import order in debug endpoint
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Use existing model imports and fix mypy errors in debug endpoint
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix NameError: undefined webhook_url in sync_creatives
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix budget field access to support v1.8.0 number format
  src/core/main.py
  src/core/utils/naming.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix JavaScript syntax error in creative preview button
  templates/creative_management.html
Due: template-url-validation

Fix approve/reject creative API calls
  templates/creative_management.html
Due: template-url-validation

Add comprehensive budget format backwards compatibility tests
  tests/unit/test_budget_format_compatibility.py
Due: detect-test-antipatterns

Rename media buy status values for clarity
  src/core/main.py
  src/core/schemas.py
  templates/media_buy_approval.html
  templates/workflows.html
  tests/integration/test_delivery_simulator_restart.py
  tests/integration/test_workflow_with_server.py
  tests/unit/test_adcp_contract.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Fix budget field access to support v1.8.0 number format (#374)
  src/core/main.py
  src/core/utils/naming.py
  tests/unit/test_budget_format_compatibility.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix NameError: undefined webhook_url in sync_creatives (#373)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add audit logging to creative approve/reject operations
  src/admin/blueprints/creatives.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Rename media buy status values for clarity (#375)
  src/core/main.py
  src/core/schemas.py
  templates/media_buy_approval.html
  templates/workflows.html
  tests/integration/test_delivery_simulator_restart.py
  tests/integration/test_workflow_with_server.py
  tests/unit/test_adcp_contract.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Fix creative management UI bugs and add audit logging (#376)
  src/admin/blueprints/creatives.py
  templates/creative_management.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation
