Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$

Fix: Resolve 4 categories of CI test failures
  src/core/signals_agent_registry.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
  tests/integration_v2/test_create_media_buy_v24.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix: Phases 1 & 2 - Factory misuse and schema method errors (12 tests)
  tests/integration_v2/test_a2a_error_responses.py
  tests/integration_v2/test_create_media_buy_v24.py
  tests/integration_v2/test_error_paths.py
  tests/integration_v2/test_mcp_endpoints_comprehensive.py
Due: detect-test-antipatterns, mypy-no-regression

Fix: Phases 3 & 4 - pricing_option_id format and MockContext issues (14 tests)
  tests/integration_v2/conftest.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
  tests/integration_v2/test_minimum_spend_validation.py
Due: detect-test-antipatterns, mypy-no-regression

Fix: Phase 5A - Architectural fix for pricing_option discriminated unions
  CI_TEST_FAILURE_ANALYSIS.md
  ISSUE_INVESTIGATION_REPORT.md
  SCHEMA_ARCHITECTURE_ANALYSIS.md
  src/core/product_conversion.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix: Prevent Product pricing_options dict reconstruction issue
  src/core/main.py
  src/core/tools/products.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

Fix: Product conversion returns extended schema with implementation_config
  src/core/product_conversion.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix: Extract DeliveryType enum value when constructing MediaPackages
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix: Use library FormatId in MediaPackage to avoid type mismatch
  PROGRESS.md
  src/core/schemas.py
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix: Eager-load pricing_options to avoid DetachedInstanceError
  tests/integration_v2/test_minimum_spend_validation.py
Due: detect-test-antipatterns, mypy-no-regression

Fix: Add missing Product import in test_inventory_profile_effective_properties.py
  tests/integration/test_inventory_profile_effective_properties.py
Due: detect-test-antipatterns, mypy-no-regression

Fix: Add is_fixed field to pricing_options serialization
  CI_TEST_FAILURE_ANALYSIS.md
  PROGRESS.md
  SCHEMA_ARCHITECTURE_ANALYSIS.md
  src/core/schemas.py
  tests/integration_v2/conftest.py
  tests/integration_v2/test_create_media_buy_roundtrip.py
  tests/unit/test_creative_status_serialization.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix: Correct pricing_option field access in get_pricing_option_id helper
  PROGRESS.md
  tests/integration_v2/conftest.py
Due: detect-test-antipatterns, mypy-no-regression

Upgrade to adcp 2.4.0 and remove is_fixed workaround
  pyproject.toml
  src/core/schemas.py
  tests/helpers/adcp_factories.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_all_response_str_methods.py
  tests/unit/test_anonymous_user_pricing.py
  tests/unit/test_get_products_response_str.py
  tests/unit/test_mock_server_response_headers.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix: Add is_fixed field to integration_v2 test pricing options
  tests/integration_v2/test_mcp_tool_roundtrip_validation.py
Due: detect-test-antipatterns, mypy-no-regression

Fix: Add is_fixed to remaining integration_v2 pricing options
  tests/integration_v2/test_mcp_tool_roundtrip_validation.py
Due: detect-test-antipatterns, mypy-no-regression

Fix: Add is_fixed to test_schema_database_mapping pricing options
  tests/integration_v2/test_schema_database_mapping.py
Due: detect-test-antipatterns, mypy-no-regression

Fix: Add is_fixed to pricing option serialization
  src/core/product_conversion.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix: Update price_guidance schema in anonymous user pricing test
  tests/unit/test_anonymous_user_pricing.py
Due: detect-test-antipatterns, mypy-no-regression

Fix: Replace suggested_rate with p50 in all test price_guidance fields
  tests/unit/test_adcp_contract.py
  tests/unit/test_all_response_str_methods.py
  tests/unit/test_get_products_response_str.py
  tests/unit/test_mock_server_response_headers.py
Due: detect-test-antipatterns, mypy-no-regression

Fix: Add @pytest.mark.skip_ci to external MCP service tests
  tests/integration/test_mcp_client_util.py
Due: detect-test-antipatterns, mypy-no-regression

Fix: Update pricing_option_id format in Integration Legacy tests
  src/core/tools/media_buy_create.py
  tests/integration/test_mcp_tool_roundtrip_minimal.py
  tests/integration/test_pricing_models_integration.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix: Update get_pricing_option_id() helper to return correct format
  tests/integration_v2/conftest.py
Due: detect-test-antipatterns, mypy-no-regression

Fix: Update CreateMediaBuySuccess and Product schemas for adcp 2.4.1
  src/core/product_conversion.py
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix: Add 60s timeout to MCP server integration tests
  pyproject.toml
  tests/integration_v2/test_mcp_endpoints_comprehensive.py
  tests/integration_v2/test_tool_result_format.py
  uv.lock
Due: detect-test-antipatterns, mypy-no-regression

Fix: Mock CreativeAgentRegistry to prevent external service calls in tests
  tests/integration_v2/test_tool_result_format.py
Due: detect-test-antipatterns, mypy-no-regression

Fix: Pin adcp>=2.5.0 and update imports for new module structure
  pyproject.toml
  src/core/schemas.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix: Use public API imports instead of internal _generated module
  src/core/product_conversion.py
  src/core/schema_adapters.py
  src/core/schema_helpers.py
  src/core/schemas.py
  src/core/signals_agent_registry.py
  src/core/tools/media_buy_delivery.py
  src/core/tools/products.py
  tests/helpers/adcp_factories.py
  tests/unit/test_manual_vs_generated_schemas.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix CI cache to ensure adcp 2.5.0 is installed
  .github/workflows/test.yml
  scripts/analyze_creative_data_structure.py
  scripts/analyze_production_creatives.sh
Due: mypy-no-regression

Fix: Add is_fixed field to pricing option conversion for adcp 2.5.0
  src/core/product_conversion.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix: Add missing is_fixed field to test pricing option dict
  tests/integration_v2/test_schema_database_mapping.py
Due: detect-test-antipatterns, mypy-no-regression

Fix: Make convert_pricing_option_to_adcp handle both ORM objects and dicts
  src/core/product_conversion.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix: Convert agent_url to string for adcp 2.5.0 AgentConfig
  src/core/creative_agent_registry.py
  src/core/signals_agent_registry.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix: Handle Type enum in format validation for adcp 2.5.0
  src/adapters/gam/managers/orders.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix: Complete adcp 2.5.0 test suite compatibility
  src/core/product_conversion.py
  src/core/tools/media_buy_update.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_inventory_profile_effective_properties.py
  tests/integration/test_inventory_profile_transitions.py
  tests/integration/test_list_creative_formats_params.py
  tests/integration/test_list_creatives_auth.py
  tests/integration/test_product_pricing_options_required.py
  tests/integration/test_schema_contract_validation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix GetProductsRequest brand_manifest conversion for adcp 2.5.0
  src/core/schema_adapters.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, validate-adapter-usage, no-fn-calls, mypy-no-regression

Fix Integration V2 test failures for adcp 2.5.0 compatibility
  src/core/schema_helpers.py
  src/core/schemas.py
  src/core/tools/media_buy_create.py
  tests/integration_v2/test_create_media_buy_v24.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
  tests/integration_v2/test_mcp_tool_roundtrip_validation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix E2E test: Add is_fixed field to pricing_options
  tests/e2e/test_schema_validation_standalone.py
Due: detect-test-antipatterns, mypy-no-regression

Fix 5 additional Integration V2 test failures for adcp 2.5.0
  tests/integration_v2/test_a2a_skill_invocation.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
Due: detect-test-antipatterns, mypy-no-regression

Fix: Remove authorized_properties tests and use factories for Product mocks
  tests/integration_v2/test_admin_ui_data_validation.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
Due: detect-test-antipatterns, mypy-no-regression
