Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

validate-column-lengths:
  name: Validate database column lengths
  entry: python scripts/validate_column_lengths.py
  language: system

check-api-deprecations:
  name: Check for deprecated API usage
  entry: python scripts/check_api_deprecations.py
  language: system

validate-model-imports:
  name: Validate model imports
  entry: python scripts/validate_model_imports.py
  language: system

feat: Add GAM orders and line items sync capability
  adapters/gam_orders_discovery.py
  admin_ui.py
  alembic/versions/012_add_gam_orders_line_items.py
  gam_orders_service.py
  models.py
  sync_api.py
  templates/orders_browser.html
  templates/tenant_detail.html
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Add GAM line item viewer functionality
  admin_ui.py
  templates/gam_line_item_viewer.html
  templates/operations.html
Due: validate-model-imports

Fix targeting page 500 error - pass tenant object to template
  admin_ui.py
  line_item_7047822666_response.json
  templates/orders_browser.html
  templates/tenant_detail.html
  test_line_item_api.py
  test_line_item_mock.py
  test_login.html
Due: validate-model-imports

fix: Comprehensive GAM sync null handling and enum fixes
  adapters/gam_orders_discovery.py
  admin_ui.py
Due: check-api-deprecations, validate-model-imports

feat: Update principal management - each advertiser has their own ID
  adapters/google_ad_manager.py
  admin_ui.py
  alembic/versions/013_principal_advertiser_mapping.py
  setup_db_bypass.py
  setup_tenant.py
  templates/create_principal.html
  templates/tenant_detail.html
Due: check-api-deprecations, validate-model-imports

feat: Update principal management - each advertiser has their own ID
  CLAUDE.md
  setup_db_bypass.py
Due: validate-model-imports

Add Agent2Agent (A2A) protocol support with shared TaskExecutor architecture
  ADCP_SPEC_ISSUES.md
  CLAUDE.md
  PR_DESCRIPTION.md
  README.md
  a2a_facade.py
  alembic/versions/013_add_context_persistence.py
  context_manager.py
  db_config.py
  debug_start.sh
  docker-compose.yml
  docs/authentication.md
  fly-proxy.py
  main.py
  mcp_facade.py
  models.py
  product_catalog_providers/database.py
  pyproject.toml
  run_unified.py
  run_unified_server.py
  start_a2a.py
  task_executor.py
  test_a2a_structured_data.py
  test_a2a_unit.py
  tests/protocol/test_a2a_protocol.py
  uv.lock
Due: validate-column-lengths, validate-model-imports

feat: Add GAM line item viewer with comprehensive data display
  admin_ui.py
  templates/gam_line_item_viewer.html
Due: validate-model-imports

test: Add proper pytest tests for GAM line item viewer
  test_login.html
  tests/ui/test_gam_line_item_viewer_ui.py
  tests/unit/test_gam_line_item_viewer.py
Due: validate-model-imports

refactor: Improve code quality based on review feedback
  admin_ui.py
  tests/unit/test_gam_line_item_viewer.py
Due: validate-model-imports

Fix deprecated datetime.utcnow() usage in test fixtures
  CLAUDE.md
  tests/fixtures/__init__.py
  tests/fixtures/builders.py
  tests/fixtures/factories.py
  tests/fixtures/mocks.py
Due: validate-model-imports

Add missing create_batch method to ProductFactory
  tests/fixtures/factories.py
Due: validate-model-imports

Add missing __init__.py files to fixture subdirectories
  tests/fixtures/builders/__init__.py
  tests/fixtures/factories/__init__.py
  tests/fixtures/mocks/__init__.py
Due: validate-model-imports

Remove conflicting fixture subdirectories
  tests/fixtures/builders/__init__.py
  tests/fixtures/factories/__init__.py
  tests/fixtures/mocks/__init__.py
Due: validate-model-imports

feat: Enhance GAM line item viewer with inventory targeting details
  admin_ui.py
  templates/gam_line_item_viewer.html
  templates/orders_browser.html
  test_gam_line_item_viewer.py
Due: validate-model-imports

feat: Enhance GAM Line Item Viewer and key-value targeting
  adapters/google_ad_manager.py
  demo_gam_line_item_viewer.py
  main.py
  templates/adapters/gam_product_config.html
  templates/gam_line_item_viewer.html
  tests/test_gam_line_item_viewer.py
Due: check-api-deprecations, validate-model-imports

Fix CI: install dev dependencies for pytest
  .github/workflows/test.yml
Due: none

Fix CI: use --extra instead of --group for uv 0.4.18 compatibility
  .github/workflows/test.yml
Due: none

Fix CI: add pytest-cov and pytest-asyncio to dev extras
  pyproject.toml
Due: none

Path conditions:
  validate-column-lengths: any of: (models|schemas)\.py$
  check-api-deprecations: any of: adapters/.*\.py$
  validate-model-imports: any of: \.py$
