Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$

Add schema adapter layer prototype - simple API on generated schemas
  src/core/schema_adapters.py
  tests/unit/test_schema_adapters.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Add adapters for CreateMediaBuyRequest and Product + real-world examples
  docs/adapter-real-world-example.md
  src/core/schema_adapters.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix JSONB implementation and test database setup
  run_all_tests.sh
  scripts/setup/init_database_ci.py
  src/core/database/json_type.py
  tests/e2e/schemas/v1/_schemas_v1_core_brand-manifest-ref_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_start-timing_json.json
  tests/integration/test_delivery_simulator_restart.py
  tests/unit/test_json_type.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Fix product list pricing display to use pricing_options
  src/admin/blueprints/products.py
  templates/products.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Add product pricing helper and update Admin UI to use pricing_options
  src/admin/blueprints/products.py
  src/core/database/product_pricing.py
  templates/products.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Add migrations to convert legacy pricing to pricing_options
  alembic/versions/56781b48ed8a_remove_legacy_pricing_fields.py
  alembic/versions/5d949a78d36f_migrate_legacy_pricing_to_pricing_.py
Due: none

Update database product catalog to use pricing helper
  product_catalog_providers/database.py
Due: none

Update migration plan to reflect no column drops
  docs/pricing-migration-plan.md
Due: none

Remove migration that drops legacy pricing columns
  alembic/versions/56781b48ed8a_remove_legacy_pricing_fields.py
Due: none

Add comprehensive pricing migration plan document
  docs/pricing-migration-plan.md
Due: none

Enable sample data creation for E2E tests
  docker-compose.yml
Due: none

Fix pricing helper to handle unloaded relationships
  src/core/database/product_pricing.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Eager load pricing_options relationship in product catalog
  product_catalog_providers/database.py
Due: none

feat: Support generative formats in format discovery
  src/core/schemas.py
  templates/add_product_gam.html
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Fix platform_mappings format in sample data
  src/core/database/database.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Create sample products with pricing_options directly
  src/core/database/database.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix delivery_type NOT NULL constraint in product creation
  src/core/database/database.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Use pricing_options to populate form fields in edit_product
  alembic/versions/182e1c7dcd01_merge_pricing_and_property_migrations.py
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Update AI and signals catalog providers to use pricing_options
  product_catalog_providers/ai.py
  product_catalog_providers/signals.py
Due: none

Migrate all GetProducts code to schema adapters
  mypy.ini
  scripts/analyze_validators.py
  scripts/generate_schemas.py
  src/core/main.py
  src/core/schema_adapters.py
  src/core/tools.py
  tests/integration/test_policy.py
  tests/integration/test_pricing_models_integration.py
  tests/integration/test_signals_agent_workflow.py
  tests/unit/test_get_products_response_str.py
  tests/unit/test_mcp_schema_validator.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Mark pricing migration as complete
  docs/pricing-migration-plan.md
Due: none

Fix JSONB migration schema mismatch
  alembic/versions/1aa2f5893a4d_convert_json_text_to_jsonb.py
Due: none

Fix JSONB migration schema mismatch (#371)
  alembic/versions/1aa2f5893a4d_convert_json_text_to_jsonb.py
Due: none

Fix PricingOption initialization - remove invalid pricing_option_id field
  src/core/database/database.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add schema validation tests and remove non-spec fields
  docs/schema-validation-findings.md
  src/core/main.py
  src/core/schema_helpers.py
  src/core/schemas.py
  tests/unit/test_manual_vs_generated_schemas.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix E2E test failure - move product creation outside tenant existence check
  src/core/database/database.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Update AdCP schema for list-creative-formats-request
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-request_json.json
Due: none

Fix E2E tests - create pricing_options in init_database_ci
  scripts/setup/init_database_ci.py
Due: none

Add debug output to init_database_ci for troubleshooting
  scripts/setup/init_database_ci.py
Due: none

Print init_database_ci output for debugging E2E failures
  tests/e2e/conftest.py
Due: detect-test-antipatterns

feat: Add dimension filtering parameters to ListCreativeFormatsRequest
  src/core/schemas.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix Admin UI product list and update AdCP schemas
  src/admin/blueprints/products.py
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-authorized-properties-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-authorized-properties-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creatives-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creatives-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_signals_get-signals-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_signals_get-signals-response_json.json
Due: check-import-usage, check-response-attribute-access, no-fn-calls

feat: Implement server-side format filtering with AdCP PR #104 parameters
  src/admin/blueprints/products.py
  src/core/creative_agent_registry.py
  src/core/format_resolver.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix Admin UI eager loading and sync AdCP schemas
  src/admin/blueprints/products.py
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-authorized-properties-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-authorized-properties-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creatives-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creatives-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_signals_get-signals-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_signals_get-signals-response_json.json
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix mypy type errors in pricing migration code
  product_catalog_providers/database.py
  src/core/database/product_pricing.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

fix: Merge migration heads from dynamic-format-discovery and main
  alembic/versions/2a2aaed3b50d_merge_dynamic_format_discovery_with_main.py
Due: none

Add pricing_option_id field to PricingOption schema per AdCP spec
  product_catalog_providers/database.py
  src/core/database/product_pricing.py
  src/core/schemas.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

debug: Add detailed logging for format fetching from creative agents
  src/admin/blueprints/products.py
  src/core/creative_agent_registry.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

chore: Update AdCP cached schemas to latest from registry
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-authorized-properties-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-authorized-properties-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creatives-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creatives-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_signals_get-signals-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_signals_get-signals-response_json.json
Due: none
