Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

fix: enforce creative validation - fail fast when creatives missing required fields
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: remove /a2a suffix from A2A endpoint URLs and add name field to configs
  src/landing/landing_page.py
  static/js/tenant_settings.js
  templates/tenant_settings.html
  tests/unit/test_virtual_host_landing_page.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

chore: remove debug logging and improve creative validation error collection
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: raise ToolError exception for creative validation failures instead of returning success
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: prevent creative upload errors from being silently caught and ignored
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: extract creative URL from AdCP-compliant nested assets structure
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: add creative validation to update_media_buy tool
  src/core/tools/media_buy_update.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: add pre-validation of creatives before adapter call
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: use format specification to extract creative URLs correctly
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: simplify format override resolution to avoid searching all agents
  src/core/format_resolver.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: only validate reference creatives, skip generative formats
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: skip creative validation when format spec unavailable (test compatibility)
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: use asyncio directly instead of non-existent async_utils module
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: implement format specification caching for offline validation
  cache/format_specs/reference_formats.json
  scripts/setup/cache_reference_formats.py
  src/core/format_spec_cache.py
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: resolve CI test failures in integration and integration_v2 tests
  src/adapters/google_ad_manager.py
  src/core/format_spec_cache.py
  src/core/tools/media_buy_update.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: add fallback for URL extraction from top-level creative data field
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: CRITICAL - prevent preview_creative from overwriting user-provided asset URLs
  src/core/tools/creatives.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: prevent data overwrites in creative sync (6 critical bugs fixed)
  TEST_COVERAGE_AUDIT_REPORT.md
  src/adapters/gam/managers/creatives.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

test: add comprehensive data preservation tests for creative sync
  tests/integration/test_creative_sync_data_preservation.py
Due: detect-test-antipatterns, mypy-no-regression

fix: update test to match correct data preservation behavior
  tests/unit/test_sync_creatives_async_fix.py
Due: detect-test-antipatterns, mypy-no-regression

docs: remove completed test coverage audit report
  TEST_COVERAGE_AUDIT_REPORT.md
Due: none

fix: add URL fallback in media_buy auto-approval validation
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: pass agent_url to product format overrides for proper base format lookup
  src/core/format_resolver.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: extract creative dimensions from nested assets structure
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: add common asset role fallback to reference creative validation
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Revert "fix: add common asset role fallback to reference creative validation"
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: add logging to dimension extraction to investigate validation failure
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: remove debug logging after confirming dimension extraction works
  scripts/migrations/README.md
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: extract creative dimension/URL extraction into shared helper
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: improve creative status handling and dashboard visibility (#711)
  cache/format_specs/reference_formats.json
  scripts/setup/cache_reference_formats.py
  scripts/setup/init_database.py
  scripts/setup/init_database_ci.py
  src/a2a_server/adcp_a2a_server.py
  src/adapters/gam/managers/creatives.py
  src/adapters/gam/managers/orders.py
  src/adapters/google_ad_manager.py
  src/admin/blueprints/creatives.py
  src/admin/services/dashboard_service.py
  src/core/format_resolver.py
  src/core/format_spec_cache.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_update.py
  static/js/tenant_settings.js
  templates/tenant_settings.html
  tests/integration/test_creative_sync_data_preservation.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
  tests/unit/test_gam_workflow_packages.py
  tests/unit/test_sync_creatives_async_fix.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

Revert fallback formats - will fix E2E tests properly instead
  src/core/creative_agent_registry.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: update signals agent workflow tests for adcp library migration
  tests/integration_v2/test_signals_agent_workflow.py
Due: detect-test-antipatterns, mypy-no-regression

chore: remove temporary documentation files
  docs/adcp-client-library-analysis.md
  docs/adcp-client-library-feedback.md
  docs/adcp-client-v1-review.md
Due: none

docs: comprehensive review of adcp v1.0.1 - production ready!
  docs/adcp-client-v1-review.md
Due: none

feat: migrate signals and creative agent registries to adcp v1.0.1 library
  src/core/creative_agent_registry.py
  src/core/signals_agent_registry.py
  tests/unit/test_signals_agent_registry.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: add fallback formats for creative agent registry resilience
  src/core/creative_agent_registry.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

test: add comprehensive unit tests for creative agent registry
  src/core/creative_agent_registry.py
  src/core/signals_agent_registry.py
  tests/unit/test_creative_agent_registry.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: pass auth_header parameter to signals agent test connection
  src/admin/blueprints/signals_agents.py
  src/core/signals_agent_registry.py
  tests/unit/test_signals_agent_registry.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

feat: migrate signals agent registry to adcp v1.0.1 library (80% complete)
  pyproject.toml
  src/core/signals_agent_registry.py
  tests/unit/test_signals_agent_registry.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

docs: add comprehensive analysis and feedback for adcp Python client library
  docs/adcp-client-library-analysis.md
  docs/adcp-client-library-feedback.md
Due: none

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
