Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

validate-column-lengths:
  name: Validate database column lengths
  entry: python scripts/validate_column_lengths.py
  language: system

check-api-deprecations:
  name: Check for deprecated API usage
  entry: python scripts/check_api_deprecations.py
  language: system

validate-model-imports:
  name: Validate model imports
  entry: python scripts/validate_model_imports.py
  language: system

fix: Fix integration test failures - reduce from 31 to 8 failures
  src/admin/blueprints/products.py
  src/admin/blueprints/tenants.py
  tests/integration/conftest.py
  tests/integration/test_gam_line_item_viewer.py
  tests/integration/test_gam_reporting.py
  tests/integration/test_index_route_migration.py
  tests/integration/test_mcp_protocol.py
  tests/integration/test_product_creation.py
Due: validate-model-imports

fix: Fix all CI integration test failures
  json_validators.py
  src/admin/blueprints/gam.py
  src/admin/blueprints/products.py
  src/admin/blueprints/tenants.py
  tests/integration/test_gam_line_item_viewer.py
  tests/integration/test_index_route_migration.py
  tests/integration/test_product_creation.py
  tests/integration/test_tenant_dashboard.py
Due: validate-model-imports

refactor: Improve dashboard data handling with TODOs for future enhancements
  src/admin/blueprints/tenants.py
Due: validate-model-imports

chore: Clean up unnecessary debugging files and documentation
  .pre-commit-config.yaml
  CLAUDE.md
  CRITICAL_TEST_ISSUES.md
  DEBUGGING_SESSION_SUMMARY.md
  docs/TROUBLESHOOTING.md
  docs/debugging-template-variables.md
  scripts/check_api_deprecations.py
  scripts/check_form_mismatches.py
  scripts/check_schema_references.py
  scripts/validate_column_lengths.py
  scripts/validate_form_fields.py
  scripts/validate_model_confusion.py
  scripts/validate_model_imports.py
  scripts/verify_form_field_fix.py
Due: validate-model-imports

Refactor: Move service files to src/services/ directory
  models.py
  src/core/__init__.py
  src/core/audit_logger.py
  src/core/config_loader.py
  src/core/config_loader_v2.py
  src/core/context_manager.py
  src/core/json_validators.py
  src/core/main.py
  src/core/schemas.py
  src/core/validation.py
  src/services/__init__.py
  src/services/activity_feed.py
  src/services/aee_signals.py
  src/services/ai_creative_format_service.py
  src/services/ai_parsing_comparison.py
  src/services/ai_product_service.py
  src/services/default_products.py
  src/services/foundational_formats.py
  src/services/gam_inventory_service.py
  src/services/gam_orders_service.py
  src/services/policy_check_service.py
  src/services/slack_notifier.py
  src/services/targeting_capabilities.py
  src/services/targeting_dimensions.py
  tests/unit/test_adcp_contract.py
Due: validate-column-lengths, validate-model-imports

fix: Critical test suite quality improvements (#79)
  .pre-commit-config.yaml
  TEST_SUITE_IMPROVEMENTS.md
  pytest.ini
  tests/integration/test_admin_api.py
  tests/integration/test_admin_refactor.py
  tests/integration/test_ai_product_basic.py
  tests/integration/test_ai_product_with_adapter.py
  tests/integration/test_ai_quick.py
  tests/integration/test_dashboard_500_check.py
  tests/integration/test_dashboard_integration.py
  tests/integration/test_dashboard_routes.py
  tests/integration/test_gam_line_item_viewer.py
  tests/integration/test_gam_reporting.py
  tests/integration/test_gam_tenant_setup.py
  tests/integration/test_index_route_migration.py
  tests/integration/test_mcp_endpoints_comprehensive.py
  tests/integration/test_mcp_protocol.py
  tests/integration/test_template_rendering.py
  tests/integration/test_unified_delivery.py
  tests/scripts/test_all_tenants_sync.py
  tests/scripts/test_sync_api.py
  tests/smoke/test_database_migrations.py
  tests/smoke/test_smoke_basic.py
  tests/smoke/test_smoke_critical_paths.py
  tests/ui/test_gam_line_item_viewer_ui.py
  tests/ui/test_simple_parsing.py
  tests/unit/test_adapter_config_no_config.py
  tests/unit/test_admin_api.py
  tests/unit/test_admin_ui_oauth.py
  tests/unit/test_ai_parsing_improvements.py
  tests/unit/test_auth.py
  tests/unit/test_creative_parsing.py
  tests/unit/test_dashboard.py
  tests/unit/test_gam_line_item_viewer.py
  tests/unit/test_mcp_test_page.py
  tests/unit/test_targeting.py
  tests/utils/generate_fixtures.py
Due: validate-model-imports

fix: Make tests actually runnable in CI and locally
  .github/workflows/test.yml
  main.py
  run_tests.sh
  tests/conftest.py
  tests/conftest_db.py
  tests/smoke/test_smoke_basic.py
Due: validate-model-imports

docs: Add comprehensive guide for getting tests to pass
  GETTING_TESTS_TO_PASS.md
Due: none

fix: Update all test imports for new project structure
  scripts/deploy/entrypoint.sh
  scripts/dev/debug_start.sh
  tests/unit/adapters/test_base.py
  tests/unit/test_adapter_config_no_config.py
  tests/unit/test_admin_ui_oauth.py
  tests/unit/test_ai_parsing_improvements.py
  tests/unit/test_auth.py
  tests/unit/test_context_persistence.py
  tests/unit/test_creative_parsing.py
  tests/unit/test_dashboard.py
  tests/unit/test_session_json_validation.py
  tests/unit/test_targeting.py
  tests/unit/test_workflow_architecture.py
Due: check-api-deprecations, validate-model-imports

refactor: Move final Python files from root and update imports
  examples/client_mcp.py
  scripts/dev/validate_format_models.py
  scripts/ops/sync_all_tenants.py
  src/admin/app.py
  src/admin/superadmin_api.py
  src/admin/sync_api.py
  tests/integration/test_superadmin_api_integration.py
  tests/scripts/quick_sync_test.py
  tests/unit/test_admin_api.py
Due: validate-column-lengths, validate-model-imports

docs: Update README with new project structure
  README.md
Due: none

fix: Restore CI to passing state while keeping test improvements
  .pre-commit-config.yaml
  tests/integration/test_dashboard_integration.py
Due: validate-model-imports

fix: Fix remaining database_session imports missed in refactor
  product_catalog_providers/ai.py
  product_catalog_providers/base.py
  product_catalog_providers/database.py
  product_catalog_providers/mcp.py
  scripts/ops/migrate.py
  scripts/run_server.py
  src/adapters/base.py
  src/adapters/creative_engine.py
  src/adapters/gam_reporting_api.py
  src/adapters/google_ad_manager.py
  src/adapters/kevel.py
  src/adapters/mock_ad_server.py
  src/adapters/mock_creative_engine.py
  src/adapters/triton_digital.py
  src/adapters/xandr.py
  src/admin/blueprints/auth.py
  src/admin/blueprints/core.py
  src/admin/blueprints/creatives.py
  src/admin/blueprints/gam.py
  src/admin/blueprints/operations.py
  src/admin/blueprints/principals.py
  src/admin/sync_api.py
  src/core/audit_logger.py
  src/core/config_loader.py
  src/core/context_manager.py
  src/core/main.py
  src/services/ai_product_service.py
  src/services/targeting_capabilities.py
  tests/integration/test_gam_tenant_setup.py
  tests/integration/test_policy.py
  tools/demos/demo_creative_format_updates.py
  tools/demos/demo_dry_run.py
  tools/simulations/simulation_full.py
Due: check-api-deprecations, validate-model-imports

fix: Final batch of import fixes for refactored structure
  scripts/ops/check_tenants.py
  scripts/ops/gam_helper.py
  scripts/setup/populate_creative_formats.py
  scripts/setup/populate_foundational_formats.py
  src/adapters/gam_reporting_api.py
  src/admin/blueprints/policy.py
  src/admin/blueprints/products.py
  src/admin/blueprints/settings.py
  src/admin/blueprints/tenants.py
  src/admin/blueprints/users.py
  src/core/main.py
  src/services/ai_creative_format_service.py
  tests/integration/test_ai_product_with_adapter.py
  tests/integration/test_dashboard_integration.py
  tests/integration/test_main.py
  tests/integration/test_mcp_endpoints_comprehensive.py
  tests/integration/test_product_creation.py
  tests/integration/test_schema_field_validation.py
  tests/integration/test_tenant_dashboard.py
Due: check-api-deprecations, validate-model-imports

chore: Remove documentation files
  GETTING_TESTS_TO_PASS.md
  TEST_SUITE_IMPROVEMENTS.md
Due: none

fix: Update admin UI port to 8003 and fix remaining imports
  docker-compose.yml
  src/admin/blueprints/products.py
  src/admin/blueprints/tenants.py
Due: validate-model-imports

feat: Add ADK agent with full AdCP v2.4 compliance
  Dockerfile
  Dockerfile.fly
  adcp_agent/agent.py
  adk_demo.py
  config_loader.py
  docker-compose.yml
  fly.toml
  init_database.py
  pyproject.toml
  run_all_services.py
  test_adcp_compliance.py
  test_adk_direct.py
  uv.lock
Due: validate-model-imports

fix: Update OAuth file path after blueprint refactoring
  src/admin/blueprints/auth.py
Due: validate-model-imports

Path conditions:
  validate-column-lengths: any of: (models|schemas)\.py$
  check-api-deprecations: any of: adapters/.*\.py$
  validate-model-imports: any of: \.py$
