Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$

fix: add pricing to delivery
  src/adapters/mock_ad_server.py
  src/core/schemas.py
  src/core/tools/media_buy_delivery.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Add webhook delivery logging and daily reporting metrics
  src/services/delivery_webhook_scheduler.py
  tests/integration/test_delivery_webhooks.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

refactor: decouple delivery webhook scheduler from GAM-specific timing and add daily dedupe
  src/core/tools/media_buy_create.py
  src/services/delivery_webhook_scheduler.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: simplify code, fix mypy
  src/core/schemas.py
  src/core/tools/media_buy_delivery.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

refactor: add tests for gam and freshness check with freezgun
  src/adapters/gam_data_freshness.py
  src/adapters/google_ad_manager.py
  src/services/delivery_webhook_scheduler.py
  tests/integration/test_delivery_webhooks_integration.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

chore: add tests
  src/core/database/models.py
  src/core/tools/media_buy_delivery.py
  src/services/delivery_webhook_scheduler.py
  src/services/protocol_webhook_service.py
  tests/e2e/test_delivery_webhooks_e2e.py
  tests/integration/test_delivery_webhooks.py
  tests/integration/test_delivery_webhooks_integration.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment, mypy-no-regression

fix: restore unrelative changes
  src/core/schemas.py
  src/core/tools/media_buy_delivery.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

wip
  src/core/schemas.py
  src/core/tools/media_buy_delivery.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

feat: add date range validation and testing for validation
  src/core/tools/media_buy_delivery.py
  tests/integration/test_mcp_tool_roundtrip_minimal.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: test delivery webhook sends for fresh data
  src/core/tools/media_buy_delivery.py
  tests/integration/test_delivery_webhooks_integration.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

refactor: test delivery webhooks integration
  src/adapters/google_ad_manager.py
  src/core/tools/media_buy_delivery.py
  tests/integration/test_delivery_webhooks_integration.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: types
  src/core/tools/media_buy_delivery.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: add tests to test gam reporting
  pyproject.toml
  src/core/tools/media_buy_delivery.py
  src/services/delivery_webhook_scheduler.py
  tests/integration/test_delivery_webhooks_integration.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

feat: calculate clicks and ctr
  src/core/tools/media_buy_delivery.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: add more tests for delivery webhook
  tests/integration/test_delivery_webhooks_integration.py
Due: detect-test-antipatterns, mypy-no-regression

fix: existing unit tests
  src/adapters/gam_data_freshness.py
  src/core/tools/media_buy_delivery.py
  tests/unit/test_delivery_metrics.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: typo in integration test
  tests/integration/test_delivery_webhooks_integration.py
Due: detect-test-antipatterns, mypy-no-regression

fix: e2e test context initialization
  docker-compose.yml
  src/services/delivery_webhook_scheduler.py
  tests/e2e/conftest.py
  tests/e2e/test_delivery_webhooks_e2e.py
  tests/e2e/utils.py
  tests/integration/test_delivery_webhooks.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: media buy tests creation
  tests/e2e/adcp_request_builder.py
  tests/e2e/test_delivery_webhooks_e2e.py
Due: detect-test-antipatterns, mypy-no-regression

fix: add e2e tests for get_media_buy_delivery direct request
  tests/e2e/test_delivery_webhooks_e2e.py
Due: detect-test-antipatterns, mypy-no-regression

fix: e2e test for media buy deliveries webhooks
  docker-compose.yml
  scripts/setup/init_database_ci.py
  tests/e2e/adcp_request_builder.py
  tests/e2e/conftest.py
  tests/e2e/test_delivery_webhooks_e2e.py
  tests/e2e/utils.py
Due: detect-test-antipatterns, mypy-no-regression

pass DELIVERY_WEBhOOK_INTERVAL when running run_all_tests so it passes
  run_all_tests.sh
Due: none

fix: pass DELIVERY_WEBhOOK_INTERVAL when running e2e tests in ci/cd
  .github/workflows/test.yml
Due: none

chore: update e2e test job to configure docker local host
  .github/workflows/test.yml
Due: none

fix: try to pass delivery interval through docker-compose.override.yml for e2e tests
  .github/workflows/test.yml
Due: none

fix: attempt to fix e2e test in ci
  .github/workflows/test.yml
  docker-compose.yml
  tests/e2e/test_delivery_webhooks_e2e.py
Due: detect-test-antipatterns, mypy-no-regression

Upgrade to adcp 2.9.0 and complete migration to stable API
  pyproject.toml
  src/adapters/google_ad_manager.py
  src/adapters/kevel.py
  src/adapters/mock_ad_server.py
  src/adapters/triton_digital.py
  src/core/creative_agent_registry.py
  src/core/schemas.py
  src/core/signals_agent_registry.py
  src/core/tools/media_buy_update.py
  tests/unit/test_adcp_contract.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix: Support ListCreativesRequest convenience fields with adcp 2.9.0
  src/core/schemas.py
  src/core/tools/creatives.py
  tests/unit/test_adcp_contract.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix: Add required status field to Package objects in tests and adapters
  src/adapters/xandr.py
  tests/unit/test_protocol_envelope.py
  tests/unit/test_spec_compliance.py
  tests/unit/test_update_media_buy_affected_packages.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix: Handle PackageStatus enum serialization in database validation
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix: Add required status field to Package response dicts in create_media_buy
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Return full Package object in CreateMediaBuySuccess per AdCP 2.9.0 spec
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix: Add required status field to Package dict in roundtrip test for AdCP 2.9.0
  tests/integration_v2/test_create_media_buy_roundtrip.py
Due: detect-test-antipatterns, mypy-no-regression

Fix: Accept buyer_ref as identifier for update_media_buy per AdCP spec
  src/core/tools/media_buy_update.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Upgrade to adcp 2.11.0 and fix breaking changes
  pyproject.toml
  src/adapters/google_ad_manager.py
  src/adapters/kevel.py
  src/adapters/mock_ad_server.py
  src/adapters/triton_digital.py
  src/adapters/xandr.py
  src/core/creative_agent_registry.py
  src/core/schema_helpers.py
  src/core/schemas.py
  src/core/signals_agent_registry.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_delivery.py
  src/core/tools/media_buy_update.py
  src/core/tools/products.py
  tests/integration/test_list_creative_formats_params.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix: Update adcp.types.stable imports in tests to adcp.types
  tests/unit/test_adcp_contract.py
Due: detect-test-antipatterns, mypy-no-regression

fix: advertiser creation
  alembic/versions/445171389125_add_updated_at_to_principals.py
  src/admin/blueprints/principals.py
  src/core/database/models.py
  templates/create_principal.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, mypy-no-regression

Fix: Update Format type instantiations to use FormatCategory enum
  tests/integration/test_list_creative_formats_params.py
Due: detect-test-antipatterns, mypy-no-regression

Fix: Update Signal schema to use adcp 2.11.0 library types
  tests/integration_v2/test_signals_agent_workflow.py
Due: detect-test-antipatterns, mypy-no-regression

chore: remove logging
  src/admin/blueprints/principals.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression
