Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Check for removed columns still referenced in code
      - id: check-schema-references
        name: Check schema references
        entry: python scripts/check_schema_references.py
        language: system
        pass_filenames: false
        always_run: true
        
      # Validate model column lengths
      - id: validate-column-lengths
        name: Validate database column lengths
        entry: python scripts/validate_column_lengths.py
        language: system
        files: '(models|schemas)\.py$'
        
      # Check for tenant.config references
      - id: no-tenant-config
        name: No tenant.config references
        entry: sh -c 'if grep -r "tenant\.config\|tenant\[.config.\]" --include="*.py" . | grep -v "test_migration\|postmortem\|pre-commit"; then echo "Found tenant.config references!"; exit 1; fi'
        language: system
        pass_filenames: false
        
      # Validate migrations can run
      - id: test-migrations
        name: Test database migrations
        entry: sh -c 'cp adcp_local.db .test.db && DATABASE_URL=sqlite:///.test.db python migrate.py && rm .test.db'
        language: system
        pass_filenames: false
        stages: [commit]
        
      # Check for API deprecations
      - id: check-api-deprecations
        name: Check for deprecated API usage
        entry: python scripts/check_api_deprecations.py
        language: system
        files: 'adapters/.*\.py$'
        
      # Validate Pydantic vs SQLAlchemy imports
      - id: validate-model-imports
        name: Validate model imports
        entry: python scripts/validate_model_imports.py
        language: system
        files: '\.py$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: check-ast
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.272
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Fix A2A nginx routing to preserve path prefix
  config/nginx/nginx.conf
Due: none

Fix A2A nginx routing path - remove trailing slash
  config/nginx/nginx.conf
Due: none

Fix A2A task handling: set TaskStatus.COMPLETED and use correct artifact format
  src/a2a/adcp_a2a_server.py
Due: validate-model-imports

Switch A2A server to official a2a-sdk library for JSON-RPC 2.0 support
  pyproject.toml
  src/a2a_server/README.md
  src/a2a_server/__init__.py
  src/a2a_server/adcp_a2a_server.py
  src/a2a_server/adcp_a2a_server_backup.py
  uv.lock
Due: validate-model-imports

Fix A2A server path in deployment script
  scripts/deploy/run_all_services.py
Due: validate-model-imports

Fix A2A task handling and enhance inventory response
  src/a2a_server/adcp_a2a_server.py
Due: validate-model-imports

Fix A2A server path in deployment script
  src/a2a_server/adcp_a2a_server.py
Due: validate-model-imports

Fix A2A JSON-RPC messageId validation error
  src/a2a_server/adcp_a2a_server.py
Due: validate-model-imports

Fix A2A JSON-RPC messageId validation error
  src/a2a_server/adcp_a2a_server.py
  tests/e2e/test_adcp_full_lifecycle.py
Due: validate-model-imports

Add --skip-docker option for E2E tests
  tests/e2e/conftest.py
  tests/e2e/test_adcp_full_lifecycle.py
Due: validate-model-imports

chore: Remove backup file from A2A server migration
  src/a2a_server/adcp_a2a_server_backup.py
Due: validate-model-imports

Fix MCP authentication to lookup principal by token alone
  src/core/main.py
Due: validate-model-imports

Correct MCP auth logic: only search specified tenant if provided
  src/core/main.py
Due: validate-model-imports

Fix critical security and compatibility issues identified in code review
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
Due: validate-model-imports

Update documentation with recent A2A and MCP fixes
  CLAUDE.md
  README.md
  docs/TROUBLESHOOTING.md
  docs/a2a-overview.md
Due: none

Fix CI: Update import paths after A2A server directory move
  CLAUDE.md
  src/a2a_server/README.md
  tests/integration/test_a2a_standard_endpoints.py
Due: validate-model-imports

Skip A2A standard endpoints test in CI - incompatible with current implementation
  tests/integration/test_a2a_standard_endpoints.py
Due: validate-model-imports

Fix A2A JSON-RPC protocol and MCP authentication issues (#99)
  CLAUDE.md
  Dockerfile.fly
  README.md
  config/nginx/nginx.conf
  docs/TROUBLESHOOTING.md
  docs/a2a-overview.md
  fly.toml
  pyproject.toml
  scripts/deploy/run_all_services.py
  src/a2a/adcp_a2a_server.py
  src/a2a_server/README.md
  src/a2a_server/__init__.py
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
  tests/e2e/conftest.py
  tests/e2e/test_adcp_full_lifecycle.py
  tests/integration/test_a2a_standard_endpoints.py
  uv.lock
Due: validate-model-imports

feat: Add real-time dashboard with activity feed and task management
  CLAUDE.md
  README.md
  docker-compose.yml
  docs/TROUBLESHOOTING.md
  scripts/deploy/run_all_services.py
  src/admin/app.py
  src/admin/blueprints/activity_stream.py
  src/admin/blueprints/tasks.py
  src/admin/blueprints/tenants.py
  src/core/main.py
  templates/task_approve.html
  templates/task_detail.html
  templates/tasks.html
  templates/tenant_dashboard.html
Due: validate-model-imports

Fix critical security vulnerabilities and performance issues
  alembic/versions/019_add_performance_indexes.py
  alembic/versions/020_add_task_version_column.py
  src/admin/blueprints/activity_stream.py
  src/admin/blueprints/tasks.py
  src/admin/blueprints/tenants.py
  src/core/database/models.py
  templates/tenant_dashboard.html
Due: validate-column-lengths, validate-model-imports

refactor: Remove in-memory task storage and fix task management
  alembic/versions/019_add_performance_indexes.py
  alembic/versions/020_add_task_version_column.py
  src/core/main.py
Due: validate-model-imports

Fix CI integration test failures in PR #100
  src/admin/blueprints/operations.py
  templates/media_buy_detail.html
  tests/integration/test_template_url_validation.py
  tests/integration/test_tenant_dashboard.py
Due: validate-model-imports

Fix A2A agent_uri in production JSON - remove /a2a/ suffix
  templates/tenant_settings.html
Due: none

Refactor: Remove in-memory task storage and fix task management (#100)
  CLAUDE.md
  README.md
  docker-compose.yml
  docs/TROUBLESHOOTING.md
  scripts/deploy/run_all_services.py
  src/admin/app.py
  src/admin/blueprints/activity_stream.py
  src/admin/blueprints/operations.py
  src/admin/blueprints/tasks.py
  src/admin/blueprints/tenants.py
  src/core/database/models.py
  src/core/main.py
  templates/media_buy_detail.html
  templates/task_approve.html
  templates/task_detail.html
  templates/tasks.html
  templates/tenant_dashboard.html
  templates/tenant_settings.html
  tests/integration/test_template_url_validation.py
  tests/integration/test_tenant_dashboard.py
Due: validate-column-lengths, validate-model-imports

Implement AdCP v2.4 protocol support with full backward compatibility
  .pre-commit-config.yaml
  alembic/versions/13a4e417ebb5_add_adcp_v24_fields.py
  docker-compose.yml
  src/adapters/mock_ad_server.py
  src/admin/blueprints/core.py
  src/core/database/models.py
  src/core/main.py
  src/core/schemas.py
  templates/mcp_test.html
  templates/media_buy_detail.html
  templates/tenant_dashboard.html
  tests/e2e/test_adcp_full_lifecycle.py
  tests/integration/test_mcp_endpoints_comprehensive.py
  tests/unit/adapters/test_base.py
  tests/unit/test_adcp_contract.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Fix excessive mocking in GAM tenant setup tests
  scripts/setup/setup_tenant.py
  tests/integration/test_gam_tenant_setup.py
Due: validate-model-imports

Critical fixes for AdCP v2.4 implementation
  alembic/versions/13a4e417ebb5_add_adcp_v24_fields.py
  tests/integration/test_mcp_endpoints_comprehensive.py
Due: validate-model-imports

Revert pre-commit config exclusion for test_gam_tenant_setup.py
  .pre-commit-config.yaml
Due: none

Fix excessive mocking in GAM tenant setup tests (#101)
  scripts/setup/setup_tenant.py
  tests/integration/test_gam_tenant_setup.py
Due: validate-model-imports

Fix CI issues: database schema and MCP endpoint compatibility
  alembic/versions/13a4e417ebb5_add_adcp_v24_fields.py
  line_item_7047822666_response.json
  src/core/database/models.py
  tests/smoke/test_smoke_critical_paths.py
Due: validate-column-lengths, validate-model-imports

AdCP v2.4 Protocol Implementation with Full Backward Compatibility (#102)
  alembic/versions/13a4e417ebb5_add_adcp_v24_fields.py
  docker-compose.yml
  line_item_7047822666_response.json
  src/adapters/mock_ad_server.py
  src/admin/blueprints/core.py
  src/core/database/models.py
  src/core/main.py
  src/core/schemas.py
  templates/mcp_test.html
  templates/media_buy_detail.html
  templates/tenant_dashboard.html
  tests/e2e/test_adcp_full_lifecycle.py
  tests/integration/test_mcp_endpoints_comprehensive.py
  tests/smoke/test_smoke_critical_paths.py
  tests/unit/adapters/test_base.py
  tests/unit/test_adcp_contract.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Fix production database errors by migrating from Task to WorkflowStep system
  src/admin/app.py
  src/admin/blueprints/tasks.py
  src/admin/blueprints/tenants.py
  src/core/main.py
  templates/task_approve.html
  templates/task_detail.html
  templates/tasks.html
Due: validate-model-imports

Add missing migration file to fix production deployment
  alembic/versions/020_fix_tasks_schema_properly.py
Due: validate-model-imports

Fix migration revision ID to match production expectations
  alembic/versions/020_fix_tasks_schema_properly_fix_tasks_schema_properly.py
Due: validate-model-imports
