Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

template-url-validation:
  name: Validate template url_for calls
  entry: uv run pytest tests/integration/test_template_url_validation.py::TestTemplateUrlValidation::test_all_template_url_for_calls_resolve -q
  language: system
  pass_filenames: false

Add service_account_json support to GoogleAdManagerAdapter validation (#585)
  src/adapters/google_ad_manager.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Switch to logger.info() for MCP debugging visibility (#586)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix get_gam_advertisers endpoint to support service account auth
  scripts/test_service_account_auth.py
  src/admin/blueprints/principals.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add operational scripts for sync management
  scripts/cancel_sync.py
  scripts/initialize_tenant_mgmt_api_key.py
Due: none

Fix test_product_catalog_schema_conformance to use proper fixtures
  tests/integration/test_main.py
Due: detect-test-antipatterns

Add logger.info() for tenant detection headers visibility
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix get_gam_advertisers endpoint to support service account auth (#588)
  scripts/test_service_account_auth.py
  src/admin/blueprints/principals.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add diagnostic scripts for sync troubleshooting
  scripts/check_accuweather_sync.sh
  scripts/quick_sync_check.sh
Due: none

Add script to list tenants
  scripts/list_tenants.py
Due: none

Fix MCP tenant detection by extracting headers from raw request
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix SQLAlchemy session error in background sync (#507)
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix migration head conflict causing 503 errors (#510)
  alembic/versions/ed7d05fea3be_add_progress_tracking_to_sync_jobs.py
Due: none

Fix inventory sync UX issues (#506)
  src/admin/blueprints/gam.py
  src/services/gam_inventory_service.py
  static/js/tenant_settings.js
  templates/inventory_browser.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Add real-time progress tracking to inventory sync (#508)
  alembic/versions/ed7d05fea3be_add_progress_tracking_to_sync_jobs.py
  src/admin/blueprints/gam.py
  src/core/database/models.py
  static/js/tenant_settings.js
Due: check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment

Changes auto-committed by Conductor (#505)
  docs/TROUBLESHOOTING.md
  src/adapters/gam/managers/inventory.py
  src/adapters/gam/managers/sync.py
  src/adapters/gam_inventory_discovery.py
  src/adapters/google_ad_manager.py
  src/admin/sync_api.py
  src/services/gam_inventory_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix stale sync detection - allow fresh sync after 1+ hour (#514)
  src/admin/blueprints/gam.py
  tests/e2e/schemas/v1/_schemas_v1_core_creative-asset_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creatives-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-request_json.json
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add automatic GCP service account provisioning for GAM integration (#509)
  .env.example
  .gitignore
  alembic/versions/661c474053fa_add_gcp_project_id_and_service_account_.py
  docs/gam-service-account-setup.md
  docs/gcp-service-account-provisioning-setup.md
  fly.toml
  pyproject.toml
  scripts/setup/setup_conductor_workspace.sh
  src/admin/blueprints/gam.py
  src/core/database/models.py
  src/services/gcp_service_account_service.py
  static/js/tenant_settings.js
  templates/tenant_settings.html
  uv.lock
Due: check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, template-url-validation

Fix 409 handling for sync resume functionality (#512)
  static/js/tenant_settings.js
Due: none

Enhance GCP service account creation logging (#511)
  src/services/gcp_service_account_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix service account creation to handle existing accounts and maintain consistency (#515)
  scripts/cleanup_service_account_inconsistency.py
  src/services/gcp_service_account_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix AttributeError when Context object lacks meta attribute (#552)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix inventory sync not showing running status on page reload (#526)
  .gitignore
  diagnose_formats.py
  src/adapters/gam_inventory_discovery.py
  src/admin/blueprints/tenants.py
  src/services/gam_inventory_service.py
  templates/tenant_settings.html
  test_sync.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Add domain registration management for custom domains (#543)
  scripts/list_custom_domains.py
  src/admin/blueprints/settings.py
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix: Include service_account_email in adapter_config dict for template (#517)
  src/admin/blueprints/tenants.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix 400 error when saving GAM service account network code (#546)
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix get_products A2A error: remove invalid .root attribute access (#522)
  src/core/tools.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Prioritize ad server configuration in setup checklist (#539)
  src/services/setup_checklist_service.py
  tests/integration/test_setup_checklist_service.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Changes auto-committed by Conductor (#525)
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix A2A update_media_buy and update_performance_index response serialization (#545)
  src/a2a_server/adcp_a2a_server.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Fix AI creative review auto-reject threshold to require high confidence (#533)
  templates/tenant_settings.html
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
Due: template-url-validation

Fix service account network code update validation (#538)
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix Admin UI inventory sync to actually use streaming approach (#531)
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix Approximated DNS widget 404 and add stuck sync reset button (#537)
  src/services/gam_inventory_service.py
  static/js/tenant_settings.js
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Add Approximated DNS widget for custom domain CNAME setup (#536)
  docker-compose.yml
  src/admin/blueprints/settings.py
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

🔒 Fix critical tenant isolation breach in MCP authentication (#544)
  src/core/config_loader.py
  src/core/main.py
  tests/e2e/conftest.py
  tests/e2e/test_adcp_reference_implementation.py
  tests/integration/test_cross_principal_security.py
  tests/integration/test_list_creatives_auth.py
  tests/integration/test_tenant_isolation_breach_fix.py
  tests/smoke/test_smoke_basic.py
  tests/unit/test_auth_removal_simple.py
  tests/unit/test_tenant_isolation_breach_fix.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix inventory browser UX issues for large GAM inventories (#534)
  src/admin/blueprints/gam.py
  src/services/gam_inventory_service.py
  templates/inventory_browser.html
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix GAM inventory OOM and add reset stuck sync (#529)
  scripts/reset_stuck_sync.sh
  src/admin/blueprints/gam.py
  src/services/gam_inventory_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix tenant context error caused by overly strict security fix (#548)
  src/core/main.py
  tests/unit/test_auth_removal_simple.py
  tests/unit/test_tenant_isolation_breach_fix.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix format_ids serialization to return proper FormatId objects (#542)
  src/core/schemas.py
  tests/unit/test_product_format_ids_structure.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$
