Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

validate-column-lengths:
  name: Validate database column lengths
  entry: python scripts/validate_column_lengths.py
  language: system

check-api-deprecations:
  name: Check for deprecated API usage
  entry: python scripts/check_api_deprecations.py
  language: system

validate-model-imports:
  name: Validate model imports
  entry: python scripts/validate_model_imports.py
  language: system

Fix remaining integration test failures
  tests/integration/test_mcp_tools_audit.py
  tests/integration/test_schema_contract_validation.py
Due: validate-model-imports

Fix PlatformMappingModel field name in audit test
  tests/integration/test_mcp_tools_audit.py
Due: validate-model-imports

Fix all integration test schema validation failures
  src/core/schemas.py
  tests/integration/test_schema_contract_validation.py
  tests/unit/test_adcp_contract.py
Due: validate-column-lengths, validate-model-imports

Fix additional schema roundtrip pattern test failures
  tests/integration/test_schema_roundtrip_patterns.py
Due: validate-model-imports

Fix final schema roundtrip validation issues
  src/core/schemas.py
  tests/integration/test_schema_roundtrip_patterns.py
Due: validate-column-lengths, validate-model-imports

Fix CI PATH issues preventing uv command execution
  .github/workflows/test.yml
Due: none

Fix get_media_buy_delivery tool - make 'today' parameter optional
  src/core/main.py
  src/core/schemas.py
Due: validate-column-lengths, validate-model-imports

MAJOR: Fix AdCP spec compliance for get_media_buy_delivery tool
  src/core/main.py
  src/core/schemas.py
  tests/e2e/test_adcp_full_lifecycle.py
  tests/integration/test_spec_compliance.py
  tests/integration/test_unified_delivery.py
  tests/unit/test_adcp_contract.py
Due: validate-column-lengths, validate-model-imports

Fix integration test failures from AdCP compliance changes
  src/core/schemas.py
  tests/integration/test_mcp_tools_audit.py
Due: validate-column-lengths, validate-model-imports

MAJOR: Fix AdCP spec compliance for GetSignalsRequest and UpdateMediaBuyRequest
  src/core/main.py
  src/core/schemas.py
  tests/unit/test_adcp_contract.py
Due: validate-column-lengths, validate-model-imports

Fix missing imports in test_mcp_tools_audit.py
  tests/integration/test_mcp_tools_audit.py
Due: validate-model-imports

Fix A2A function call validation test for AdCP-compliant GetSignalsRequest
  tests/unit/test_a2a_function_call_validation.py
Due: validate-model-imports

Fix MCP tool roundtrip validation vulnerability preventing production crashes (#172)
  .github/workflows/test.yml
  CLAUDE.md
  docs/testing.md
  src/core/main.py
  src/core/schemas.py
  tests/e2e/test_adcp_full_lifecycle.py
  tests/integration/test_mcp_tool_roundtrip_validation.py
  tests/integration/test_mcp_tools_audit.py
  tests/integration/test_schema_contract_validation.py
  tests/integration/test_schema_roundtrip_patterns.py
  tests/integration/test_spec_compliance.py
  tests/integration/test_tenant_settings_comprehensive.py
  tests/integration/test_unified_delivery.py
  tests/unit/test_a2a_function_call_validation.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_mock_server_response_headers.py
Due: validate-column-lengths, validate-model-imports

Implement comprehensive HITL support for GAM adapter and fix critical MCP/A2A issues
  docker-compose.yml
  docs/api.md
  scripts/check_schema_sync.py
  src/a2a_server/adcp_a2a_server.py
  src/adapters/gam/managers/__init__.py
  src/adapters/gam/managers/workflow.py
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
  src/core/main.py
  src/core/schemas.py
  src/services/slack_notifier.py
  test_ai_provider_bug.py
  test_comprehensive_product_validation.py
  test_direct_get_products.py
  test_product_provider_direct.py
  test_product_validation.py
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-response_json.json
  tests/integration/test_creative_lifecycle_mcp.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Add missing unit test files for product validation and debugging
  tests/unit/test_ai_provider_bug.py
  tests/unit/test_comprehensive_product_validation.py
  tests/unit/test_direct_get_products.py
  tests/unit/test_product_provider_direct.py
  tests/unit/test_product_validation.py
Due: validate-model-imports

Add missing unit test files for product validation and debugging (#175)
  tests/unit/test_ai_provider_bug.py
  tests/unit/test_comprehensive_product_validation.py
  tests/unit/test_direct_get_products.py
  tests/unit/test_product_provider_direct.py
  tests/unit/test_product_validation.py
Due: validate-model-imports

Implement comprehensive MCP contract validation prevention system
  .pre-commit-config.yaml
  docs/CONTRACT_VALIDATION_PREVENTION.md
  scripts/audit_required_fields.py
  src/core/main.py
  src/core/schemas.py
  tests/integration/test_mcp_contract_validation.py
Due: validate-column-lengths, validate-model-imports

Integrate contract validation into existing documentation structure
  CLAUDE.md
  README.md
  docs/DEVELOPMENT.md
  docs/TROUBLESHOOTING.md
Due: none

Consolidate contract validation into existing docs structure
  CLAUDE.md
  README.md
  docs/CONTRACT_VALIDATION_PREVENTION.md
Due: none

Fix MCP contract validation: 'brief' is required error + prevention system (#176)
  .pre-commit-config.yaml
  CLAUDE.md
  docs/DEVELOPMENT.md
  docs/TROUBLESHOOTING.md
  scripts/audit_required_fields.py
  src/core/main.py
  src/core/schemas.py
  tests/integration/test_mcp_contract_validation.py
Due: validate-column-lengths, validate-model-imports

Fix product deletion validation error: 'The string did not match the expected pattern'
  src/core/json_validators.py
Due: validate-model-imports

Update test to match new flexible format validation behavior
  tests/unit/test_session_json_validation.py
Due: validate-model-imports

Fix product deletion validation error: 'The string did not match the expected pattern' (#177)
  src/core/json_validators.py
  tests/unit/test_session_json_validation.py
Due: validate-model-imports

Improve Conductor workspace setup with .env.secrets support
  .env.secrets.template
  .env.template
  .gitignore
  README.md
  docs/SETUP.md
  scripts/setup/setup_conductor_workspace.sh
Due: none

Improve Conductor workspace setup with .env.secrets support (#178)
  .env.secrets.template
  .env.template
  .gitignore
  README.md
  docs/SETUP.md
  scripts/setup/setup_conductor_workspace.sh
Due: none

Fix product deletion 404 error by correcting JavaScript URL path
  templates/products.html
Due: none

Fix product deletion 404 error by correcting JavaScript URL path (#179)
  templates/products.html
Due: none

Fix product creation format selection and setup script issues
  scripts/setup/setup_conductor_workspace.sh
  src/admin/blueprints/products.py
Due: validate-model-imports

Fix product creation format selection and setup script issues (#180)
  scripts/setup/setup_conductor_workspace.sh
  src/admin/blueprints/products.py
Due: validate-model-imports

Fix contexts table schema mismatch
  alembic/versions/fc694918df34_fix_contexts_table_schema_mismatch.py
Due: validate-model-imports

Fix contexts table migration to handle foreign key constraints properly
  alembic/versions/fc694918df34_fix_contexts_table_schema_mismatch.py
Due: validate-model-imports

Use DROP TABLE CASCADE to handle foreign key constraints in contexts migration
  alembic/versions/fc694918df34_fix_contexts_table_schema_mismatch.py
Due: validate-model-imports

Fix migration to use op.execute instead of manual transaction management
  alembic/versions/fc694918df34_fix_contexts_table_schema_mismatch.py
Due: validate-model-imports

🚨 Critical Fix: Resolve contexts table schema mismatch preventing media buy creation (#181)
  alembic/versions/fc694918df34_fix_contexts_table_schema_mismatch.py
Due: validate-model-imports

Update all Gemini Flash references to use gemini-flash-latest
  CLAUDE.md
  docs/ARCHITECTURE.md
  examples/upstream_product_catalog_server.py
  product_catalog_providers/ai.py
  src/services/ai_creative_format_service.py
  src/services/ai_product_service.py
  src/services/policy_check_service.py
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creatives-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_signals_get-signals-response_json.json
  tests/integration/test_ai_products.py
  tests/unit/test_ai_provider_bug.py
  tests/unit/test_comprehensive_product_validation.py
  tools/demos/demo_product_catalog_providers.py
Due: validate-model-imports

Update all Gemini Flash references to use gemini-flash-latest (#182)
  CLAUDE.md
  docs/ARCHITECTURE.md
  examples/upstream_product_catalog_server.py
  product_catalog_providers/ai.py
  src/services/ai_creative_format_service.py
  src/services/ai_product_service.py
  src/services/policy_check_service.py
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creatives-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_signals_get-signals-response_json.json
  tests/integration/test_ai_products.py
  tests/unit/test_ai_provider_bug.py
  tests/unit/test_comprehensive_product_validation.py
  tools/demos/demo_product_catalog_providers.py
Due: validate-model-imports

Simplify secrets management: remove environment variables, require .env.secrets file
  CLAUDE.md
  scripts/setup/setup_conductor_workspace.sh
Due: none

Fix impression tracker flow from sync_creatives to GAM
  src/core/main.py
  tests/integration/test_impression_tracker_flow.py
Due: validate-model-imports

Simplify secrets management: remove environment variables, require .env.secrets file (#183)
  CLAUDE.md
  scripts/setup/setup_conductor_workspace.sh
Due: none

Fix impression tracker flow from sync_creatives to GAM (#184)
  src/core/main.py
  tests/integration/test_impression_tracker_flow.py
Due: validate-model-imports

Path conditions:
  validate-column-lengths: any of: (models|schemas)\.py$
  check-api-deprecations: any of: adapters/.*\.py$
  validate-model-imports: any of: \.py$
