Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$

Update AdCP format schema to latest from registry
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
Due: none

Fix: Disable timestamps in generated schemas to reduce git noise
  scripts/generate_schemas.py
Due: none

Remove deprecated schemas and download missing official schemas
  src/core/schemas_generated/_schemas_v1_adagents_json.py
  src/core/schemas_generated/_schemas_v1_core_budget_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_library_item_json.py
  src/core/schemas_generated/_schemas_v1_enums_snippet_type_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_add_creative_assets_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_add_creative_assets_response_json.py
  src/core/schemas_generated/_schemas_v1_standard_formats_asset_types_index_json.py
  src/core/schemas_generated/_schemas_v1_standard_formats_index_json.py
  tests/e2e/schemas/v1/_schemas_v1_adagents_json.json
  tests/e2e/schemas/v1/_schemas_v1_adagents_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_standard-formats_index_json.json
  tests/e2e/schemas/v1/_schemas_v1_standard-formats_index_json.json.meta
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix schema imports and helpers after regeneration
  CREATIVE_AGENT_BUG_REPORT.md
  CREATIVE_AGENT_BUG_REPORT_V2.md
  src/core/main.py
  src/core/schema_helpers.py
  test_preview_flow.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix test to use new simplified GetProductsRequest schema
  tests/unit/test_manual_vs_generated_schemas.py
Due: detect-test-antipatterns

Fix schema adapter to match new GetProductsRequest fields
  src/core/schema_adapters.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix schema adapter test after generated schema regeneration
  tests/unit/test_schema_adapters.py
Due: detect-test-antipatterns

Update adapter pattern test after schema simplification
  tests/unit/test_schema_adapters.py
Due: detect-test-antipatterns

Remove temporary debugging script check_asset_ids.py
  check_asset_ids.py
Due: none

Changes auto-committed by Conductor
  docs/TROUBLESHOOTING.md
  src/adapters/gam/managers/inventory.py
  src/adapters/gam/managers/sync.py
  src/adapters/gam_inventory_discovery.py
  src/adapters/google_ad_manager.py
  src/admin/sync_api.py
  src/services/gam_inventory_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Changes auto-committed by Conductor (#505)
  docs/TROUBLESHOOTING.md
  src/adapters/gam/managers/inventory.py
  src/adapters/gam/managers/sync.py
  src/adapters/gam_inventory_discovery.py
  src/adapters/google_ad_manager.py
  src/admin/sync_api.py
  src/services/gam_inventory_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix inventory sync UX issues
  src/admin/blueprints/gam.py
  src/services/gam_inventory_service.py
  static/js/tenant_settings.js
  templates/inventory_browser.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix inventory sync UX issues (#506)
  src/admin/blueprints/gam.py
  src/services/gam_inventory_service.py
  static/js/tenant_settings.js
  templates/inventory_browser.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix E2E tests: Replace promoted_offering with brand_manifest in get_products calls
  tests/e2e/test_a2a_adcp_compliance.py
  tests/e2e/test_adcp_reference_implementation.py
  tests/e2e/test_adcp_schema_compliance.py
  tests/e2e/test_strategy_simulation_end_to_end.py
Due: detect-test-antipatterns

Fix SQLAlchemy session error in background sync
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix SQLAlchemy session error in background sync (#507)
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix E2E helper: Replace promoted_offering with brand_manifest in create_media_buy
  tests/e2e/adcp_request_builder.py
Due: detect-test-antipatterns

Remove promoted_offering from MCP get_products tool signature
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix schema helper: Don't pass promoted_offering to GetProductsRequest
  src/core/schema_helpers.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix GetProductsRequest: Remove .root access after schema simplification
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Remove promoted_offering references from GetProductsRequest implementation
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add real-time progress tracking to inventory sync
  alembic/versions/ed7d05fea3be_add_progress_tracking_to_sync_jobs.py
  src/admin/blueprints/gam.py
  src/core/database/models.py
  static/js/tenant_settings.js
Due: check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment

Add automatic GCP service account provisioning for GAM integration
  .env.example
  .gitignore
  alembic/versions/661c474053fa_add_gcp_project_id_and_service_account_.py
  docs/gam-service-account-setup.md
  docs/gcp-service-account-provisioning-setup.md
  fly.toml
  pyproject.toml
  scripts/setup/setup_conductor_workspace.sh
  src/admin/blueprints/gam.py
  src/core/database/models.py
  src/services/gcp_service_account_service.py
  static/js/tenant_settings.js
  templates/tenant_settings.html
  uv.lock
Due: check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, template-url-validation

Add automatic GCP service account provisioning for GAM integration (#509)
  .env.example
  .gitignore
  alembic/versions/661c474053fa_add_gcp_project_id_and_service_account_.py
  docs/gam-service-account-setup.md
  docs/gcp-service-account-provisioning-setup.md
  fly.toml
  pyproject.toml
  scripts/setup/setup_conductor_workspace.sh
  src/admin/blueprints/gam.py
  src/core/database/models.py
  src/services/gcp_service_account_service.py
  static/js/tenant_settings.js
  templates/tenant_settings.html
  uv.lock
Due: check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, template-url-validation

Add real-time progress tracking to inventory sync (#508)
  alembic/versions/ed7d05fea3be_add_progress_tracking_to_sync_jobs.py
  src/admin/blueprints/gam.py
  src/core/database/models.py
  static/js/tenant_settings.js
Due: check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment

Fix migration head conflict causing 503 errors
  alembic/versions/ed7d05fea3be_add_progress_tracking_to_sync_jobs.py
Due: none

Fix migration head conflict causing 503 errors (#510)
  alembic/versions/ed7d05fea3be_add_progress_tracking_to_sync_jobs.py
Due: none

Fix 409 handling for sync resume functionality
  static/js/tenant_settings.js
Due: none

Add detailed logging and service account verification
  src/services/gcp_service_account_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add connection test method for GCP service account service
  src/services/gcp_service_account_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Enhance GCP service account creation logging (#511)
  src/services/gcp_service_account_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix 409 handling for sync resume functionality (#512)
  static/js/tenant_settings.js
Due: none

Handle existing service accounts gracefully
  src/services/gcp_service_account_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add automatic cleanup on partial failure to prevent inconsistent state
  src/services/gcp_service_account_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls
