Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$

Update cache bust to force rebuild with fixed migration
  Dockerfile
Due: none

Update test to accept new require_valid_token parameter pattern
  tests/unit/test_auth_removal_simple.py
Due: detect-test-antipatterns

Fix discovery endpoint auth handling and remove fallback behavior (#553)
  src/core/main.py
  tests/unit/test_auth_removal_simple.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Make migration even more aggressive to catch all template variations
  alembic/versions/faaed3b71428_update_order_name_template_default_to_.py
Due: none

Fix Approximated API endpoints for domain status check
  src/admin/blueprints/settings.py
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Update Docker cache bust for aggressive migration deployment
  Dockerfile
Due: none

Fix Approximated API endpoints for domain status check (#554)
  src/admin/blueprints/settings.py
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix DATABASE_URL handling in .env and improve test fixture error messages
  tests/integration/conftest.py
Due: detect-test-antipatterns

Fix tenant context detection in MCP tools
  src/core/mcp_context_wrapper.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix test mocks for updated tenant detection
  tests/unit/test_context_management.py
Due: detect-test-antipatterns

Fix remaining test mocks for tenant detection
  tests/unit/test_context_management.py
Due: detect-test-antipatterns

Fix tenant context detection in MCP tools (#555)
  src/core/mcp_context_wrapper.py
  tests/unit/test_context_management.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Update cache bust to force complete Docker rebuild
  Dockerfile
Due: none

Fix get_products MCP tool registration with missing parentheses
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add debug logging to identify promoted_offering NameError source
  src/adapters/mock_ad_server.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Remove stray promoted_offering parameter from CreateMediaBuyRequest construction
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix tenant detection for virtual hosts using Host header
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix get_products MCP tool registration with missing parentheses (#556)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix A2A list_authorized_properties tenant detection without auth
  src/a2a_server/adcp_a2a_server.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Fix A2A list_authorized_properties tenant detection without auth (#557)
  src/a2a_server/adcp_a2a_server.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Fix MCP tenant detection by capturing Host header
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix MCP tenant detection by capturing Host header (#558)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix nginx binding to 0.0.0.0:8000 for Fly.io load balancer
  fly/nginx.conf
Due: none

Add e2e test for creative sync with assignment
  tests/e2e/adcp_request_builder.py
  tests/e2e/test_creative_assignment_e2e.py
Due: detect-test-antipatterns

Fix: Implement creative assignment in update_media_buy
  CLAUDE.md
  docs/fixes/2025-10-23-update-media-buy-creative-assignment.md
  docs/testing/postmortems/2025-10-23-test-agent-update-media-buy-stub.md
  src/core/main.py
  tests/integration/test_update_media_buy_creative_assignment.py
  tests/unit/test_update_media_buy_affected_packages.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix creative assignment to support buyer_ref lookup
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Remove test agent postmortem (not needed in sales agent repo)
  CLAUDE.md
  docs/fixes/2025-10-23-update-media-buy-creative-assignment.md
  docs/testing/postmortems/2025-10-23-test-agent-update-media-buy-stub.md
Due: none

Fix nginx binding to 0.0.0.0:8000 for Fly.io load balancer (#559)
  fly/nginx.conf
Due: none

Fix: Implement creative assignment in update_media_buy (#560)
  CLAUDE.md
  docs/fixes/2025-10-23-update-media-buy-creative-assignment.md
  src/core/main.py
  tests/integration/test_update_media_buy_creative_assignment.py
  tests/unit/test_update_media_buy_affected_packages.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix creative assignment to support buyer_ref lookup (#561)
  src/core/main.py
  tests/e2e/adcp_request_builder.py
  tests/e2e/test_creative_assignment_e2e.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix list_authorized_properties to use AdCP v2.4 spec-compliant publisher_domains
  src/core/main.py
  src/core/schema_adapters.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix A2A authentication header reading for Approximated proxy compatibility
  src/a2a_server/adcp_a2a_server.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Fix list_authorized_properties to use AdCP v2.4 spec-compliant publisher_domains (#562)
  src/core/main.py
  src/core/schema_adapters.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix A2A authentication header reading for Approximated proxy compatibility (#563)
  src/a2a_server/adcp_a2a_server.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Fix BrandAsset schema to use asset_type instead of type
  src/core/schemas.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix schema_helpers.py after schema regeneration
  src/core/schema_helpers.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix test_a2a_response_attribute_access for new schema
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_json.py
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_ref_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_error_json.py
  src/core/schemas_generated/_schemas_v1_core_format_json.py
  src/core/schemas_generated/_schemas_v1_core_pricing_option_json.py
  src/core/schemas_generated/_schemas_v1_core_product_json.py
  src/core/schemas_generated/_schemas_v1_core_promoted_offerings_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_create_media_buy_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_authorized_properties_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creative_formats_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_package_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_update_media_buy_request_json.py
  tests/unit/test_a2a_response_attribute_access.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Add schema generation automation
  .pre-commit-config.yaml
  scripts/generate_schemas.py
  scripts/setup/setup_conductor_workspace.sh
  src/core/schemas_generated/__init__.py
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_json.py
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_ref_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_error_json.py
  src/core/schemas_generated/_schemas_v1_core_format_json.py
  src/core/schemas_generated/_schemas_v1_core_measurement_json.py
  src/core/schemas_generated/_schemas_v1_core_placement_json.py
  src/core/schemas_generated/_schemas_v1_core_pricing_option_json.py
  src/core/schemas_generated/_schemas_v1_core_product_json.py
  src/core/schemas_generated/_schemas_v1_core_promoted_offerings_json.py
  src/core/schemas_generated/_schemas_v1_core_push_notification_config_json.py
  src/core/schemas_generated/_schemas_v1_core_start_timing_json.py
  src/core/schemas_generated/_schemas_v1_core_targeting_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_create_media_buy_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_media_buy_delivery_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_authorized_properties_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_authorized_properties_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creative_formats_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creative_formats_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_package_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_update_media_buy_request_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpc_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpcv_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpm_auction_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpm_fixed_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpp_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpv_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_flat_rate_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_vcpm_auction_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_vcpm_fixed_option_json.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls
