Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$

fix(harness): one webhook address, and a delivery verdict that is not a lie
  src/services/delivery_webhook_scheduler.py
  tests/e2e/_webhook_capture.py
  tests/harness/_base.py
  tests/harness/_mixins.py
  tests/integration/test_delivery_webhooks_force.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

refactor: move internal fields off the request DTOs (salesagent-prkv.106.5)
  src/core/schemas/_base.py
  src/core/schemas/creative.py
  src/core/schemas/product.py
  src/core/tools/creatives/listing.py
  src/core/tools/media_buy_update.py
  tests/harness/creative_list.py
  tests/harness/media_buy_update.py
  tests/integration/test_creative_lifecycle_mcp.py
  tests/integration/test_mcp_tool_roundtrip_minimal.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_announced_shape.py
  tests/unit/test_architecture_builders_respect_declared_defaults.py
  tests/unit/test_architecture_request_dto_has_no_internal_fields.py
  tests/unit/test_architecture_transport_field_parity.py
  tests/unit/test_creative.py
  tests/unit/test_creative_coverage_gaps.py
  tests/unit/test_product_schema_obligations.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

feat: add local subclasses for GetAdcpCapabilitiesRequest and ListTasksRequest
  src/core/schemas/_base.py
  src/core/tools/capabilities.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: add the TOOLS registry and assert it agrees with the three live declarations
  src/core/tools/_announced_shape.py
  src/core/tools/registry.py
  tests/helpers/a2a_skill_map.py
  tests/unit/test_architecture_a2a_skills_are_spec_tools.py
  tests/unit/test_architecture_tool_registry_agrees.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

test(delivery): pin the trigger's args, not just that it was called
  tests/integration/test_delivery_webhooks_force.py
Due: detect-test-antipatterns, mypy-no-regression

docs: the 3 e2e_rest failures are solved; the gate wedge is the new blocker
  HANDOFF-merge-main-into-rfc9421.md
Due: none

docs: the BDD harness architecture, measured
  docs/design/bdd-harness-architecture.md
  tests/unit/test_architecture_a2a_handlers_select_off_the_tool.py
  tests/unit/test_architecture_builders_respect_declared_defaults.py
  tests/unit/test_architecture_dto_sdk_grounded.py
  tests/unit/test_architecture_request_dto_has_no_internal_fields.py
  tests/unit/test_architecture_rest_body_completeness.py
  tests/unit/test_architecture_rest_routes_forward_what_they_declare.py
  tests/unit/test_architecture_tool_registry_agrees.py
  tests/unit/test_architecture_transport_field_parity.py
  tests/unit/test_validation_error_at_the_boundary.py
Due: detect-test-antipatterns, mypy-no-regression

docs: the migration is phased, and the never-loaded features stay for now
  docs/design/bdd-harness-architecture.md
  src/core/schemas/conformance.py
  tests/helpers/a2a_skill_map.py
  tests/unit/test_architecture_a2a_skills_are_spec_tools.py
  tests/unit/test_schemas_conformance.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

docs: complete_task has a REST path like every other tool
  docs/design/bdd-harness-architecture.md
Due: none

feat: generate MCP, A2A and REST from the tool registry
  docs/design/one-tool-registry.md
  src/a2a_server/adcp_a2a_server.py
  src/app.py
  src/core/helpers/creative_helpers.py
  src/core/main.py
  src/core/schema_helpers.py
  src/core/schemas/_base.py
  src/core/schemas/account.py
  src/core/schemas/creative.py
  src/core/schemas/delivery.py
  src/core/schemas/product.py
  src/core/tools/_announced_shape.py
  src/core/tools/accounts.py
  src/core/tools/capabilities.py
  src/core/tools/creative_formats.py
  src/core/tools/creatives/__init__.py
  src/core/tools/creatives/listing.py
  src/core/tools/creatives/sync_wrappers.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_delivery.py
  src/core/tools/media_buy_list.py
  src/core/tools/media_buy_update.py
  src/core/tools/products.py
  src/core/tools/properties.py
  src/core/tools/registry.py
  src/core/tools/task_management.py
  src/core/validation_helpers.py
  src/routes/api_v1.py
  tests/integration/test_mcp_tool_roundtrip_minimal.py
  tests/unit/test_announced_shape.py
  tests/unit/test_direct_get_products.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mcp-schema-alignment, mypy-no-regression

test: delete the guards whose subject was the hand-written wrapper
  src/core/schemas/_base.py
  src/core/tools/_announced_shape.py
  src/core/tools/task_management.py
  tests/unit/test_announced_shape.py
  tests/unit/test_boundary_field_forwarding.py
  tests/unit/test_mcp_tool_schemas.py
  tests/unit/test_mcp_tool_type_alignment.py
  tests/unit/test_rest_depends_auth.py
  tests/unit/test_task_management_auth.py
  tests/unit/test_task_management_tools.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: read the registry row per call, and delete the tests that graded the wrappers
  src/core/main.py
  src/core/tools/task_management.py
  src/routes/api_v1.py
  tests/harness/test_forward_compat_acceptance.py
  tests/unit/test_a2a_auth_optional.py
  tests/unit/test_a2a_brand_manifest_parameter.py
  tests/unit/test_a2a_success_field_consolidation.py
  tests/unit/test_announced_shape.py
  tests/unit/test_architecture_advertised_defaults_come_from_the_dto.py
  tests/unit/test_architecture_behavioral_mock_cap.py
  tests/unit/test_architecture_create_wrapper_account_param.py
  tests/unit/test_architecture_local_schema_imports.py
  tests/unit/test_architecture_no_swallowed_validation_error.py
  tests/unit/test_architecture_resolved_identity_inline_cap.py
  tests/unit/test_architecture_schema_inheritance.py
  tests/unit/test_architecture_weak_mock_assertions.py
  tests/unit/test_architecture_webhook_ingest_validation.py
  tests/unit/test_brand_manifest_to_brand_migration.py
  tests/unit/test_create_media_buy_behavioral.py
  tests/unit/test_creative_coverage_gaps.py
  tests/unit/test_creative_formats_behavioral.py
  tests/unit/test_direct_get_products.py
  tests/unit/test_get_adcp_capabilities.py
  tests/unit/test_media_buy.py
  tests/unit/test_openapi_surface.py
  tests/unit/test_push_notification_forwarding.py
  tests/unit/test_raw_function_parameter_validation.py
  tests/unit/test_rest_depends_auth.py
  tests/unit/test_sync_creatives_a2a_account.py
  tests/unit/test_sync_creatives_format_validation.py
  tests/unit/test_task_management_auth.py
  tests/unit/test_task_management_tools.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

test(bdd): park the circuit-breaker scenarios instead of grading them in the wrong process
  tests/harness/_mixins.py
  tests/unit/test_architecture_e2e_rest_escape_hatches.py
Due: detect-test-antipatterns, mypy-no-regression

docs: record webhook_activity[] as the capability gap the parked scenarios need
  HANDOFF-merge-main-into-rfc9421.md
Due: none

fix: make mypy clean, and seed the account the boundary now resolves
  .ruff-complexity-baseline
  src/a2a_server/adcp_a2a_server.py
  src/core/schemas/creative.py
  src/core/tools/_announced_shape.py
  src/core/tools/registry.py
  src/routes/api_v1.py
  tests/bdd/conftest.py
  tests/bdd/steps/domain/uc003_storyboard_generic_client.py
  tests/harness/_base.py
  tests/harness/creative_list.py
  tests/harness/media_buy_create.py
  tests/harness/media_buy_update.py
  tests/harness/test_address_table.py
  tests/helpers/capture_wrapper_req.py
  tests/unit/test_architecture_weak_mock_assertions.py
  tests/unit/test_guards_no_dead_path_raw_calls.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

test(harness): close salesagent-h7l0h — the breaker seeds are declared, not deferred
  tests/unit/test_architecture_harness_realize_e2e_coverage.py
Due: detect-test-antipatterns, mypy-no-regression

docs: retract the wedge attribution — it was the box, not this branch
  HANDOFF-merge-main-into-rfc9421.md
Due: none

fix: seed the account in the media-buy chain, and call the reference accessor
  tests/bdd/steps/domain/uc003_storyboard_generic_client.py
  tests/harness/media_buy_create.py
Due: detect-test-antipatterns, mypy-no-regression

test: repoint the integration tests and harness off the deleted wrappers
  tests/harness/_base.py
  tests/harness/media_buy_list.py
  tests/integration/test_account_mcp_context_bypass.py
  tests/integration/test_creative_formats_protocol.py
  tests/integration/test_internal_flags_isolation.py
  tests/integration/test_spec_shaped_payload_lands.py
Due: detect-test-antipatterns, mypy-no-regression

refactor: name the tool for its spec task — get_task -> get_task_status
  src/core/database/repositories/workflow.py
  src/core/exceptions.py
  src/core/schemas/_base.py
  src/core/tools/registry.py
  src/core/tools/task_management.py
  tests/e2e/test_a2a_protocol_compliance.py
  tests/e2e/test_schema_validation_standalone.py
  tests/helpers/request_schemas.py
  tests/integration/test_a2a_skill_invocation.py
  tests/integration/test_get_task_principal_scope.py
  tests/integration/test_tool_registration.py
  tests/unit/test_architecture_auth_helper_context_wiring.py
  tests/unit/test_architecture_workflow_tenant_isolation.py
  tests/unit/test_mcp_auth_middleware.py
  tests/unit/test_rest_api_endpoints.py
  tests/unit/test_task_management_auth.py
  tests/unit/test_task_management_tools.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: state the oneOf rejection in the schema's own vocabulary
  src/core/errors/issues.py
  src/core/schemas/creative.py
  tests/e2e/test_discovery_endpoints_e2e.py
  tests/e2e/test_landing_pages.py
  tests/integration/test_a2a_skill_invocation.py
  tests/integration/test_mcp_tool_roundtrip_minimal.py
  tests/integration/test_wire_omission_matrix.py
  tests/unit/test_architecture_repository_pattern.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

test: grade the shared step once, and stop asserting a pointer the buyer never sent
  src/core/errors/issues.py
  src/core/schemas/creative.py
  tests/integration/test_a2a_response_message_fields.py
  tests/integration/test_creative_lifecycle_mcp.py
  tests/integration/test_creative_list_behavioral.py
  tests/integration/test_creative_sync_behavioral.py
  tests/integration/test_creative_sync_transport.py
  tests/integration/test_creative_validation_rest_obligations.py
  tests/integration/test_list_creatives_a2a_wire_shape.py
  tests/unit/test_architecture_repository_pattern.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

docs: call a oneOf member a branch, not an arm
  src/core/schemas/creative.py
  tests/integration/test_creative_sync_transport.py
  tests/integration/test_creative_validation_rest_obligations.py
  tests/unit/test_architecture_schema_inheritance.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

feat: a request factory for every registered tool, bound to the registry DTO
  tests/factories/request.py
  tests/unit/test_request_factories_conform_to_the_pin.py
Due: detect-test-antipatterns, mypy-no-regression

refactor: delete the synthesized-error-envelope escape hatch
  tests/harness/transport.py
  tests/unit/test_architecture_bdd_wire_discipline.py
  tests/unit/test_architecture_one_wire_error_assertion.py
  tests/unit/test_harness_mcp_never_synthesizes.py
Due: detect-test-antipatterns, mypy-no-regression

refactor: impl is not a transport, so the Transport enum stops listing it
  tests/harness/dispatchers.py
  tests/harness/transport.py
  tests/integration/test_creative_advisory_recovery_pair.py
  tests/integration/test_creative_agent_dial_refusal_recovery.py
  tests/integration/test_creative_agent_url_ingest_refusal.py
  tests/integration/test_media_buy_adapter_format_dial_guard.py
  tests/integration/test_url_provenance_wire.py
  tests/integration/test_webhook_url_ingest_refusal.py
Due: detect-test-antipatterns, mypy-no-regression

refactor: BDD stops recomputing HMAC and calls the shared helper
  tests/bdd/steps/domain/uc004_delivery.py
Due: detect-test-antipatterns, mypy-no-regression

fix: delete the test that graded ImplDispatcher along with the class
  tests/unit/test_harness_mcp_never_synthesizes.py
Due: detect-test-antipatterns, mypy-no-regression

test: the REST surface is derived from the registry, not pinned to a moment
  tests/harness/test_address_table.py
Due: detect-test-antipatterns, mypy-no-regression
