Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$

Migrate DatabaseProductCatalog to SQLAlchemy 2.0 select() pattern
  product_catalog_providers/database.py
Due: none

Add missing updateApprovalModeUI function for creative approval mode
  static/js/tenant_settings.js
Due: none

Fix creative sync audit log error messages
  src/admin/blueprints/workflows.py
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add pre-commit hook to enforce SQLAlchemy 2.0 patterns
  .pre-commit-config.yaml
  .pre-commit-hooks/check_sqlalchemy_2_0.py
Due: none

Fix CI test failures: BrandManifest validation and generated schema handling
  src/core/main.py
  src/core/schema_helpers.py
  src/core/schemas.py
  src/core/tools.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Add unique() call for joinedload in SQLAlchemy 2.0
  product_catalog_providers/database.py
Due: none

Fix GetMediaBuyDeliveryResponse adapter to match AdCP spec
  src/core/schema_adapters.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix unique() placement for joinedload in SQLAlchemy 2.0
  product_catalog_providers/database.py
Due: none

Clear tenant context ContextVar in reset-db-pool endpoint
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add missing updateApprovalModeUI function for creative approval mode (#377)
  static/js/tenant_settings.js
Due: none

Fix creative sync audit log error messages (#378)
  src/admin/blueprints/workflows.py
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add stderr debug logging to trace get_products execution
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add automatic creative preview fetching from creative agent
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix GetMediaBuyDeliveryResponse field name to match AdCP spec
  src/core/schemas.py
  tests/unit/test_adcp_contract.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix update_media_buy "not found" error for database-persisted buys
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add comprehensive tests for database-backed update_media_buy
  tests/integration/test_update_media_buy_persistence.py
Due: detect-test-antipatterns

Add automatic creative preview fetching from creative agent (#379)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix integration tests for update_media_buy persistence
  tests/integration/test_update_media_buy_persistence.py
Due: detect-test-antipatterns

Apply black formatting to test_adcp_contract.py
  tests/unit/test_adcp_contract.py
Due: detect-test-antipatterns

Add debug output to E2E test to see actual get_products response
  tests/e2e/test_adcp_reference_implementation.py
Due: detect-test-antipatterns

Fix update_media_buy 'not found' error for database-persisted media buys (#380)
  src/core/main.py
  tests/integration/test_update_media_buy_persistence.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add stderr debug for product validation failures
  product_catalog_providers/database.py
Due: none

Fail loudly on product validation errors instead of silently skipping
  product_catalog_providers/database.py
Due: none

Complete server-side AdCP v1.8.0 budget format migration
  src/adapters/gam/managers/workflow.py
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
  src/adapters/xandr.py
  src/core/main.py
  src/core/schemas.py
  src/core/utils/naming.py
  tests/unit/test_budget_format_compatibility.py
  tests/unit/test_budget_migration_integration.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix silent failures: proper logging and no bare except
  product_catalog_providers/database.py
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

feat: Add AdCP v2.4 format_id object support with backward compatibility
  PR99_FORMAT_ID_IMPLEMENTATION.md
  src/core/main.py
  src/core/schemas.py
  tests/unit/test_format_id.py
  tests/unit/test_format_id_parsing.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix UpdateMediaBuyRequest currency attribute error
  src/core/main.py
  tests/unit/test_budget_migration_integration.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix missing delivery_type field in DatabaseProductCatalog
  product_catalog_providers/database.py
Due: none

Fix test checking for removed adcp_version field
  tests/integration/test_mcp_contract_validation.py
Due: detect-test-antipatterns

Make schema drift an ERROR in CI mode to prevent outdated schemas
  scripts/check_schema_sync.py
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creatives-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-response_json.json
Due: none

Clarify that currency comes from pricing option via req.currency
  src/core/main.py
  src/core/schemas.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix GetMediaBuyDeliveryResponse field name: deliveries → media_buy_deliveries
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

feat: Add backward-compatible format_id namespacing with smart cache
  PR99_FORMAT_ID_IMPLEMENTATION.md
  alembic/versions/f2addf453200_add_agent_url_to_creatives_and_products.py
  docs/format-id-namespacing.md
  src/core/database/models.py
  src/core/format_cache.py
  src/core/main.py
  src/core/schemas.py
  tests/fixtures/creative_formats/reference_formats.json
  tests/unit/test_adcp_contract.py
  tests/unit/test_format_cache.py
  tests/unit/test_format_id.py
  tests/unit/test_format_id_parsing.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Update pre-push hook to run CI mode tests (not quick)
  docs/testing/pre-push-workflow.md
Due: none

Add implementation plan for adapter schema validation system
  docs/testing/adapter-validation-system.md
Due: none

Document currency source and add Package.currency field
  src/core/main.py
  src/core/schemas.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Add authorized property creation to CI init for setup checklist
  scripts/setup/init_database_ci.py
Due: none

Show AI's actual reasoning in creative review notifications
  src/admin/blueprints/creatives.py
  templates/creative_management.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Remove Package.currency field (not in AdCP spec)
  src/core/main.py
  src/core/schemas.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment
