Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Check for removed columns still referenced in code
      - id: check-schema-references
        name: Check schema references
        entry: python scripts/check_schema_references.py
        language: system
        pass_filenames: false
        always_run: true
        
      # Validate model column lengths
      - id: validate-column-lengths
        name: Validate database column lengths
        entry: python scripts/validate_column_lengths.py
        language: system
        files: '(models|schemas)\.py$'
        
      # Check for tenant.config references
      - id: no-tenant-config
        name: No tenant.config references
        entry: sh -c 'if grep -r "tenant\.config\|tenant\[.config.\]" --include="*.py" . | grep -v "test_migration\|postmortem\|pre-commit"; then echo "Found tenant.config references!"; exit 1; fi'
        language: system
        pass_filenames: false
        
      # Validate migrations can run
      - id: test-migrations
        name: Test database migrations
        entry: sh -c 'cp adcp_local.db .test.db && DATABASE_URL=sqlite:///.test.db python migrate.py && rm .test.db'
        language: system
        pass_filenames: false
        stages: [commit]
        
      # Check for API deprecations
      - id: check-api-deprecations
        name: Check for deprecated API usage
        entry: python scripts/check_api_deprecations.py
        language: system
        files: 'adapters/.*\.py$'
        
      # Validate Pydantic vs SQLAlchemy imports
      - id: validate-model-imports
        name: Validate model imports
        entry: python scripts/validate_model_imports.py
        language: system
        files: '\.py$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: check-ast
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.272
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Implement dual A2A skill invocation patterns from AdCP PR #48 (#114)
  CLAUDE.md
  src/a2a_server/README.md
  src/a2a_server/adcp_a2a_server.py
  tests/e2e/test_a2a_adcp_compliance.py
  tests/integration/test_a2a_skill_invocation.py
Due: validate-model-imports

Fix A2A server error handling to return proper JSON-RPC errors
  src/a2a_server/adcp_a2a_server.py
  tests/integration/test_a2a_skill_invocation.py
Due: validate-model-imports

Fix A2A server error handling to return proper JSON-RPC errors (#122)
  src/a2a_server/adcp_a2a_server.py
  tests/integration/test_a2a_skill_invocation.py
Due: validate-model-imports

Replace deprecated GAM GetDataDownloader with modern ReportService
  src/adapters/gam_reporting_api.py
  src/adapters/gam_reporting_service.py
  src/adapters/google_ad_manager.py
  tests/integration/test_gam_country_adunit.py
Due: check-api-deprecations, validate-model-imports

Replace deprecated GAM GetDataDownloader with modern ReportService (#123)
  src/adapters/gam_reporting_api.py
  src/adapters/gam_reporting_service.py
  src/adapters/google_ad_manager.py
  tests/integration/test_gam_country_adunit.py
Due: check-api-deprecations, validate-model-imports

Refactor tests to fix excessive mocking pre-commit hook failure
  CLAUDE.md
  tests/integration/test_database_health.py
  tests/integration/test_signals_agent_workflow.py
  tests/unit/test_context_management.py
  tests/unit/test_database_health.py
Due: validate-model-imports

Fix CI test failures: mock context manager returns proper None value
  tests/unit/test_context_management.py
Due: validate-model-imports

Fix excessive mocking pre-commit hook failure - 80% mock reduction (#124)
  CLAUDE.md
  tests/integration/test_database_health.py
  tests/integration/test_signals_agent_workflow.py
  tests/unit/test_context_management.py
  tests/unit/test_database_health.py
Due: validate-model-imports

Fix GAM inventory sync functionality and resolve route conflicts
  CLAUDE.md
  src/adapters/google_ad_manager.py
  src/admin/app.py
  src/admin/blueprints/inventory.py
  src/admin/blueprints/operations.py
  src/admin/sync_api.py
  src/services/ai_product_service.py
  src/services/gam_inventory_service.py
  tests/integration/test_gam_timezone.py
Due: check-api-deprecations, validate-model-imports

Fix GAM inventory sync functionality and resolve route conflicts (#125)
  CLAUDE.md
  src/adapters/google_ad_manager.py
  src/admin/app.py
  src/admin/blueprints/inventory.py
  src/admin/blueprints/operations.py
  src/admin/sync_api.py
  src/services/ai_product_service.py
  src/services/gam_inventory_service.py
  tests/integration/test_gam_timezone.py
Due: check-api-deprecations, validate-model-imports

Implement NO QUIET FAILURES policy for GAM targeting (#116)
  .gitignore
  CLAUDE.md
  docs/gam-testing-setup.md
  src/adapters/gam_health_check.py
  src/adapters/gam_inventory_discovery.py
  src/adapters/gam_orders_discovery.py
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
  src/admin/blueprints/api.py
  src/admin/blueprints/gam.py
  src/admin/utils.py
  tests/manual/test_gam_supported_only.py
Due: check-api-deprecations, validate-model-imports

Implement automatic activation for non-guaranteed GAM orders (#116)
  scripts/test_gam_automation_dry_run.py
  src/adapters/gam_implementation_config_schema.py
  src/adapters/google_ad_manager.py
  src/admin/blueprints/principals.py
  src/admin/blueprints/tenants.py
  templates/adapters/gam_product_config.html
  templates/create_principal.html
  templates/tenant_settings.html
  tests/integration/test_gam_automation.py
  tests/manual/test_gam_automation_real.py
Due: check-api-deprecations, validate-model-imports

Fix CI failures: MediaPackage validation and targeting key mappings
  src/admin/utils.py
  tests/integration/test_gam_automation.py
Due: validate-model-imports

Fix Product database model validation in GAM automation tests
  tests/integration/test_gam_automation.py
Due: validate-model-imports

Update AEE to AXE terminology and remove unused service
  src/admin/superadmin_api.py
  src/core/database/models.py
  src/core/schemas.py
  src/services/aee_signals.py
  src/services/targeting_dimensions.py
Due: validate-column-lengths, validate-model-imports

Fix CI failures: MediaPackage validation and targeting key mappings
  tests/integration/test_gam_automation.py
Due: validate-model-imports

Clarify AXE scope in code comments - limited to include/exclude/macros only
  src/services/targeting_dimensions.py
Due: validate-model-imports

Fix integration test database constraint violations
  tests/integration/test_gam_automation.py
Due: validate-model-imports

Fix GAM automation test mocking issues
  tests/integration/test_gam_automation.py
Due: validate-model-imports

Add database migration for column rename
  alembic/versions/8f8c9aec1458_rename_enable_aee_signals_to_enable_axe_.py
Due: validate-model-imports

Update all enable_aee_signals references to enable_axe_signals
  docs/OPERATIONS.md
  docs/api.md
  scripts/setup/init_database.py
  scripts/setup/init_database_ci.py
  scripts/setup/setup_tenant.py
  src/admin/blueprints/core.py
  src/admin/blueprints/settings.py
  src/admin/blueprints/tenants.py
  src/admin/tests/conftest.py
  src/admin/tests/unit/test_utils.py
  src/admin/utils.py
  src/core/config_loader.py
  src/core/database/database.py
  src/core/main.py
  templates/tenant_settings.html
  tests/fixtures/builders.py
  tests/fixtures/factories.py
  tests/integration/conftest.py
  tests/integration/test_main.py
  tests/integration/test_mcp_endpoints_comprehensive.py
  tests/integration/test_product_creation.py
  tests/integration/test_schema_field_validation.py
  tests/integration/test_superadmin_api_integration.py
  tests/integration/test_tenant_dashboard.py
Due: validate-model-imports

Fix remaining CheckAEE class and function references
  src/core/main.py
  tests/e2e/README.md
  tests/e2e/test_adcp_full_lifecycle.py
Due: validate-model-imports

Implement NO QUIET FAILURES policy for GAM targeting (#116) (#126)
  .gitignore
  CLAUDE.md
  docs/gam-testing-setup.md
  scripts/test_gam_automation_dry_run.py
  src/adapters/gam_health_check.py
  src/adapters/gam_implementation_config_schema.py
  src/adapters/gam_inventory_discovery.py
  src/adapters/gam_orders_discovery.py
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
  src/admin/blueprints/api.py
  src/admin/blueprints/gam.py
  src/admin/blueprints/principals.py
  src/admin/blueprints/tenants.py
  templates/adapters/gam_product_config.html
  templates/create_principal.html
  templates/tenant_settings.html
  tests/integration/test_gam_automation.py
  tests/manual/test_gam_automation_real.py
  tests/manual/test_gam_supported_only.py
Due: check-api-deprecations, validate-model-imports

Fix PostgreSQL migration syntax for column rename
  alembic/versions/8f8c9aec1458_rename_enable_aee_signals_to_enable_axe_.py
Due: validate-model-imports

Fix code formatting in principals.py
  src/admin/blueprints/principals.py
Due: validate-model-imports

Update AEE to AXE terminology and remove unused service (#127)
  alembic/versions/8f8c9aec1458_rename_enable_aee_signals_to_enable_axe_.py
  docs/OPERATIONS.md
  docs/api.md
  scripts/setup/init_database.py
  scripts/setup/init_database_ci.py
  scripts/setup/setup_tenant.py
  src/admin/blueprints/core.py
  src/admin/blueprints/principals.py
  src/admin/blueprints/settings.py
  src/admin/blueprints/tenants.py
  src/admin/superadmin_api.py
  src/admin/tests/conftest.py
  src/admin/tests/unit/test_utils.py
  src/admin/utils.py
  src/core/config_loader.py
  src/core/database/database.py
  src/core/database/models.py
  src/core/main.py
  src/core/schemas.py
  src/services/aee_signals.py
  src/services/targeting_dimensions.py
  templates/tenant_settings.html
  tests/e2e/README.md
  tests/e2e/test_adcp_full_lifecycle.py
  tests/fixtures/builders.py
  tests/fixtures/factories.py
  tests/integration/conftest.py
  tests/integration/test_main.py
  tests/integration/test_mcp_endpoints_comprehensive.py
  tests/integration/test_product_creation.py
  tests/integration/test_schema_field_validation.py
  tests/integration/test_superadmin_api_integration.py
  tests/integration/test_tenant_dashboard.py
Due: validate-column-lengths, validate-model-imports

Implement complete GAM order lifecycle management (Issue #117)
  README.md
  docs/OPERATIONS.md
  docs/SETUP.md
  docs/TROUBLESHOOTING.md
  docs/api.md
  docs/deployment.md
  docs/gam-testing-setup.md
  docs/index.md
  src/adapters/constants.py
  src/adapters/google_ad_manager.py
  tests/integration/test_gam_automation.py
  tests/integration/test_gam_automation_focused.py
  tests/integration/test_gam_lifecycle.py
  tests/manual/test_gam_automation_real.py
Due: check-api-deprecations, validate-model-imports

Fix excessive mocking in GAM lifecycle tests
  tests/integration/test_gam_lifecycle.py
Due: validate-model-imports

Fix GAM automation integration test failures
  tests/integration/test_gam_automation_focused.py
Due: validate-model-imports

Implement AdCP v1.3+ creative asset upload with third-party tags and native support
  src/adapters/google_ad_manager.py
  src/core/main.py
  src/core/schemas.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Implement complete GAM order lifecycle management (Issue #117) (#128)
  README.md
  docs/OPERATIONS.md
  docs/SETUP.md
  docs/TROUBLESHOOTING.md
  docs/api.md
  docs/deployment.md
  docs/gam-testing-setup.md
  docs/index.md
  src/adapters/constants.py
  src/adapters/google_ad_manager.py
  tests/integration/test_gam_automation.py
  tests/integration/test_gam_automation_focused.py
  tests/integration/test_gam_lifecycle.py
  tests/manual/test_gam_automation_real.py
Due: check-api-deprecations, validate-model-imports

Add comprehensive GAM creative validation with security and compliance checks
  src/adapters/gam_validation.py
  src/adapters/google_ad_manager.py
  tests/integration/test_gam_validation_integration.py
  tests/unit/test_gam_validation.py
Due: check-api-deprecations, validate-model-imports
