Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$

test: add integration tests for auth header propagation
  tests/integration/test_auth_header_propagation.py
Due: detect-test-antipatterns, mypy-no-regression

test: add adcp library schema compatibility tests
  tests/unit/test_adcp_schema_compatibility.py
Due: detect-test-antipatterns, mypy-no-regression

feat: create creative placeholders based on actual uploaded creative sizes
  src/adapters/gam/managers/orders.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: add auth_header and timeout columns to creative_agents table
  alembic/versions/d169f2e66919_add_auth_header_and_timeout_to_creative_.py
  src/core/creative_agent_registry.py
  src/core/database/models.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, mypy-no-regression

feat: add format validation to sync_creatives and update_media_buy
  src/core/tools/creatives.py
  src/core/tools/media_buy_update.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: add auth_header and timeout columns to creative_agents table (#714)
  alembic/versions/d169f2e66919_add_auth_header_and_timeout_to_creative_.py
  src/core/creative_agent_registry.py
  src/core/database/models.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, mypy-no-regression

fix: E2E tests - extract string ID from FormatId dict
  tests/e2e/test_creative_assignment_e2e.py
Due: detect-test-antipatterns, mypy-no-regression

chore: add enhanced logging for creative agent calls
  src/core/creative_agent_registry.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: upgrade to adcp v1.0.2 - fixes tool name bug
  docs/testing/postmortems/2025-11-06-adcp-library-tool-name-bug.md
  pyproject.toml
  uv.lock
Due: none

feat: remove fallback formats - creative agent now returns structured data!
  src/core/creative_agent_registry.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

docs: document adcp v1.0.1 list_creative_formats bug + add debug script
  debug_creative_agent.py
  docs/testing/postmortems/2025-11-06-adcp-library-tool-name-bug.md
Due: mypy-no-regression

chore: upgrade to adcp >=1.0.4 - all library issues resolved
  docs/testing/postmortems/2025-11-06-adcp-library-tool-name-bug.md
  pyproject.toml
  uv.lock
Due: none

fix: address code review comments
  debug_creative_agent.py
  tests/e2e/test_creative_assignment_e2e.py
Due: detect-test-antipatterns, mypy-no-regression

fix: add temporary fallback formats for creative agent + fix signal dict conversion
  src/core/creative_agent_registry.py
  tests/integration_v2/test_signals_agent_workflow.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: pin adcp>=1.0.5 - v1.0.4 didn't return structured data
  pyproject.toml
  uv.lock
Due: none

fix: remove invalid package.creatives access in line item creation
  src/adapters/gam/managers/orders.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: replace Commitizen with Release Please
  .github/workflows/commitizen-check.yml
  .github/workflows/release-please.yml
  .release-please-config.md
  pyproject.toml
  uv.lock
Due: none

fix: use cache-based format lookup in auto-approval to avoid asyncio conflicts
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: replace Commitizen with Release Please (#715)
  .github/workflows/commitizen-check.yml
  .github/workflows/release-please.yml
  .release-please-config.md
  pyproject.toml
  uv.lock
Due: none

Fix creative format validation and placeholder filtering (#716)
  src/adapters/gam/managers/orders.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_update.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: remove postmortem doc - not for production repo
  docs/testing/postmortems/2025-11-06-adcp-library-tool-name-bug.md
Due: none

fix: pass full FormatId dict to creative sync (not just string id)
  tests/e2e/adcp_request_builder.py
  tests/e2e/test_creative_assignment_e2e.py
Due: detect-test-antipatterns, mypy-no-regression

fix: mock get_format in session caching test to avoid timeout
  tests/integration_v2/test_product_deletion.py
Due: detect-test-antipatterns, mypy-no-regression

Migrate agent registries to adcp v1.0.1 library (#712)
  pyproject.toml
  src/admin/blueprints/signals_agents.py
  src/core/creative_agent_registry.py
  src/core/signals_agent_registry.py
  tests/e2e/adcp_request_builder.py
  tests/e2e/test_creative_assignment_e2e.py
  tests/integration/test_auth_header_propagation.py
  tests/integration_v2/test_product_deletion.py
  tests/integration_v2/test_signals_agent_workflow.py
  tests/unit/test_adcp_schema_compatibility.py
  tests/unit/test_creative_agent_registry.py
  tests/unit/test_signals_agent_registry.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: use asyncio.run() for signals agent test endpoint
  src/admin/blueprints/signals_agents.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: update AdCP schemas
  schemas/v1/_schemas_v1_core_format_json.json.meta
  schemas/v1/_schemas_v1_core_product_json.json.meta
  schemas/v1/index.json
  schemas/v1/index.json.meta
  src/core/schemas_generated/__init__.py
  src/core/schemas_generated/_schemas_v1_core_format_json.py
  src/core/schemas_generated/_schemas_v1_core_product_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creative_formats_response_json.py
  test_signals_endpoint.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: update adcp library to 1.1.0
  pyproject.toml
  uv.lock
Due: none

fix: restrict inventory sync UI to GAM adapter only
  schemas/v1/_schemas_v1_core_format_json.json.meta
  schemas/v1/_schemas_v1_core_product_json.json.meta
  schemas/v1/index.json
  schemas/v1/index.json.meta
  src/admin/blueprints/inventory.py
  src/core/schemas_generated/__init__.py
  src/core/schemas_generated/_schemas_v1_core_format_json.py
  src/core/schemas_generated/_schemas_v1_core_product_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creative_formats_response_json.py
  tests/unit/test_inventory_adapter_restrictions.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: skip inventory sync requirement for mock adapter in setup checklist
  src/services/setup_checklist_service.py
  tests/unit/test_setup_checklist_mock_adapter.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: improve adapter handling in setup checklist
  src/services/setup_checklist_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

test: fix inventory sync status tests to use correct adapter type
  tests/unit/test_inventory_sync_status.py
Due: detect-test-antipatterns, mypy-no-regression

fix: handle None adapter in setup checklist inventory validation
  src/services/setup_checklist_service.py
  tests/unit/test_setup_checklist_mock_adapter.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

chore: remove debug test files
  test_signals_endpoint.py
Due: mypy-no-regression

fix: remove inventory sync requirement for mock adapter (#719)
  schemas/v1/_schemas_v1_core_format_json.json.meta
  schemas/v1/_schemas_v1_core_product_json.json.meta
  schemas/v1/index.json
  schemas/v1/index.json.meta
  src/admin/blueprints/inventory.py
  src/core/schemas_generated/__init__.py
  src/core/schemas_generated/_schemas_v1_core_format_json.py
  src/core/schemas_generated/_schemas_v1_core_product_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creative_formats_response_json.py
  src/services/setup_checklist_service.py
  tests/unit/test_inventory_adapter_restrictions.py
  tests/unit/test_inventory_sync_status.py
  tests/unit/test_setup_checklist_mock_adapter.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: signals agent test endpoint async handling (#718)
  pyproject.toml
  src/admin/blueprints/signals_agents.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: require authentication for sync_creatives to prevent NULL principal_id
  src/core/tools/creatives.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

test: add authentication requirement tests for sync_creatives
  tests/unit/test_sync_creatives_auth.py
Due: detect-test-antipatterns, mypy-no-regression

fix: replace assert with explicit auth check in update_media_buy
  AUTH_AUDIT_FINDINGS.md
  src/core/tools/media_buy_update.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: add product details, measurement providers, and admin UI enhancements
  alembic/versions/a79158b4a1ae_add_measurement_providers_to_tenants.py
  alembic/versions/e40d739b89c6_add_product_detail_fields.py
  pyproject.toml
  schemas/v1/_schemas_v1_core_format_json.json.meta
  schemas/v1/_schemas_v1_core_product_json.json.meta
  schemas/v1/index.json
  schemas/v1/index.json.meta
  src/admin/app.py
  src/admin/blueprints/products.py
  src/admin/blueprints/settings.py
  src/core/database/models.py
  src/core/schemas.py
  src/core/schemas_generated/__init__.py
  src/core/schemas_generated/_schemas_v1_core_format_json.py
  src/core/schemas_generated/_schemas_v1_core_product_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creative_formats_response_json.py
  templates/add_product_gam.html
  templates/add_product_mock.html
  templates/edit_product_mock.html
  templates/products.html
  templates/tenant_settings.html
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression
