Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

validate-column-lengths:
  name: Validate database column lengths
  entry: python scripts/validate_column_lengths.py
  language: system

check-api-deprecations:
  name: Check for deprecated API usage
  entry: python scripts/check_api_deprecations.py
  language: system

validate-model-imports:
  name: Validate model imports
  entry: python scripts/validate_model_imports.py
  language: system

Fix create_media_buy and update_media_buy webhook parameter handling + add signature validation hook
  .pre-commit-config.yaml
  .pre-commit-hooks/check_parameter_alignment.py
  docs/postmortems/2025-01-12-sync-creatives-parameter-mismatch.md
  src/core/main.py
Due: validate-model-imports

Delete useless unit tests and document testing principles
  CLAUDE.md
  tests/unit/test_gam_auth_manager.py
  tests/unit/test_gam_client_manager.py
  tests/unit/test_gam_creatives_manager.py
  tests/unit/test_gam_inventory_manager.py
  tests/unit/test_gam_oauth_config.py
  tests/unit/test_gam_orders_manager.py
  tests/unit/test_gam_sync_manager.py
  tests/unit/test_gam_targeting_manager.py
  tests/unit/test_gam_validation.py
Due: validate-model-imports

Mark database-dependent smoke tests with requires_db
  tests/smoke/test_smoke_critical_paths.py
Due: validate-model-imports

Remove webhook_url from MCP wrappers for full AdCP spec compliance
  .pre-commit-hooks/check_parameter_alignment.py
  docs/postmortems/2025-01-12-sync-creatives-parameter-mismatch.md
  src/core/main.py
Due: validate-model-imports

feat: Update CreativeAgentRegistry to use actual creative agent MCP tools
  src/core/creative_agent_registry.py
  test_build_creative.py
  test_creative_agent_tools.py
  test_format_capabilities.py
  test_preview_creative.py
  test_registry_build_creative.py
Due: validate-model-imports

Fix sync_creatives implementation to use push_notification_config variable
  src/core/main.py
Due: validate-model-imports

Delete redundant smoke tests - keep only deployment validation
  tests/smoke/test_smoke_critical_paths.py
Due: validate-model-imports

Add aggressive Docker cleanup before E2E tests to prevent port conflicts
  .github/workflows/test.yml
Due: none

test: Remove obsolete format_resolver tests
  test_build_creative.py
  test_creative_agent_tools.py
  test_format_capabilities.py
  test_preview_creative.py
  test_registry_build_creative.py
  tests/unit/test_format_resolver.py
Due: validate-model-imports

Remove postmortem and enforce PostgreSQL-only CI architecture (#359)
  .github/workflows/test.yml
  CLAUDE.md
  docs/testing/postmortems/2025-10-12-test-agent-downtime.md
  src/core/database/database_schema.py
  tests/smoke/test_smoke_critical_paths.py
  tests/unit/test_gam_auth_manager.py
  tests/unit/test_gam_client_manager.py
  tests/unit/test_gam_creatives_manager.py
  tests/unit/test_gam_inventory_manager.py
  tests/unit/test_gam_oauth_config.py
  tests/unit/test_gam_orders_manager.py
  tests/unit/test_gam_sync_manager.py
  tests/unit/test_gam_targeting_manager.py
  tests/unit/test_gam_validation.py
Due: validate-model-imports

Add property authorization to products per AdCP spec
  alembic/versions/5e48d3ddc7f2_add_properties_and_property_tags_to_.py
  product_catalog_providers/database.py
  src/admin/blueprints/products.py
  src/core/database/models.py
  src/core/main.py
  src/core/schemas.py
  templates/add_product.html
  tests/unit/test_adcp_contract.py
Due: validate-column-lengths, validate-model-imports

Simplify migration and enable strict property validation
  alembic/versions/5e48d3ddc7f2_add_properties_and_property_tags_to_.py
  src/core/schemas.py
  templates/add_product.html
  tests/unit/test_adcp_contract.py
Due: validate-column-lengths, validate-model-imports

Fix critical security and type issues per code review
  alembic/versions/5e48d3ddc7f2_add_properties_and_property_tags_to_.py
  src/admin/blueprints/products.py
Due: validate-model-imports

Remove client-side validation for property tag input and add Authorized Properties to settings nav
  templates/property_tags_list.html
  templates/tenant_settings.html
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
Due: none

Fix AI orchestrator, import checker, and CI database initialization
  .pre-commit-hooks/check_import_usage.py
  scripts/setup/init_database_ci.py
Due: validate-model-imports

Fix status handling and testing hook field filtering in create_media_buy
  src/core/main.py
Due: validate-model-imports

Fix SignalsDiscoveryProvider Product creation to include property_tags
  product_catalog_providers/signals.py
Due: validate-model-imports

Fix property tag regex to match AdCP spec exactly
  src/admin/blueprints/products.py
  templates/add_product.html
Due: validate-model-imports

Fix test_all_response_str_methods for property validation
  tests/unit/test_all_response_str_methods.py
Due: validate-model-imports

Improve property tag UX in admin UI
  src/admin/blueprints/authorized_properties.py
  src/admin/blueprints/products.py
  templates/add_product.html
  templates/property_tags_list.html
Due: validate-model-imports

Fix final Product instantiation in test_signals_discovery_provider
  tests/unit/test_signals_discovery_provider.py
Due: validate-model-imports

Fix test_signals_discovery_provider for property validation
  tests/unit/test_signals_discovery_provider.py
Due: validate-model-imports

Remove pattern attribute from property tag input field
  templates/property_tags_list.html
Due: none

Fix test_mock_server_response_headers for property validation
  tests/unit/test_mock_server_response_headers.py
Due: validate-model-imports

Fix all Product instantiations in test_mcp_tool_roundtrip_validation to include property_tags
  tests/integration/test_mcp_tool_roundtrip_validation.py
Due: validate-model-imports

Fix JavaScript errors and improve property form validation
  static/images/slack-webhook-setup.png
  templates/property_form.html
  templates/tenant_settings.html
Due: none

Fix test_auth_removal_simple for property validation
  tests/unit/test_auth_removal_simple.py
Due: validate-model-imports

Fix E2E tests: add product initialization to Docker entrypoint
  scripts/deploy/entrypoint.sh
  scripts/setup/init_database_ci.py
Due: validate-model-imports

Fix all Product instantiations in test_schema_contract_validation to include property_tags
  tests/integration/test_schema_contract_validation.py
Due: validate-model-imports

Fix all remaining Product test instantiations
  tests/unit/test_get_products_response_str.py
Due: validate-model-imports

Clarify PostgreSQL-only + sync AdCP schemas
  CLAUDE.md
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
Due: none

Add requires_db markers to database-dependent unit tests
  run_all_tests.sh
  tests/unit/test_creative_review_model.py
  tests/unit/test_tenant_utils.py
Due: validate-model-imports

Fix CI test failures and update AdCP schemas
  scripts/setup/init_database.py
  tests/integration/test_schema_roundtrip_patterns.py
Due: validate-model-imports

Fix remaining Product instantiations in test_schema_contract_validation
  tests/integration/test_schema_contract_validation.py
Due: validate-model-imports

Fix incorrect blueprint reference in add_product template
  templates/add_product.html
Due: none

Fix integration test to include property_tags column in products table
  tests/integration/test_main.py
Due: validate-model-imports

Fix Product instantiations in test_schema_roundtrip_patterns
  tests/integration/test_schema_roundtrip_patterns.py
Due: validate-model-imports

Fix Product instantiations in test_schema_database_mapping to include property_tags
  tests/integration/test_schema_database_mapping.py
Due: validate-model-imports

Add property tag suggestions and update AdCP schemas
  templates/add_product.html
Due: none

Fix missing imports and improve import checker
  .pre-commit-hooks/check_import_usage.py
  src/core/main.py
Due: validate-model-imports

Path conditions:
  validate-column-lengths: any of: (models|schemas)\.py$
  check-api-deprecations: any of: adapters/.*\.py$
  validate-model-imports: any of: \.py$
