Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

fix: set scope3.com as default domain for backwards compatibility
  .env.example
  src/core/domain_config.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

docs: add deployment impact analysis for scope3 removal
  DEPLOYMENT_IMPACT.md
Due: none

chore: remove temporary documentation files
  DEPLOYMENT_IMPACT.md
  SCOPE3_REMOVAL_COMPLETE.md
  SCOPE3_REMOVAL_PROGRESS.md
Due: none

docs: add comprehensive hosting guide and clean up fly.toml
  docs/HOSTING.md
  fly.toml
  scripts/remove_scope3_deps.py
Due: mypy-no-regression

feat: Remove Scope3 dependencies - make codebase vendor-neutral (#668)
  .env.example
  .github/workflows/commitizen-check.yml
  CLAUDE.md
  docs/HOSTING.md
  fly.toml
  pyproject.toml
  schemas/v1/_schemas_v1_core_webhook-payload_json.json.meta
  schemas/v1/_schemas_v1_enums_task-type_json.json.meta
  schemas/v1/_schemas_v1_media-buy_get-products-request_json.json.meta
  schemas/v1/index.json
  schemas/v1/index.json.meta
  src/a2a_server/adcp_a2a_server.py
  src/admin/app.py
  src/admin/blueprints/auth.py
  src/admin/blueprints/authorized_properties.py
  src/admin/blueprints/core.py
  src/admin/blueprints/public.py
  src/admin/blueprints/schemas.py
  src/admin/blueprints/tenants.py
  src/admin/domain_access.py
  src/core/domain_config.py
  src/core/main.py
  src/core/schema_validation.py
  src/core/schemas_generated/__init__.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_request_json.py
  src/landing/landing_page.py
  static/js/tenant_settings.js
  templates/tenant_settings.html
  tests/unit/test_virtual_host_landing_page.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mcp-schema-alignment, mypy-no-regression

fix: Reduce skipped tests from 323 to 112 by fixing test fixtures and schema
  schemas/v1/_schemas_v1_core_assets_audio-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_css-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_daast-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_html-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_image-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_javascript-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_text-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_url-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_vast-asset_json.json.meta
  schemas/v1/_schemas_v1_core_assets_video-asset_json.json.meta
  schemas/v1/_schemas_v1_core_format-id_json.json.meta
  schemas/v1/_schemas_v1_core_promoted-offerings_json.json.meta
  schemas/v1/_schemas_v1_core_push-notification-config_json.json.meta
  schemas/v1/_schemas_v1_core_reporting-capabilities_json.json.meta
  schemas/v1/_schemas_v1_media-buy_package-request_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_cpc-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_cpcv-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_cpm-auction-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_cpm-fixed-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_cpp-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_cpv-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_flat-rate-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_vcpm-auction-option_json.json.meta
  schemas/v1/_schemas_v1_pricing-options_vcpm-fixed-option_json.json.meta
  tests/integration/test_creative_review_model.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
  tests/integration/test_tenant_utils.py
  tests/unit/test_budget_format_compatibility.py
  tests/unit/test_creative_review_model.py
  tests/unit/test_tenant_utils.py
Due: detect-test-antipatterns, mypy-no-regression

refactor: Remove ORM-only tests, focus on business logic
  tests/integration/test_creative_review_model.py
  tests/integration/test_tenant_utils.py
Due: detect-test-antipatterns, mypy-no-regression

fix creative agent url validation and mcp connection
  src/core/tools/media_buy_create.py
  src/core/utils/mcp_client.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Add @pytest.mark.requires_db to integration tests using database fixtures
  tests/integration/test_a2a_response_message_fields.py
  tests/integration/test_admin_ui_routes_comprehensive.py
  tests/integration/test_database_health_integration.py
  tests/integration/test_media_buy_readiness.py
  tests/integration/test_spec_compliance.py
  tests/integration/test_template_url_validation.py
  tests/integration/test_unified_delivery.py
  tests/integration/test_workflow_approval.py
Due: detect-test-antipatterns, mypy-no-regression

chore: Remove obsolete test_generated_schemas_work.py (12 skipped tests)
  tests/unit/test_generated_schemas_work.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Correct schema paths in test_pydantic_schema_alignment.py (18 tests now passing)
  tests/unit/test_pydantic_schema_alignment.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Add missing publisher_domains field to ListAuthorizedPropertiesRequest
  src/core/schemas.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: creative agent url check; allow to fallback to /mcp when creating mcp client
  src/core/schemas.py
  src/core/tools/media_buy_create.py
  src/core/tools/products.py
  src/core/utils/mcp_client.py
  templates/creative_agents.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

test: Add @pytest.mark.requires_db to test_mcp_protocol.py
  tests/integration/test_mcp_protocol.py
Due: detect-test-antipatterns, mypy-no-regression

fix: creative agent url check; allow to fallback to /mcp when creating mcp client
  src/core/utils/mcp_client.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Remove test_main.py which violated PostgreSQL-only architecture
  tests/integration/test_main.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Add sample_tenant and sample_principal fixtures to workflow approval tests
  tests/integration/test_workflow_approval.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Add required NOT NULL fields to test fixtures
  tests/integration/test_media_buy_readiness.py
  tests/integration/test_tenant_isolation_breach_fix.py
  tests/integration/test_tenant_isolation_fix.py
Due: detect-test-antipatterns, mypy-no-regression

update media buy approval to be by package
  docs/delivery-simulation.md
  docs/webhooks.md
  src/admin/blueprints/creatives.py
  src/admin/blueprints/operations.py
  src/core/database/models.py
  src/core/tools/media_buy_delivery.py
  src/core/tools/products.py
  src/services/protocol_webhook_service.py
  src/services/push_notification_service.py
  templates/webhooks.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, mypy-no-regression

build push notification before sending creative update
  src/admin/blueprints/creatives.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix rejection
  src/admin/blueprints/operations.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

restore webhooks.md change
  docs/webhooks.md
Due: none

fix syntax
  src/admin/blueprints/operations.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Use valid platform_mappings structure in tenant isolation tests
  tests/integration/test_tenant_isolation_breach_fix.py
  tests/integration/test_tenant_isolation_fix.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Add session.flush() before creative assignment to satisfy FK constraint
  tests/integration/test_media_buy_readiness.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Change 'organization_name' to 'name' in Tenant model usage
  tests/integration/test_update_media_buy_creative_assignment.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Add sample_tenant and sample_principal fixtures to test_workflow_architecture
  tests/integration/test_workflow_architecture.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Change 'comment' to 'text' key in workflow architecture test
  tests/integration/test_workflow_architecture.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Update Principal instantiation in creative assignment tests
  tests/integration/test_update_media_buy_creative_assignment.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Fix test_media_buy_readiness cleanup and test logic
  tests/integration/test_media_buy_readiness.py
Due: detect-test-antipatterns, mypy-no-regression

move webhook notification to push notification service delivery
  src/adapters/mock_ad_server.py
  src/core/context_manager.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_update.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Update GAM lifecycle + tenant setup tests to AdCP 2.4 conventions
  tests/integration/test_gam_lifecycle.py
  tests/integration/test_gam_tenant_setup.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Update GAM pricing tests to AdCP 2.4 conventions
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Fix generative creatives integration tests
  tests/integration/test_generative_creatives.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Resolve test failures from AdCP 2.4 migration and schema changes
  tests/integration/test_gam_lifecycle.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
  tests/integration/test_gam_tenant_setup.py
  tests/integration/test_update_media_buy_creative_assignment.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Resolve remaining test failures - constraint violations, schema mismatches, and session management
  tests/integration/test_pricing_models_integration.py
  tests/integration/test_product_pricing_options_required.py
  tests/integration/test_setup_checklist_service.py
  tests/integration/test_tenant_dashboard.py
  tests/integration/test_tenant_isolation_breach_fix.py
  tests/integration/test_tenant_isolation_fix.py
  tests/integration/test_update_media_buy_persistence.py
Due: detect-test-antipatterns, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
