Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$

fix: test
  src/a2a_server/adcp_a2a_server.py
  tests/e2e/schemas/compliance_report.json
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: rebase
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: remove date from start time of media buy calculation
  src/admin/blueprints/operations.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: convert to utc
  src/admin/blueprints/operations.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: test scase in test_format_conversion_approval
  run_all_tests.sh
  src/core/tools/media_buy_create.py
  tests/integration/test_format_conversion_approval.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: tests
  tests/integration/test_format_conversion_approval.py
Due: detect-test-antipatterns, mypy-no-regression

refactor: reset tests as they are fixed in the main
  tests/integration/test_format_conversion_approval.py
Due: detect-test-antipatterns, mypy-no-regression

feat: alphabetize custom targeting keys in dropdowns and lists
  templates/components/targeting_selector_simple.html
  templates/targeting_browser.html
Due: none

fix: alphabetize values and show display names in targeting selector
  templates/components/targeting_selector_simple.html
Due: none

feat: alphabetize targeting keys/values and show display names (#687)
  templates/components/targeting_selector_simple.html
  templates/targeting_browser.html
Due: none

feat: always show creative formats with optional inventory mapping
  templates/add_product_gam.html
Due: none

fix: show both value name and display name in targeting dropdown
  templates/components/targeting_selector_simple.html
Due: none

refactor: remove redundant Assigned Inventory section
  templates/add_product_gam.html
Due: none

chore: add targeting data logging to form submission
  templates/add_product_gam.html
Due: none

feat: improve product workflow - always show formats and descriptive targeting values (#688)
  templates/add_product_gam.html
  templates/components/targeting_selector_simple.html
Due: none

chore: add targeting data logging to edit product form
  templates/edit_product.html
Due: none

fix: load targeting display names on page load for saved targeting
  templates/components/targeting_selector_simple.html
Due: none

chore: add placement and ad unit debug logging to form submission
  templates/add_product_gam.html
Due: none

chore: enhance placement debug logging with detailed field inspection
  templates/add_product_gam.html
Due: none

fix: show both display name and ID in targeting value badges
  templates/components/targeting_selector_simple.html
Due: none

chore: add logging to diagnose targeting values dropdown display
  templates/components/targeting_selector_simple.html
Due: none

fix: persist targeting and placement selections in product editor (#689)
  templates/add_product_gam.html
  templates/components/targeting_selector_simple.html
  templates/edit_product.html
Due: none

fix: GAM product edit not saving placements when line_item_type absent
  src/admin/blueprints/products.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: add diagnostic logging for placement field population
  templates/add_product_gam.html
Due: none

fix: GAM product placements not saving when line_item_type absent (#691)
  src/admin/blueprints/products.py
  templates/add_product_gam.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: display and save custom targeting keys in product inventory
  src/admin/blueprints/products.py
  templates/products.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: display and save custom targeting keys in product inventory (#692)
  src/admin/blueprints/products.py
  templates/products.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: populate custom targeting keys when editing products
  src/admin/blueprints/products.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: populate custom targeting keys when editing products (#693)
  src/admin/blueprints/products.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: simplify format selection UX based on user feedback
  templates/add_product_gam.html
Due: none

fix: remove orphaned autoMapButton references causing modal errors
  templates/add_product_gam.html
Due: none

feat: show ad unit count in placement picker modal
  templates/add_product_gam.html
Due: none

feat: add creative format size filtering with inventory-based suggestions
  templates/add_product_gam.html
Due: none

fix: format matching now uses data-dimensions attribute
  templates/add_product_gam.html
Due: none

feat: add global inventory cache for creative format size filtering
  templates/add_product_gam.html
Due: none

fix: optimize format loading and add Select All Matching button
  src/admin/blueprints/products.py
  src/core/creative_agent_registry.py
  templates/add_product_gam.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: Add creative format size filtering with inventory-based suggestions (#690)
  src/admin/blueprints/products.py
  src/core/creative_agent_registry.py
  templates/add_product_gam.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: product editor bugs - JSON parsing, text color, selection preservation
  templates/add_product_gam.html
Due: none

fix: product editor bugs - JSON parsing, text color, selection preservation (#694)
  templates/add_product_gam.html
Due: none

fix: show both name and ID for placements in modal and selected display
  templates/add_product_gam.html
Due: none
