Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Check for removed columns still referenced in code
      - id: check-schema-references
        name: Check schema references
        entry: python scripts/check_schema_references.py
        language: system
        pass_filenames: false
        always_run: true
        
      # Validate model column lengths
      - id: validate-column-lengths
        name: Validate database column lengths
        entry: python scripts/validate_column_lengths.py
        language: system
        files: '(models|schemas)\.py$'
        
      # Check for tenant.config references
      - id: no-tenant-config
        name: No tenant.config references
        entry: sh -c 'if grep -r "tenant\.config\|tenant\[.config.\]" --include="*.py" . | grep -v "test_migration\|postmortem\|pre-commit"; then echo "Found tenant.config references!"; exit 1; fi'
        language: system
        pass_filenames: false
        
      # Validate migrations can run
      - id: test-migrations
        name: Test database migrations
        entry: sh -c 'cp adcp_local.db .test.db && DATABASE_URL=sqlite:///.test.db python migrate.py && rm .test.db'
        language: system
        pass_filenames: false
        stages: [commit]
        
      # Check for API deprecations
      - id: check-api-deprecations
        name: Check for deprecated API usage
        entry: python scripts/check_api_deprecations.py
        language: system
        files: 'adapters/.*\.py$'
        
      # Validate Pydantic vs SQLAlchemy imports
      - id: validate-model-imports
        name: Validate model imports
        entry: python scripts/validate_model_imports.py
        language: system
        files: '\.py$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: check-ast
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.272
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

fix: Fix integration test failures - handle SQLite migration constraints
  alembic/versions/014_add_context_persistence.py
  alembic/versions/015_workflow_improvements.py
  alembic/versions/017_handle_partial_schemas.py
  database.py
Due: validate-column-lengths, validate-model-imports

fix: Fix remaining integration test failures for CI
  admin_ui.py
  tests/integration/test_dashboard_integration.py
Due: validate-model-imports

fix: Remove obsolete tasks tests and fix dashboard 500 check
  tests/integration/test_dashboard_500_check.py
  tests/integration/test_dashboard_integration.py
Due: validate-model-imports

Fix test suite failures across MCP, UI, and adapter tests
  adapters/mock_ad_server.py
  tests/integration/test_mcp_protocol.py
  tests/integration/test_tenant_settings_comprehensive.py
  tests/ui/test_comprehensive_pages.py
  tests/ui/test_gam_line_item_viewer_ui.py
Due: check-api-deprecations, validate-model-imports

feat: Migrate database patterns to context managers (Issue #74)
  admin_ui.py
  docs/database-patterns.md
  main.py
  models.py
Due: validate-column-lengths, validate-model-imports

fix: Fix indentation error in admin_ui.py finally block
  admin_ui.py
Due: validate-model-imports

chore: Merge main and apply pre-commit fixes
  docs/database-patterns.md
  main.py
  models.py
Due: validate-column-lengths, validate-model-imports

fix: Fix test failures from database pattern migration
  .pre-commit-config.yaml
  admin_ui.py
  main.py
  models.py
  tests/unit/test_admin_ui_oauth.py
Due: validate-column-lengths, validate-model-imports

fix: Fix test failures from database pattern migration
  CLAUDE.md
  tests/integration/conftest.py
  tests/unit/test_admin_ui_oauth.py
  tools/demos/demo_gam_integration.py
Due: validate-model-imports

feat: Migrate admin_ui.py functions to SQLAlchemy ORM context managers
  admin_ui.py
  tests/unit/test_admin_ui_oauth.py
Due: validate-model-imports

feat: Continue migrating admin_ui.py to ORM context managers
  admin_ui.py
Due: validate-model-imports

fix: Migrate 12 more database operations to context managers in admin_ui.py
  admin_ui.py
Due: validate-model-imports

fix: Migrate 6 more database operations to context managers in admin_ui.py
  admin_ui.py
Due: validate-model-imports

chore: Configure Black and Ruff with 120-char line length
  admin_ui.py
  pyproject.toml
Due: validate-model-imports

fix: Migrate 12 more database operations to context managers in admin_ui.py
  pyproject.toml
  tests/integration/conftest.py
  tests/integration/test_unified_delivery.py
Due: validate-model-imports

fix: Correct Ruff configuration for version 0.12.9
  pyproject.toml
Due: none

fix: Update FastMCP client API and pre-commit hooks
  .pre-commit-config.yaml
  product_catalog_providers/mcp.py
  tests/integration/test_spec_compliance.py
  uv.lock
Due: validate-model-imports

fix: Migrate database operations to context managers in admin_ui.py
  admin_ui.py
Due: validate-model-imports

fix: Migrate 4 more database operations to context managers
  admin_ui.py
Due: validate-model-imports

fix: Migrate database operations to context managers
  admin_ui.py
  ai_product_service.py
  audit_logger.py
  config_loader.py
  product_catalog_providers/database.py
Due: validate-model-imports

fix: Migrate more database operations to context managers
  adapters/gam_reporting_api.py
  superadmin_api.py
Due: check-api-deprecations, validate-model-imports
