Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$

fix: use grid display for formats container instead of block
  templates/add_product_gam.html
Due: none

fix: always show creative formats (remove conditional display)
  templates/add_product_gam.html
Due: none

fix: show both name and ID for placements consistently (#695)
  templates/add_product_gam.html
Due: none

fix: prevent duplicate IDs in placement display after removal
  templates/add_product_gam.html
Due: none

fix: prevent duplicate IDs in placement display after removal (#696)
  templates/add_product_gam.html
Due: none

debug: add console logging to diagnose placement name issue
  templates/add_product_gam.html
Due: none

debug: add console logging to diagnose placement name issue (#698)
  templates/add_product_gam.html
Due: none

fix: include ALL statuses when fetching inventory names for existing products
  templates/add_product_gam.html
Due: none

fix: fetch inventory by IDs to bypass 500-item API limit
  src/admin/blueprints/inventory.py
  templates/add_product_gam.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: apply type filter when fetching inventory by IDs
  src/admin/blueprints/inventory.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: use correct field name inventory_metadata in IDs path
  src/admin/blueprints/inventory.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: fetch specific ad units by ID for placement size extraction
  templates/add_product_gam.html
Due: none

fix: flush deleted inventory mappings before recreating
  src/admin/blueprints/products.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: remove dead API docs link and fix testing docs path
  README.md
Due: none

fix: remove dead API docs link and fix testing docs path (#700)
  README.md
Due: none

fix: ensure User record creation during OAuth tenant selection
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: ensure User record creation during OAuth tenant selection (#701)
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: remove MCP protocol test button and underlying APIs
  src/admin/app.py
  src/admin/blueprints/api.py
  src/admin/blueprints/core.py
  src/admin/blueprints/mcp_test.py
  templates/index.html
  templates/mcp_test.html
  templates/signup_complete.html
  tests/integration/test_admin_ui_routes_comprehensive.py
  tests/integration/test_mcp_protocol.py
  tests/integration/test_template_url_validation.py
  tests/unit/test_blueprint_imports.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

refactor: remove MCP protocol test button and underlying APIs (#702)
  src/admin/app.py
  src/admin/blueprints/api.py
  src/admin/blueprints/core.py
  src/admin/blueprints/mcp_test.py
  templates/index.html
  templates/mcp_test.html
  templates/signup_complete.html
  tests/integration/test_admin_ui_routes_comprehensive.py
  tests/integration/test_mcp_protocol.py
  tests/integration/test_template_url_validation.py
  tests/unit/test_blueprint_imports.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: make Creative response-only fields optional for inline creatives
  src/core/helpers/creative_helpers.py
  src/core/schemas.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: make media_buy_ids optional in get_media_buy_delivery per AdCP spec
  src/a2a_server/adcp_a2a_server.py
  tests/unit/test_a2a_parameter_mapping.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

docs: add architecture documentation for Creative hybrid model
  docs/architecture/creative-model-architecture.md
  src/core/schemas.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: make media_buy_ids optional in get_media_buy_delivery per AdCP spec (#704)
  src/a2a_server/adcp_a2a_server.py
  tests/unit/test_a2a_parameter_mapping.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

feat: Add hierarchical product picker with search and caching
  pyproject.toml
  scripts/deploy/entrypoint_admin.sh
  src/admin/app.py
  src/admin/blueprints/inventory.py
  templates/add_product_gam.html
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: Extract hierarchical tree styles into reusable partial
  templates/add_product_gam.html
  templates/partials/hierarchical_tree_scripts.html
  templates/partials/hierarchical_tree_styles.html
Due: none

fix: Include ad unit sizes in tree API for format matching
  src/admin/blueprints/inventory.py
  templates/add_product_gam.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: enforce strict AdCP v1 spec compliance for Creative model (BREAKING CHANGE)
  ASSET_TYPE_MAPPING.md
  AUDIT_non_spec_fields.md
  src/adapters/mock_creative_engine.py
  src/core/helpers/creative_helpers.py
  src/core/schemas.py
  src/core/tools/creatives.py
  tests/integration_v2/test_schema_roundtrip_patterns.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_all_response_str_methods.py
  tests/unit/test_creative_conversion_assets.py
  tests/unit/test_format_id.py
  tests/unit/test_inline_creatives_in_adapters.py
  tests/unit/test_pydantic_schema_alignment.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: Extract sizes from child ad units in hierarchical tree
  templates/add_product_gam.html
Due: none

fix: resolve CI test failures with AdCP v1 Creative format
  src/core/tools/creatives.py
  tests/integration/test_impression_tracker_flow.py
  tests/integration/test_schema_contract_validation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Extract sizes directly from child objects in tree
  templates/add_product_gam.html
Due: none

chore: remove temporary audit document
  AUDIT_non_spec_fields.md
Due: none

fix: Always update cache with tree data to include children
  templates/add_product_gam.html
Due: none

fix: Load tree API when editing products to cache hierarchical data
  templates/add_product_gam.html
Due: none

refactor: improve creative asset detection to be declarative, not heuristic
  src/core/helpers/creative_helpers.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: Add hierarchical product picker with search and caching (#707)
  pyproject.toml
  scripts/deploy/entrypoint_admin.sh
  src/admin/app.py
  src/admin/blueprints/inventory.py
  templates/add_product_gam.html
  templates/partials/hierarchical_tree_scripts.html
  templates/partials/hierarchical_tree_styles.html
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

docs: move ASSET_TYPE_MAPPING.md to docs/ folder
  docs/ASSET_TYPE_MAPPING.md
Due: none

docs: integrate asset type mappings into creative architecture doc
  docs/ASSET_TYPE_MAPPING.md
  docs/architecture/creative-model-architecture.md
Due: none

feat: enforce strict AdCP v1 spec compliance for Creative model (BREAKING CHANGE) (#706)
  docs/architecture/creative-model-architecture.md
  src/adapters/mock_creative_engine.py
  src/core/helpers/creative_helpers.py
  src/core/schemas.py
  src/core/tools/creatives.py
  tests/integration/test_impression_tracker_flow.py
  tests/integration/test_schema_contract_validation.py
  tests/integration_v2/test_schema_roundtrip_patterns.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_all_response_str_methods.py
  tests/unit/test_creative_conversion_assets.py
  tests/unit/test_format_id.py
  tests/unit/test_inline_creatives_in_adapters.py
  tests/unit/test_pydantic_schema_alignment.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: inventory sync status now checks GAMInventory table instead of Products
  src/services/setup_checklist_service.py
  tests/integration/test_setup_checklist_service.py
  tests/unit/test_inventory_sync_status.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: add GAMInventory creation to CI database initialization
  scripts/setup/init_database_ci.py
Due: mypy-no-regression
