Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Check for removed columns still referenced in code
      - id: check-schema-references
        name: Check schema references
        entry: python scripts/check_schema_references.py
        language: system
        pass_filenames: false
        always_run: true
        
      # Validate model column lengths
      - id: validate-column-lengths
        name: Validate database column lengths
        entry: python scripts/validate_column_lengths.py
        language: system
        files: '(models|schemas)\.py$'
        
      # Check for tenant.config references
      - id: no-tenant-config
        name: No tenant.config references
        entry: sh -c 'if grep -r "tenant\.config\|tenant\[.config.\]" --include="*.py" . | grep -v "test_migration\|postmortem\|pre-commit"; then echo "Found tenant.config references!"; exit 1; fi'
        language: system
        pass_filenames: false
        
      # Validate migrations can run
      - id: test-migrations
        name: Test database migrations
        entry: sh -c 'cp adcp_local.db .test.db && DATABASE_URL=sqlite:///.test.db python migrate.py && rm .test.db'
        language: system
        pass_filenames: false
        stages: [commit]
        
      # Check for API deprecations
      - id: check-api-deprecations
        name: Check for deprecated API usage
        entry: python scripts/check_api_deprecations.py
        language: system
        files: 'adapters/.*\.py$'
        
      # Validate Pydantic vs SQLAlchemy imports
      - id: validate-model-imports
        name: Validate model imports
        entry: python scripts/validate_model_imports.py
        language: system
        files: '\.py$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: check-ast
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.272
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Fix GAM adapter initialization in get_gam_advertisers endpoint (#226)
  src/admin/blueprints/principals.py
Due: validate-model-imports

Fix root domain to show self-serve signup page
  config/nginx/nginx.conf
  fly/nginx.conf
Due: none

Make advertiser_id optional for GAM query operations
  src/adapters/gam/managers/orders.py
  src/adapters/google_ad_manager.py
  tests/unit/test_gam_orders_manager.py
Due: check-api-deprecations, validate-model-imports

Fix root domain to show self-serve signup page (#227)
  config/nginx/nginx.conf
  fly/nginx.conf
Due: none

Add missing pytest import to fix CI test failure
  tests/unit/test_gam_orders_manager.py
Due: validate-model-imports

Make advertiser_id optional for GAM query operations (#228)
  src/adapters/gam/managers/orders.py
  src/adapters/google_ad_manager.py
  tests/unit/test_gam_orders_manager.py
Due: check-api-deprecations, validate-model-imports

Add GAM advertiser dropdown to edit modal and clarify Mock vs GAM
  templates/tenant_settings.html
Due: none

Make advertiser/principal adapter config tenant-specific
  templates/create_principal.html
  templates/tenant_settings.html
Due: none

Improve advertiser/principal adapter configuration UX (#229)
  templates/create_principal.html
  templates/tenant_settings.html
Due: none

Remove unnecessary 'Enable' checkboxes from advertiser edit modal
  templates/tenant_settings.html
Due: none

Fix savePrincipalMappings to handle missing DOM elements safely
  templates/tenant_settings.html
Due: none

Remove unnecessary 'Enable' checkboxes from advertiser edit modal (#230)
  templates/tenant_settings.html
Due: none

Fix GAM adapter initialization: support principal platform_mappings fallback and auto-detect trafficker_id
  check_wonderstruck_config.py
  src/adapters/google_ad_manager.py
  src/core/main.py
Due: check-api-deprecations, validate-model-imports

Remove debug script
  check_wonderstruck_config.py
Due: validate-model-imports

Remove gam_company_id from AdapterConfig (per-principal only)
  alembic/versions/f4f0feaaedff_remove_gam_company_id_from_adapter_.py
  src/core/database/models.py
  src/core/main.py
Due: validate-column-lengths, validate-model-imports

Fix all gam_company_id references after removal
  src/admin/sync_api.py
  src/admin/tenant_management_api.py
  src/admin/utils.py
  tests/integration/test_tenant_management_api_integration.py
Due: validate-model-imports

Fix test_update_tenant to use gam_trafficker_id instead of removed gam_company_id
  tests/integration/test_tenant_management_api_integration.py
Due: validate-model-imports

Fix GAM adapter initialization for Wonderstruck tenant (#231)
  alembic/versions/f4f0feaaedff_remove_gam_company_id_from_adapter_.py
  src/adapters/google_ad_manager.py
  src/admin/sync_api.py
  src/admin/tenant_management_api.py
  src/admin/utils.py
  src/core/database/models.py
  src/core/main.py
  tests/integration/test_tenant_management_api_integration.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

WIP: MCP webhook implementation (fixing pre-commit issues)
  alembic/versions/32f2fa9c903f_add_pr_79_fields_to_products_table.py
  alembic/versions/574ecf3d98c7_add_product_performance_metrics_table_.py
  alembic/versions/c115f6aa3687_add_push_notification_configs_table.py
  docker-compose.yml
  scripts/ops/aggregate_format_metrics.py
  src/a2a_server/adcp_a2a_server.py
  src/admin/blueprints/auth.py
  src/admin/blueprints/principals.py
  src/core/context_manager.py
  src/core/database/models.py
  src/core/main.py
  src/core/schemas.py
  src/services/dynamic_pricing_service.py
  src/services/format_metrics_service.py
  src/services/push_notification_service.py
  templates/tenant_settings.html
  tests/integration/test_pr79_integration.py
  tests/integration/test_workflow_webhook_integration.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_dynamic_pricing_service.py
  tests/unit/test_format_metrics_service.py
  tests/unit/test_push_notification_service.py
Due: validate-column-lengths, validate-model-imports

Add MCP webhook support and creative approval workflow
  src/core/main.py
  src/services/format_metrics_service.py
  tests/unit/test_adcp_contract.py
Due: validate-model-imports

Fix NoneType budget calculation error in GAM adapter
  src/adapters/gam/managers/workflow.py
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
Due: check-api-deprecations, validate-model-imports

Eliminate MCP/A2A code duplication via shared implementation pattern
  CLAUDE.md
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
  src/core/tools.py
Due: validate-model-imports

Remove legacy field fallbacks, use v2.4 Budget object consistently
  src/adapters/gam/managers/workflow.py
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
  src/adapters/xandr.py
  src/core/main.py
  src/core/schemas.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Eliminate MCP/A2A code duplication via shared implementation pattern (#232)
  CLAUDE.md
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
  src/core/tools.py
Due: validate-model-imports

Fix webhook async execution to ensure delivery before response
  src/core/context_manager.py
Due: validate-model-imports

Fix NoneType budget calculation in GAM adapter (#233)
  src/adapters/gam/managers/workflow.py
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
  src/adapters/xandr.py
  src/core/main.py
  src/core/schemas.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Add creative_ids support to create_media_buy packages
  src/core/main.py
  src/core/schemas.py
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/integration/test_creative_lifecycle_mcp.py
Due: validate-column-lengths, validate-model-imports

Add creative_ids support to create_media_buy packages (#234)
  src/core/main.py
  src/core/schemas.py
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/integration/test_creative_lifecycle_mcp.py
Due: validate-column-lengths, validate-model-imports

Fix GAM unmarshalling error by supporting both platform_mappings formats
  src/adapters/google_ad_manager.py
  src/core/main.py
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
Due: check-api-deprecations, validate-model-imports

Add comprehensive webhook debug logging to context_manager
  src/core/context_manager.py
  tests/integration/test_pr79_integration.py
  tests/unit/test_format_metrics_service.py
Due: validate-model-imports

Add merge migration to resolve multiple heads from main and pr79 branches
  alembic/versions/6d6ac8d87c34_merge_migration_heads_from_main_and_.py
Due: validate-model-imports

Add validation for GAM advertiser_id in Admin UI
  src/admin/blueprints/principals.py
  templates/tenant_settings.html
Due: validate-model-imports

Fix GAM unmarshalling error and add advertiser_id validation (#235)
  src/adapters/google_ad_manager.py
  src/admin/blueprints/principals.py
  src/core/main.py
  templates/tenant_settings.html
Due: check-api-deprecations, validate-model-imports

Fix webhook delivery and creative_ids parameter bugs
  src/core/context_manager.py
  src/core/main.py
  src/core/schemas.py
Due: validate-column-lengths, validate-model-imports

Add creative_assignments table migration
  alembic/versions/e17d03b0a79e_add_creative_assignments_table.py
Due: validate-model-imports

Revert non-spec-compliant creative_ids changes
  src/core/main.py
  src/core/schemas.py
Due: validate-column-lengths, validate-model-imports

Add strict schema compliance guidelines to CLAUDE.md
  CLAUDE.md
  WEBHOOK_BUG_FINAL_REPORT.md
  tests/integration/test_workflow_webhook_integration.py
Due: validate-model-imports

Add creative_assignments table migration (#236)
  alembic/versions/e17d03b0a79e_add_creative_assignments_table.py
Due: validate-model-imports

Fix Docker hanging on workspace archive and clean up root directory
  .gitignore
  conductor.json
  headers.txt
  line_item_7047822666_response.json
  scripts/dev/cleanup_conductor_workspace.sh
  scripts/ops/show_principal_mappings.py
  test_mcp_session_fix.js
  tools/demos/demo_html5_creative.py
  tools/demos/demo_updated_formats.py
Due: validate-model-imports

Fix Docker hanging on workspace archive and clean up root directory (#237)
  .gitignore
  conductor.json
  headers.txt
  line_item_7047822666_response.json
  scripts/dev/cleanup_conductor_workspace.sh
  scripts/ops/show_principal_mappings.py
  test_mcp_session_fix.js
  tools/demos/demo_html5_creative.py
  tools/demos/demo_updated_formats.py
Due: validate-model-imports
