Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$

Move spin animation CSS to template for immediate availability
  static/js/tenant_settings.js
  templates/tenant_settings.html
Due: template-url-validation

Add creative format preview popup with info icon
  templates/add_product.html
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-request_json.json
Due: template-url-validation

Fix pricing_options null validation error for anonymous users
  src/core/main.py
  src/core/schemas.py
  tests/unit/test_anonymous_user_pricing.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Add creative format preview popup with info icon (#416)
  templates/add_product.html
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-request_json.json
Due: template-url-validation

Fix pricing_options null validation error for anonymous users (#417)
  src/core/main.py
  src/core/schemas.py
  tests/unit/test_anonymous_user_pricing.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix pricing_options null validation error
  product_catalog_providers/database.py
Due: none

Add data integrity: enforce products must have pricing_options
  alembic/versions/b61ff75713c0_enforce_at_least_one_pricing_option_per_.py
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix pricing_options data integrity: prevent products without pricing options (#418)
  alembic/versions/b61ff75713c0_enforce_at_least_one_pricing_option_per_.py
  product_catalog_providers/database.py
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix pricing_model case: convert uppercase to lowercase
  alembic/versions/02ceecd8d1ab_fix_pricing_model_case.py
  tests/unit/test_adcp_contract.py
Due: detect-test-antipatterns

Fix pricing_model case: convert uppercase to lowercase (#419)
  alembic/versions/02ceecd8d1ab_fix_pricing_model_case.py
  tests/unit/test_adcp_contract.py
Due: detect-test-antipatterns

Fix format_ids handling: separate request and response fields
  src/core/main.py
  src/core/schemas.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Enhance schema sync checker to validate format_ids structure
  scripts/check_schema_sync.py
Due: none

Add comprehensive schema update documentation
  docs/schema-updates.md
Due: none

Update documentation: clarify automated schema validation
  docs/schema-updates.md
Due: none

Fix schema adapter to handle format_ids conversion
  src/core/schema_adapters.py
  tests/unit/test_schema_adapters.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

UI improvements: Fix inventory display, pricing model grouping, and GAM configuration
  src/admin/blueprints/operations.py
  src/admin/blueprints/products.py
  src/admin/blueprints/tenants.py
  static/js/tenant_settings.js
  templates/add_product.html
  templates/add_product_gam.html
  templates/tenant_settings.html
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-request_json.json
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix creative review 404: re-register creatives blueprint
  src/admin/app.py
  src/admin/blueprints/creatives.py
  src/services/slack_notifier.py
  templates/creative_management.html
  templates/tenant_dashboard.html
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-request_json.json
  tests/integration/test_notification_urls_exist.py
  tests/unit/test_slack_notification_urls.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, template-url-validation

Update test_blueprint_imports: remove or_ check for creatives.py
  tests/unit/test_blueprint_imports.py
Due: detect-test-antipatterns

Fix creative review 404: re-register creatives blueprint (#421)
  src/admin/app.py
  src/admin/blueprints/creatives.py
  src/services/slack_notifier.py
  templates/creative_management.html
  templates/tenant_dashboard.html
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  tests/integration/test_notification_urls_exist.py
  tests/unit/test_blueprint_imports.py
  tests/unit/test_slack_notification_urls.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, template-url-validation

Fix test_setup_checklist_service: move from unit to integration tests
  tests/integration/test_setup_checklist_service.py
Due: detect-test-antipatterns

Enforce strict FormatId validation for format_ids parameter
  src/core/main.py
  src/core/tools.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Enforce strict FormatId validation for format_ids parameter (#422)
  src/core/main.py
  src/core/tools.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix integration tests: use integration_db fixture instead of db_session
  tests/integration/test_setup_checklist_service.py
Due: detect-test-antipatterns

Add automatic link validation to integration tests
  .github/LINK_VALIDATION_CI.md
  docs/testing/README.md
  docs/testing/link-validation.md
  tests/integration/link_validator.py
  tests/integration/test_admin_ui_routes_comprehensive.py
  tests/integration/test_link_validation.py
Due: detect-test-antipatterns

Document test fixture patterns: integration_db vs db_session
  CLAUDE.md
Due: none

Add automatic link validation to integration tests (#423)
  .github/LINK_VALIDATION_CI.md
  docs/testing/README.md
  docs/testing/link-validation.md
  tests/integration/link_validator.py
  tests/integration/test_admin_ui_routes_comprehensive.py
  tests/integration/test_link_validation.py
Due: detect-test-antipatterns

Fix missing await in A2A create_media_buy handler
  src/a2a_server/adcp_a2a_server.py
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Fix vCPM and CPC pricing to show as non-guaranteed
  src/admin/blueprints/products.py
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix: Integration tests were being skipped in CI
  .github/workflows/test.yml
  INTEGRATION_TESTS_SKIPPED_IN_CI.md
  tests/integration/conftest.py
Due: detect-test-antipatterns

Add vCPM support to product edit form
  templates/edit_product.html
  tests/e2e/schemas/v1/_schemas_v1_core_response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
Due: template-url-validation

Update AdCP schemas to v1.0.0 latest from registry
  INTEGRATION_TESTS_SKIPPED_IN_CI.md
  tests/e2e/schemas/v1/_schemas_v1_core_response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_package-request_json.json
Due: none

Fix CI test failures
  tests/e2e/test_schema_validation_standalone.py
  tests/integration/conftest.py
Due: detect-test-antipatterns

Update package-request.json schema to latest from registry
  tests/e2e/schemas/v1/_schemas_v1_media-buy_package-request_json.json
Due: none

Fix: Use parsed port from DATABASE_URL in all connection strings
  tests/e2e/test_schema_validation_standalone.py
  tests/integration/conftest.py
Due: detect-test-antipatterns

Fix integration test failures: schema mismatch issues
  tests/integration/test_create_media_buy_v24.py
  tests/integration/test_dashboard_integration.py
  tests/integration/test_delivery_simulator_restart.py
  tests/integration/test_error_paths.py
Due: detect-test-antipatterns
