Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Check for removed columns still referenced in code
      - id: check-schema-references
        name: Check schema references
        entry: python scripts/check_schema_references.py
        language: system
        pass_filenames: false
        always_run: true
        
      # Validate model column lengths
      - id: validate-column-lengths
        name: Validate database column lengths
        entry: python scripts/validate_column_lengths.py
        language: system
        files: '(models|schemas)\.py$'
        
      # Check for tenant.config references
      - id: no-tenant-config
        name: No tenant.config references
        entry: sh -c 'if grep -r "tenant\.config\|tenant\[.config.\]" --include="*.py" . | grep -v "test_migration\|postmortem\|pre-commit"; then echo "Found tenant.config references!"; exit 1; fi'
        language: system
        pass_filenames: false
        
      # Validate migrations can run
      - id: test-migrations
        name: Test database migrations
        entry: sh -c 'cp adcp_local.db .test.db && DATABASE_URL=sqlite:///.test.db python migrate.py && rm .test.db'
        language: system
        pass_filenames: false
        stages: [commit]
        
      # Check for API deprecations
      - id: check-api-deprecations
        name: Check for deprecated API usage
        entry: python scripts/check_api_deprecations.py
        language: system
        files: 'adapters/.*\.py$'
        
      # Validate Pydantic vs SQLAlchemy imports
      - id: validate-model-imports
        name: Validate model imports
        entry: python scripts/validate_model_imports.py
        language: system
        files: '\.py$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: check-ast
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.272
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Fix media buy status alignment and dashboard clickability
  src/core/main.py
  templates/tenant_dashboard.html
Due: validate-model-imports

Add comprehensive media buy readiness state system
  src/admin/services/dashboard_service.py
  src/admin/services/media_buy_readiness_service.py
  templates/tenant_dashboard.html
  tests/integration/test_media_buy_readiness.py
Due: validate-model-imports

Fix test mocking violations
  alembic/versions/6d6ac8d87c34_merge_migration_heads_from_main_and_.py
  docs/README-NGINX.md
  docs/database-patterns.md
  docs/testing-database-field-access.md
  scripts/check_test_mocking.py
  scripts/test_mcp_client.py
  scripts/validate_schema_database_alignment.py
  src/a2a_server/adcp_a2a_server.py
  src/adapters/gam/utils/formatters.py
  src/admin/app.py
  src/core/config.py
  tests/integration/test_a2a_real_data_flow.py
  tests/integration/test_creative_lifecycle_a2a.py
  tests/integration/test_creative_lifecycle_mcp.py
  tests/integration/test_dashboard_service_integration.py
  tests/integration/test_gam_lifecycle.py
  tests/integration/test_get_products_database_integration.py
  tests/integration/test_signals_discovery_integration.py
  tests/smoke/test_smoke_critical_paths.py
  tests/unit/test_list_creative_formats_params.py
Due: check-api-deprecations, validate-model-imports

Simplify GAM product form to match GAM pricing model
  templates/add_product_gam.html
Due: none

Add GAM Orders & Line Items link to dashboard
  templates/tenant_dashboard.html
Due: none

Fix missing GetProductsRequest import in tools.py
  src/core/tools.py
Due: validate-model-imports

Fix test mocking violations (#273)
  alembic/versions/6d6ac8d87c34_merge_migration_heads_from_main_and_.py
  docs/README-NGINX.md
  docs/database-patterns.md
  docs/testing-database-field-access.md
  scripts/check_test_mocking.py
  scripts/test_mcp_client.py
  scripts/validate_schema_database_alignment.py
  src/a2a_server/adcp_a2a_server.py
  src/adapters/gam/utils/formatters.py
  src/admin/app.py
  src/core/config.py
  tests/integration/test_a2a_real_data_flow.py
  tests/integration/test_creative_lifecycle_a2a.py
  tests/integration/test_creative_lifecycle_mcp.py
  tests/integration/test_dashboard_service_integration.py
  tests/integration/test_gam_lifecycle.py
  tests/integration/test_get_products_database_integration.py
  tests/integration/test_signals_discovery_integration.py
  tests/smoke/test_smoke_critical_paths.py
  tests/unit/test_list_creative_formats_params.py
Due: check-api-deprecations, validate-model-imports

Fix test_multiple_skill_invocations promoted_offering validation
  tests/integration/test_a2a_skill_invocation.py
Due: validate-model-imports

Fix CI tests for readiness system changes
  src/admin/services/media_buy_readiness_service.py
  tests/integration/test_dashboard_reliability.py
  tests/unit/test_dashboard_service.py
Due: validate-model-imports

Exempt test_mcp_schema_validator from mocking checks
  scripts/check_test_mocking.py
Due: validate-model-imports

Add functional inventory picker modal for GAM products
  templates/add_product_gam.html
Due: none

Integrate GAM order/line item status into readiness system
  src/admin/services/media_buy_readiness_service.py
  templates/tenant_dashboard.html
Due: validate-model-imports

Remove creative rotation and delivery pacing from product form
  templates/add_product_gam.html
Due: none

Fix inventory API endpoint URL in product form
  templates/add_product_gam.html
Due: none

Fix CI test failures for readiness system
  src/admin/services/media_buy_readiness_service.py
  tests/integration/conftest.py
  tests/integration/test_media_buy_readiness.py
Due: validate-model-imports

Add test runner script for pre-push validation
  CLAUDE.md
  run_all_tests.sh
Due: none

Fix remaining CI test failures - template metric name
  src/admin/blueprints/tenants.py
  tests/integration/conftest.py
Due: validate-model-imports

Fix test assertion for renamed dashboard metric
  tests/integration/test_tenant_dashboard.py
Due: validate-model-imports

Add auto-suggestion of creative formats based on ad unit sizes
  templates/add_product_gam.html
Due: none

Add setup_hooks.sh for Conductor workspace hook installation
  setup_hooks.sh
Due: none

Fix run_all_tests.sh to work when called from git hooks
  run_all_tests.sh
Due: none

Include child ad unit sizes in creative format auto-suggestion
  templates/add_product_gam.html
Due: none

Fix priority field validation error when hidden
  templates/add_product_gam.html
Due: none

Fix media buy status alignment and dashboard clickability (#276)
  src/admin/blueprints/tenants.py
  src/admin/services/dashboard_service.py
  src/admin/services/media_buy_readiness_service.py
  src/core/main.py
  templates/tenant_dashboard.html
  tests/integration/conftest.py
  tests/integration/test_dashboard_reliability.py
  tests/integration/test_media_buy_readiness.py
  tests/integration/test_tenant_dashboard.py
  tests/unit/test_dashboard_service.py
Due: validate-model-imports

Fix product creation: countries field constraint and ad unit ID parsing
  src/admin/blueprints/products.py
Due: validate-model-imports

Add integration tests to pre-push hook validation
  run_all_tests.sh
  tests/integration/test_dashboard_reliability.py
  tests/integration/test_dashboard_service_integration.py
  tests/integration/test_database_health_integration.py
Due: validate-model-imports

Fix product list display when CPM is NULL
  templates/products.html
Due: none

Add CI mode to run_all_tests.sh with PostgreSQL container
  run_all_tests.sh
Due: none

Document CI mode as recommended workflow before pushing
  CLAUDE.md
  run_all_tests.sh
Due: none

Fix GAM product pricing: map line item type to delivery type
  src/admin/blueprints/products.py
  templates/products.html
Due: validate-model-imports

Mark test_dashboard_service_field_access_safety as requires_db
  tests/integration/test_dashboard_service_integration.py
Due: validate-model-imports

Show GAM line item type instead of generic delivery type
  templates/products.html
Due: none

Fix parameter mismatches and improve MCP/A2A validator coverage (#275)
  CLAUDE.md
  run_all_tests.sh
  scripts/check_test_mocking.py
  setup_hooks.sh
  src/core/main.py
  src/core/tools.py
  tests/integration/test_a2a_skill_invocation.py
  tests/integration/test_dashboard_reliability.py
  tests/integration/test_dashboard_service_integration.py
  tests/integration/test_database_health_integration.py
  tests/unit/test_mcp_schema_validator.py
  tools/validate_mcp_schemas.py
Due: validate-column-lengths, validate-model-imports

Include implementation_config in products list template data
  src/admin/blueprints/products.py
Due: validate-model-imports

Add GAM-specific edit form with pre-population
  src/admin/blueprints/products.py
  templates/add_product_gam.html
Due: validate-model-imports

Fix GAM product pricing display and edit form issues
  templates/add_product_gam.html
  templates/products.html
Due: none

Fix test fixture: use integration_db instead of test_database
  scripts/check_test_mocking.py
  tests/integration/test_create_media_buy_v24.py
Due: validate-model-imports

Fix get_total_budget() to sum budgets from packages in v2.4 format
  src/core/schemas.py
Due: validate-column-lengths, validate-model-imports

Fix CreateMediaBuyRequest validator to handle None product_ids
  src/core/schemas.py
  tests/integration/test_create_media_buy_v24.py
Due: validate-column-lengths, validate-model-imports

Fix mock_context fixture to use correct auth token
  tests/integration/test_get_products_filters.py
Due: validate-model-imports
