Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

refactor: one owner for what attaching a push config MEANS, not just its shape
  tests/bdd/steps/generic/given_config.py
  tests/bdd/steps/generic/given_media_buy.py
Due: detect-test-antipatterns, mypy-no-regression

test: BR-UC-019 asserts that a spec-legal account is ACCEPTED, not refused
  tests/bdd/conftest.py
  tests/bdd/features/BR-UC-002-create-media-buy.feature
  tests/bdd/features/BR-UC-003-update-media-buy.feature
  tests/bdd/features/BR-UC-004-deliver-media-buy-metrics.feature
  tests/bdd/features/BR-UC-005-discover-creative-formats.feature
  tests/bdd/features/BR-UC-006-sync-creatives.feature
  tests/bdd/features/BR-UC-010-discover-seller-capabilities.feature
  tests/bdd/features/BR-UC-018-list-creatives.feature
  tests/bdd/features/BR-UC-019-query-media-buys.feature
  tests/bdd/features/BR-UC-026-package-media-buy.feature
  tests/bdd/steps/domain/uc002_nfr.py
  tests/bdd/steps/domain/uc019_query_media_buys.py
  tests/bdd/steps/generic/given_auth.py
  tests/bdd/steps/generic/given_media_buy.py
Due: detect-test-antipatterns, mypy-no-regression

test: retire the unit tests that grade the request boundary
  tests/unit/test_adcp_25_creative_management.py
  tests/unit/test_brand_manifest_to_brand_migration.py
  tests/unit/test_brand_migration.py
  tests/unit/test_creative.py
  tests/unit/test_creative_formats_behavioral.py
  tests/unit/test_get_media_buys.py
  tests/unit/test_media_buy.py
  tests/unit/test_product_schema_obligations.py
  tests/unit/test_update_media_buy_behavioral.py
Due: detect-test-antipatterns, mypy-no-regression

test: delete test_schema_validation_modes.py; we do not test pydantic
  tests/unit/test_schema_validation_modes.py
Due: detect-test-antipatterns, mypy-no-regression

test: finish the P01 identity rollout for every executing scenario
  tests/bdd/features/BR-UC-002-manual-overrides.feature
  tests/bdd/features/BR-UC-002-media-buy-status-dual-emit.feature
  tests/bdd/features/BR-UC-002-nfr-enforcement.feature
  tests/bdd/features/BR-UC-011-account-validation.feature
  tests/bdd/features/local-uc006-dry-run-out-of-transaction-effects.feature
  tests/bdd/features/local-uc006-post-commit-effect-ordering.feature
  tests/bdd/features/local-uc011-dry-run-preview-parity.feature
Due: none

fix: the accepted-shape strip runs for every transport, not just A2A
  src/a2a_server/adcp_a2a_server.py
  src/core/schemas/_base.py
  src/core/schemas/product.py
  src/core/tools/_boundary.py
  src/core/tools/registry.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

refactor: seven wire models subclass the pinned SDK type instead of copying it
  src/core/schemas/account.py
  src/core/schemas/creative.py
  src/core/schemas/delivery.py
  src/core/tools/media_buy_delivery.py
  tests/unit/test_delivery_poll_behavioral.py
  tests/unit/test_delivery_schema_contracts.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: get_media_buys accepts a spec-legal account and scopes the listing to it (#2219)
  src/core/database/repositories/media_buy.py
  src/core/tools/media_buy_list.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

test: graduate the UC-005 sort scenario; it was obsolete, not failing
  tests/bdd/conftest.py
  tests/bdd/features/BR-UC-005-discover-creative-formats.feature
  tests/bdd/steps/generic/given_config.py
  tests/bdd/steps/generic/then_payload.py
Due: detect-test-antipatterns, mypy-no-regression

fix: the storyboard suite grades; it was skipping itself before collection
  .gitignore
  run_all_tests.sh
  run_all_tests_host.sh
  tests/storyboard/test_storyboard_conformance.py
  tests/unit/test_run_all_tests_contract.py
  tox.ini
Due: detect-test-antipatterns, mypy-no-regression

test: four fixes where the test was wrong, not the code
  tests/e2e/test_schema_validation_standalone.py
  tests/integration/test_mcp_unknown_field_handling.py
  tests/integration/test_typed_error_raises.py
  tests/unit/test_boundary_idempotency_rules.py
Due: detect-test-antipatterns, mypy-no-regression

test: graduate the two BR-UC-019 account scenarios
  tests/bdd/conftest.py
Due: detect-test-antipatterns, mypy-no-regression

test: wire the @creative-status match-any boundary by splitting its outline (#1502)
  .duplication-baseline
  tests/bdd/conftest.py
  tests/bdd/features/BR-UC-018-list-creatives.feature
  tests/bdd/steps/domain/uc018_list_creatives.py
  tests/bdd/test_uc018_list_creatives.py
  tests/harness/test_transport_conformance.py
Due: detect-test-antipatterns, mypy-no-regression

refactor: one auth declaration; delete the two that disagreed with it
  src/a2a_server/adcp_a2a_server.py
  src/core/mcp_auth_middleware.py
  src/core/tools/_announced_shape.py
  src/core/tools/registry.py
  src/routes/_derived_body.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: MCP validates through the DTO, like the other two transports
  src/core/main.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

refactor: delete the MCP-only compat layer the Tool subclass replaced
  docs/design/one-tool-registry-remaining.md
  src/core/main.py
  src/core/mcp_compat_middleware.py
  src/core/schema_helpers.py
  src/core/schemas/product.py
  src/core/tools/_announced_shape.py
  tests/harness/test_forward_compat_acceptance.py
  tests/helpers/registered_tools.py
  tests/unit/test_announced_shape.py
  tests/unit/test_architecture_advertised_defaults_come_from_the_dto.py
  tests/unit/test_list_creative_formats_new_filters.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

fix: reconcile require_wire with main's merged wire-grading guards (#1502)
  tests/harness/transport.py
  tests/integration/test_harness_wire_response.py
Due: detect-test-antipatterns, mypy-no-regression

refactor: an implementation takes the request and the caller, and nothing else
  src/core/schema_helpers.py
  src/core/tools/_boundary.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_update.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: one notification system; A2A stops carrying a second one
  src/a2a_server/adcp_a2a_server.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

test: remove the tests for context_id continuation and A2A push notifications
  tests/e2e/test_a2a_webhook_payload_types.py
  tests/integration/test_a2a_skill_invocation.py
  tests/integration/test_typed_error_raises.py
  tests/unit/test_media_buy.py
Due: detect-test-antipatterns, mypy-no-regression

test: grade the ranking path on the wire across all four transports
  .duplication-baseline
  tests/bdd/conftest.py
  tests/bdd/features/BR-UC-001-ai-ranking-tenant-config.feature
  tests/bdd/steps/domain/uc001_ai_ranking.py
  tests/bdd/test_uc001_ai_ranking_tenant_config.py
  tests/harness/_base.py
  tests/harness/account_sync.py
  tests/harness/product.py
  tests/integration/test_a2a_response_compliance.py
  tests/integration/test_get_products_behavioral.py
  tests/integration/test_tenant_utils.py
  tests/unit/test_a2a_success_field_consolidation.py
  tests/unit/test_admin_creative_ai_review_availability.py
  tests/unit/test_ai_review.py
  tests/unit/test_architecture_e2e_rest_escape_hatches.py
  tests/unit/test_architecture_measurement_floors.py
  tests/unit/test_get_products_impl_coverage.py
Due: detect-test-antipatterns, mypy-no-regression

refactor(ai): give TenantAIConfig one owner for resolution and parsing
  src/services/ai/config.py
  src/services/ai/factory.py
  tests/unit/test_ai_service_factory.py
  tests/unit/test_naming_parameter_bug.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix(products): route both AI consumers through the owner and say when ranking is skipped
  src/a2a_server/adcp_a2a_server.py
  src/admin/blueprints/creatives.py
  src/core/tools/products.py
  src/core/utils/naming.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix(products): read the tenant's AI config when ranking, not just the platform key
  src/core/tenant_context.py
  src/core/tools/products.py
  src/core/utils/tenant_utils.py
  tests/unit/test_get_products_impl_coverage.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: only suppress inline terminal FAILURE webhooks, keep completed delivery [WS4]
  src/a2a_server/adcp_a2a_server.py
  tests/unit/test_a2a_error_routing.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: one webhook envelope, decided in one place
  alembic/versions/b8e21d4f7c60_drop_protocol_from_push_notification_.py
  alembic/versions/c93f5a2e81d7_echo_fields_on_push_notification_.py
  src/adapters/mock_ad_server.py
  src/admin/blueprints/creatives.py
  src/admin/blueprints/operations.py
  src/core/context_manager.py
  src/core/database/models.py
  src/core/database/repositories/push_notification_config.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_update.py
  src/core/webhooks/delivery.py
  src/core/webhooks/registration.py
  src/services/delivery_webhook_scheduler.py
  src/services/protocol_webhook_service.py
  src/services/webhook_delivery_service.py
  tests/bdd/conftest.py
  tests/bdd/steps/domain/uc004_delivery.py
  tests/bdd/steps/generic/then_schema.py
  tests/factories/webhook.py
  tests/harness/_mixins.py
  tests/integration/test_delivery_service_behavioral.py
  tests/integration/test_push_notification_config_repository.py
  tests/unit/test_delivery.py
  tests/unit/test_delivery_service_behavioral.py
  tests/unit/test_mcp_compat_middleware.py
  tests/unit/test_update_media_buy_behavioral.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment, mypy-no-regression

fix: a rejected field is named, in the two channels core/error.json defines
  src/app.py
  src/core/idempotency_canonical.py
  src/core/schemas/_accepted_shape.py
  src/core/schemas/_base.py
  src/core/tools/registry.py
  tests/integration/test_mcp_unknown_field_handling.py
  tests/unit/test_deep_strip.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

test: retire what the deleted A2A push channel and the old MCP wrapper graded
  .duplication-baseline
  .mypy-untyped-defs-baseline
  .ruff-complexity-baseline
  .type-ignore-baseline
  src/a2a_server/adcp_a2a_server.py
  src/core/schemas/delivery.py
  src/core/tools/media_buy_delivery.py
  tests/bdd/features/local-egress-ssrf-refusal.feature
  tests/bdd/steps/domain/egress_ssrf.py
  tests/bdd/steps/generic/given_media_buy.py
  tests/harness/__init__.py
  tests/harness/webhook_registration.py
  tests/helpers/capture_wrapper_req.py
  tests/integration/test_admin_media_buy_reject_webhook.py
  tests/integration/test_webhook_registration_reaches_delivery_signed.py
  tests/unit/test_a2a_transport_contract.py
  tests/unit/test_architecture_resolved_identity_inline_cap.py
  tests/unit/test_delivery_schema_contracts.py
  tests/unit/test_device_type_breakdown.py
  tests/unit/test_get_adcp_capabilities.py
  tests/unit/test_get_media_buys_architecture.py
  tests/unit/test_mcp_auth_middleware.py
  tests/unit/test_protocol_webhook_ssrf.py
  tests/unit/test_response_shapes.py
  tests/unit/test_uc019_intentional_step_overrides.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: the delivery-report assertions read the report, not the envelope
  tests/harness/_mixins.py
  tests/harness/delivery_circuit_breaker_unit.py
  tests/harness/test_harness_circuit_breaker.py
  tests/integration/test_delivery_service_behavioral.py
Due: detect-test-antipatterns, mypy-no-regression

fix: the seller echoes the release it served, on every transport
  src/core/tools/_wire.py
  src/core/version_negotiation.py
  tests/bdd/conftest.py
  tests/bdd/features/BR-UC-010-discover-seller-capabilities.feature
  tests/bdd/steps/domain/uc010_capabilities.py
  tests/storyboard/known_failures.txt
  tests/unit/test_storyboard_ledger_state.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

test: graduate four e2e_rest webhook scenarios, each on its own mutation
  tests/bdd/conftest.py
  tests/bdd/steps/domain/uc004_delivery.py
Due: detect-test-antipatterns, mypy-no-regression

refactor: the version echo is an envelope field, not a stamped dict key
  src/core/main.py
  src/core/schemas/_base.py
  src/core/tools/_boundary.py
  src/core/tools/_wire.py
  tests/unit/test_a2a_auth_optional.py
  tests/unit/test_a2a_nl_auth_redundancy.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

docs: a oneOf alternative is a branch, not an arm
  src/core/main.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

fix: reconcile #1329 with main's merged BDD-harness + recovery-from-pin refactors
  src/core/exceptions.py
  tests/bdd/steps/domain/uc030_governance.py
  tests/unit/test_accounts_policy_helpers.py
  tests/unit/test_architecture_comment_citations.py
  tests/unit/test_architecture_error_recovery_enum_conformance.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: delivery-payload adcp_version to release precision + pin sync_governance in the tool registry
  tests/harness/test_address_table.py
  tests/integration/test_delivery_service_behavioral.py
Due: detect-test-antipatterns, mypy-no-regression

docs: how a tool works, from the request lifecycle outward
  docs/development/building-tools.md
Due: none

docs: open with the five seams the design rests on
  docs/development/building-tools.md
Due: none

chore: reconcile the ratchet baselines the merge left inconsistent
  .admin-raw-session-baseline
  .fixme-citation-baseline
  .mypy-untyped-defs-baseline
  .ruff-complexity-baseline
Due: none

docs: remove developer-specific file paths
  .claude/agents/executor.md
  .claude/commands/research.md
  .claude/commands/team.md
  .claude/formulas/bdd-mapping.yaml
  .claude/formulas/verify-spec.yaml
  .claude/scripts/inspect_parallel.sh
  .claude/skills/verify-spec/SKILL.md
  archive/ARCHITECTURE_TRANSFORMATION_REPORT.md
  archive/code-reviews/00-migration-summary.md
Due: none

fix: remove developer-local symlinks
  .claude/agent-memory
  .claude/research
Due: none

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
