Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Check for removed columns still referenced in code
      - id: check-schema-references
        name: Check schema references
        entry: python scripts/check_schema_references.py
        language: system
        pass_filenames: false
        always_run: true
        
      # Validate model column lengths
      - id: validate-column-lengths
        name: Validate database column lengths
        entry: python scripts/validate_column_lengths.py
        language: system
        files: '(models|schemas)\.py$'
        
      # Check for tenant.config references
      - id: no-tenant-config
        name: No tenant.config references
        entry: sh -c 'if grep -r "tenant\.config\|tenant\[.config.\]" --include="*.py" . | grep -v "test_migration\|postmortem\|pre-commit"; then echo "Found tenant.config references!"; exit 1; fi'
        language: system
        pass_filenames: false
        
      # Validate migrations can run
      - id: test-migrations
        name: Test database migrations
        entry: sh -c 'cp adcp_local.db .test.db && DATABASE_URL=sqlite:///.test.db python migrate.py && rm .test.db'
        language: system
        pass_filenames: false
        stages: [commit]
        
      # Check for API deprecations
      - id: check-api-deprecations
        name: Check for deprecated API usage
        entry: python scripts/check_api_deprecations.py
        language: system
        files: 'adapters/.*\.py$'
        
      # Validate Pydantic vs SQLAlchemy imports
      - id: validate-model-imports
        name: Validate model imports
        entry: python scripts/validate_model_imports.py
        language: system
        files: '\.py$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: check-ast
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.272
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Add webhook_url support and fix AI-powered creative review
  SCHEMA-FIX-PLAN.md
  alembic/versions/4bec915209d1_add_approval_mode_to_tenants.py
  docs/CRITICAL-schema-validation-failure.md
  docs/ai-creative-summary.md
  docs/creative-preview-architecture.md
  scripts/validate_pydantic_against_adcp_schemas.py
  src/admin/blueprints/creatives.py
  src/admin/blueprints/gam.py
  src/admin/blueprints/settings.py
  src/core/auth_utils.py
  src/core/config_loader.py
  src/core/database/models.py
  src/core/main.py
  src/core/schemas.py
  src/services/slack_notifier.py
  templates/add_product_gam.html
  templates/creative_management.html
  templates/creatives_list.html
  templates/inventory_browser.html
  templates/product_inventory_config.html
  templates/tenant_settings.html
  tests/e2e/test_creative_lifecycle_end_to_end.py
  tests/integration/test_a2a_skill_invocation.py
  tests/integration/test_creative_lifecycle_mcp.py
  tests/unit/test_adcp_contract.py
Due: validate-column-lengths, validate-model-imports

feat: Complete GAM line item creation with format extensibility and creative association (#313)
  alembic/versions/018_add_platform_config_to_formats.py
  alembic/versions/cce7df2e7bea_merge_migration_heads.py
  alembic/versions/f408509cab1c_merge_gam_line_item_creation_with_main.py
  docker-compose.yml
  docs/creative_placeholder_gap_analysis.md
  docs/format_extensibility_proposal.md
  src/adapters/base.py
  src/adapters/gam/managers/creatives.py
  src/adapters/gam/managers/orders.py
  src/adapters/gam/managers/targeting.py
  src/adapters/gam/utils/naming.py
  src/adapters/google_ad_manager.py
  src/adapters/google_ad_manager_original.py
  src/adapters/kevel.py
  src/adapters/mock_ad_server.py
  src/adapters/triton_digital.py
  src/admin/blueprints/tenants.py
  src/core/audit_logger.py
  src/core/database/database_schema.py
  src/core/format_resolver.py
  src/core/main.py
  src/core/schemas.py
  src/services/policy_check_service.py
  templates/tenant_dashboard.html
  templates/tenant_settings.html
  tests/e2e/schemas/v1/_schemas_v1_core_package_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_package-request_json.json
  tests/integration/test_dashboard_service_integration.py
  tests/integration/test_gam_automation_focused.py
  tests/integration/test_get_products_database_integration.py
  tests/integration/test_health_route_migration.py
  tests/integration/test_policy.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_format_resolver.py
  tests/unit/test_gam_creatives_manager.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Add worktree-unique ports for Docker Compose e2e tests
  docker-compose.yml
  scripts/setup/setup_conductor_workspace.sh
  tests/e2e/conftest.py
  tests/e2e/schemas/v1/_schemas_v1_core_package_json.json
  tests/e2e/schemas/v1/_schemas_v1_enums_task-status_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_package-request_json.json
  tests/e2e/schemas/v1/index.json
Due: validate-model-imports

Fix quick mode to exclude requires_server tests
  run_all_tests.sh
Due: none

Exclude skip_ci tests from quick mode
  run_all_tests.sh
Due: none

Fix all 9 critical issues in AI-powered creative review
  ASYNC_AI_REVIEW_SUMMARY.md
  IMPLEMENTATION_COMPLETE.md
  METRICS_SUMMARY.md
  PR_328_FINAL_SUMMARY.md
  alembic/versions/37adecc653e9_add_webhook_deliveries_table.py
  alembic/versions/62514cfb8658_add_ai_policy_to_tenants.py
  alembic/versions/6c2d562e3ee4_encrypt_gemini_api_keys.py
  alembic/versions/add_creative_reviews_table.py
  alembic/versions/bb73ab14a5d2_merge_ai_policy_heads.py
  docs/encryption-summary.md
  docs/encryption.md
  monitoring/grafana_dashboard.json
  pyproject.toml
  scripts/generate_encryption_key.py
  src/admin/blueprints/core.py
  src/admin/blueprints/creatives.py
  src/admin/blueprints/settings.py
  src/admin/blueprints/tenants.py
  src/admin/tenant_management_api.py
  src/core/auth_utils.py
  src/core/config_loader.py
  src/core/database/models.py
  src/core/database/queries.py
  src/core/main.py
  src/core/metrics.py
  src/core/schemas.py
  src/core/utils/encryption.py
  src/core/utils/tenant_utils.py
  src/core/webhook_delivery.py
  src/services/slack_notifier.py
  templates/tenant_settings.html
  test_webhook_url.py
  tests/benchmarks/benchmark_ai_review_async.py
  tests/unit/test_ai_review.py
  tests/unit/test_creative_review_model.py
  tests/unit/test_encryption.py
  tests/unit/test_metrics.py
  tests/unit/test_tenant_utils.py
  tests/unit/test_webhook_delivery.py
  uv.lock
Due: validate-column-lengths, validate-model-imports

Fix CI test failures for AdCP schema compliance
  src/adapters/mock_ad_server.py
  src/core/schemas.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_spec_compliance.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Fix policy test to properly isolate environment variables
  tests/integration/test_policy.py
Due: validate-model-imports

Fix database initialization after currency_limits merge
  src/core/database/database.py
Due: validate-model-imports

Align buyer_ref with AdCP spec and document schema source of truth
  CLAUDE.md
  src/adapters/mock_ad_server.py
  src/core/schemas.py
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Fix Docker startup: check for specific default tenant instead of tenant count
  src/core/database/database.py
Due: validate-model-imports

Fix 18 test failures after making buyer_ref required per AdCP spec
  tests/unit/adapters/test_base.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_datetime_string_parsing.py
  tests/unit/test_pydantic_schema_alignment.py
  tests/unit/test_spec_compliance.py
Due: check-api-deprecations, validate-model-imports

Fix Docker Compose port syntax for CI compatibility
  docker-compose.yml
Due: none

Fix MCP tool decorator syntax for proper schema generation
  src/core/main.py
Due: validate-model-imports

Fix get_products MCP tool to accept request object
  src/core/main.py
Due: validate-model-imports

Update MCP schema validator tests for request object pattern
  templates/tenant_settings.html
  tests/unit/test_mcp_schema_validator.py
Due: validate-model-imports

Fix tenant settings UI JavaScript errors and Gemini key detection
  src/admin/blueprints/tenants.py
  templates/tenant_settings.html
Due: validate-model-imports

Add Gemini API key input field to Integrations section
  src/admin/blueprints/settings.py
  templates/tenant_settings.html
Due: validate-model-imports

Add admin UI enhancements for integrations and business rules
  src/admin/blueprints/settings.py
  templates/tenant_settings.html
Due: validate-model-imports

Remove environment variable fallback for Gemini API key - tenant-specific only
  src/admin/blueprints/settings.py
  src/admin/blueprints/tenants.py
  templates/tenant_settings.html
Due: validate-model-imports

Add Slack webhook setup instructions with screenshot
  src/admin/static/images/slack-webhook-setup.png
  templates/tenant_settings.html
Due: none

Fix E2E test authentication by creating CI test principal
  src/admin/blueprints/settings.py
  src/admin/blueprints/tenants.py
  src/admin/static/slack-webhook-setup.png
  src/core/database/database.py
  src/core/database/models.py
  templates/tenant_settings.html
  tests/e2e/conftest.py
Due: validate-column-lengths, validate-model-imports

Fix buyer_ref requirement and skip failing GAM test
  tests/integration/test_gam_lifecycle.py
Due: validate-model-imports

Add database migration for creative review fields
  alembic/versions/8cce9697e412_add_creative_review_fields_to_tenants_.py
Due: validate-model-imports

Merge divergent migration heads
  alembic/versions/8ee085776997_merge_creative_review_and_webhook_.py
Due: validate-model-imports

Mark pending GAM test as requires_db to skip in quick mode
  tests/integration/test_gam_lifecycle.py
Due: validate-model-imports

Mark second GAM update_media_buy test as skip_ci + requires_db
  tests/integration/test_gam_lifecycle.py
Due: validate-model-imports

Fix local E2E tests by unsetting CONDUCTOR_* port variables
  run_all_tests.sh
Due: none

Add missing buyer_ref to CreateMediaBuyRequest test instances
  tests/integration/test_mcp_contract_validation.py
Due: validate-model-imports

Mark test_auth_header_required as requires_db for quick mode
  tests/integration/test_mcp_protocol.py
Due: validate-model-imports

Remove CONDUCTOR_* port dependencies from E2E tests
  run_all_tests.sh
  tests/e2e/conftest.py
Due: validate-model-imports

Mark MCP roundtrip tests as requires_db for quick mode
  tests/integration/test_mcp_tool_roundtrip_minimal.py
Due: validate-model-imports

Add missing buyer_ref to remaining CreateMediaBuyRequest tests
  tests/integration/test_mcp_tool_roundtrip_minimal.py
Due: validate-model-imports

Mark OAuth signup test as requires_db for quick mode
  tests/integration/test_self_service_signup.py
Due: validate-model-imports

Implement AdCP webhook security and reliability enhancements (PR #86)
  alembic/versions/62bc22421983_add_webhook_secret_to_push_notification_.py
  docs/webhooks-security.md
  src/core/database/models.py
  src/services/webhook_delivery_service_v2.py
  src/services/webhook_verification.py
Due: validate-column-lengths, validate-model-imports

Fix CI test failures
  alembic/versions/8cce9697e412_add_creative_review_fields_to_tenants_.py
  src/services/policy_check_service.py
  tests/integration/test_policy.py
Due: validate-model-imports

Consolidate webhook documentation into existing guide
  docs/webhooks.md
Due: none

Remove backwards compatibility - replace webhook service entirely
  docs/webhooks-security.md
  src/services/webhook_delivery_service.py
  src/services/webhook_delivery_service_v2.py
Due: validate-model-imports

Update webhook delivery service tests for PR #86 compliance
  tests/unit/test_webhook_delivery_service.py
Due: validate-model-imports
