Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

template-url-validation:
  name: Validate template url_for calls
  entry: uv run pytest tests/integration/test_template_url_validation.py::TestTemplateUrlValidation::test_all_template_url_for_calls_resolve -q
  language: system
  pass_filenames: false

Add utility script to check and fix service account consistency
  scripts/cleanup_service_account_inconsistency.py
Due: none

Changes auto-committed by Conductor
  src/core/creative_agent_registry.py
  src/core/main.py
  src/core/schemas.py
  tests/e2e/test_a2a_adcp_compliance.py
  tests/integration/test_a2a_response_message_fields.py
  tests/integration/test_a2a_skill_invocation.py
  tests/integration/test_session_json_validation.py
  tests/unit/test_validate_creative_assets.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Update AdCP schemas to latest from registry (v2.4 creative-asset dict format)
  tests/e2e/schemas/v1/_schemas_v1_core_creative-asset_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creatives-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-request_json.json
Due: none

Fix stale sync detection - mark syncs >1hr with no progress as failed
  src/admin/blueprints/gam.py
  tests/e2e/schemas/v1/_schemas_v1_core_creative-asset_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creatives-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-request_json.json
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix stale sync detection - allow fresh sync after 1+ hour (#514)
  src/admin/blueprints/gam.py
  tests/e2e/schemas/v1/_schemas_v1_core_creative-asset_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creatives-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-request_json.json
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Update AdCP schemas to latest from registry (dict-format assets per spec)
  tests/e2e/schemas/v1/_schemas_v1_core_creative-asset_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creatives-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-request_json.json
Due: none

Fix service account creation to handle existing accounts and maintain consistency (#515)
  scripts/cleanup_service_account_inconsistency.py
  src/services/gcp_service_account_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix timezone-aware datetime comparison in stale sync detection
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix timezone-aware datetime comparison in stale sync detection (#516)
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Improve tooltip spacing for sync progress message
  static/js/tenant_settings.js
Due: none

Fix: Include service_account_email in adapter_config dict for template
  src/admin/blueprints/tenants.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Detect and resume in-progress sync on page load
  src/admin/blueprints/gam.py
  static/js/tenant_settings.js
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Update AdCP version to 2.1.0 (Asset Schema Simplification)
  tests/e2e/schemas/v1/index.json
Due: none

Add structural validation for creative assets
  src/core/main.py
  tests/unit/test_validate_creative_assets.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix: Include service_account_email in adapter_config dict for template (#517)
  src/admin/blueprints/tenants.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

WIP: Optimize inventory sync - remove recursion, add incremental sync
  src/adapters/gam_inventory_discovery.py
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Refactor: Validate creative asset structure (#518)
  src/core/creative_agent_registry.py
  src/core/main.py
  src/core/schemas.py
  tests/e2e/schemas/v1/index.json
  tests/e2e/test_a2a_adcp_compliance.py
  tests/integration/test_a2a_response_message_fields.py
  tests/integration/test_a2a_skill_invocation.py
  tests/integration/test_session_json_validation.py
  tests/unit/test_validate_creative_assets.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Complete inventory sync optimization - add incremental sync and UI
  src/admin/blueprints/gam.py
  static/js/tenant_settings.js
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix: Sync tenant name display with database
  src/admin/app.py
  templates/base.html
  tests/unit/test_tenant_name_sync.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, template-url-validation

Replace N+1 queries with bulk database operations
  src/services/gam_inventory_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Refactor: Remove session.tenant_name entirely - use single source of truth
  src/admin/app.py
  src/admin/blueprints/auth.py
  src/admin/blueprints/public.py
  templates/base.html
  tests/unit/test_tenant_name_sync.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, template-url-validation

Fix critical issues from code review
  docker-compose.yml
  src/adapters/gam_inventory_discovery.py
  src/admin/blueprints/gam.py
  test_sync.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix targeting browser template name
  src/admin/blueprints/inventory.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix targeting browser sync button Content-Type
  templates/targeting_browser.html
Due: template-url-validation

Remove duplicate sync button from targeting browser
  templates/targeting_browser.html
Due: template-url-validation

Implement targeting data API endpoint
  src/admin/blueprints/inventory.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Remove session.tenant_name usage (#519)
  src/admin/app.py
  src/admin/blueprints/auth.py
  src/admin/blueprints/public.py
  templates/base.html
  tests/unit/test_tenant_name_sync.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, template-url-validation

Fix get_products A2A error: remove invalid .root attribute access
  src/core/tools.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Changes auto-committed by Conductor
  src/core/context_manager.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Changes auto-committed by Conductor
  src/core/schemas.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Changes auto-committed by Conductor (#521)
  src/core/schemas.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Changes auto-committed by Conductor (#520)
  src/core/context_manager.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix targeting browser display and navigation issues
  templates/targeting_browser.html
Due: template-url-validation

Fix get_products A2A error: remove invalid .root attribute access (#522)
  src/core/tools.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix E2E tests: make .env.secrets optional in docker-compose
  docker-compose.yml
Due: none

Fix Bootstrap tab switching in targeting browser
  templates/targeting_browser.html
Due: template-url-validation

Add AGENTS symlink to CLAUDE instructions
  AGENTS.md
Due: none

Fix docker-compose env_file syntax for older versions
  docker-compose.yml
Due: none

Add test_sync.py to .gitignore
  .gitignore
Due: none

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$
