Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Check for removed columns still referenced in code
      - id: check-schema-references
        name: Check schema references
        entry: python scripts/check_schema_references.py
        language: system
        pass_filenames: false
        always_run: true
        
      # Validate model column lengths
      - id: validate-column-lengths
        name: Validate database column lengths
        entry: python scripts/validate_column_lengths.py
        language: system
        files: '(models|schemas)\.py$'
        
      # Check for tenant.config references
      - id: no-tenant-config
        name: No tenant.config references
        entry: sh -c 'if grep -r "tenant\.config\|tenant\[.config.\]" --include="*.py" . | grep -v "test_migration\|postmortem\|pre-commit"; then echo "Found tenant.config references!"; exit 1; fi'
        language: system
        pass_filenames: false
        
      # Validate migrations can run
      - id: test-migrations
        name: Test database migrations
        entry: sh -c 'cp adcp_local.db .test.db && DATABASE_URL=sqlite:///.test.db python migrate.py && rm .test.db'
        language: system
        pass_filenames: false
        stages: [commit]
        
      # Check for API deprecations
      - id: check-api-deprecations
        name: Check for deprecated API usage
        entry: python scripts/check_api_deprecations.py
        language: system
        files: 'adapters/.*\.py$'
        
      # Validate Pydantic vs SQLAlchemy imports
      - id: validate-model-imports
        name: Validate model imports
        entry: python scripts/validate_model_imports.py
        language: system
        files: '\.py$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: check-ast
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.272
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Fix ToolContext initialization in v2.4 tests
  tests/integration/test_create_media_buy_v24.py
Due: validate-model-imports

Fix create_media_buy response serialization
  src/core/main.py
Due: validate-model-imports

Add missing is_fixed_price field to test Product
  tests/integration/test_create_media_buy_v24.py
Due: validate-model-imports

Add integration tests for AdCP v2.4 create_media_buy format
  tests/integration/test_create_media_buy_v24.py
Due: validate-model-imports

Use model_dump_internal() instead of model_dump() for test packages
  tests/integration/test_create_media_buy_v24.py
Due: validate-model-imports

Fix test calls to _create_media_buy_impl with correct parameters
  tests/integration/test_create_media_buy_v24.py
Due: validate-model-imports

Fix Package serialization to use model_dump_internal
  src/core/main.py
  tests/integration/test_create_media_buy_v24.py
Due: validate-model-imports

Fix ad unit and placement persistence in edit form
  templates/add_product_gam.html
Due: none

Fix Package serialization in create_media_buy response
  src/core/main.py
Due: validate-model-imports

Fix Package serialization in create_media_buy response (#279)
  src/core/main.py
Due: validate-model-imports

Fix mock checker to allow calling _impl functions
  scripts/check_test_mocking.py
Due: validate-model-imports

Fix mock checker to allow calling _impl functions (#280)
  scripts/check_test_mocking.py
Due: validate-model-imports

Add integration tests for AdCP v2.4 create_media_buy format
  src/core/schemas.py
  tests/integration/test_create_media_buy_v24.py
Due: validate-column-lengths, validate-model-imports

Remove deprecated bulk upload and setup wizard routes
  src/admin/blueprints/products.py
  tests/integration/test_admin_ui_pages.py
  tests/integration/test_ai_products.py
Due: validate-model-imports

Simplify GAM product form and fix persistence issues (#278)
  src/admin/blueprints/gam.py
  src/admin/blueprints/products.py
  src/services/ai_product_service.py
  src/services/gam_inventory_service.py
  templates/adapters/gam_product_config.html
  templates/add_creative_format_ai.html
  templates/add_product_ai.html
  templates/add_product_gam.html
  templates/bulk_product_upload.html
  templates/edit_product.html
  templates/product_setup_wizard.html
  templates/product_templates.html
  templates/products.html
  templates/tenant_settings.html
  tests/integration/test_admin_ui_pages.py
  tests/integration/test_ai_products.py
Due: validate-model-imports

Fix test isolation: clear global tenant context after tests
  tests/integration/test_create_media_buy_v24.py
Due: validate-model-imports

Add integration tests for AdCP v2.4 create_media_buy format (#281)
  src/core/schemas.py
  tests/integration/test_create_media_buy_v24.py
Due: validate-column-lengths, validate-model-imports

Fix A2A create_media_buy response serialization
  src/a2a_server/adcp_a2a_server.py
Due: validate-model-imports

Improve A2A test coverage and prevent future serialization bugs
  .github/workflows/test.yml
  docs/testing/case-study-a2a-serialization-bug.md
  tests/integration/test_a2a_skill_invocation.py
Due: validate-model-imports

Fix pre-push hook to run CI mode tests with database
  CLAUDE.md
  scripts/setup/setup_hooks.sh
Due: none

Revert E2E tests to non-blocking due to CI instability
  .github/workflows/test.yml
  docs/testing/case-study-a2a-serialization-bug.md
Due: none

Fix A2A create_media_buy handler to handle both dict and Pydantic responses
  src/a2a_server/adcp_a2a_server.py
Due: validate-model-imports

Fix CI mode tests to work with workspace DATABASE_URL
  run_all_tests.sh
Due: none

Fix 404 error for media buys with missing IDs in dashboard
  src/admin/services/dashboard_service.py
  templates/tenant_dashboard.html
Due: validate-model-imports

Remove broken 'View all' link for media buys
  templates/tenant_dashboard.html
Due: none

Fix A2A create_media_buy handler to handle both dict and Pydantic responses (#285)
  src/a2a_server/adcp_a2a_server.py
Due: validate-model-imports

Add missing adcp_version field to GetProductsResponse
  src/core/schemas.py
  tests/e2e/test_schema_validation_standalone.py
Due: validate-column-lengths, validate-model-imports

Fix test database schema to include all model columns
  tests/conftest_db.py
Due: validate-model-imports

Fix 404 error for media buys with missing IDs in dashboard (#286)
  src/admin/services/dashboard_service.py
  templates/tenant_dashboard.html
Due: validate-model-imports

Document E2E test stabilization plan and remaining issues
  docs/testing/e2e-test-stabilization-plan.md
Due: none

Identify root cause of E2E connection failures
  docs/testing/e2e-test-stabilization-plan.md
Due: none

Fix 'dict' object has no attribute 'model_dump' error in A2A create_media_buy
  src/a2a_server/adcp_a2a_server.py
Due: validate-model-imports

Fix E2E tests: Let pytest manage Docker Compose
  .github/workflows/test.yml
  docs/testing/e2e-test-stabilization-plan.md
Due: none

Fix test database engine patching for PostgreSQL CI tests
  tests/conftest_db.py
Due: validate-model-imports

Fix database health check for in-memory test databases
  src/core/database/health_check.py
Due: validate-model-imports

Fix 'dict' object has no attribute 'model_dump' error in A2A create_media_buy (#287)
  src/a2a_server/adcp_a2a_server.py
Due: validate-model-imports

Fix GAM lifecycle test to match workflow-based behavior
  tests/integration/test_gam_lifecycle.py
Due: validate-model-imports

Fix sync tool authentication by handling empty dict from get_http_headers()
  src/core/main.py
  src/core/testing_hooks.py
Due: validate-model-imports

Remove stabilization plan doc, track work in GitHub issues
  docs/testing/e2e-test-stabilization-plan.md
Due: none

Add creative listing view with media buy mappings
  src/admin/blueprints/creatives.py
  templates/creatives_list.html
  templates/tenant_dashboard.html
Due: validate-model-imports
