Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

Fix legacy publisher_properties conversion for AdCP 2.13.0
  src/core/database/models.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, mypy-no-regression

Improve property ID selection UX and mock tenant sync
  docker-compose.yml
  src/admin/blueprints/publisher_partners.py
  templates/add_product_mock.html
  templates/inventory_unified.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

docs: Add platform-specific deployment guides and improve Cloud SQL setup
  README.md
  app.json
  docs/deployment.md
  docs/quickstart-cloud-run.md
  docs/quickstart-docker.md
  docs/quickstart-fly.md
  scripts/deploy/entrypoint.sh
  src/core/database/db_config.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix property selection to use correct AdCP publisher_properties format
  src/admin/blueprints/products.py
  templates/add_product_mock.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Replace example credentials with obvious placeholders
  docs/quickstart-cloud-run.md
  scripts/deploy/entrypoint.sh
Due: none

Add reusable publisher properties selector component
  src/admin/blueprints/products.py
  templates/add_product_gam.html
  templates/add_product_mock.html
  templates/components/publisher_properties_selector.html
  templates/edit_product_mock.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

docs: Add platform-specific deployment guides and Cloud SQL improvements (#869)
  README.md
  app.json
  docs/deployment.md
  docs/quickstart-cloud-run.md
  docs/quickstart-docker.md
  docs/quickstart-fly.md
  scripts/deploy/entrypoint.sh
  src/core/database/db_config.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix CI: use astral-sh/setup-uv action for reliable uv installation
  .github/workflows/test.yml
Due: none

Fix integration tests for AdCP publisher_properties format
  src/admin/blueprints/publisher_partners.py
  tests/integration/test_inventory_profile_transitions.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix property ID selection mode in product creation (#865)
  .github/workflows/test.yml
  docker-compose.yml
  src/admin/blueprints/products.py
  src/admin/blueprints/publisher_partners.py
  src/core/database/models.py
  templates/add_product_gam.html
  templates/add_product_mock.html
  templates/components/publisher_properties_selector.html
  templates/edit_product_mock.html
  templates/inventory_unified.html
  tests/integration/test_inventory_profile_transitions.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment, mypy-no-regression

fix: Update release-please to use manifest mode (v4 config)
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: none

chore: Add refactor section to release-please changelog config
  release-please-config.json
Due: none

docs: Add Conventional Commits guidance to CLAUDE.md
  CLAUDE.md
Due: none

ci: Add PR title validation for Conventional Commits
  .github/workflows/pr-title-check.yml
Due: none

ci: Add PR title validation for Conventional Commits (#871)
  .github/workflows/pr-title-check.yml
Due: none

chore: Remove cruft files from root directory
  .git-pr-summary.md
  .gitignore
  .release-please-config.md
  adcp-spec
  audit-logging-product-review.md
  sync_custom_targeting_keys.py
  test_format_id_types.py
  test_format_ids_migration.py
  test_mcp_connection.py
  uv.lock
Due: mypy-no-regression

test: Add test coverage check for all registered MCP tools
  tests/unit/test_mcp_tool_test_coverage.py
  uv.lock
Due: detect-test-antipatterns, mypy-no-regression

chore: Remove cruft files from root directory (#872)
  .git-pr-summary.md
  .gitignore
  .release-please-config.md
  adcp-spec
  audit-logging-product-review.md
  sync_custom_targeting_keys.py
  test_format_id_types.py
  test_format_ids_migration.py
  test_mcp_connection.py
  uv.lock
Due: mypy-no-regression

fix: Use www-data user in nginx-simple.conf for Debian compatibility
  config/nginx/nginx-simple.conf
  docker-compose.multi-tenant.yml
  docker-compose.yml
Due: none

fix: Use www-data user in nginx-simple.conf for Debian compatibility (#874)
  config/nginx/nginx-simple.conf
  docker-compose.multi-tenant.yml
  docker-compose.yml
Due: none

feat: Enhance AdCP 2.5 creative rotation weight support with improved error handling
  src/adapters/gam/managers/creatives.py
  src/core/tools/media_buy_create.py
  tests/unit/test_gam_creative_rotation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

feat: Enhance AdCP 2.5 creative rotation weight support with improved error handling (#876)
  src/adapters/gam/managers/creatives.py
  src/core/tools/media_buy_create.py
  tests/unit/test_gam_creative_rotation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

feat: Add Docker Hub as secondary container registry
  .github/workflows/release-please.yml
  docs/deployment/docker-hub-auth.md
  uv.lock
Due: none

feat: Add Docker Hub as secondary container registry (#878)
  .github/workflows/release-please.yml
  docs/deployment/docker-hub-auth.md
  uv.lock
Due: none

docs: Consolidate Docker Hub info into single-tenant deployment guide
  docs/deployment/docker-hub-auth.md
  docs/deployment/single-tenant.md
Due: none

docs: Add prerequisites note to multi-tenant guide
  docs/deployment/multi-tenant.md
Due: none

feat: Consolidate Docker entrypoint to use Python directly
  Dockerfile
  scripts/README.md
  scripts/deploy/entrypoint.sh
  scripts/deploy/run_all_services.py
Due: mypy-no-regression

fix: Fail on migration errors and remove SQLite references
  scripts/deploy/run_all_services.py
Due: mypy-no-regression

fix: Set PYTHONPATH and use venv python in Docker entrypoint
  Dockerfile
Due: none

feat: Add format template picker UI for AdCP 2.5 parameterized formats (#782)
  alembic/versions/28cdf399fb73_add_format_parameters_to_creatives.py
  src/admin/blueprints/format_search.py
  src/admin/blueprints/inventory.py
  src/admin/blueprints/products.py
  src/core/database/models.py
  src/core/format_cache.py
  src/core/helpers/__init__.py
  src/core/helpers/creative_helpers.py
  src/core/schemas.py
  src/core/tools/creatives.py
  static/js/format-template-picker.js
  templates/add_product_gam.html
  templates/add_product_mock.html
  templates/edit_product_mock.html
  tests/manual/test_format_picker_e2e.js
  tests/unit/test_format_templates.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: Ensure SUPER_ADMIN_EMAILS is set in E2E tests
  tests/e2e/conftest.py
Due: detect-test-antipatterns, mypy-no-regression

feat: Consolidate Docker entrypoint to use Python directly (#880)
  Dockerfile
  scripts/README.md
  scripts/deploy/entrypoint.sh
  scripts/deploy/run_all_services.py
  tests/e2e/conftest.py
Due: detect-test-antipatterns, mypy-no-regression

feat: Default to production setup, make demo mode opt-in
  .env.template
  docs/deployment/single-tenant.md
  docs/quickstart.md
  scripts/setup/init_database.py
  src/core/database/database.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Only set SESSION_COOKIE_DOMAIN in multi-tenant mode
  docs/deployment/multi-tenant.md
  docs/deployment/single-tenant.md
  src/admin/app.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Increase E2E test timeout to 300s for Docker builds
  .github/workflows/test.yml
Due: none

feat: Default to production setup, make demo mode opt-in (#883)
  .env.template
  .github/workflows/test.yml
  docs/deployment/single-tenant.md
  docs/quickstart.md
  scripts/setup/init_database.py
  src/core/database/database.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Patch nginx config for single-machine deployments
  docs/deployment/walkthroughs/fly.md
  scripts/deploy/run_all_services.py
Due: mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
