Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$

Fix: Inventory sync JavaScript errors
  static/js/tenant_settings.js
  templates/inventory_browser.html
Due: template-url-validation

Fix: Convert summary dict to JSON string in sync completion
  src/services/background_sync_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix: Add missing /api/tenant/<tenant_id>/products endpoint
  src/admin/blueprints/api.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix: Replace progress_data with progress in SyncJob
  src/services/background_sync_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix: Add missing adapter_type to SyncJob creation
  src/services/background_sync_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix: Add timeout to discover_ad_units to prevent stuck syncs
  src/adapters/gam_inventory_discovery.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix: Use started_at instead of completed_at for incremental sync
  src/services/background_sync_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix: Incremental sync now reports total database counts, not just synced items
  src/services/background_sync_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix: Use pytz timezone for GAM API compatibility in incremental sync
  src/adapters/gam_inventory_discovery.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix: Apply pytz timezone fix to discover_labels and discover_custom_targeting
  src/adapters/gam_inventory_discovery.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix: Remove unsupported lastModifiedDateTime filter from discover_labels
  src/adapters/gam_inventory_discovery.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix: Remove unsupported lastModifiedDateTime filter from discover_custom_targeting
  src/adapters/gam_inventory_discovery.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix: Use correct model for custom targeting key count
  src/services/background_sync_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add integration_v2 test infrastructure for pricing model migration
  .github/workflows/test.yml
  .gitignore
  run_all_tests.sh
  tests/integration_v2/conftest.py
  tests/integration_v2/test_pricing_helpers.py
Due: detect-test-antipatterns

Add integration_v2 test infrastructure for pricing model migration (#613)
  .github/workflows/test.yml
  .gitignore
  run_all_tests.sh
  tests/integration_v2/conftest.py
  tests/integration_v2/test_pricing_helpers.py
Due: detect-test-antipatterns

Fix E2E tests: update sync_creatives response field from 'results' to 'creatives'
  tests/e2e/test_adcp_reference_implementation.py
  tests/e2e/test_creative_assignment_e2e.py
Due: detect-test-antipatterns

Migrate signals tests to integration_v2 and merge migration heads
  alembic/versions/de5e92405800_merge_signals_backed_products_and_mock_.py
  tests/integration_v2/test_signals_agent_workflow.py
  tests/integration_v2/test_signals_discovery_integration.py
Due: detect-test-antipatterns

test: Migrate get_products_filters tests to integration_v2
  tests/integration/test_get_products_filters.py
  tests/integration_v2/test_get_products_filters.py
Due: detect-test-antipatterns

Remove SQLite fallback from Python test runner (#532)
  scripts/run_tests.py
  scripts/run_tests.sh
Due: none

Fix template URL validation for agent_id parameter
  tests/integration/test_template_url_validation.py
Due: detect-test-antipatterns

Fix test_mcp_protocol.py: add @pytest.mark.requires_db to TestMCPTestPage
  tests/integration/test_mcp_protocol.py
Due: detect-test-antipatterns

Fix template URL validation for filename parameter
  tests/integration/test_template_url_validation.py
Due: detect-test-antipatterns

cleanup: Remove legacy test file after migration
  tests/integration/test_get_products_filters.py
Due: detect-test-antipatterns

test: Move get_products_filters tests to integration_v2 (#617)
  tests/integration/test_get_products_filters.py
  tests/integration_v2/test_get_products_filters.py
Due: detect-test-antipatterns

Fix schema generator to add trailing newlines
  tests/e2e/adcp_schema_validator.py
Due: detect-test-antipatterns

Fix schema generator to add trailing newlines (#619)
  tests/e2e/adcp_schema_validator.py
Due: detect-test-antipatterns

Fix trailing newlines in ALL schema-writing scripts
  scripts/check_schema_sync.py
  scripts/fix_adcp_version_in_schemas.py
  scripts/generate_schemas.py
  scripts/refresh_schemas.py
Due: none

Fix schema refresh to preserve .meta files for ETag caching
  scripts/refresh_adcp_schemas.py
Due: none

Update outdated docstring in fix_adcp_version_in_schemas.py
  scripts/fix_adcp_version_in_schemas.py
Due: none

Mark refresh_schemas.py as deprecated, update docs
  schemas/README.md
  scripts/refresh_schemas.py
Due: none

Delete deprecated schema scripts
  scripts/fix_adcp_version_in_schemas.py
  scripts/refresh_schemas.py
Due: none

fix: Resolve mypy type errors in integration_v2 tests
  tests/integration_v2/conftest.py
  tests/integration_v2/test_a2a_error_responses.py
  tests/integration_v2/test_dashboard_service_integration.py
  tests/integration_v2/test_signals_agent_workflow.py
Due: detect-test-antipatterns
