Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$

fix: Route multi-tenant subdomain requests to tenant-specific login (#916)
  src/admin/blueprints/auth.py
  src/admin/blueprints/core.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Use global OAuth as fallback, not setup mode for multi-tenant
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Use global OAuth as fallback, not setup mode for multi-tenant (#917)
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Preserve tenant context on OAuth callback errors
  alembic/versions/cdaa4d359774_add_placement_ids_to_creative_.py
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Route custom domain landing pages via Approximated header
  config/nginx/nginx-multi-tenant.conf
Due: none

fix: Preserve tenant context on OAuth callback errors (#918)
  alembic/versions/cdaa4d359774_add_placement_ids_to_creative_.py
  config/nginx/nginx-multi-tenant.conf
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Properly merge alembic migration branches
  alembic/versions/33e7db3b865f_merge_placement_and_orphan_branches.py
  alembic/versions/cdaa4d359774_add_placement_ids_to_creative_.py
Due: mypy-no-regression

debug: Add logging to trace landing page redirect issue
  src/admin/app.py
  src/admin/blueprints/core.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Show landing page for custom domains instead of login redirect
  src/admin/app.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: Remove debug logging after confirming CustomProxyFix fix
  src/admin/blueprints/core.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Add multi-admin domain support for cross-domain OAuth
  docs/deployment/environment-variables.md
  fly.toml
  src/admin/blueprints/auth.py
  src/admin/blueprints/core.py
  src/core/domain_config.py
  tests/unit/test_multi_admin_domains.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Remove hardcoded domain config from fly.toml that overrode secrets
  docs/deployment/environment-variables.md
  fly.toml
  src/admin/blueprints/auth.py
  src/admin/blueprints/core.py
  src/core/domain_config.py
  tests/unit/test_multi_admin_domains.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

chore: Remove debug logging from before_request handler
  src/admin/app.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Handle external OAuth redirects in link validation tests
  tests/integration/link_validator.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Allow login page to redirect to OAuth in integration tests
  tests/integration/test_admin_ui_pages.py
  tests/integration/test_admin_ui_routes_comprehensive.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Add multi-admin domain support for cross-domain OAuth (#919)
  alembic/versions/33e7db3b865f_merge_placement_and_orphan_branches.py
  fly.toml
  src/admin/app.py
  tests/integration/link_validator.py
  tests/integration/test_admin_ui_pages.py
  tests/integration/test_admin_ui_routes_comprehensive.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Add Fly.io header middleware for proper HTTPS detection
  src/admin/app.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Add Fly.io header middleware for proper HTTPS detection (#920)
  src/admin/app.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Correct middleware ordering for Fly.io header processing
  src/admin/app.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Correct middleware ordering for Fly.io header processing (#921)
  src/admin/app.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Preserve X-Forwarded-Proto from Fly.io through nginx
  config/nginx/nginx-multi-tenant.conf
  config/nginx/nginx-single-tenant.conf
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Preserve X-Forwarded-Proto from Fly.io through nginx (#922)
  config/nginx/nginx-multi-tenant.conf
  config/nginx/nginx-single-tenant.conf
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Properly merge alembic migration branches
  alembic/versions/cdaa4d359774_add_placement_ids_to_creative_.py
Due: mypy-no-regression

fix: Remove hardcoded domain config from fly.toml that overrode secrets
  docs/deployment/environment-variables.md
  src/admin/blueprints/auth.py
  src/admin/blueprints/core.py
  src/core/domain_config.py
  tests/unit/test_multi_admin_domains.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Add multi-admin domain support for cross-domain OAuth
  docs/deployment/environment-variables.md
  src/admin/blueprints/auth.py
  src/admin/blueprints/core.py
  src/core/domain_config.py
  tests/unit/test_multi_admin_domains.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

chore: Add debug logging for OAuth session investigation
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: Add debug logging for OAuth session investigation (#923)
  alembic/versions/cdaa4d359774_add_placement_ids_to_creative_.py
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Clear session before OAuth to prevent stale cookie conflicts
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Clear session before OAuth to prevent stale cookie conflicts (#924)
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: Add debug logging to trace redirect loop after OAuth
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: Add debug logging to trace redirect loop after OAuth (#925)
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: Add more debug logging to trace session loss after OAuth
  src/admin/blueprints/auth.py
  src/admin/blueprints/core.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: Add more debug logging to trace session loss after OAuth (#926)
  src/admin/blueprints/auth.py
  src/admin/blueprints/core.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: Add after_request logging to trace Set-Cookie headers
  src/admin/app.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: Add after_request logging to trace Set-Cookie headers (#927)
  src/admin/app.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Explicitly save session on OAuth redirect to persist state cookie
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Explicitly save session on OAuth redirect to persist state cookie (#928)
  src/admin/blueprints/auth.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression
