Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

validate-column-lengths:
  name: Validate database column lengths
  entry: python scripts/validate_column_lengths.py
  language: system

check-api-deprecations:
  name: Check for deprecated API usage
  entry: python scripts/check_api_deprecations.py
  language: system

validate-model-imports:
  name: Validate model imports
  entry: python scripts/validate_model_imports.py
  language: system

fix: Rename 'filter' to 'status_filter' to match AdCP spec PR #26
  main.py
  schemas.py
  tools/simulations/simulation_full.py
Due: validate-column-lengths, validate-model-imports

test: Add comprehensive test for unified delivery endpoint
  test_unified_delivery.py
Due: validate-model-imports

refactor: Move test files to proper tests/integration directory
  test_spec_compliance.py
  test_unified_delivery.py
  tests/integration/test_spec_compliance.py
  tests/integration/test_unified_delivery.py
Due: validate-model-imports

fix: Update integration tests to work with FastMCP client API
  tests/integration/test_spec_compliance.py
Due: validate-model-imports

fix: Complete integration test fixes for GAM reporting
  tests/integration/test_gam_reporting.py
  tests/integration/test_gam_timezone.py
Due: validate-model-imports

fix: Cast TEXT to JSONB in migration 016 for PostgreSQL compatibility
  alembic/versions/016_add_json_validation.py
Due: validate-model-imports

fix: Add requires_server marker to test_workflow_with_manual_approval
  tests/integration/test_workflow_with_server.py
Due: validate-model-imports

fix: Fix remaining integration test issues
  tests/integration/test_ai_products.py
  tests/integration/test_gam_line_item_viewer.py
Due: validate-model-imports

fix: Skip GAM line item viewer tests in CI
  tests/integration/test_gam_line_item_viewer.py
Due: validate-model-imports

fix: Handle format strings in product catalog database provider
  product_catalog_providers/database.py
Due: validate-model-imports

fix: Add missing adapter_name field to CreateHumanTaskRequest schema
  main.py
  schemas.py
Due: validate-column-lengths, validate-model-imports

fix: Skip tests marked with skip_ci in CI pipeline
  .github/workflows/test.yml
Due: none

feat: Add country and ad unit reporting to GAM dashboard
  adapters/gam_reporting_api.py
  adapters/gam_reporting_service.py
  templates/gam_reporting.html
  test_gam_country_adunit.py
Due: check-api-deprecations, validate-model-imports

fix: Remove skip_ci marker and fix GAM line item viewer tests for CI
  tests/conftest.py
  tests/integration/test_gam_line_item_viewer.py
Due: validate-model-imports

fix: Implement get_available_inventory for GAM adapter to detect key-value pairs
  adapters/google_ad_manager.py
  admin_ui.py
  templates/product_setup_wizard.html
Due: check-api-deprecations, validate-model-imports

refactor: Use cached GAM inventory from database instead of re-fetching
  adapters/google_ad_manager.py
  templates/product_setup_wizard.html
Due: check-api-deprecations, validate-model-imports

fix: Complete AdCP compliance fixes and add media buy approval workflow
  admin_ui.py
  main.py
  templates/mcp_test.html
  templates/media_buy_approval.html
  templates/operations.html
  test_create_media_buy.py
  test_mcp_workflow.py
Due: validate-model-imports

fix: Resolve Products page 500 error from database schema changes (#61)
  adapters/gam_reporting_api.py
  admin_ui.py
  run_server.py
  tests/integration/test_admin_ui_pages.py
Due: check-api-deprecations, validate-model-imports

feat: Add country and ad unit reporting to GAM dashboard
  CLAUDE.md
  adapters/gam_reporting_service.py
  entrypoint.sh
  run_server.py
  templates/gam_reporting.html
  test_gam_country_adunit.py
  tests/integration/test_gam_country_adunit.py
Due: check-api-deprecations, validate-model-imports

feat: Redesign tenant dashboard with operational focus
  activity_feed.py
  admin_ui.py
  admin_ui_dashboard_fixed.py
  main.py
  templates/tenant_dashboard_v2.html
  templates/tenant_settings.html
  tests/integration/test_dashboard_integration.py
  tests/unit/test_dashboard.py
Due: validate-model-imports

Path conditions:
  validate-column-lengths: any of: (models|schemas)\.py$
  check-api-deprecations: any of: adapters/.*\.py$
  validate-model-imports: any of: \.py$
