Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

validate-column-lengths:
  name: Validate database column lengths
  entry: python scripts/validate_column_lengths.py
  language: system

check-api-deprecations:
  name: Check for deprecated API usage
  entry: python scripts/check_api_deprecations.py
  language: system

validate-model-imports:
  name: Validate model imports
  entry: python scripts/validate_model_imports.py
  language: system

Add .env.test to gitignore
  .gitignore
Due: none

Fix Mock adapter AI test orchestrator false positives
  src/adapters/ai_test_orchestrator.py
  src/adapters/mock_ad_server.py
  src/core/main.py
Due: check-api-deprecations, validate-model-imports

Optimize Docker build: disable man pages and docs
  Dockerfile
Due: none

Document {auto_name} variable in Admin UI
  templates/tenant_settings.html
Due: none

Optimize CI: skip man pages when installing docker-compose
  .github/workflows/test.yml
Due: none

feat: Replace FORMAT_REGISTRY with creative agent formats
  CREATIVE_AGENT_FORMAT_REQUIREMENTS.md
  src/core/schemas.py
  tests/e2e/schemas/v1/_schemas_v1_core_creative-asset_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_format_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-response_json.json
Due: validate-column-lengths, validate-model-imports

Fix Mock adapter AI test orchestrator false positives (#355)
  src/adapters/ai_test_orchestrator.py
  src/adapters/mock_ad_server.py
  src/core/main.py
Due: check-api-deprecations, validate-model-imports

Add push_notification_config to all AdCP operations that support it
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
  src/core/tools.py
Due: validate-model-imports

Fix GAM unique name errors with buyer_ref constraint and AI auto_name (#351)
  alembic/versions/31ff6218695a_add_buyer_ref_unique_constraint_and_.py
  src/adapters/gam/managers/workflow.py
  src/adapters/google_ad_manager.py
  src/adapters/mock_ad_server.py
  src/core/database/models.py
  src/core/utils/naming.py
  templates/tenant_settings.html
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Improve e2e test visibility and Docker build performance (#354)
  .github/workflows/test.yml
  .gitignore
  Dockerfile
  tests/e2e/conftest.py
Due: validate-model-imports

chore: Remove completed format requirements doc
  CREATIVE_AGENT_FORMAT_REQUIREMENTS.md
Due: none

Fix webhook delivery: A2A server not passing push_notification_config (#352)
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
  src/core/tools.py
  src/services/delivery_simulator.py
Due: validate-model-imports

fix: Update format resolver tests for new format IDs
  tests/unit/test_format_resolver.py
Due: validate-model-imports

Remove temporary testing guide (not permanent docs)
  TESTING_SETUP_CHECKLIST.md
Due: none

Fix E2E test: use media_buy_ids (plural) for get_media_buy_delivery
  tests/e2e/test_adcp_reference_implementation.py
Due: validate-model-imports

Add comprehensive setup checklist system for tenant onboarding
  TESTING_SETUP_CHECKLIST.md
  docs/production-tenant-status.md
  docs/setup-checklist-system.md
  docs/setup-checklist-ux-flow.md
  src/admin/blueprints/tenants.py
  src/core/main.py
  src/services/setup_checklist_service.py
  templates/components/setup_checklist_widget.html
  templates/setup_checklist.html
  templates/tenant_dashboard.html
  tests/unit/test_setup_checklist_service.py
Due: validate-model-imports

Fix AuthorizedProperty field names in init_db()
  src/core/database/database.py
Due: validate-model-imports

Add required setup items (currency, property) to default tenant
  src/core/database/database.py
Due: validate-model-imports

Fix E2E test failure: Add required setup data to CI tenant
  scripts/setup/init_database_ci.py
Due: validate-model-imports

Consolidate database initialization: remove duplicate init_database_ci.py
  scripts/README.md
  scripts/dev/check_ci.py
  scripts/setup/init_database_ci.py
  tests/e2e/conftest.py
Due: validate-model-imports

feat: Add CreativeAgentRegistry for dynamic format discovery
  src/core/creative_agent_registry.py
  src/core/schemas.py
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
Due: validate-column-lengths, validate-model-imports

Update AdCP schemas to latest from registry
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
Due: none

Document test agent downtime + update AdCP schemas
  docs/testing/postmortems/2025-10-12-test-agent-downtime.md
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
Due: none

feat: Update Product schema for FormatReference and add migration
  alembic/versions/deb82ef8a598_migrate_product_formats_to_format_.py
  src/core/schemas.py
Due: validate-column-lengths, validate-model-imports

Fix migration to handle duplicate buyer_ref values
  alembic/versions/31ff6218695a_add_buyer_ref_unique_constraint_and_.py
Due: validate-model-imports

feat: Add format search API endpoints
  src/admin/app.py
  src/admin/blueprints/format_search.py
Due: validate-model-imports

Update postmortem with correct root cause
  docs/testing/postmortems/2025-10-12-test-agent-downtime.md
Due: none

Clarify test agent infrastructure ownership in docs
  CLAUDE.md
Due: none

feat: Update list_creative_formats and format_resolver to use registry
  src/core/format_resolver.py
  src/core/main.py
Due: validate-model-imports

Fix sync_creatives MCP wrapper to convert webhook_url to push_notification_config
  .pre-commit-hooks/check_import_usage.py
  src/core/main.py
Due: validate-model-imports

feat: Remove FORMAT_REGISTRY constant and use dynamic discovery
  src/admin/blueprints/products.py
  src/core/schemas.py
Due: validate-column-lengths, validate-model-imports

test: Skip FORMAT_REGISTRY-dependent tests
  tests/unit/test_format_resolver.py
Due: validate-model-imports

Fix database migration crash causing Fly.io downtime (#357)
  CLAUDE.md
  alembic/versions/31ff6218695a_add_buyer_ref_unique_constraint_and_.py
  docs/testing/postmortems/2025-10-12-test-agent-downtime.md
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
Due: validate-model-imports

test: Skip one more FORMAT_REGISTRY test
  tests/unit/test_format_resolver.py
Due: validate-model-imports

test: Skip all format_resolver tests (legacy architecture)
  tests/unit/test_format_resolver.py
Due: validate-model-imports

Remove postmortem and fix PostgreSQL-only architecture in CI
  .github/workflows/test.yml
  CLAUDE.md
  docs/testing/postmortems/2025-10-12-test-agent-downtime.md
Due: none

Remove SQLite support from database_schema.py
  src/core/database/database_schema.py
Due: validate-model-imports

feat: Add dynamic format selector to product creation UI
  src/admin/blueprints/products.py
  templates/add_product.html
Due: validate-model-imports

feat: Pass tenant_id to get_creative_formats for tenant-specific agents
  src/admin/blueprints/products.py
Due: validate-model-imports

feat: Add creative agent preview support to UI
  templates/creative_management.html
Due: none

Path conditions:
  validate-column-lengths: any of: (models|schemas)\.py$
  check-api-deprecations: any of: adapters/.*\.py$
  validate-model-imports: any of: \.py$
