Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

fix: mock is_single_tenant_mode in self-service signup test
  tests/integration/test_self_service_signup.py
Due: detect-test-antipatterns, mypy-no-regression

fix: remove budget/currency at request level in pricing tests
  tests/integration/test_gam_pricing_restriction.py
  tests/integration/test_pricing_models_integration.py
Due: detect-test-antipatterns, mypy-no-regression

fix: use db_pkg.package_id in execute_approved_media_buy
  src/core/tools/media_buy_create.py
  tests/integration/test_format_conversion_approval.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Allow unverified properties in product selection and fix brand manifest policy
  src/admin/blueprints/products.py
  src/core/utils/tenant_utils.py
  templates/add_product_mock.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: Update uv.lock
  uv.lock
Due: none

fix: add encryption key for gemini_api_key test
  tests/integration/test_setup_checklist_service.py
Due: detect-test-antipatterns, mypy-no-regression

Fix property selection and brand context auth issues (#862)
  src/admin/blueprints/products.py
  src/core/utils/tenant_utils.py
  templates/add_product_mock.html
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: use format_ids instead of formats in InventoryProfile tests
  tests/e2e/test_inventory_profile_media_buy.py
Due: detect-test-antipatterns, mypy-no-regression

Fix delivery webhook duplicate prevention
  src/services/delivery_webhook_scheduler.py
  src/services/protocol_webhook_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: handle dict and FormatId types in media buy creation
  src/core/tools/media_buy_create.py
  test_format_id_types.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: add extract_format_id helper for cleaner code
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: simplify back to extract_format_key(fmt)[1]
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: inline format ID extraction for simplicity
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: revert schema_product change, only fix pkg_product format_ids
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: simplify format_id handling - dict access for DB, attribute for request
  src/core/product_conversion.py
  src/core/tools/media_buy_create.py
  test_format_id_types.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: add type ignore for dict access on format_ids (runtime is dict, type says FormatId)
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: remove unnecessary comments
  src/core/product_conversion.py
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Fix/format ids type handling for the format_ids in the products table (#864)
  src/core/tools/media_buy_create.py
  test_format_id_types.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix delivery webhook duplicate prevention (#863)
  src/services/delivery_webhook_scheduler.py
  src/services/protocol_webhook_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: add OCI labels to Dockerfile for GHCR package page
  Dockerfile
Due: none

feat: add Cloud Run Button for one-click GCP deployment
  README.md
  app.json
Due: none

chore: simplify Cloud Run Button env vars
  app.json
Due: none

fix: make OAuth required for Cloud Run Button
  app.json
Due: none

fix: enforce tenant human_review_required for media buy approval (#845)
  .type-ignore-baseline
  src/core/tools/media_buy_create.py
  tests/unit/test_tenant_manual_approval_enforcement.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: add human_review_required=False to tests requiring immediate execution
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
  tests/integration_v2/test_a2a_error_responses.py
Due: detect-test-antipatterns, mypy-no-regression

fix: load full tenant from database for ToolContext
  src/core/helpers/context_helpers.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: add human_review_required=False to test_create_media_buy_v24 fixture
  tests/integration_v2/test_create_media_buy_v24.py
Due: detect-test-antipatterns, mypy-no-regression

feat: Improve Docker quickstart - ARM64 support, better docs, fail-fast validation (#859)
  .github/workflows/release-please.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.cron
  Dockerfile.fly
  Dockerfile.fly.processgroups
  README.md
  app.json
  config/nginx/nginx-multi-tenant.conf
  config/nginx/nginx-simple.conf
  docker-compose.dev.yml
  docker-compose.e2e.yml
  docker-compose.multi-tenant.yml
  docker-compose.override.example.yml
  docs/deployment.md
  docs/quickstart.md
  fly.toml
  fly/README.md
  fly/deploy.sh
  fly/setup-postgres.sh
  fly/setup-secrets.sh
  fly/supervisord.conf
  scripts/deploy/entrypoint.sh
  scripts/deploy/fly-proxy.py
  scripts/deploy/run_all_services.py
  scripts/ops/migrate.py
  src/admin/blueprints/auth.py
  src/admin/blueprints/core.py
  src/core/config_loader.py
  src/core/startup.py
  src/landing/templates/tenant_landing.html
  templates/choose_tenant.html
  templates/tenant_settings.html
  tests/e2e/conftest.py
  tests/integration/test_self_service_signup.py
  tests/unit/test_external_domain_routing.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

feat: show access token directly in advertisers table
  static/js/tenant_settings.js
  templates/tenant_settings.html
Due: none

fix: use nginx user instead of www-data for Alpine
  config/nginx/nginx-simple.conf
Due: none

refactor: improve exception handling and test structure
  src/core/helpers/context_helpers.py
  tests/unit/test_tenant_manual_approval_enforcement.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: enforce tenant human_review_required for media buy approval (#866)
  .type-ignore-baseline
  src/core/helpers/context_helpers.py
  src/core/tools/media_buy_create.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
  tests/integration_v2/test_a2a_error_responses.py
  tests/integration_v2/test_create_media_buy_v24.py
  tests/unit/test_tenant_manual_approval_enforcement.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

feat: improve token display UX
  static/js/tenant_settings.js
  templates/tenant_settings.html
Due: none

feat: show access token directly in advertisers table (#867)
  config/nginx/nginx-simple.conf
  static/js/tenant_settings.js
  templates/tenant_settings.html
Due: none

feat: Improve single-tenant mode UX and Docker quickstart
  .type-ignore-baseline
  README.md
  config/nginx/nginx-simple.conf
  docs/quickstart.md
  src/admin/blueprints/auth.py
  src/admin/blueprints/core.py
  src/admin/blueprints/tenants.py
  src/admin/utils/helpers.py
  src/core/database/database.py
  src/landing/landing_page.py
  src/services/setup_checklist_service.py
  static/js/tenant_settings.js
  templates/base.html
  templates/login.html
  templates/tenant_settings.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

docs: Document CREATE_DEMO_TENANT option in quickstart
  docs/quickstart.md
Due: none

fix: Update test assertion for checklist progress boundary
  tests/integration/test_setup_checklist_service.py
Due: detect-test-antipatterns, mypy-no-regression

feat: Improve single-tenant mode UX and Docker quickstart (#868)
  README.md
  config/nginx/nginx-simple.conf
  docs/quickstart.md
  src/admin/blueprints/auth.py
  src/admin/blueprints/core.py
  src/admin/blueprints/tenants.py
  src/admin/utils/helpers.py
  src/core/database/database.py
  src/landing/landing_page.py
  src/services/setup_checklist_service.py
  static/js/tenant_settings.js
  templates/base.html
  templates/login.html
  templates/tenant_settings.html
  tests/integration/test_setup_checklist_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix property ID selection mode in product creation
  src/admin/blueprints/products.py
  templates/add_product_mock.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
