Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

template-url-validation:
  name: Validate template url_for calls
  entry: uv run pytest tests/integration/test_template_url_validation.py::TestTemplateUrlValidation::test_all_template_url_for_calls_resolve -q
  language: system
  pass_filenames: false

fix scripts
  scripts/test-sales-agent-local-a2a.sh
  scripts/test-sales-agent-local-mcp.sh
Due: none

Fix A2A list_authorized_properties tenant detection without auth (#577)
  scripts/debug_test_agent_tenant.py
  src/a2a_server/adcp_a2a_server.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

fix: approval flow
  src/admin/blueprints/operations.py
  src/admin/services/media_buy_readiness_service.py
  templates/media_buy_detail.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Add service_account_json support to GoogleAdManagerAdapter validation (#585)
  src/adapters/google_ad_manager.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix GAM service account authentication (#579)
  src/adapters/gam/auth.py
  tests/unit/test_gam_service_account_auth.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Switch to logger.info() for MCP debugging visibility (#586)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add comprehensive debug logging for virtual host tenant detection (#575)
  src/core/config_loader.py
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add AGENTS symlink to CLAUDE instructions (#524)
  AGENTS.md
Due: none

Fix authentication and tenant detection issues (#573)
  config/nginx/nginx.conf
  docs/testing/postmortems/2025-10-25-nginx-authorization-header-bug.md
  fly/nginx.conf
  src/a2a_server/adcp_a2a_server.py
  src/core/auth_utils.py
  src/core/main.py
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_json.py
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_ref_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_error_json.py
  src/core/schemas_generated/_schemas_v1_core_format_json.py
  src/core/schemas_generated/_schemas_v1_core_pricing_option_json.py
  src/core/schemas_generated/_schemas_v1_core_product_json.py
  src/core/schemas_generated/_schemas_v1_core_promoted_offerings_json.py
  src/core/schemas_generated/_schemas_v1_core_start_timing_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_create_media_buy_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_authorized_properties_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creative_formats_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_package_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_update_media_buy_request_json.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mcp-schema-alignment

Update generated schemas to match AdCP v2.2.0 spec (#572)
  src/core/schema_helpers.py
  src/core/schemas_generated/_schemas_v1_adagents_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_audio_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_css_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_daast_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_html_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_image_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_javascript_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_promoted_offerings_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_text_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_url_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_vast_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_video_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_assignment_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_manifest_json.py
  src/core/schemas_generated/_schemas_v1_core_delivery_metrics_json.py
  src/core/schemas_generated/_schemas_v1_core_media_buy_json.py
  src/core/schemas_generated/_schemas_v1_core_package_json.py
  src/core/schemas_generated/_schemas_v1_core_performance_feedback_json.py
  src/core/schemas_generated/_schemas_v1_core_promoted_products_json.py
  src/core/schemas_generated/_schemas_v1_core_property_json.py
  src/core/schemas_generated/_schemas_v1_core_protocol_envelope_json.py
  src/core/schemas_generated/_schemas_v1_core_response_json.py
  src/core/schemas_generated/_schemas_v1_core_sub_asset_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_create_media_buy_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_create_media_buy_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_media_buy_delivery_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_package_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_provide_performance_feedback_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_provide_performance_feedback_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_update_media_buy_response_json.py
  src/core/schemas_generated/_schemas_v1_signals_activate_signal_request_json.py
  src/core/schemas_generated/_schemas_v1_signals_activate_signal_response_json.py
  src/core/schemas_generated/_schemas_v1_signals_get_signals_request_json.py
  src/core/schemas_generated/_schemas_v1_signals_get_signals_response_json.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix remaining service account credential wrapping issues (#581)
  src/adapters/gam/utils/health_check.py
  src/admin/blueprints/inventory.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

fix: media buys & creatives
  alembic/versions/e38f2f6f395a_add_mock_manual_approval_required.py
  scripts/test-sales-agent-local-a2a.sh
  scripts/test-sales-agent-local-mcp.sh
  src/admin/blueprints/creatives.py
  src/admin/blueprints/operations.py
  src/admin/blueprints/settings.py
  src/admin/services/media_buy_readiness_service.py
  src/core/database/models.py
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix MCP list_authorized_properties tenant detection without context (#578)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

small change to preview
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add explicit logging for tenant detection header values (#589)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add timeouts to GAM operations to prevent indefinite hangs (#587)
  scripts/cancel_sync.py
  scripts/check_accuweather_sync.sh
  scripts/initialize_tenant_mgmt_api_key.py
  scripts/quick_sync_check.sh
  src/adapters/gam/managers/orders.py
  src/adapters/gam/utils/timeout_handler.py
  src/adapters/gam_inventory_discovery.py
  src/services/gam_inventory_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add detailed logging to debug MCP header extraction
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add detailed logging to debug MCP header extraction (#591)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add stderr debugging output for MCP header extraction
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add stderr debugging output for MCP header extraction (#592)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add 120s timeout to database commit operations to prevent indefinite hangs
  src/services/gam_inventory_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add connection keep-alive and better error handling for long-running syncs
  src/services/gam_inventory_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix database commit timeout - sync hangs on write phase (#593)
  src/services/gam_inventory_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add comprehensive stderr debugging to get_principal_from_context
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add comprehensive stderr debugging to get_principal_from_context (#594)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

URGENT: Fix deployment crash - product.adapter_type doesn't exist
  src/services/delivery_simulator.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

URGENT: Fix deployment crash - product.adapter_type doesn't exist (#595)
  src/services/delivery_simulator.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Use logger.error() for MCP debugging visibility
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Use logger.error() for MCP debugging visibility (#596)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix virtual host detection: check virtual_host before subdomain
  src/core/main.py
  tests/unit/test_auth_removal_simple.py
  tests/unit/test_tenant_isolation_breach_fix.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix virtual host detection: check virtual_host before subdomain (#598)
  src/core/main.py
  tests/unit/test_auth_removal_simple.py
  tests/unit/test_tenant_isolation_breach_fix.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add comprehensive header logging for MCP virtual host debugging
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Debug: Log ALL MCP headers to verify Apx-Incoming-Host (#599)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add header logging at tenant detection level to debug MCP virtual host issue
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Move inventory sync to background threads to survive container restarts
  src/admin/blueprints/inventory.py
  src/services/background_sync_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Move inventory sync to background threads to survive container restarts (#601)
  src/admin/blueprints/inventory.py
  src/services/background_sync_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add header logging at tenant detection level to debug MCP virtual host issue (#600)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Remove duplicate inventory sync endpoint from gam.py
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

tixing packages
  src/adapters/mock_ad_server.py
  src/core/main.py
  src/core/schemas.py
  templates/media_buy_detail.html
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$
