Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

feat: Publish Docker images to GitHub Container Registry on release
  .github/workflows/release-please.yml
Due: none

docs: Document port architecture in fly.toml
  fly.toml
Due: none

feat: Publish Docker images on release (#855)
  .github/workflows/release-please.yml
  fly.toml
Due: none

fix: handle BrandManifestReference wrapper in test
  .type-ignore-baseline
  tests/unit/test_pydantic_schema_alignment.py
Due: detect-test-antipatterns, mypy-no-regression

fix: handle library wrapper types in tests
  tests/unit/test_adcp_contract.py
  tests/unit/test_datetime_string_parsing.py
  tests/unit/test_pydantic_schema_alignment.py
Due: detect-test-antipatterns, mypy-no-regression

docs: Update quickstart to use published Docker images
  README.md
  docker-compose.prod.yml
  docs/SETUP.md
  docs/deployment.md
Due: none

docs: Update quickstart to use published Docker images (#857)
  README.md
  docker-compose.prod.yml
  docs/SETUP.md
  docs/deployment.md
Due: none

fix: Handle library wrapper types and updated required fields
  .mypy_baseline
  src/adapters/mock_ad_server.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  tests/integration/test_a2a_response_compliance.py
  tests/integration/test_delivery_webhooks_force.py
  tests/integration/test_mcp_contract_validation.py
  tests/integration/test_policy.py
  tests/integration_v2/test_create_media_buy_v24.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_pydantic_adcp_alignment.py
  tests/unit/test_pydantic_schema_alignment.py
  tests/unit/test_schema_validation_modes.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: resolve CI failures from schema compliance refactoring
  src/core/tools/media_buy_create.py
  tests/integration/test_duplicate_product_validation.py
  tests/integration/test_list_creative_formats_params.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
  tests/integration_v2/test_error_paths.py
  tests/integration_v2/test_minimum_spend_validation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: use getattr for deprecated CreateMediaBuyRequest fields
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: use getattr for push_notification_config in GAM adapter
  src/adapters/google_ad_manager.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: consolidate docker-compose environment configuration via env_file (#853)
  .env.template
  alembic/versions/4b11f64bbebe_add_ai_config_to_tenants.py
  docker-compose.yml
  docs/testing/MOCK_ADAPTER_AI_TEST_ORCHESTRATION.md
  pyproject.toml
  src/adapters/ai_test_orchestrator.py
  src/adapters/mock_ad_server.py
  src/adapters/test_scenario_parser.py
  src/admin/blueprints/creatives.py
  src/admin/blueprints/settings.py
  src/admin/blueprints/tenants.py
  src/core/database/models.py
  src/core/utils/naming.py
  src/services/ai/__init__.py
  src/services/ai/agents/__init__.py
  src/services/ai/agents/naming_agent.py
  src/services/ai/agents/policy_agent.py
  src/services/ai/agents/review_agent.py
  src/services/ai/config.py
  src/services/ai/factory.py
  src/services/ai_product_service.py
  src/services/policy_check_service.py
  templates/tenant_settings.html
  tests/e2e/conftest.py
  tests/unit/test_ai_orchestrator.py
  tests/unit/test_ai_review.py
  tests/unit/test_ai_service_factory.py
  tests/unit/test_mock_adapter_keywords.py
  tests/unit/test_naming_agent.py
  tests/unit/test_review_agent.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment, mypy-no-regression

fix: resolve mypy type errors without adding type: ignore comments
  src/a2a_server/adcp_a2a_server.py
  src/core/schema_helpers.py
  src/core/schemas.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_delivery.py
  src/core/tools/products.py
  src/core/tools/properties.py
  src/core/tools/signals.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: update policy integration tests for Pydantic AI migration
  tests/integration/test_policy.py
Due: detect-test-antipatterns, mypy-no-regression

docs: Update quickstart to use published Docker images (#857)
  .env.template
  README.md
  docker-compose.prod.yml
  docs/SETUP.md
  docs/deployment.md
  docs/security.md
  scripts/setup/init_database.py
  src/admin/blueprints/auth.py
  tests/unit/test_oauth_config.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

refactor: pass API keys via Provider objects instead of env vars
  src/services/ai/factory.py
  tests/unit/test_ai_service_factory.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

feat: Pydantic AI multi-provider integration with admin UI (#860)
  alembic/versions/4b11f64bbebe_add_ai_config_to_tenants.py
  docs/testing/MOCK_ADAPTER_AI_TEST_ORCHESTRATION.md
  pyproject.toml
  src/adapters/ai_test_orchestrator.py
  src/adapters/mock_ad_server.py
  src/adapters/test_scenario_parser.py
  src/admin/blueprints/creatives.py
  src/admin/blueprints/settings.py
  src/admin/blueprints/tenants.py
  src/core/database/models.py
  src/core/utils/naming.py
  src/services/ai/__init__.py
  src/services/ai/agents/__init__.py
  src/services/ai/agents/naming_agent.py
  src/services/ai/agents/policy_agent.py
  src/services/ai/agents/review_agent.py
  src/services/ai/config.py
  src/services/ai/factory.py
  src/services/ai_product_service.py
  src/services/policy_check_service.py
  templates/tenant_settings.html
  tests/integration/test_policy.py
  tests/unit/test_ai_orchestrator.py
  tests/unit/test_ai_review.py
  tests/unit/test_ai_service_factory.py
  tests/unit/test_mock_adapter_keywords.py
  tests/unit/test_naming_agent.py
  tests/unit/test_review_agent.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, schema-database-alignment, mypy-no-regression

docs: Update quickstart to use published Docker images (#857) (#861)
  .env.template
  docs/security.md
  scripts/setup/init_database.py
  src/admin/blueprints/auth.py
  tests/unit/test_oauth_config.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Build multi-arch Docker images for ARM64 (Apple Silicon) support
  .github/workflows/release-please.yml
Due: none

feat: Add A2A routing to proxy, improve Fly.io docs
  docker-compose.yml
  docs/deployment.md
  scripts/deploy/fly-proxy.py
Due: mypy-no-regression

refactor: Simplify Docker deployment structure with nginx everywhere
  Dockerfile
  Dockerfile.cron
  Dockerfile.fly
  Dockerfile.fly.processgroups
  README.md
  config/nginx/nginx-multi-tenant.conf
  config/nginx/nginx-simple.conf
  docker-compose.dev.yml
  docker-compose.multi-tenant.yml
  docker-compose.override.example.yml
  docker-compose.yml
  docs/deployment.md
  fly/README.md
  fly/deploy.sh
  fly/setup-postgres.sh
  fly/setup-secrets.sh
  fly/supervisord.conf
  scripts/deploy/fly-proxy.py
  scripts/deploy/run_all_services.py
Due: mypy-no-regression

fix: Update fly.toml and Dockerfile for production deployment
  Dockerfile
  fly.toml
Due: none

fix: Fail fast on missing required env vars at startup
  scripts/deploy/entrypoint.sh
  src/core/startup.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Remove env_file extended syntax for docker-compose v1 compatibility
  docker-compose.multi-tenant.yml
  docker-compose.yml
Due: none

ci: use Docker Compose v2 instead of v1
  .github/workflows/test.yml
  docker-compose.multi-tenant.yml
  docker-compose.yml
Due: none

fix: add docker-compose.e2e.yml for E2E tests
  docker-compose.e2e.yml
  tests/e2e/conftest.py
Due: detect-test-antipatterns, mypy-no-regression

fix: remove campaign_name references - not in AdCP spec
  src/core/utils/naming.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: improve E2E test cleanup to use correct compose file
  .github/workflows/test.yml
Due: none

fix: reset mypy baseline to 0
  .mypy_baseline
Due: none

chore: upgrade adcp to 2.15.0 for type ergonomics
  pyproject.toml
  uv.lock
Due: none

fix: update release workflow to use Dockerfile instead of Dockerfile.fly
  .github/workflows/release-please.yml
Due: none

fix: only expose port 8000 and remove incorrect comment
  Dockerfile
Due: none

chore: upgrade adcp to 2.16.0 with response type ergonomics
  pyproject.toml
  src/core/tools/products.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: add single-tenant mode with auto-created default tenant
  Dockerfile
  README.md
  docs/deployment.md
  docs/quickstart.md
  fly.toml
  scripts/deploy/run_all_services.py
  scripts/ops/migrate.py
  src/admin/blueprints/auth.py
  src/core/config_loader.py
  templates/choose_tenant.html
  templates/tenant_settings.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: update tests for adcp 2.16.0 strict field validation
  tests/integration/test_format_conversion_approval.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration_v2/test_create_media_buy_v24.py
  tests/integration_v2/test_mcp_endpoints_comprehensive.py
Due: detect-test-antipatterns, mypy-no-regression

feat: add landing page for single-tenant root URL
  config/nginx/nginx-simple.conf
  src/admin/blueprints/core.py
  tests/unit/test_external_domain_routing.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

chore: update landing page links to Agentic Advertising Foundation
  src/landing/templates/tenant_landing.html
Due: no-fn-calls

fix: handle StartTiming string format and remaining test fixes
  src/core/tools/media_buy_create.py
  tests/integration/test_format_conversion_approval.py
  tests/integration_v2/test_create_media_buy_v24.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

chore: rename to AgenticAdvertising.Org in footer
  src/landing/templates/tenant_landing.html
Due: no-fn-calls

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
