Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Check for removed columns still referenced in code
      - id: check-schema-references
        name: Check schema references
        entry: python scripts/check_schema_references.py
        language: system
        pass_filenames: false
        always_run: true
        
      # Validate model column lengths
      - id: validate-column-lengths
        name: Validate database column lengths
        entry: python scripts/validate_column_lengths.py
        language: system
        files: '(models|schemas)\.py$'
        
      # Check for tenant.config references
      - id: no-tenant-config
        name: No tenant.config references
        entry: sh -c 'if grep -r "tenant\.config\|tenant\[.config.\]" --include="*.py" . | grep -v "test_migration\|postmortem\|pre-commit"; then echo "Found tenant.config references!"; exit 1; fi'
        language: system
        pass_filenames: false
        
      # Validate migrations can run
      - id: test-migrations
        name: Test database migrations
        entry: sh -c 'cp adcp_local.db .test.db && DATABASE_URL=sqlite:///.test.db python migrate.py && rm .test.db'
        language: system
        pass_filenames: false
        stages: [commit]
        
      # Check for API deprecations
      - id: check-api-deprecations
        name: Check for deprecated API usage
        entry: python scripts/check_api_deprecations.py
        language: system
        files: 'adapters/.*\.py$'
        
      # Validate Pydantic vs SQLAlchemy imports
      - id: validate-model-imports
        name: Validate model imports
        entry: python scripts/validate_model_imports.py
        language: system
        files: '\.py$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: check-ast
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.272
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

fix: Fix MCP test template with correct AdCP workflow tools
  templates/mcp_test.html
Due: none

fix: Update all template routes from tenant_detail to tenant_dashboard
  admin_ui.py
  templates/creative_formats.html
  templates/products.html
  templates/targeting_browser.html
  templates/targeting_browser_simple.html
  templates/tenant_dashboard.html
Due: validate-model-imports

fix: Handle JSONB vs string policy_settings in get_products
  main.py
Due: validate-model-imports

feat: Improve GAM configuration and MCP test page
  templates/mcp_test.html
  templates/tenant_settings.html
Due: none

test: Add comprehensive tests for MCP protocol and test page
  tests/integration/test_mcp_protocol.py
  tests/unit/test_mcp_test_page.py
Due: validate-model-imports

chore: Clean up duplicate and obsolete test files
  admin_ui_dashboard_fixed.py
  setup_tenant.py
  templates/tenant_dashboard_v2.html
  test_dashboard_auth.py
  test_dashboard_authenticated.py
  test_existing_pages.py
  test_update_tenant.py
  tests/README.md
  tests/integration/test_database_integration.py
  tests/integration/test_gam_tenant_setup.py
  tests/integration/test_tenant_settings_500_fix.py
  tests/integration/test_tenant_settings_comprehensive.py
  tests/ui/test_comprehensive_pages.py
  tests/ui/test_simple_parsing.py
  tests/unit/test_dashboard.py
  tests/unit/test_targeting_translation.py
Due: validate-model-imports

fix: Critical security and reliability improvements from code review
  admin_ui.py
  main.py
  templates/mcp_test.html
  validation.py
Due: validate-model-imports

chore: Remove legacy tenant_detail_old function and unused template
  admin_ui.py
  templates/tenant_detail.html
Due: validate-model-imports

fix: Critical security fixes from comprehensive code review
  admin_ui.py
  templates/bulk_product_upload.html
  templates/mcp_test.html
Due: validate-model-imports

docs: Add comprehensive database patterns guide and standardization
  CLAUDE.md
  README.md
  docs/database-patterns.md
Due: none

fix: Fix CI test failures - handle migration errors and SQL syntax
  alembic/versions/014_add_context_persistence.py
  app.py
  database.py
  entrypoint.sh
  init_database.py
  main.py
  migrate.py
  run_server.py
  scripts/run_unified_server.py
  tests/integration/test_dashboard_integration.py
  unified_proxy_server.py
  unified_server.py
Due: validate-model-imports

test: Add comprehensive test infrastructure and fix test failures
  .pre-commit-config.yaml
  run_all_tests.sh
  tests/integration/test_dashboard_integration.py
  tests/unit/test_dashboard.py
Due: validate-model-imports

feat: Add automatic pre-commit installation to workspace setup
  setup_conductor_workspace.sh
Due: none

fix: Critical migration safety - never modify existing migrations
  .pre-commit-config.yaml
  CLAUDE.md
  alembic/versions/014_add_context_persistence.py
  alembic/versions/015_handle_partial_schemas.py
  scripts/check_migration_modifications.py
Due: validate-column-lengths, validate-model-imports

test: Testing pre-push hook
  test_file.txt
Due: none

fix: Ensure hooks work correctly in git worktrees
  .pre-commit-config.yaml
  setup_conductor_workspace.sh
Due: none

fix: Fix all unit test failures - handle database result types correctly
  admin_ui.py
  tests/unit/test_admin_ui_oauth.py
  tests/unit/test_dashboard.py
Due: validate-model-imports

fix: Fix Alembic migration conflicts and integration test setup
  alembic/versions/017_handle_partial_schemas.py
  tests/integration/test_dashboard_integration.py
Due: validate-column-lengths, validate-model-imports

fix: Fix all unit test failures - handle database result types correctly
  database.py
  tests/integration/test_admin_ui_pages.py
  tests/integration/test_dashboard_500_check.py
  tests/integration/test_dashboard_integration.py
  tests/integration/test_dashboard_routes.py
  tests/integration/test_gam_tenant_setup.py
  tests/integration/test_mcp_protocol.py
Due: validate-model-imports

fix: Fix remaining integration test failures for CI
  tests/integration/test_dashboard_integration.py
  tests/integration/test_dashboard_routes.py
  tests/integration/test_task_verification.py
Due: validate-model-imports

fix: Fix integration test failures - handle SQLite migration constraints
  alembic/versions/014_add_context_persistence.py
  alembic/versions/015_workflow_improvements.py
  alembic/versions/017_handle_partial_schemas.py
  database.py
Due: validate-column-lengths, validate-model-imports
