Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

fix: Apply debugging agent fixes for 11 remaining test failures
  src/core/auth.py
  tests/integration/test_duplicate_product_validation.py
  tests/integration_v2/conftest.py
  tests/integration_v2/test_error_paths.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Move async format fetching outside database transactions
  src/core/tools/creatives.py
  tests/integration_v2/test_signals_agent_workflow.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Fix creative lifecycle tests and schema import mismatch
  tests/integration_v2/test_creative_lifecycle_mcp.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Fix test_create_media_buy_with_creative_ids patch targets and signature
  tests/integration_v2/test_creative_lifecycle_mcp.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Add Error class import to main.py with noqa
  src/core/main.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, validate-adapter-usage, no-fn-calls, mcp-schema-alignment, mypy-no-regression

fix: Integration tests, mypy errors, and test infrastructure improvements
  A2A_TEST_REORGANIZATION.md
  API_KEY_TEST_ANALYSIS.md
  TEST_CLEANUP_PLAN.md
  src/a2a_server/adcp_a2a_server.py
  src/admin/blueprints/authorized_properties.py
  src/admin/domain_access.py
  src/core/context_manager.py
  src/core/database/models.py
  src/core/database/queries.py
  src/core/logging_config.py
  src/core/retry_utils.py
  src/core/testing_hooks.py
  src/core/tools/products.py
  src/core/tools/properties.py
  src/services/activity_feed.py
  src/services/default_products.py
  src/services/property_verification_service.py
  tests/conftest.py
  tests/e2e/test_a2a_endpoints_working.py
  tests/e2e/test_a2a_regression_prevention.py
  tests/integration/link_validator.py
  tests/integration/test_a2a_standard_endpoints.py
  tests/integration/test_ai_products.py
  tests/integration/test_dashboard_reliability.py
  tests/integration/test_database_integration.py
  tests/integration/test_generative_creatives.py
  tests/integration/test_mcp_protocol.py
  tests/integration/test_mock_ai_per_creative.py
  tests/integration/test_notification_urls_exist.py
  tests/integration/test_tenant_settings_comprehensive.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_ai_orchestrator.py
  tests/unit/test_mock_server_response_headers.py
  tests/unit/test_product_validation.py
  tests/unit/test_workflow_architecture.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mypy-no-regression

fix: Mark test_workflow_architecture as requires_db
  tests/unit/test_workflow_architecture.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Implement code review recommendations for integration_v2 tests
  src/core/tools/products.py
  src/services/dynamic_pricing_service.py
  src/services/webhook_delivery_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Replace API key fixture with database-backed mock
  tests/integration/test_tenant_management_api_integration.py
Due: detect-test-antipatterns, mypy-no-regression

docs: Remove temporary analysis documentation files
  A2A_TEST_REORGANIZATION.md
  API_KEY_TEST_ANALYSIS.md
  TEST_CLEANUP_PLAN.md
Due: none

refactor: Move GAM timezone test from integration to e2e
  tests/e2e/test_gam_timezone.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Move workflow test to integration and re-skip AI products test
  tests/integration/test_ai_products.py
  tests/integration/test_workflow_architecture.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Resolve 5 failing integration_v2 tests in CI
  INVESTIGATION_REPORT_TEST_FAILURES.md
  src/core/tools/products.py
  tests/integration_v2/test_mcp_endpoints_comprehensive.py
  tests/integration_v2/test_signals_agent_workflow.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Add missing console import and fix test assertion in test_full_workflow
  src/core/tools/media_buy_delivery.py
  tests/integration_v2/test_mcp_endpoints_comprehensive.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

refactor: Remove unused quick_create_products endpoint and tests
  src/admin/blueprints/api.py
  tests/integration/test_ai_products.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Integration test failures from CI
  tests/integration/test_generative_creatives.py
  tests/integration/test_tenant_settings_comprehensive.py
  tests/integration/test_workflow_architecture.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Correct create_tenant_with_timestamps call signature
  tests/integration/test_generative_creatives.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Add missing Principal and MediaBuy imports
  tests/integration/test_generative_creatives.py
Due: detect-test-antipatterns, mypy-no-regression

chore: Remove debug print statements and investigation report
  INVESTIGATION_REPORT_TEST_FAILURES.md
  src/core/tools/products.py
  tests/e2e/schemas/compliance_report.json
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Skip generative creative tests temporarily
  tests/integration/test_generative_creatives.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Enable all 189 integration_v2 tests - achieve 100% coverage goal (#626)
  .github/workflows/test.yml
  src/a2a_server/adcp_a2a_server.py
  src/core/auth.py
  src/core/database/models.py
  src/core/main.py
  src/core/schemas.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_delivery.py
  src/core/tools/products.py
  src/services/activity_feed.py
  src/services/dynamic_pricing_service.py
  tests/integration/test_duplicate_product_validation.py
  tests/integration_v2/conftest.py
  tests/integration_v2/test_a2a_error_responses.py
  tests/integration_v2/test_a2a_skill_invocation.py
  tests/integration_v2/test_admin_ui_data_validation.py
  tests/integration_v2/test_create_media_buy_roundtrip.py
  tests/integration_v2/test_create_media_buy_v24.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
  tests/integration_v2/test_dashboard_integration.py
  tests/integration_v2/test_error_paths.py
  tests/integration_v2/test_mcp_endpoints_comprehensive.py
  tests/integration_v2/test_mcp_tool_roundtrip_validation.py
  tests/integration_v2/test_product_deletion.py
  tests/integration_v2/test_signals_agent_workflow.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: Integration tests, mypy errors, and test infrastructure improvements (#631)
  src/a2a_server/adcp_a2a_server.py
  src/admin/blueprints/api.py
  src/admin/blueprints/authorized_properties.py
  src/admin/domain_access.py
  src/core/context_manager.py
  src/core/database/queries.py
  src/core/logging_config.py
  src/core/retry_utils.py
  src/core/testing_hooks.py
  src/core/tools/products.py
  src/core/tools/properties.py
  src/services/default_products.py
  src/services/property_verification_service.py
  tests/conftest.py
  tests/e2e/test_a2a_endpoints_working.py
  tests/e2e/test_a2a_regression_prevention.py
  tests/e2e/test_gam_timezone.py
  tests/integration/link_validator.py
  tests/integration/test_a2a_standard_endpoints.py
  tests/integration/test_ai_products.py
  tests/integration/test_dashboard_reliability.py
  tests/integration/test_database_integration.py
  tests/integration/test_generative_creatives.py
  tests/integration/test_mcp_protocol.py
  tests/integration/test_mock_ai_per_creative.py
  tests/integration/test_notification_urls_exist.py
  tests/integration/test_tenant_management_api_integration.py
  tests/integration/test_tenant_settings_comprehensive.py
  tests/integration/test_workflow_architecture.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_ai_orchestrator.py
  tests/unit/test_mock_server_response_headers.py
  tests/unit/test_product_validation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: Import get_testing_context in list_authorized_properties
  src/core/tools/properties.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

test: Add integration test for list_authorized_properties context handling
  scripts/test_list_properties_fix.py
  tests/integration_v2/test_list_authorized_properties_context.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Remove access_token from Tenant test fixtures
  tests/integration_v2/test_list_authorized_properties_context.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Add required fields to ToolContext in test
  tests/integration_v2/test_list_authorized_properties_context.py
Due: detect-test-antipatterns, mypy-no-regression

test: Simplify integration test to focus on import bug fix
  tests/integration_v2/test_list_authorized_properties_context.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Import get_testing_context in list_authorized_properties (#632)
  scripts/test_list_properties_fix.py
  src/core/tools/properties.py
  tests/integration_v2/test_list_authorized_properties_context.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Resolve 6 failing integration tests - mock paths and missing imports
  tests/integration/test_a2a_response_message_fields.py
  tests/integration/test_database_health_integration.py
Due: detect-test-antipatterns, mypy-no-regression

chore: Remove temporary analysis and progress files
  EXTRA_FIELDS_ANALYSIS.md
  MYPY_PROGRESS_SUMMARY.md
  PR_SUMMARY.md
  mypy_after.txt
  mypy_core_initial.txt
  mypy_core_reduction_summary.txt
  mypy_final.txt
  mypy_final_check.txt
  mypy_initial.txt
  mypy_progress_chart.txt
  mypy_reduction_report.md
  mypy_services_final.txt
  mypy_services_start.txt
  mypy_target_errors.txt
Due: none

fix: Add A2A protocol message field to all skill handlers
  src/a2a_server/adcp_a2a_server.py
  tests/helpers/a2a_response_validator.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: Resolve integration test failures - Product model and validation errors
  tests/conftest_db.py
  tests/integration/test_context_persistence.py
  tests/integration/test_database_health_integration.py
  tests/integration/test_database_integration.py
  tests/integration/test_delivery_simulator_restart.py
  tests/integration/test_generative_creatives.py
  tests/integration/test_tenant_settings_comprehensive.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Resolve database constraint violations and A2A response validation
  src/a2a_server/adcp_a2a_server.py
  tests/conftest_db.py
  tests/integration/test_delivery_simulator_restart.py
  tests/integration/test_generative_creatives.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: Resolve database constraint violations and A2A response validation
  tests/helpers/a2a_response_validator.py
  tests/integration/test_database_health_integration.py
  tests/integration/test_database_integration.py
  tests/integration/test_delivery_simulator_restart.py
  tests/integration/test_generative_creatives.py
  tests/integration/test_list_creative_formats_params.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Resolve final 15 integration test failures
  tests/integration/test_database_integration.py
  tests/integration/test_delivery_simulator_restart.py
  tests/integration/test_generative_creatives.py
  tests/integration/test_list_creative_formats_params.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Resolve final 15 integration test failures
  tests/integration/test_generative_creatives.py
  tests/integration/test_list_creative_formats_params.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Patch get_creative_agent_registry at source module, not import location
  tests/integration/test_generative_creatives.py
  tests/integration/test_list_creative_formats_params.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Resolve 9 integration test failures
  src/core/tools/creative_formats.py
  tests/integration/test_generative_creatives.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Remove invalid media_buy_id parameter from sync_creatives test calls
  tests/integration/test_generative_creatives.py
Due: detect-test-antipatterns, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
