Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$

fix: Resolve remaining 2 integration test failures
  src/core/tools/creative_formats.py
  tests/integration/test_delivery_simulator_restart.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Remove invalid parameters from integration test fixtures
  tests/integration/test_delivery_simulator_restart.py
  tests/integration/test_generative_creatives.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Skip generative creative tests in CI and fix delivery simulator tenant setup
  tests/integration/test_delivery_simulator_restart.py
  tests/integration/test_generative_creatives.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Correct Tenant field name from adapter_type to ad_server
  src/services/delivery_simulator.py
  tests/integration/test_delivery_simulator_restart.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Add missing start_time/end_time fields and fix budget field reference
  src/services/delivery_simulator.py
  tests/integration/test_delivery_simulator_restart.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Docker test cleanup to prevent 100GB+ resource accumulation
  docs/testing/docker-cleanup.md
  run_all_tests.sh
  scripts/cleanup_docker.sh
  tests/e2e/conftest.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Replace threading.local() with contextvars for async-safe A2A request context
  schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json
  src/a2a_server/adcp_a2a_server.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: Update tests to use ContextVars instead of threading.local()
  tests/integration/test_a2a_response_message_fields.py
  tests/integration_v2/test_a2a_skill_invocation.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Update integration tests to use float budgets per AdCP v2.2.0 spec
  tests/integration/test_mcp_tool_roundtrip_minimal.py
  tests/integration_v2/test_a2a_error_responses.py
  tests/integration_v2/test_a2a_skill_invocation.py
  tests/integration_v2/test_error_paths.py
  tests/integration_v2/test_mcp_endpoints_comprehensive.py
  tests/integration_v2/test_minimum_spend_validation.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Replace threading.local() with contextvars for async-safe A2A request context (#637)
  schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json
  src/a2a_server/adcp_a2a_server.py
  tests/integration/test_a2a_response_message_fields.py
  tests/integration_v2/test_a2a_skill_invocation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: Update remaining integration tests for float budget format
  tests/integration_v2/test_error_paths.py
  tests/integration_v2/test_mcp_endpoints_comprehensive.py
  tests/integration_v2/test_minimum_spend_validation.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Update DNS widget to use A record pointing to Approximated proxy IP
  CLAUDE.md
  docker-compose.yml
  src/admin/blueprints/settings.py
  templates/tenant_settings.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Update DNS widget to use A record pointing to Approximated proxy IP (#636)
  CLAUDE.md
  docker-compose.yml
  src/admin/blueprints/settings.py
  templates/tenant_settings.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: Add PgBouncer support for Fly.io managed PostgreSQL
  docs/deployment/pgbouncer.md
  src/core/database/database_session.py
  tests/unit/test_pgbouncer_detection.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Update remaining integration tests for float budget format
  src/core/database/database_session.py
  tests/integration/test_database_timeouts.py
  tests/integration/test_duplicate_product_validation.py
  tests/integration/test_health_route_migration.py
  tests/integration_v2/test_error_paths.py
  tests/integration_v2/test_minimum_spend_validation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Add missing ToolError imports and fix database health state
  tests/integration/test_database_timeouts.py
  tests/integration_v2/test_error_paths.py
  tests/integration_v2/test_minimum_spend_validation.py
Due: detect-test-antipatterns, mypy-no-regression

remove _call_webhook_for_creative_status
  src/admin/blueprints/creatives.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

undo debug changes
  src/core/webhook_authenticator.py
  src/core/webhook_delivery.py
  src/core/webhook_validator.py
  src/services/protocol_webhook_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

wip
  src/admin/blueprints/creatives.py
  src/core/webhook_authenticator.py
  src/core/webhook_delivery.py
  src/core/webhook_validator.py
  src/services/protocol_webhook_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

undo debug changes
  src/admin/blueprints/creatives.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

undo debug changes
  src/admin/blueprints/creatives.py
  src/services/protocol_webhook_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

undo debug changes
  src/services/protocol_webhook_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

put back push_notification protocol based
  src/admin/blueprints/creatives.py
  src/services/protocol_webhook_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix webhook delivery
  src/admin/blueprints/creatives.py
  src/services/protocol_webhook_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix comment
  src/a2a_server/adcp_a2a_server.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

add log
  src/a2a_server/adcp_a2a_server.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: AdCP responses now properly omit null/empty optional fields
  src/core/schemas.py
  src/core/tools/properties.py
  tests/integration/test_a2a_response_compliance.py
  tests/integration_v2/test_a2a_error_responses.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_authorized_properties.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: AdCP responses now properly omit null/empty optional fields (#638)
  src/core/schemas.py
  src/core/tools/properties.py
  tests/integration/test_a2a_response_compliance.py
  tests/integration_v2/test_a2a_error_responses.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_authorized_properties.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

refactor: Add public reset_health_state() API for test isolation
  src/core/database/database_session.py
  tests/integration/test_database_timeouts.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

refactor: Improve PgBouncer detection and test clarity (code review)
  src/core/database/database_session.py
  tests/integration/test_duplicate_product_validation.py
  tests/integration_v2/test_error_paths.py
  tests/integration_v2/test_minimum_spend_validation.py
  tests/unit/test_pgbouncer_detection.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

docs: Add performance metrics and improve code documentation
  docs/deployment/pgbouncer.md
  src/core/database/database_session.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Use SQLAlchemy event listener for statement_timeout with PgBouncer
  docs/database-resilience.md
  src/core/database/database_session.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

test: Fix PgBouncer detection tests to mock event listener
  tests/unit/test_pgbouncer_detection.py
Due: detect-test-antipatterns, mypy-no-regression

Code Review Improvements: PgBouncer Detection, Documentation & Test Clarity (#640)
  docs/deployment/pgbouncer.md
  src/core/database/database_session.py
  tests/integration/test_duplicate_product_validation.py
  tests/integration_v2/test_error_paths.py
  tests/integration_v2/test_minimum_spend_validation.py
  tests/unit/test_pgbouncer_detection.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Use SQLAlchemy event listener for statement_timeout with PgBouncer (#641)
  docs/database-resilience.md
  src/core/database/database_session.py
  tests/unit/test_pgbouncer_detection.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: AdCP responses now exclude None values in JSON serialization
  src/core/schemas.py
  tests/unit/test_adcp_json_serialization.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: AdCP responses now exclude None values in JSON serialization (#642)
  src/core/schemas.py
  tests/unit/test_adcp_json_serialization.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression
