Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

refactor: Consolidate targeting widget files and remove redundancy
  templates/add_product.html
  templates/components/targeting_selector_widget.html
  templates/components/targeting_selector_widget_v2.html
  templates/edit_product.html
Due: none

feat: Add real-time custom targeting values endpoint and visual selector widget (#678)
  src/admin/blueprints/inventory.py
  static/js/targeting_widget.js
  templates/add_product.html
  templates/components/targeting_selector_widget.html
  templates/edit_product.html
  templates/targeting_browser.html
  tests/integration/test_targeting_values_endpoint.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

feat: Simplify targeting selector to match existing UI patterns
  templates/add_product.html
  templates/components/targeting_selector_simple.html
  templates/edit_product.html
Due: none

feat: Simplify targeting selector to match existing UI patterns (#679)
  templates/add_product.html
  templates/components/targeting_selector_simple.html
  templates/edit_product.html
Due: none

chore: Add visual markers around targeting selector include
  templates/edit_product.html
Due: none

fix: Add targeting selector to GAM product edit template
  templates/add_product_gam.html
Due: none

docs: Add clear comments distinguishing targeting vs inventory sections
  templates/add_product_gam.html
Due: none

fix: Add required AdCP fields to format conversion test fixtures
  tests/integration/test_format_conversion_approval.py
Due: detect-test-antipatterns, mypy-no-regression

debug: Add visual markers to diagnose targeting selector rendering issue (#680)
  templates/add_product_gam.html
  templates/edit_product.html
Due: none

fix: Correct API field name mismatch in targeting selector widget
  templates/components/targeting_selector_simple.html
Due: none

fix: Correct API field name mismatch in targeting selector widget (#681)
  templates/components/targeting_selector_simple.html
Due: none

fix: Add null safety checks for audience.type and audience.segment_type
  templates/targeting_browser.html
Due: none

fix: Convert FormatReference to FormatId in MediaPackage reconstruction (#656)
  src/core/tools/media_buy_create.py
  tests/integration/test_a2a_response_compliance.py
  tests/integration/test_format_conversion_approval.py
  tests/integration/test_gam_validation_integration.py
  tests/integration/test_impression_tracker_flow.py
  tests/integration/test_mcp_contract_validation.py
  tests/integration/test_media_buy_readiness.py
  tests/integration/test_mock_adapter.py
  tests/integration/test_notification_urls_exist.py
  tests/integration/test_oauth_session_handling.py
  tests/integration/test_policy.py
  tests/integration/test_schema_contract_validation.py
  tests/integration/test_schema_field_validation.py
  tests/integration/test_self_service_signup.py
  tests/integration/test_spec_compliance.py
  tests/integration/test_template_url_validation.py
  tests/integration/test_tool_registration.py
  tests/integration/test_unified_delivery.py
  tests/integration/test_virtual_host_integration.py
  tests/integration/test_workflow_approval.py
  tests/integration/test_workflow_with_server.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Add null safety checks for audience.type and audience.segment_type (#682)
  templates/targeting_browser.html
Due: none

fix: Force tab-content to display block in targeting browser
  templates/targeting_browser.html
Due: none

fix: Add credentials to API calls and reposition custom targeting section
  templates/add_product.html
  templates/components/targeting_selector_simple.html
  templates/edit_product.html
Due: none

fix: Add MediaPackage creation to format conversion tests
  tests/integration/test_format_conversion_approval.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Correct cleanup order in format conversion tests to avoid FK violations
  tests/integration/test_format_conversion_approval.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Move get_adapter import to fix UnboundLocalError in approval flow
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Update test assertions to match execute_approved_media_buy return values
  tests/integration/test_format_conversion_approval.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Add agent_id and filename to template URL validation test
  tests/integration/test_template_url_validation.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Use integer for agent_id in template URL validation test
  tests/integration/test_template_url_validation.py
Due: detect-test-antipatterns, mypy-no-regression

fix: Targeting browser, product page auth, UI repositioning + format conversion tests (#683)
  src/core/tools/media_buy_create.py
  templates/add_product.html
  templates/components/targeting_selector_simple.html
  templates/edit_product.html
  templates/targeting_browser.html
  tests/integration/test_format_conversion_approval.py
  tests/integration/test_template_url_validation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

style: optimize vertical spacing in targeting keys list
  schemas/v1/_schemas_v1_core_webhook-payload_json.json
  schemas/v1/_schemas_v1_core_webhook-payload_json.json.meta
  schemas/v1/index.json
  schemas/v1/index.json.meta
  src/admin/blueprints/inventory.py
  src/core/schemas_generated/__init__.py
  src/core/schemas_generated/_schemas_v1_core_webhook_payload_json.py
  templates/targeting_browser.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: correct GAMInventoryDiscovery initialization in targeting values endpoint
  tests/integration/test_targeting_values_endpoint.py
Due: detect-test-antipatterns, mypy-no-regression

Optimize vertical spacing in targeting keys list (#684)
  schemas/v1/_schemas_v1_core_webhook-payload_json.json
  schemas/v1/_schemas_v1_core_webhook-payload_json.json.meta
  schemas/v1/index.json
  schemas/v1/index.json.meta
  src/admin/blueprints/inventory.py
  src/core/schemas_generated/__init__.py
  src/core/schemas_generated/_schemas_v1_core_webhook_payload_json.py
  templates/targeting_browser.html
  tests/integration/test_targeting_values_endpoint.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: preserve customValues cache when loading targeting data
  templates/targeting_browser.html
Due: none

fix: add script_name prefix to targeting API URLs in product page
  templates/components/targeting_selector_simple.html
Due: none

fix: targeting keys errors in browser and product pages (#685)
  templates/components/targeting_selector_simple.html
  templates/targeting_browser.html
Due: none

fix: parse and apply custom targeting from product forms to GAM line items
  src/admin/blueprints/products.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: parse and apply custom targeting from product forms to GAM line items (#686)
  src/admin/blueprints/products.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: creative agent url check; allow to fallback to /mcp when creating mcp client
  src/core/utils/mcp_client.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: creative agent url check; allow to fallback to /mcp when creating mcp client
  src/core/schemas.py
  src/core/tools/products.py
  src/core/utils/mcp_client.py
  templates/creative_agents.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: mypy
  src/a2a_server/adcp_a2a_server.py
  src/core/context_manager.py
  src/core/schemas.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_delivery.py
  src/core/tools/media_buy_update.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: rejection
  src/admin/blueprints/operations.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: update media buy approval to be by package
  docs/delivery-simulation.md
  docs/webhooks.md
  src/admin/blueprints/creatives.py
  src/admin/blueprints/operations.py
  src/core/database/models.py
  src/core/tools/media_buy_delivery.py
  src/core/tools/products.py
  src/services/protocol_webhook_service.py
  src/services/push_notification_service.py
  templates/webhooks.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, mypy-no-regression

fix: syntax
  src/admin/blueprints/operations.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: move webhook notification to push notification service delivery
  src/adapters/mock_ad_server.py
  src/core/context_manager.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_update.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: build push notification before sending creative update
  src/admin/blueprints/creatives.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: restore webhooks.md change
  docs/webhooks.md
Due: none

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
