Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$

fix: Handle CreateMediaBuyError response in approval and main flows (#745)
  src/core/tools/media_buy_create.py
  tests/integration/test_gam_pricing_restriction.py
  tests/unit/test_approval_error_handling.py
  tests/unit/test_approval_error_handling_core.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Remove mock test script, add wonderstruck.org to live tests
  scripts/test_property_discovery_live.py
  scripts/test_property_discovery_mock.py
Due: mypy-no-regression

Add property discovery service for auto-syncing from publisher adagents.json (#748)
  pyproject.toml
  scripts/test_property_discovery_live.py
  src/admin/blueprints/authorized_properties.py
  src/services/property_discovery_service.py
  src/services/property_verification_service.py
  templates/authorized_properties_list.html
  tests/unit/test_property_discovery_service.py
  tests/unit/test_property_verification_service.py
  uv.lock
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix silent failure in GAM adapter update_media_buy
  src/adapters/google_ad_manager.py
  tests/unit/test_gam_update_media_buy.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Implement missing update_media_buy fields
  src/core/tools/media_buy_update.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix: Handle unrestricted agents in property discovery (no property_ids = all properties)
  src/services/property_discovery_service.py
  tests/unit/test_property_discovery_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Add critical security and validation fixes to update_media_buy
  src/adapters/google_ad_manager.py
  src/core/tools/media_buy_update.py
  tests/unit/test_gam_update_media_buy.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix: Handle unrestricted agents in property discovery (no property_ids = all properties) (#750)
  src/services/property_discovery_service.py
  tests/unit/test_property_discovery_service.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix CI test failures: buyer_ref assertions and UnboundLocalError
  src/core/tools/media_buy_update.py
  tests/integration/test_gam_lifecycle.py
  tests/integration/test_update_media_buy_persistence.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix integration_v2 test to use format_ids with FormatId objects
  tests/integration_v2/test_mcp_tool_roundtrip_validation.py
Due: detect-test-antipatterns, mypy-no-regression

Fix test_field_mapping_consistency_validation for format_ids migration
  tests/integration_v2/test_mcp_tool_roundtrip_validation.py
Due: detect-test-antipatterns, mypy-no-regression

feat: update schemas and tool handlers
  src/core/schemas.py
  src/core/tools/creative_formats.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_delivery.py
  src/core/tools/media_buy_update.py
  src/core/tools/performance.py
  src/core/tools/products.py
  src/core/tools/properties.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: build
  src/core/schemas.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: integration tests v2
  tests/integration_v2/test_create_media_buy_v24.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
  tests/integration_v2/test_error_paths.py
  tests/integration_v2/test_get_products_filters.py
  tests/integration_v2/test_minimum_spend_validation.py
Due: detect-test-antipatterns, mypy-no-regression

chore: clean up
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
  src/core/mcp_context_wrapper.py
  src/core/tools/creative_formats.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_delivery.py
  src/core/tools/media_buy_update.py
  src/core/tools/products.py
  src/core/tools/properties.py
  tests/unit/test_pydantic_schema_alignment.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mcp-schema-alignment, mypy-no-regression

chore: clean up
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: improve tests
  tests/e2e/adcp_request_builder.py
  tests/e2e/test_adcp_reference_implementation.py
Due: detect-test-antipatterns, mypy-no-regression

fix: name conflict between framework context and adcp context
  src/a2a_server/adcp_a2a_server.py
  src/core/main.py
  src/core/mcp_context_wrapper.py
  src/core/schema_helpers.py
  src/core/tools/creative_formats.py
  src/core/tools/creatives.py
  src/core/tools/media_buy_create.py
  src/core/tools/media_buy_delivery.py
  src/core/tools/media_buy_update.py
  src/core/tools/performance.py
  src/core/tools/products.py
  src/core/tools/properties.py
  src/core/tools/signals.py
  tests/e2e/test_a2a_adcp_compliance.py
  tests/e2e/test_adcp_reference_implementation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mcp-schema-alignment, mypy-no-regression

chore: undo unrelated changes
  src/core/schemas.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

feat: update adcp client version and fix integration tests
  pyproject.toml
  uv.lock
Due: none

fix: tests
  src/core/schema_adapters.py
  src/core/schema_helpers.py
  src/core/schemas.py
  tests/integration/test_a2a_response_compliance.py
  tests/integration_v2/test_error_paths.py
  tests/unit/test_pydantic_schema_alignment.py
  tests/unit/test_raw_function_parameter_validation.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: integration tests
  src/a2a_server/adcp_a2a_server.py
  src/core/tools/media_buy_delivery.py
  src/core/tools/products.py
  tests/integration/test_a2a_response_message_fields.py
  tests/integration/test_creative_sync_data_preservation.py
  tests/integration/test_cross_principal_security.py
  tests/integration/test_duplicate_product_validation.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
  tests/integration/test_generative_creatives.py
  tests/integration/test_list_creatives_auth.py
  tests/integration/test_pricing_models_integration.py
  tests/integration/test_update_media_buy_creative_assignment.py
  tests/integration/test_update_media_buy_persistence.py
  tests/unit/test_auth_requirements.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: integration tests
  src/a2a_server/adcp_a2a_server.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mypy-no-regression

fix: unit tests
  src/core/tools/creative_formats.py
  src/core/tools/signals.py
  tests/unit/test_auth_requirements.py
  tests/unit/test_brand_manifest_policy.py
  tests/unit/test_raw_function_parameter_validation.py
  tests/unit/test_sync_creatives_async_fix.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Add delivery validation and document missing GAM sync
  src/adapters/google_ad_manager.py
  src/core/tools/media_buy_update.py
  tests/unit/test_gam_update_media_buy.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Remove migration documentation files
  MIGRATION_COMPLETE.md
  MIGRATION_STATUS.md
Due: none

Fix migration: Replace subquery with validation function for auto_approve_format_ids
  alembic/versions/rename_formats_to_format_ids.py
Due: mypy-no-regression

Add AXE segment targeting support (AdCP 3.0.3)
  src/core/schemas.py
  tests/unit/test_axe_segment_targeting.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix remaining field name issues from migration
  tests/integration/conftest.py
  tests/integration/test_admin_ui_pages.py
  tests/integration/test_ai_provider_bug.py
  tests/integration/test_cross_principal_security.py
  tests/integration/test_delivery_simulator_restart.py
  tests/integration/test_format_conversion_approval.py
  tests/integration/test_gam_pricing_models_integration.py
  tests/integration/test_gam_pricing_restriction.py
  tests/integration/test_inventory_profile_effective_properties.py
  tests/integration/test_inventory_profile_security.py
  tests/integration/test_inventory_profile_transitions.py
  tests/integration/test_inventory_profile_updates.py
  tests/integration/test_list_creatives_auth.py
  tests/integration/test_pricing_models_integration.py
  tests/integration/test_product_delete_with_pricing.py
  tests/integration/test_product_deletion_with_trigger.py
  tests/integration/test_product_formats_update.py
  tests/integration/test_product_pricing_options_required.py
  tests/integration/test_product_with_inventory_profile.py
  tests/integration/test_schema_contract_validation.py
  tests/integration/test_schema_field_validation.py
  tests/integration/test_setup_checklist_service.py
  tests/integration/test_tenant_dashboard.py
  tests/integration/test_tenant_management_api_integration.py
  tests/integration/test_tenant_utils.py
  tests/integration/test_update_media_buy_creative_assignment.py
  tests/integration/test_update_media_buy_persistence.py
  tests/unit/test_a2a_response_attribute_access.py
  tests/unit/test_spec_compliance.py
Due: detect-test-antipatterns, mypy-no-regression

Fix ListCreativeFormatsResponse test assertions
  tests/unit/test_a2a_response_attribute_access.py
  tests/unit/test_spec_compliance.py
Due: detect-test-antipatterns, mypy-no-regression

Fix integration_v2 test: Update formats to format_ids
  tests/integration_v2/test_schema_database_mapping.py
Due: detect-test-antipatterns, mypy-no-regression

Fix database field validation test: Update expected fields
  tests/integration_v2/test_schema_database_mapping.py
Due: detect-test-antipatterns, mypy-no-regression

Add webhook delivery logging and daily reporting metrics
  alembic/versions/1759f70fc76a_add_webhook_delivery_log.py
  src/adapters/gam_data_freshness.py
  src/adapters/google_ad_manager.py
  src/admin/blueprints/operations.py
  src/core/database/models.py
  src/core/main.py
  src/core/schemas.py
  src/services/delivery_webhook_scheduler.py
  src/services/protocol_webhook_service.py
  templates/media_buy_detail.html
  tests/integration/test_delivery_webhooks.py
  tests/unit/test_delivery_metrics.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

Fix webhook_delivery_log foreign key constraints in migration
  alembic/versions/1759f70fc76a_add_webhook_delivery_log.py
Due: mypy-no-regression

Fix all remaining integration_v2 tests: Update field names
  tests/integration_v2/conftest.py
  tests/integration_v2/test_a2a_error_responses.py
  tests/integration_v2/test_admin_ui_data_validation.py
  tests/integration_v2/test_create_media_buy_roundtrip.py
  tests/integration_v2/test_create_media_buy_v24.py
  tests/integration_v2/test_creative_lifecycle_mcp.py
  tests/integration_v2/test_dashboard_integration.py
  tests/integration_v2/test_error_paths.py
  tests/integration_v2/test_gam_automation_focused.py
  tests/integration_v2/test_get_products_database_integration.py
  tests/integration_v2/test_get_products_filters.py
  tests/integration_v2/test_get_products_format_id_filter.py
  tests/integration_v2/test_mcp_endpoints_comprehensive.py
  tests/integration_v2/test_mcp_tool_roundtrip_validation.py
  tests/integration_v2/test_mcp_tools_audit.py
  tests/integration_v2/test_minimum_spend_validation.py
  tests/integration_v2/test_product_deletion.py
  tests/integration_v2/test_schema_database_mapping.py
  tests/integration_v2/test_session_json_validation.py
  tests/integration_v2/test_signals_agent_workflow.py
Due: detect-test-antipatterns, mypy-no-regression

Fix test_schema_roundtrip_patterns: Use FormatId objects
  tests/integration_v2/test_schema_roundtrip_patterns.py
Due: detect-test-antipatterns, mypy-no-regression

Fix composite foreign key for principals table
  alembic/versions/1759f70fc76a_add_webhook_delivery_log.py
  src/core/database/models.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment, mypy-no-regression

Fix create_test_product_with_pricing parameter: rename formats to format_ids
  tests/integration_v2/conftest.py
  tests/integration_v2/test_get_products_database_integration.py
Due: detect-test-antipatterns, mypy-no-regression

Fix FormatId object access in test_field_name_mismatch_detection
  tests/integration_v2/test_schema_roundtrip_patterns.py
Due: detect-test-antipatterns, mypy-no-regression
