Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Check for removed columns still referenced in code
      - id: check-schema-references
        name: Check schema references
        entry: python scripts/check_schema_references.py
        language: system
        pass_filenames: false
        always_run: true
        
      # Validate model column lengths
      - id: validate-column-lengths
        name: Validate database column lengths
        entry: python scripts/validate_column_lengths.py
        language: system
        files: '(models|schemas)\.py$'
        
      # Check for tenant.config references
      - id: no-tenant-config
        name: No tenant.config references
        entry: sh -c 'if grep -r "tenant\.config\|tenant\[.config.\]" --include="*.py" . | grep -v "test_migration\|postmortem\|pre-commit"; then echo "Found tenant.config references!"; exit 1; fi'
        language: system
        pass_filenames: false
        
      # Validate migrations can run
      - id: test-migrations
        name: Test database migrations
        entry: sh -c 'cp adcp_local.db .test.db && DATABASE_URL=sqlite:///.test.db python migrate.py && rm .test.db'
        language: system
        pass_filenames: false
        stages: [commit]
        
      # Check for API deprecations
      - id: check-api-deprecations
        name: Check for deprecated API usage
        entry: python scripts/check_api_deprecations.py
        language: system
        files: 'adapters/.*\.py$'
        
      # Validate Pydantic vs SQLAlchemy imports
      - id: validate-model-imports
        name: Validate model imports
        entry: python scripts/validate_model_imports.py
        language: system
        files: '\.py$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: check-ast
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.272
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Implement GAM Product Configuration Workflow
  docs/gam-line-item-fields-analysis.md
  docs/gam-product-configuration-pr-summary.md
  docs/gam-product-workflow-implementation.md
  docs/gam-workflow-completion-summary.md
  scripts/migrate_product_configs.py
  src/admin/blueprints/inventory.py
  src/admin/blueprints/products.py
  src/core/main.py
  src/services/gam_product_config_service.py
  templates/adapters/gam_product_config.html
  templates/edit_product.html
  templates/products.html
Due: validate-model-imports

Add JSONB field tracking for implementation_config updates
  src/admin/blueprints/products.py
Due: validate-model-imports

Consolidate GAM documentation into single comprehensive guide
  docs/gam-line-item-fields-analysis.md
  docs/gam-product-configuration-guide.md
  docs/gam-product-configuration-pr-summary.md
  docs/gam-product-workflow-implementation.md
  docs/gam-workflow-completion-summary.md
Due: none

Fix product creation redirect to match test expectations
  src/admin/blueprints/products.py
Due: validate-model-imports

Implement GAM OAuth login flow
  src/admin/blueprints/auth.py
  templates/tenant_settings.html
Due: validate-model-imports

Fix GAM inventory sync by making advertiser_id optional
  src/adapters/google_ad_manager.py
  src/services/gam_inventory_service.py
Due: check-api-deprecations, validate-model-imports

Fix GAM company attribute access in orders manager
  src/adapters/gam/managers/orders.py
Due: check-api-deprecations, validate-model-imports

Add optional GAM sync settings to improve inventory sync performance
  alembic/versions/024_add_gam_sync_settings.py
  src/adapters/gam/managers/inventory.py
  src/adapters/gam_inventory_discovery.py
  src/admin/blueprints/gam.py
  src/admin/blueprints/settings.py
  src/admin/blueprints/tenants.py
  src/core/database/models.py
  src/services/gam_inventory_service.py
  templates/tenant_settings.html
Due: validate-column-lengths, check-api-deprecations, validate-model-imports

Streamline CLAUDE.md and clarify hosting flexibility
  CLAUDE.md
  docs/TROUBLESHOOTING.md
  docs/a2a-implementation-guide.md
  docs/deployment.md
  docs/index.md
  docs/security.md
  docs/testing/a2a-regression-prevention.md
  docs/testing/adcp-compliance.md
  docs/testing/mcp-roundtrip-validation.md
Due: none

Fix property verification to use correct tenant context
  src/admin/blueprints/authorized_properties.py
Due: validate-model-imports

Fix A2A skill invocation to support both 'input' and 'parameters' fields
  src/a2a_server/adcp_a2a_server.py
  tests/integration/test_a2a_skill_invocation.py
Due: validate-model-imports

Fix get_products returning signals-generated products instead of database products
  src/core/config_loader.py
Due: validate-model-imports

Add regression test for A2A 'input' field parsing
  tests/integration/test_a2a_real_data_flow.py
Due: validate-model-imports

Fix get_products to accept all AdCP-valid fields (adcp_version, filters)
  .pre-commit-config.yaml
  scripts/check_pydantic_adcp_alignment.py
  src/core/main.py
  src/core/schemas.py
  tests/unit/test_pydantic_adcp_alignment.py
Due: validate-column-lengths, validate-model-imports

Add enum validation for filters and integration test foundation
  src/core/schemas.py
  tests/integration/test_get_products_filters.py
  tests/unit/test_pydantic_adcp_alignment.py
Due: validate-column-lengths, validate-model-imports

Fix get_products filter logic to work with string format IDs
  src/core/main.py
  tests/integration/test_get_products_filters.py
  tests/unit/test_pydantic_adcp_alignment.py
Due: validate-model-imports

Implement GAM OAuth login flow (#188)
  src/admin/blueprints/auth.py
  templates/tenant_settings.html
Due: validate-model-imports

Fix GAM inventory sync by making advertiser_id optional (#186)
  src/adapters/google_ad_manager.py
  src/services/gam_inventory_service.py
Due: check-api-deprecations, validate-model-imports

Fix GAM company attribute access in orders manager (#189)
  src/adapters/gam/managers/orders.py
Due: check-api-deprecations, validate-model-imports

Implement self-service tenant signup with OAuth-first flow
  src/admin/app.py
  src/admin/blueprints/auth.py
  src/admin/blueprints/core.py
  src/admin/blueprints/public.py
  templates/landing.html
  templates/signup_complete.html
  templates/signup_onboarding.html
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  tests/integration/test_self_service_signup.py
Due: validate-model-imports

Fix GAM reporting modal authentication failure
  src/adapters/gam_reporting_api.py
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
Due: check-api-deprecations, validate-model-imports

Add /api routing to tenant subdomain nginx config
  config/nginx/nginx.conf
  fly/nginx.conf
Due: none

Improve activity feed UX: preserve expansion state and clearer display
  templates/tenant_dashboard.html
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
Due: none

Fix activity feed: better operation names and anonymous handling
  templates/tenant_dashboard.html
Due: none

Fix activity feed: better operation names and anonymous handling
  src/admin/services/business_activity_service.py
  src/admin/services/dashboard_service.py
  src/core/main.py
  templates/tenant_dashboard.html
Due: validate-model-imports

Fix get_products returning signals-generated products instead of database products (#194)
  src/core/config_loader.py
Due: validate-model-imports

Fix property verification to use correct tenant context (#192)
  src/admin/blueprints/authorized_properties.py
Due: validate-model-imports

Fix A2A skill invocation to support both 'input' and 'parameters' fields (#193)
  src/a2a_server/adcp_a2a_server.py
  tests/integration/test_a2a_real_data_flow.py
  tests/integration/test_a2a_skill_invocation.py
Due: validate-model-imports

Implement GAM Product Configuration Workflow (#185)
  docs/gam-product-configuration-guide.md
  scripts/migrate_product_configs.py
  src/admin/blueprints/inventory.py
  src/admin/blueprints/products.py
  src/core/main.py
  src/services/gam_product_config_service.py
  templates/adapters/gam_product_config.html
  templates/edit_product.html
  templates/products.html
Due: validate-model-imports

Streamline CLAUDE.md and clarify hosting flexibility (#191)
  CLAUDE.md
  docs/TROUBLESHOOTING.md
  docs/a2a-implementation-guide.md
  docs/deployment.md
  docs/index.md
  docs/security.md
  docs/testing/a2a-regression-prevention.md
  docs/testing/adcp-compliance.md
  docs/testing/mcp-roundtrip-validation.md
Due: none

Fix authentication for subdomain-based tenant routing
  src/core/main.py
Due: validate-model-imports

Fix GAM reporting modal authentication failure (#198)
  config/nginx/nginx.conf
  fly/nginx.conf
  src/adapters/gam_reporting_api.py
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
Due: check-api-deprecations, validate-model-imports

Update AdCP schemas to latest from registry
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
Due: none

Fix authentication for subdomain-based tenant routing (#199)
  src/core/main.py
Due: validate-model-imports

Fix audit logging: correct principal.name references and Format attribute
  src/core/main.py
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-response_json.json
Due: validate-model-imports

Fix self-service signup GAM OAuth and port mapping issues
  docker-compose.yml
  src/admin/blueprints/auth.py
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-response_json.json
Due: validate-model-imports

Add expandable activity details and action buttons
  src/admin/services/business_activity_service.py
  templates/tenant_dashboard.html
Due: validate-model-imports

Fix failing CI test cases for self-service signup
  tests/integration/test_admin_ui_pages.py
  tests/integration/test_self_service_signup.py
Due: validate-model-imports
