Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

template-url-validation:
  name: Validate template url_for calls
  entry: uv run pytest tests/integration/test_template_url_validation.py::TestTemplateUrlValidation::test_all_template_url_for_calls_resolve -q
  language: system
  pass_filenames: false

chore: Merge migration heads (creative_agents + pricing_options)
  alembic/versions/ef5672f3a134_merge_creative_agents_with_pricing_.py
Due: none

Fix race condition in init_database_ci.py for multi-container startup
  scripts/setup/init_database_ci.py
Due: none

Fix: Make brand_manifest optional for backward compatibility
  src/core/main.py
  src/core/schemas.py
  src/core/tools.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Add retry logic to handle race condition in init_database_ci.py
  scripts/setup/init_database_ci.py
Due: none

Add AdCP v1.8.0 brand_manifest support with backward compatibility
  .pre-commit-config.yaml
  scripts/check_mypy_diff.py
  src/core/main.py
  src/core/schemas.py
  src/core/tools.py
  tests/unit/test_adcp_contract.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

fix: Parse format dimensions from format_id when requirements missing
  src/admin/blueprints/products.py
  templates/add_product_gam.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix rollback cascade by separating tenant and principal transactions
  scripts/setup/init_database_ci.py
Due: none

Add brand_manifest support to get_products with backward compatibility
  src/core/main.py
  src/core/schemas.py
  src/core/tools.py
  src/services/policy_check_service.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Add schema comparison and migration impact analysis
  docs/schema-migration-impact.md
  scripts/compare_schemas.py
Due: none

Update AdCP schemas to latest v1.8.0 spec with brand_manifest
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
Due: none

Add spec compliance analysis + update schemas to latest
  docs/spec-compliance-gaps.md
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
Due: none

Add brand_manifest to GetProductsRequest per latest AdCP spec
  src/core/schemas.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix BrandManifest object handling and update MCP schema validator test
  src/core/main.py
  tests/unit/test_mcp_schema_validator.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add AdCP v1.8.0 brand_manifest support with backward compatibility (#364)
  .pre-commit-config.yaml
  scripts/check_mypy_diff.py
  src/core/main.py
  src/core/schemas.py
  src/core/tools.py
  src/services/policy_check_service.py
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  tests/unit/test_adcp_contract.py
  tests/unit/test_mcp_schema_validator.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Add property_tags to default products and update AdCP schemas
  src/core/database/database.py
  src/core/main.py
  src/core/schemas.py
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  tests/unit/test_mcp_schema_validator.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Add comprehensive validator analysis and schema compliance fixes
  docs/validator-analysis.md
  docs/validator-fixes-needed.md
  scripts/analyze_validators.py
  src/core/main.py
  src/core/schemas.py
  tests/unit/test_mcp_schema_validator.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix packages_ready KeyError in media buys list
  src/admin/blueprints/tenants.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Use friendly principal names in activity feed
  src/admin/services/business_activity_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix policy blocks returning success: true instead of error
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix packages_ready KeyError in media buys list (#366)
  src/admin/blueprints/tenants.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Use friendly principal names in activity feed (#367)
  src/admin/services/business_activity_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix validator analysis based on user feedback
  docs/validator-fixes-needed.md
Due: none

Fix policy blocks returning success: true instead of error (#368)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix duplicate brand_manifest parameter in get_products function
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Remove redundant Python validators in favor of JSON Schema validation
  src/core/schemas.py
  tests/integration/test_mcp_contract_validation.py
  tests/unit/test_adcp_contract.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Add defensive default for property_tags when loading products
  product_catalog_providers/database.py
Due: none

Fix missing property_tags in get_product_catalog() function
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix delivery simulator join on non-existent PushNotificationConfig.media_buy_id
  src/services/delivery_simulator.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix CurrencyLimit/PropertyTag race condition in init_database_ci.py
  scripts/setup/init_database_ci.py
Due: none

Move init_database_ci.py from Docker entrypoint to pytest fixture
  scripts/deploy/entrypoint.sh
  tests/e2e/conftest.py
Due: detect-test-antipatterns

Hide setup widget once complete, show until 100%
  src/admin/blueprints/tenants.py
  templates/tenant_dashboard.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Hide setup widget once complete, show until 100% (#370)
  src/admin/blueprints/tenants.py
  templates/tenant_dashboard.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix critical issues from code review
  alembic/versions/5e48d3ddc7f2_add_properties_and_property_tags_to_.py
  alembic/versions/eef85c5fe627_add_product_properties_xor_constraint.py
  src/core/database/models.py
  src/core/main.py
  tests/integration/test_delivery_simulator_restart.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Add GIN indexes for property_tags JSONB queries
  alembic/versions/ab57bdcf4bd8_add_gin_indexes_for_property_tags.py
Due: none

Fix GIN index creation for TEXT-stored JSON columns
  alembic/versions/ab57bdcf4bd8_add_gin_indexes_for_property_tags.py
Due: none

Refactor JSONType to use native PostgreSQL JSONB storage
  alembic/versions/1aa2f5893a4d_convert_json_text_to_jsonb.py
  alembic/versions/ab57bdcf4bd8_add_gin_indexes_for_property_tags.py
  src/core/database/json_type.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Update JSONType tests for PostgreSQL-only architecture
  tests/unit/test_json_type.py
Due: detect-test-antipatterns

Fix migration cycle: JSONB conversion must come before GIN index
  alembic/versions/1aa2f5893a4d_convert_json_text_to_jsonb.py
Due: none

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$
