Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$

Add comprehensive debug logging for virtual host tenant detection
  src/core/config_loader.py
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add comprehensive debug logging for virtual host tenant detection (#575)
  src/core/config_loader.py
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix schema generator to use union operator for consistency (#574)
  .pre-commit-config.yaml
  scripts/generate_schemas.py
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_json.py
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_ref_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_error_json.py
  src/core/schemas_generated/_schemas_v1_core_format_json.py
  src/core/schemas_generated/_schemas_v1_core_pricing_option_json.py
  src/core/schemas_generated/_schemas_v1_core_product_json.py
  src/core/schemas_generated/_schemas_v1_core_promoted_offerings_json.py
  src/core/schemas_generated/_schemas_v1_core_start_timing_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_create_media_buy_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_media_buy_delivery_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_authorized_properties_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creative_formats_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_package_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_update_media_buy_request_json.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix: Validate creative_ids in create_media_buy
  src/core/main.py
  src/core/schemas_generated/_schemas_v1_core_assets_daast_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_vast_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_sub_asset_json.py
  tests/integration/test_create_media_buy_creative_validation.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix: Update Product model fields in test
  tests/integration/test_create_media_buy_creative_validation.py
Due: detect-test-antipatterns

Fix: Update PropertyTag and Creative model fields in tests
  tests/integration/test_create_media_buy_creative_validation.py
Due: detect-test-antipatterns

Fix: Make tests async and add budget parameter
  tests/integration/test_create_media_buy_creative_validation.py
Due: detect-test-antipatterns

Fix A2A list_authorized_properties tenant detection without auth
  scripts/debug_test_agent_tenant.py
  src/a2a_server/adcp_a2a_server.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Fix: Make datetime objects timezone-aware
  tests/integration/test_create_media_buy_creative_validation.py
Due: detect-test-antipatterns

Fix A2A list_authorized_properties tenant detection without auth (#577)
  scripts/debug_test_agent_tenant.py
  src/a2a_server/adcp_a2a_server.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Fix: Bypass setup checklist validation in tests
  tests/integration/test_create_media_buy_creative_validation.py
Due: detect-test-antipatterns

Fix: Use Package model instead of dict in tests
  tests/integration/test_create_media_buy_creative_validation.py
Due: detect-test-antipatterns

Fix MCP list_authorized_properties tenant detection without context
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix: Serialize Package objects to dicts with model_dump()
  tests/integration/test_create_media_buy_creative_validation.py
Due: detect-test-antipatterns

Fix MCP list_authorized_properties tenant detection without context (#578)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add context=None check for header fallbacks (debugging MCP issue)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix GAM service account authentication
  src/adapters/gam/auth.py
  tests/unit/test_gam_service_account_auth.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Fix: Use plain dicts with 'products' field instead of Package objects
  tests/integration/test_create_media_buy_creative_validation.py
Due: detect-test-antipatterns

Enable FastMCP sessions for proper HTTP context access
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix GAM service account authentication (#579)
  src/adapters/gam/auth.py
  tests/unit/test_gam_service_account_auth.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Fix: Use product_id (singular) instead of products (plural)
  tests/integration/test_create_media_buy_creative_validation.py
Due: detect-test-antipatterns

Enable FastMCP sessions for proper HTTP context in unauthenticated calls (#580)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add signals-backed products database schema
  alembic/versions/fa5cffb9582b_add_signals_backed_products_and_dynamic_.py
  src/core/database/models.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls, schema-database-alignment

Add PricingOption to creative validation tests
  tests/integration/test_create_media_buy_creative_validation.py
Due: detect-test-antipatterns

Add signals-backed product UI to product forms
  templates/add_product.html
  templates/edit_product.html
Due: template-url-validation

Add signals-backed product backend processing
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix remaining service account credential wrapping issues
  src/adapters/gam/utils/health_check.py
  src/admin/blueprints/inventory.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Revert to stateless HTTP mode for MCP compatibility
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix remaining service account credential wrapping issues (#581)
  src/adapters/gam/utils/health_check.py
  src/admin/blueprints/inventory.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add comprehensive MCP debugging for list_authorized_properties
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix service account credential wrapping in GAM setup flow
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix service account credential wrapping in GAM setup flow (#584)
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix get_db_session scoping error in _get_products_impl
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add comprehensive MCP debugging for list_authorized_properties (#583)
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix test_main.py SQLite schema to include signals columns
  tests/integration/test_main.py
Due: detect-test-antipatterns

Add service_account_json support to GoogleAdManagerAdapter validation
  src/adapters/google_ad_manager.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Switch to logger.info() for MCP debugging visibility
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Remove SQLite usage from test_main.py, use PostgreSQL exclusively
  tests/integration/test_main.py
Due: detect-test-antipatterns

Add @pytest.mark.requires_db to TestMCPEndpointsComprehensive
  tests/integration/test_mcp_endpoints_comprehensive.py
Due: detect-test-antipatterns

Add timeouts to GAM operations to prevent indefinite hangs
  src/adapters/gam/managers/orders.py
  src/adapters/gam/utils/timeout_handler.py
  src/adapters/gam_inventory_discovery.py
  src/services/gam_inventory_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls
