Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-column-lengths, check-api-deprecations, validate-model-imports

validate-column-lengths:
  name: Validate database column lengths
  entry: python scripts/validate_column_lengths.py
  language: system

check-api-deprecations:
  name: Check for deprecated API usage
  entry: python scripts/check_api_deprecations.py
  language: system

validate-model-imports:
  name: Validate model imports
  entry: python scripts/validate_model_imports.py
  language: system

feat: Switch container to use refactored app incrementally
  tests/integration/test_ai_products.py
  tests/integration/test_template_rendering.py
Due: validate-model-imports

fix: Blueprint migration fixes for dashboard, settings, and field validation
  .pre-commit-config.yaml
  CLAUDE.md
  admin_ui.py
  admin_ui_refactored_prod.py
  docker-compose.yml
  docs/BLUEPRINT_MIGRATION_CHECKLIST.md
  scripts/complete_migration.py
  scripts/migrate_routes.py
  scripts/perform_migration.py
  scripts/simple_migration.py
  src/admin/app.py
  src/admin/blueprints/auth.py
  src/admin/blueprints/products.py
  src/admin/blueprints/tenants.py
  src/admin/tests/conftest.py
  src/admin/tests/unit/test_utils.py
  src/admin/utils.py
  templates/adapters/gam_product_config.html
  templates/choose_tenant.html
  templates/creative_formats.html
  templates/edit_creative_format.html
  templates/products.html
  templates/targeting_browser.html
  tests/integration/conftest.py
  tests/integration/test_schema_field_validation.py
  tests/integration/test_template_rendering.py
  tests/integration/test_template_url_validation.py
  tests/integration/test_tenant_dashboard.py
  tests/unit/test_admin_ui_oauth.py
Due: validate-model-imports

fix: Continue systematic blueprint migration and fix field name issues
  MIGRATION_PLAN.md
  admin_ui.py
  schemas.py
  src/admin/app.py
  src/admin/blueprints/principals.py
  src/admin/blueprints/products.py
  src/admin/blueprints/tenants.py
  src/admin/tests/conftest.py
  src/admin/utils.py
  templates/mcp_test.html
  templates/orders_browser.html
  tests/integration/test_schema_field_validation.py
  tests/unit/test_adcp_contract.py
Due: validate-column-lengths, validate-model-imports

feat: Complete creative formats blueprint migration
  admin_ui.py
  src/admin/blueprints/creatives.py
Due: validate-model-imports

feat: Add user management blueprint and continue migration
  admin_ui.py
  src/admin/app.py
  src/admin/blueprints/users.py
Due: validate-model-imports

feat: Complete migration of Settings, GAM, Core, and Inventory blueprints
  admin_ui.py
  src/admin/blueprints/api.py
  src/admin/blueprints/core.py
  src/admin/blueprints/inventory.py
  src/admin/blueprints/settings.py
Due: validate-model-imports

feat: Complete migration of all remaining routes to blueprints
  admin_ui.py
  src/admin/blueprints/core.py
  src/admin/blueprints/inventory.py
  src/admin/blueprints/operations.py
  src/admin/blueprints/policy.py
  src/admin/blueprints/tenants.py
Due: validate-model-imports

fix: Update templates for blueprint-namespaced endpoints and fix app registration
  src/admin/app.py
  src/admin/blueprints/products.py
  templates/adapters/gam_product_config.html
  templates/adapters/mock_product_config.html
  templates/add_creative_format_ai.html
  templates/add_product.html
  templates/add_product_ai.html
  templates/bulk_product_upload.html
  templates/creative_formats.html
  templates/edit_creative_format.html
  templates/edit_product.html
  templates/product_setup_wizard.html
  templates/product_templates.html
  templates/products.html
  templates/settings.html
Due: validate-model-imports

refactor: Consolidate admin UI entry points into src/admin/server.py
  admin_ui_prod.py
  admin_ui_refactored_prod.py
  admin_ui_server.py
  debug_start.sh
  docker-compose.override.example.yml
  docker-compose.yml
  entrypoint_admin.sh
  src/admin/server.py
Due: validate-model-imports

fix: Update all url_for('index') references to use blueprint namespace
  src/admin/blueprints/auth.py
  src/admin/blueprints/principals.py
  src/admin/blueprints/products.py
  src/admin/blueprints/settings.py
  src/admin/blueprints/tenants.py
  src/admin/blueprints/users.py
Due: validate-model-imports

fix: Separate superadmin and tenant settings blueprints
  src/admin/app.py
  src/admin/blueprints/settings.py
  templates/settings.html
Due: validate-model-imports

fix: Complete post-migration cleanup
  models.py
  templates/adapters/gam_product_config.html
  templates/add_creative_format_ai.html
  templates/bulk_product_upload.html
  templates/creative_formats.html
  templates/edit_creative_format.html
  templates/products.html
  tests/integration/test_template_url_validation.py
  tests/unit/test_admin_ui_oauth.py
Due: validate-column-lengths, validate-model-imports

fix: Add missing MCP test API endpoint
  src/admin/blueprints/api.py
Due: validate-model-imports

fix: Add missing imports for MCP test endpoint
  src/admin/blueprints/api.py
Due: validate-model-imports

docs: Document critical test suite failures in GitHub issue #79
  CRITICAL_TEST_ISSUES.md
Due: none

fix: Add missing template variables for tenant dashboard
  src/admin/blueprints/tenants.py
Due: validate-model-imports

fix: Resolve systemic model confusion between SQLAlchemy and Pydantic
  adapters/gam_reporting_api.py
  docs/debugging-template-variables.md
  docs/model-import-conventions.md
  scripts/validate_model_confusion.py
  src/admin/blueprints/settings.py
  src/admin/blueprints/tenants.py
  src/admin/utils.py
Due: check-api-deprecations, validate-model-imports

fix: Resolve systemic model confusion between SQLAlchemy and Pydantic
  .pre-commit-config.yaml
  CLAUDE.md
  DEBUGGING_SESSION_SUMMARY.md
  scripts/check_form_mismatches.py
  scripts/validate_form_fields.py
  scripts/verify_form_field_fix.py
  src/admin/blueprints/settings.py
  tests/unit/test_form_field_fix.py
Due: validate-model-imports

fix: Standardize JSON request handling for all AJAX endpoints
  src/admin/blueprints/api.py
  src/admin/blueprints/settings.py
  templates/tenant_settings.html
Due: validate-model-imports

fix: Update mock adapter to use renamed schema fields
  adapters/mock_ad_server.py
  tests/unit/adapters/test_base.py
Due: check-api-deprecations, validate-model-imports

Path conditions:
  validate-column-lengths: any of: (models|schemas)\.py$
  check-api-deprecations: any of: adapters/.*\.py$
  validate-model-imports: any of: \.py$
