Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, validate-adapter-usage, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

enforce-sqlalchemy-2-0:
  name: Enforce SQLAlchemy 2.0 patterns (no session.query)
  entry: uv run python .pre-commit-hooks/check_sqlalchemy_2_0.py
  language: system
  pass_filenames: true

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

validate-adapter-usage:
  name: Validate adapter schema field names
  entry: uv run python scripts/validate_adapter_usage.py
  language: system
  pass_filenames: false

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

mypy-no-regression:
  name: Check mypy error count (no regression)
  entry: uv run python scripts/check_mypy_no_regression.py
  language: system
  pass_filenames: false
  always_run: false

fix: Add missing activity feed and audit logs to manual approval path
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Remove brand-manifest fix documentation
  docs/fixes/brand-manifest-a2a-fix.md
Due: none

fix: Add missing activity feed and audit logs to manual approval path (#729)
  src/core/tools/media_buy_create.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

Fix A2A brand_manifest tests to use correct SDK API
  tests/integration_v2/test_a2a_brand_manifest.py
Due: detect-test-antipatterns, mypy-no-regression

Properly fix A2A brand_manifest tests
  tests/integration_v2/test_a2a_brand_manifest.py
Due: detect-test-antipatterns, mypy-no-regression

fix: brand_manifest A2A test extraction and URL handling
  src/core/tools/products.py
  tests/integration_v2/test_a2a_brand_manifest.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: product creation session bug and countries selection UI
  src/admin/blueprints/products.py
  templates/add_product_gam.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

test: add inventory profile product creation coverage
  tests/integration/test_product_with_inventory_profile.py
Due: detect-test-antipatterns, mypy-no-regression

Prevent subdomain squatting by auto-generating random subdomains
  docs/security.md
  src/admin/blueprints/public.py
  src/core/tenant_status.py
  src/landing/landing_page.py
  templates/signup_complete.html
  templates/signup_onboarding.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Check for GAM service account credentials in tenant status
  src/core/tenant_status.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

perf: Eager load adapter_config to avoid N+1 queries
  src/core/tenant_status.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

feat: Add tenant list filtering by configuration and activity status
  src/admin/blueprints/core.py
  templates/index.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

refactor: Simplify tenant list page by removing clutter
  templates/index.html
Due: none

fix: Add Google OAuth redirect URI to workspace setup
  scripts/setup/setup_conductor_workspace.sh
Due: none

fix: Add GOOGLE_OAUTH_REDIRECT_URI to docker-compose environment
  docker-compose.yml
Due: none

fix: Handle session expiration in inventory picker
  templates/components/inventory_picker.html
Due: none

fix: Update landing page tests to mock tenant status check
  tests/unit/test_virtual_host_landing_page.py
Due: detect-test-antipatterns, mypy-no-regression

fix: enforce brand_manifest_policy in get_products endpoint
  src/core/tools/products.py
  tests/unit/test_brand_manifest_policy.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Fix incorrect API URLs and add auth handling in inventory_unified
  templates/inventory_unified.html
Due: none

fix: Update self-service signup tests for UUID-based subdomains
  tests/integration/test_self_service_signup.py
Due: detect-test-antipatterns, mypy-no-regression

fix: update test_get_products_missing_required_field for policy change
  tests/integration_v2/test_mcp_endpoints_comprehensive.py
Due: detect-test-antipatterns, mypy-no-regression

refactor: Use url_for() for API endpoints to support dev/prod environments
  templates/inventory_unified.html
Due: none

Prevent subdomain squatting with UUID-based subdomains (#730)
  docker-compose.yml
  docs/security.md
  scripts/setup/setup_conductor_workspace.sh
  src/admin/blueprints/core.py
  src/admin/blueprints/public.py
  src/core/tenant_status.py
  src/landing/landing_page.py
  templates/index.html
  templates/signup_complete.html
  templates/signup_onboarding.html
  tests/integration/test_self_service_signup.py
  tests/unit/test_virtual_host_landing_page.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

fix: Use manual URL for GAM sync status to avoid template validation error
  templates/inventory_unified.html
Due: none

fix: enforce brand_manifest_policy in get_products (#731)
  src/core/tools/products.py
  tests/integration_v2/test_mcp_endpoints_comprehensive.py
  tests/unit/test_brand_manifest_policy.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, mypy-no-regression

Fix inventory picker and profiles auth errors (#732)
  templates/components/inventory_picker.html
  templates/inventory_unified.html
Due: none

fix: Handle /admin prefix in login redirects and API calls
  templates/add_inventory_profile.html
  templates/add_product_mock.html
  templates/components/inventory_picker.html
  templates/components/inventory_profile_editor.html
  templates/edit_inventory_profile.html
  templates/inventory_unified.html
  templates/targeting_browser.html
Due: none

docs: Add JavaScript URL handling pattern to CLAUDE.md
  CLAUDE.md
Due: none

feat: Add pre-commit hook to detect hardcoded URLs in JavaScript
  .pre-commit-config.yaml
  .pre-commit-hooks/check_hardcoded_urls.py
Due: mypy-no-regression

fix: Handle /admin prefix in login redirects and API calls (#733)
  .pre-commit-config.yaml
  .pre-commit-hooks/check_hardcoded_urls.py
  CLAUDE.md
  templates/add_inventory_profile.html
  templates/add_product_mock.html
  templates/components/inventory_picker.html
  templates/components/inventory_profile_editor.html
  templates/edit_inventory_profile.html
  templates/inventory_unified.html
  templates/targeting_browser.html
Due: mypy-no-regression

fix: Complete /admin prefix handling for all API calls
  src/admin/blueprints/api.py
  templates/components/inventory_profile_editor.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Add context field to AdCP request/response models
  src/core/schema_adapters.py
  src/core/schemas.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, validate-adapter-usage, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

chore: Update schema cache to match AdCP spec v1 context field
  schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  schemas/v1/_schemas_v1_media-buy_create-media-buy-response_json.json
  schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-request_json.json
  schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-response_json.json
  schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  schemas/v1/_schemas_v1_media-buy_get-products-response_json.json
  schemas/v1/_schemas_v1_media-buy_list-authorized-properties-request_json.json
  schemas/v1/_schemas_v1_media-buy_list-authorized-properties-response_json.json
  schemas/v1/_schemas_v1_media-buy_list-creative-formats-request_json.json
  schemas/v1/_schemas_v1_media-buy_list-creative-formats-response_json.json
  schemas/v1/_schemas_v1_media-buy_list-creatives-request_json.json
  schemas/v1/_schemas_v1_media-buy_list-creatives-response_json.json
  schemas/v1/_schemas_v1_media-buy_sync-creatives-request_json.json
  schemas/v1/_schemas_v1_media-buy_sync-creatives-response_json.json
  schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json
  schemas/v1/_schemas_v1_media-buy_update-media-buy-response_json.json
  schemas/v1/_schemas_v1_signals_get-signals-request_json.json
  schemas/v1/_schemas_v1_signals_get-signals-response_json.json
Due: none

fix: Complete /admin prefix handling for all API calls (#736)
  schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json
  schemas/v1/_schemas_v1_media-buy_create-media-buy-response_json.json
  schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-request_json.json
  schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-response_json.json
  schemas/v1/_schemas_v1_media-buy_get-products-request_json.json
  schemas/v1/_schemas_v1_media-buy_get-products-response_json.json
  schemas/v1/_schemas_v1_media-buy_list-authorized-properties-request_json.json
  schemas/v1/_schemas_v1_media-buy_list-authorized-properties-response_json.json
  schemas/v1/_schemas_v1_media-buy_list-creative-formats-request_json.json
  schemas/v1/_schemas_v1_media-buy_list-creative-formats-response_json.json
  schemas/v1/_schemas_v1_media-buy_list-creatives-request_json.json
  schemas/v1/_schemas_v1_media-buy_list-creatives-response_json.json
  schemas/v1/_schemas_v1_media-buy_sync-creatives-request_json.json
  schemas/v1/_schemas_v1_media-buy_sync-creatives-response_json.json
  schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json
  schemas/v1/_schemas_v1_media-buy_update-media-buy-response_json.json
  schemas/v1/_schemas_v1_signals_get-signals-request_json.json
  schemas/v1/_schemas_v1_signals_get-signals-response_json.json
  src/admin/blueprints/api.py
  src/core/schema_adapters.py
  src/core/schemas.py
  templates/components/inventory_profile_editor.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, validate-adapter-usage, no-fn-calls, schema-database-alignment, mcp-schema-alignment, mypy-no-regression

fix: Resolve inventory profiles 404 error by removing duplicate route registrations
  src/services/gam_inventory_service.py
  templates/inventory_unified.html
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

fix: Use explicit scriptRoot prefix for all inventory API URLs
  templates/inventory_unified.html
Due: none

feat: Add pre-commit hook to prevent Flask route conflicts
  .gitignore
  .pre-commit-config.yaml
  .pre-commit-hooks/check_route_conflicts.py
  CLAUDE.md
Due: mypy-no-regression

fix: Remove all route conflicts from admin blueprints
  .pre-commit-hooks/check_route_conflicts.py
  ROUTE_CONFLICTS_RESOLVED.md
  ROUTE_CONFLICT_ANALYSIS.md
  src/admin/blueprints/operations.py
  src/admin/blueprints/tenants.py
  src/core/schemas_generated/_schemas_v1_core_activation_key_json.py
Due: enforce-sqlalchemy-2-0, check-import-usage, check-response-attribute-access, no-fn-calls, mypy-no-regression

chore: Remove temporary documentation files
  ROUTE_CONFLICTS_RESOLVED.md
  ROUTE_CONFLICT_ANALYSIS.md
Due: none

Path conditions:
  enforce-sqlalchemy-2-0: any of: ^(src/|product_catalog_providers/).*\.py$
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  validate-adapter-usage: any of: ^(src/core/main\.py|src/core/schema_adapters\.py)$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  mypy-no-regression: any of: \.py$
