Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

template-url-validation:
  name: Validate template url_for calls
  entry: uv run pytest tests/integration/test_template_url_validation.py::TestTemplateUrlValidation::test_all_template_url_for_calls_resolve -q
  language: system
  pass_filenames: false

Fix format display and unhashable FormatId errors in products UI
  src/admin/blueprints/products.py
  templates/add_product_gam.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix format ID comparison to normalize trailing slashes (#478)
  src/core/main.py
  tests/unit/test_format_trailing_slash.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Remove tests from pre-push hook - keep it fast
  CLAUDE.md
  scripts/setup/setup_hooks.sh
Due: none

Fix format display and unhashable FormatId errors in products UI (#479)
  src/admin/blueprints/products.py
  templates/add_product_gam.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix missing a2a.types imports in integration tests (#475)
  CLAUDE.md
  scripts/setup/setup_hooks.sh
  tests/integration/test_a2a_error_responses.py
  tests/integration/test_a2a_skill_invocation.py
  tests/integration/test_adapter_factory.py
  tests/integration/test_admin_ui_data_validation.py
  tests/integration/test_admin_ui_pages.py
  tests/integration/test_context_persistence.py
  tests/integration/test_create_media_buy_roundtrip.py
  tests/integration/test_create_media_buy_v24.py
  tests/integration/test_creative_lifecycle_mcp.py
  tests/integration/test_generative_creatives.py
  tests/integration/test_get_products_filters.py
  tests/integration/test_get_products_format_id_filter.py
  tests/integration/test_link_validation.py
  tests/integration/test_list_creative_formats_params.py
  tests/integration/test_tenant_management_api_integration.py
Due: detect-test-antipatterns

Fix product formats not saving due to missing flag_modified
  scripts/cleanup_legacy_products.py
  src/admin/blueprints/products.py
  tests/unit/test_product_formats_update.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Add migration to fix format_id vs id schema inconsistency
  alembic/versions/0d4fe6eb03ab_migrate_format_id_to_id_in_product_.py
  scripts/cleanup_legacy_products.py
Due: none

Move product formats tests to integration tests directory
  tests/integration/test_product_formats_update.py
Due: detect-test-antipatterns

Fix product formats not saving + migrate format_id to id (#480)
  alembic/versions/0d4fe6eb03ab_migrate_format_id_to_id_in_product_.py
  scripts/cleanup_legacy_products.py
  src/admin/blueprints/products.py
  tests/integration/test_product_formats_update.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Changes auto-committed by Conductor
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix format_id vs id mismatch preventing format checkboxes from pre-checking
  src/admin/blueprints/products.py
  templates/add_product_gam.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix format_id vs id mismatch preventing format checkboxes from pre-checking (#482)
  src/admin/blueprints/products.py
  templates/add_product_gam.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Changes auto-committed by Conductor (#481)
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add debug logging for product formats save/display issues
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix JavaScript syntax error in format info onclick handler
  templates/add_product_gam.html
Due: template-url-validation

Fix product list showing legacy format IDs instead of friendly names
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix product list showing legacy format IDs instead of friendly names (#484)
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix Wonderstruck product formats display and save issues (#483)
  src/admin/blueprints/products.py
  templates/add_product_gam.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix 500 error on product add page by correcting error handler
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix 500 error on product add page by correcting error handler (#485)
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix product formats not saving on add/edit
  templates/add_product_gam.html
Due: template-url-validation

Fix product formats not saving on add/edit (#486)
  templates/add_product_gam.html
Due: template-url-validation

Fix mock adapter product form issues with enhanced error handling
  alembic/versions/1a7693edad5d_ensure_default_property_tags.py
  src/admin/blueprints/api.py
  src/core/format_resolver.py
  templates/add_product.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Add comprehensive debug logging for GAM product format save issue
  diagnose_formats.py
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix diagnose_formats.py to use Product.name instead of created_at
  diagnose_formats.py
Due: none

Fix mock adapter product form issues with enhanced error handling (#487)
  alembic/versions/1a7693edad5d_ensure_default_property_tags.py
  src/admin/blueprints/api.py
  src/core/format_resolver.py
  templates/add_product.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Add debug logging to diagnose GAM product format save issue (#488)
  diagnose_formats.py
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add debug endpoint for inspecting product formats via admin UI
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix AttributeError: Session has no attribute 'get_attribute_history'
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix TypeError in format loading API - handle FormatId object serialization
  src/admin/blueprints/api.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix FormatId serialization in all remaining locations
  src/admin/blueprints/format_search.py
  src/services/ai_creative_format_service.py
  src/services/foundational_formats.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix AttributeError: Session has no attribute 'get_attribute_history' (#489)
  src/admin/blueprints/products.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Remove unused foundational formats system
  examples/foundational_format_examples.py
  scripts/README.md
  scripts/dev/validate_format_models.py
  scripts/setup/populate_foundational_formats.py
  src/services/ai_creative_format_service.py
  src/services/foundational_formats.py
  tests/unit/test_format_json.py
  tools/demos/demo_creative_format_updates.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Remove unused AI creative format service
  creative_format_parsing_examples/README.md
  creative_format_parsing_examples/nytimes/expected_output/slideshow_flex_xl.json
  creative_format_parsing_examples/nytimes/raw_html/slideshow_flex_xl.html
  creative_format_parsing_examples/yahoo/expected_output/e2e_lighthouse.json
  creative_format_parsing_examples/yahoo/raw_html/e2e_lighthouse.html
  src/services/ai_creative_format_service.py
  tests/ui/conftest.py
  tools/demos/demo_parsing_ui.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, template-url-validation

Fix product formats not saving on add/edit
  src/core/json_validators.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix FormatId serialization and remove unused experimental code (#490)
  creative_format_parsing_examples/README.md
  creative_format_parsing_examples/nytimes/expected_output/slideshow_flex_xl.json
  creative_format_parsing_examples/nytimes/raw_html/slideshow_flex_xl.html
  creative_format_parsing_examples/yahoo/expected_output/e2e_lighthouse.json
  creative_format_parsing_examples/yahoo/raw_html/e2e_lighthouse.html
  examples/foundational_format_examples.py
  scripts/README.md
  scripts/dev/validate_format_models.py
  scripts/setup/populate_foundational_formats.py
  src/admin/blueprints/api.py
  src/admin/blueprints/format_search.py
  src/services/ai_creative_format_service.py
  src/services/foundational_formats.py
  tests/ui/conftest.py
  tests/unit/test_format_json.py
  tools/demos/demo_creative_format_updates.py
  tools/demos/demo_parsing_ui.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, template-url-validation

Fix product formats not saving on add/edit (#491)
  src/core/json_validators.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix: Auto-create user records for authorized emails on tenant login
  src/admin/blueprints/auth.py
  src/admin/tests/unit/test_auth.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Document delivery_type validation issue and provide deployment tools
  MIGRATION_REQUIRED_delivery_type_fix.md
  scripts/deploy-delivery-type-fix.sh
Due: none

Fix: Auto-create user records for authorized emails on tenant login (#492)
  src/admin/blueprints/auth.py
  src/admin/tests/unit/test_auth.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$
