Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

check-import-usage:
  name: Check for classes/functions used without imports
  entry: uv run python .pre-commit-hooks/check_import_usage.py
  language: system
  pass_filenames: true

check-response-attribute-access:
  name: Detect unsafe response attribute access patterns
  entry: uv run python scripts/hooks/check_response_attribute_access.py
  language: system
  pass_filenames: true

detect-test-antipatterns:
  name: Detect testing anti-patterns
  entry: uv run python scripts/detect_test_antipatterns.py
  language: system
  pass_filenames: true

mcp-contract-validation:
  name: MCP contract validation tests
  entry: uv run pytest tests/integration/test_mcp_contract_validation.py -v --tb=short
  language: system
  pass_filenames: false

audit-required-fields:
  name: Audit required fields for over-validation
  entry: uv run python scripts/audit_required_fields.py
  language: system
  pass_filenames: false
  verbose: true

a2a-regression-check:
  name: A2A regression prevention
  entry: python3 scripts/validate_a2a_fixes.py
  language: system
  pass_filenames: false

a2a-adcp-compliance:
  name: A2A AdCP spec compliance validation
  entry: uv run python scripts/validate_a2a_adcp_compliance.py
  language: system
  pass_filenames: false

no-fn-calls:
  name: No .fn() call patterns
  entry: sh -c 'if grep -r "\.fn(" src/ --include="*.py" | grep -v test; then echo "❌ Found .fn() calls - use direct function calls"; exit 1; fi'
  language: system
  pass_filenames: false

schema-database-alignment:
  name: Schema-database field alignment validation
  entry: uv run python scripts/validate_schema_database_alignment.py --quiet
  language: system
  pass_filenames: false

mcp-schema-alignment:
  name: MCP tool-schema parameter alignment
  entry: uv run python tools/validate_mcp_schemas.py
  language: system
  pass_filenames: false

template-url-validation:
  name: Validate template url_for calls
  entry: uv run pytest tests/integration/test_template_url_validation.py::TestTemplateUrlValidation::test_all_template_url_for_calls_resolve -q
  language: system
  pass_filenames: false

Fix sync_creatives asyncio and variable scoping errors (#535)
  src/core/main.py
  tests/unit/test_sync_creatives_async_fix.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add Approximated DNS widget for custom domain CNAME setup
  docker-compose.yml
  src/admin/blueprints/settings.py
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix CI: Make env_file optional for docker-compose
  docker-compose.yml
Due: none

Add Approximated DNS widget for custom domain CNAME setup (#536)
  docker-compose.yml
  src/admin/blueprints/settings.py
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix Approximated DNS widget 404 error by adding script_name prefix to token endpoint URL
  templates/tenant_settings.html
Due: template-url-validation

Prioritize ad server configuration in setup checklist
  src/services/setup_checklist_service.py
  tests/integration/test_setup_checklist_service.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Fix service account network code update validation
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add UI button to reset stuck inventory syncs
  static/js/tenant_settings.js
  templates/tenant_settings.html
Due: template-url-validation

Add detailed logging to GAM inventory sync for debugging stuck syncs
  src/services/gam_inventory_service.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix service account network code update validation (#538)
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Prioritize ad server configuration in setup checklist (#539)
  src/services/setup_checklist_service.py
  tests/integration/test_setup_checklist_service.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls

Fix Approximated DNS widget 404 and add stuck sync reset button (#537)
  src/services/gam_inventory_service.py
  static/js/tenant_settings.js
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Improve media buy approval UX with direct approve/reject actions
  src/admin/blueprints/operations.py
  templates/media_buy_detail.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Fix template URL validation test for media buy approval endpoint
  tests/integration/test_template_url_validation.py
Due: detect-test-antipatterns

Fix A2A update_media_buy to use 'packages' per AdCP v2.0+ spec
  src/a2a_server/adcp_a2a_server.py
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json.meta
  tests/e2e/test_a2a_protocol_compliance.py
  tests/integration/test_a2a_skill_invocation.py
  tests/unit/test_a2a_parameter_mapping.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Improve media buy approval UX with direct approve/reject actions (#540)
  src/admin/blueprints/operations.py
  templates/media_buy_detail.html
  tests/integration/test_template_url_validation.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, no-fn-calls, template-url-validation

Fix format_ids serialization to return proper FormatId objects
  src/core/schemas.py
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-authorized-properties-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-authorized-properties-response_json.json
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Add Approximated domain management API endpoints
  scripts/list_custom_domains.py
  src/admin/blueprints/settings.py
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-authorized-properties-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-authorized-properties-response_json.json
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add publisher_domains field to ListAuthorizedPropertiesResponse
  src/core/main.py
  src/core/schema_adapters.py
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-authorized-properties-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-authorized-properties-response_json.json
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix E2E tests and update ListAuthorizedPropertiesResponse schema
  src/core/main.py
  src/core/schema_adapters.py
  tests/e2e/schemas/v1/_schemas_v1_core_frequency-cap_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_push-notification-config_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_core_start-timing_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_core_targeting_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_media-buy_create-media-buy-request_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-media-buy-delivery-request_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-request_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-authorized-properties-request_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-authorized-properties-request_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-authorized-properties-response_json.json
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creative-formats-request_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_media-buy_list-creatives-request_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_media-buy_sync-creatives-request_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_media-buy_update-media-buy-request_json.json.meta
  tests/e2e/schemas/v1/index.json
  tests/e2e/schemas/v1/index.json.meta
  tests/e2e/test_a2a_protocol_compliance.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Add domain registration UI controls to tenant settings
  templates/tenant_settings.html
Due: template-url-validation

Fix format serializer to handle unknown format IDs gracefully
  src/core/schemas.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix test_valid_get_products_response for updated product schema
  tests/e2e/schemas/v1/_schemas_v1_core_brand-manifest-ref_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_core_brand-manifest_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_core_creative-policy_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_core_error_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_core_format-id_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_core_measurement_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_core_placement_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_placement_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_core_pricing-option_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_core_reporting-capabilities_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_enums_delivery-type_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-response_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpc-option_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpcv-option_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpm-auction-option_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpm-fixed-option_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpp-option_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpv-option_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_flat-rate-option_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_vcpm-auction-option_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_vcpm-fixed-option_json.json.meta
  tests/e2e/test_schema_validation_standalone.py
Due: detect-test-antipatterns

Update E2E test to use AdCP v2.4 publisher_properties schema
  tests/e2e/schemas/v1/_schemas_v1_core_creative-policy_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_core_error_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_core_format-id_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_core_measurement_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_core_placement_json.json
  tests/e2e/schemas/v1/_schemas_v1_core_placement_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_core_pricing-option_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_core_product_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_core_reporting-capabilities_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_enums_delivery-type_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_media-buy_get-products-response_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpc-option_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpcv-option_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpm-auction-option_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpm-fixed-option_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpp-option_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_cpv-option_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_flat-rate-option_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_vcpm-auction-option_json.json.meta
  tests/e2e/schemas/v1/_schemas_v1_pricing-options_vcpm-fixed-option_json.json.meta
  tests/e2e/schemas/v1/index.json
  tests/e2e/schemas/v1/index.json.meta
  tests/e2e/test_schema_validation_standalone.py
Due: detect-test-antipatterns

Add domain registration management for custom domains (#543)
  scripts/list_custom_domains.py
  src/admin/blueprints/settings.py
  templates/tenant_settings.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Add tests for Product format_ids serialization structure
  tests/unit/test_product_format_ids_structure.py
Due: detect-test-antipatterns

Fix format_ids serialization to return proper FormatId objects (#542)
  src/core/schemas.py
  tests/unit/test_product_format_ids_structure.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix critical tenant isolation breach in MCP authentication
  SECURITY_FIX_TENANT_ISOLATION.md
  src/core/config_loader.py
  src/core/main.py
  tests/integration/test_tenant_isolation_breach_fix.py
  tests/unit/test_tenant_isolation_breach_fix.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix test to include Host header for tenant detection
  tests/unit/test_auth_removal_simple.py
Due: detect-test-antipatterns

Remove internal security documentation
  SECURITY_FIX_TENANT_ISOLATION.md
Due: none

Fix A2A update_media_buy and update_performance_index response serialization
  src/a2a_server/adcp_a2a_server.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Fix integration tests to include Host headers for tenant detection
  tests/integration/test_cross_principal_security.py
  tests/integration/test_list_creatives_auth.py
Due: detect-test-antipatterns

Fix A2A update_media_buy and update_performance_index response serialization (#545)
  src/a2a_server/adcp_a2a_server.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Fix CI test failures from tenant isolation security fix
  tests/e2e/conftest.py
  tests/e2e/test_adcp_reference_implementation.py
  tests/smoke/test_smoke_basic.py
Due: detect-test-antipatterns

Fix E2E tests: Use x-adcp-tenant header instead of Host header
  tests/e2e/conftest.py
  tests/e2e/test_adcp_reference_implementation.py
Due: detect-test-antipatterns

🔒 Fix critical tenant isolation breach in MCP authentication (#544)
  src/core/config_loader.py
  src/core/main.py
  tests/e2e/conftest.py
  tests/e2e/test_adcp_reference_implementation.py
  tests/integration/test_cross_principal_security.py
  tests/integration/test_list_creatives_auth.py
  tests/integration/test_tenant_isolation_breach_fix.py
  tests/smoke/test_smoke_basic.py
  tests/unit/test_auth_removal_simple.py
  tests/unit/test_tenant_isolation_breach_fix.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix 400 error when saving GAM service account network code
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add creative assignments display to media buy detail view
  src/admin/blueprints/operations.py
  src/core/main.py
  templates/media_buy_detail.html
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment, template-url-validation

Fix all GAM blueprint endpoints with empty request body handling
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$
