Repository adcontextprotocol/salesagent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment, template-url-validation

Path conditions:
  check-import-usage: any of: ^src/.*\.py$
  check-response-attribute-access: any of: ^src/.*\.py$
  detect-test-antipatterns: any of: ^(tests/.*\.py|src/a2a_server/adcp_a2a_server\.py)$
  mcp-contract-validation: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  audit-required-fields: any of: ^src/core/schemas\.py$
  a2a-regression-check: any of: ^src/a2a_server/
  a2a-adcp-compliance: any of: ^src/a2a_server/
  no-fn-calls: any of: ^src/
  schema-database-alignment: any of: ^(src/core/schemas\.py|src/core/database/models\.py)$
  mcp-schema-alignment: any of: ^(src/core/schemas\.py|src/core/main\.py)$
  template-url-validation: any of: \.html$

Apply ruff and black auto-fixes to generated schemas
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_json.py
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_ref_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_error_json.py
  src/core/schemas_generated/_schemas_v1_core_format_json.py
  src/core/schemas_generated/_schemas_v1_core_measurement_json.py
  src/core/schemas_generated/_schemas_v1_core_placement_json.py
  src/core/schemas_generated/_schemas_v1_core_pricing_option_json.py
  src/core/schemas_generated/_schemas_v1_core_product_json.py
  src/core/schemas_generated/_schemas_v1_core_promoted_offerings_json.py
  src/core/schemas_generated/_schemas_v1_core_push_notification_config_json.py
  src/core/schemas_generated/_schemas_v1_core_start_timing_json.py
  src/core/schemas_generated/_schemas_v1_core_targeting_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_create_media_buy_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_media_buy_delivery_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_authorized_properties_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_authorized_properties_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creative_formats_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creative_formats_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_package_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_update_media_buy_request_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpc_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpcv_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpm_auction_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpm_fixed_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpp_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpv_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_flat_rate_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_vcpm_auction_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_vcpm_fixed_option_json.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Regenerate schemas from AdCP spec (Oct 22 update)
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_json.py
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_ref_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_policy_json.py
  src/core/schemas_generated/_schemas_v1_core_error_json.py
  src/core/schemas_generated/_schemas_v1_core_format_json.py
  src/core/schemas_generated/_schemas_v1_core_frequency_cap_json.py
  src/core/schemas_generated/_schemas_v1_core_measurement_json.py
  src/core/schemas_generated/_schemas_v1_core_placement_json.py
  src/core/schemas_generated/_schemas_v1_core_pricing_option_json.py
  src/core/schemas_generated/_schemas_v1_core_product_json.py
  src/core/schemas_generated/_schemas_v1_core_push_notification_config_json.py
  src/core/schemas_generated/_schemas_v1_core_reporting_capabilities_json.py
  src/core/schemas_generated/_schemas_v1_core_start_timing_json.py
  src/core/schemas_generated/_schemas_v1_core_targeting_json.py
  src/core/schemas_generated/_schemas_v1_enums_delivery_type_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_create_media_buy_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_media_buy_delivery_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_authorized_properties_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_authorized_properties_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creative_formats_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creative_formats_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_package_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_update_media_buy_request_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpc_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpcv_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpm_auction_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpm_fixed_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpp_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_cpv_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_flat_rate_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_vcpm_auction_option_json.py
  src/core/schemas_generated/_schemas_v1_pricing_options_vcpm_fixed_option_json.py
  tests/e2e/schemas/v1/_schemas_v1_core_promoted-offerings_json.json
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Apply final black formatting to generated schemas
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_json.py
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_ref_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_error_json.py
  src/core/schemas_generated/_schemas_v1_core_format_json.py
  src/core/schemas_generated/_schemas_v1_core_pricing_option_json.py
  src/core/schemas_generated/_schemas_v1_core_product_json.py
  src/core/schemas_generated/_schemas_v1_core_promoted_offerings_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_create_media_buy_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_authorized_properties_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creative_formats_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_package_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_update_media_buy_request_json.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix GAM service account authentication missing scope parameter
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix schema_helpers imports after schema regeneration
  src/core/schema_helpers.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix GAM service account authentication missing scope parameter (#565)
  src/admin/blueprints/gam.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix ListAuthorizedPropertiesResponse to use publisher_domains
  src/core/schemas.py
  tests/unit/test_a2a_response_attribute_access.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_schema_generated_compatibility.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix remaining test using properties instead of publisher_domains
  tests/unit/test_authorized_properties.py
Due: detect-test-antipatterns

Fix list_authorized_properties A2A handler for AdCP v2.4 spec
  src/a2a_server/adcp_a2a_server.py
  tests/integration/test_a2a_skill_invocation.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Fix test_schema_generated_compatibility for AdCP v2.4 spec
  tests/unit/test_schema_generated_compatibility.py
Due: detect-test-antipatterns

Fix test field count expectation (8 fields, not 7)
  tests/unit/test_adcp_contract.py
Due: detect-test-antipatterns

Fix test: Define tag_metadata in test_response_with_all_fields
  tests/unit/test_authorized_properties.py
Due: detect-test-antipatterns

Fix test field count expectation (8 fields including tags, not 7)
  tests/unit/test_authorized_properties.py
Due: detect-test-antipatterns

Fix list_authorized_properties schema and add comprehensive tests (#564)
  .pre-commit-config.yaml
  scripts/generate_schemas.py
  scripts/setup/setup_conductor_workspace.sh
  src/a2a_server/adcp_a2a_server.py
  src/core/schemas.py
  src/core/schemas_generated/__init__.py
  src/core/schemas_generated/_schemas_v1_core_promoted_offerings_json.py
  tests/integration/test_a2a_skill_invocation.py
  tests/unit/test_adcp_contract.py
  tests/unit/test_authorized_properties.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix creative approval 500 error and webhook auth bug
  src/core/context_manager.py
  templates/creative_management.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Add duplicate product validation and assignment reporting to sync_creatives
  src/core/main.py
  src/core/schemas.py
  tests/integration/test_duplicate_product_validation.py
  tests/unit/test_duplicate_product_validation.py
  tests/unit/test_sync_creatives_assignment_reporting.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix creative approval 500 error and webhook auth bug (#567)
  src/core/context_manager.py
  templates/creative_management.html
Due: check-import-usage, check-response-attribute-access, no-fn-calls, template-url-validation

Remove failing integration test for duplicate product validation
  tests/integration/test_duplicate_product_validation.py
Due: detect-test-antipatterns

Add duplicate product validation and assignment reporting (#568)
  src/core/main.py
  src/core/schemas.py
  tests/unit/test_duplicate_product_validation.py
  tests/unit/test_sync_creatives_assignment_reporting.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, audit-required-fields, no-fn-calls, schema-database-alignment, mcp-schema-alignment

Fix A2A tenant authentication by resolving tenant from headers before auth
  docs/testing/postmortems/2025-10-23-a2a-tenant-auth-bug.md
  src/a2a_server/adcp_a2a_server.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Fix test to match updated get_principal_from_token signature
  tests/unit/test_a2a_function_call_validation.py
Due: detect-test-antipatterns

Fix A2A tenant authentication by resolving tenant from headers before auth (#569)
  docs/testing/postmortems/2025-10-23-a2a-tenant-auth-bug.md
  src/a2a_server/adcp_a2a_server.py
  tests/unit/test_a2a_function_call_validation.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Fix inventory sync to support service account authentication
  src/admin/blueprints/inventory.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix double decryption of service account JSON - model property already decrypts
  src/admin/blueprints/inventory.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix service account auth - use googleads.oauth2.GoogleServiceAccountClient wrapper
  src/admin/blueprints/inventory.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix: Use google.oauth2.service_account.Credentials pattern from GAM health check
  src/admin/blueprints/inventory.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix inventory sync to support service account authentication (#570)
  src/admin/blueprints/inventory.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add AGENTS symlink to CLAUDE instructions (#524)
  AGENTS.md
Due: none

Fix: Correct AdManagerClient signature for service account auth
  src/admin/blueprints/inventory.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Update generated schemas to match AdCP v2.2.0 spec
  src/core/schema_helpers.py
  src/core/schemas_generated/_schemas_v1_adagents_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_audio_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_css_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_daast_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_html_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_image_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_javascript_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_promoted_offerings_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_text_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_url_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_vast_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_video_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_assignment_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_manifest_json.py
  src/core/schemas_generated/_schemas_v1_core_delivery_metrics_json.py
  src/core/schemas_generated/_schemas_v1_core_media_buy_json.py
  src/core/schemas_generated/_schemas_v1_core_package_json.py
  src/core/schemas_generated/_schemas_v1_core_performance_feedback_json.py
  src/core/schemas_generated/_schemas_v1_core_promoted_products_json.py
  src/core/schemas_generated/_schemas_v1_core_property_json.py
  src/core/schemas_generated/_schemas_v1_core_protocol_envelope_json.py
  src/core/schemas_generated/_schemas_v1_core_response_json.py
  src/core/schemas_generated/_schemas_v1_core_sub_asset_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_create_media_buy_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_create_media_buy_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_media_buy_delivery_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_package_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_provide_performance_feedback_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_provide_performance_feedback_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_update_media_buy_response_json.py
  src/core/schemas_generated/_schemas_v1_signals_activate_signal_request_json.py
  src/core/schemas_generated/_schemas_v1_signals_activate_signal_response_json.py
  src/core/schemas_generated/_schemas_v1_signals_get_signals_request_json.py
  src/core/schemas_generated/_schemas_v1_signals_get_signals_response_json.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix A2A authentication: Forward Authorization header through nginx
  config/nginx/nginx.conf
  docs/testing/postmortems/2025-10-25-nginx-authorization-header-bug.md
  fly/nginx.conf
Due: none

Support both Authorization and x-adcp-auth headers for MCP and A2A
  config/nginx/nginx.conf
  fly/nginx.conf
  src/a2a_server/adcp_a2a_server.py
  src/core/auth_utils.py
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_json.py
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_ref_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_error_json.py
  src/core/schemas_generated/_schemas_v1_core_format_json.py
  src/core/schemas_generated/_schemas_v1_core_pricing_option_json.py
  src/core/schemas_generated/_schemas_v1_core_product_json.py
  src/core/schemas_generated/_schemas_v1_core_promoted_offerings_json.py
  src/core/schemas_generated/_schemas_v1_core_start_timing_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_create_media_buy_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_authorized_properties_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creative_formats_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_package_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_update_media_buy_request_json.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, a2a-regression-check, a2a-adcp-compliance, no-fn-calls

Fix: Correct AdManagerClient signature for service account auth (#571)
  src/admin/blueprints/inventory.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Update generated schemas to match AdCP v2.2.0 spec (#572)
  src/core/schema_helpers.py
  src/core/schemas_generated/_schemas_v1_adagents_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_audio_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_css_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_daast_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_html_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_image_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_javascript_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_promoted_offerings_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_text_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_url_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_vast_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_assets_video_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_assignment_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_manifest_json.py
  src/core/schemas_generated/_schemas_v1_core_delivery_metrics_json.py
  src/core/schemas_generated/_schemas_v1_core_media_buy_json.py
  src/core/schemas_generated/_schemas_v1_core_package_json.py
  src/core/schemas_generated/_schemas_v1_core_performance_feedback_json.py
  src/core/schemas_generated/_schemas_v1_core_promoted_products_json.py
  src/core/schemas_generated/_schemas_v1_core_property_json.py
  src/core/schemas_generated/_schemas_v1_core_protocol_envelope_json.py
  src/core/schemas_generated/_schemas_v1_core_response_json.py
  src/core/schemas_generated/_schemas_v1_core_sub_asset_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_create_media_buy_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_create_media_buy_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_media_buy_delivery_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_package_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_provide_performance_feedback_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_provide_performance_feedback_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_update_media_buy_response_json.py
  src/core/schemas_generated/_schemas_v1_signals_activate_signal_request_json.py
  src/core/schemas_generated/_schemas_v1_signals_activate_signal_response_json.py
  src/core/schemas_generated/_schemas_v1_signals_get_signals_request_json.py
  src/core/schemas_generated/_schemas_v1_signals_get_signals_response_json.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Add debug logging for header extraction in tenant detection
  src/core/main.py
Due: check-import-usage, check-response-attribute-access, mcp-contract-validation, no-fn-calls, mcp-schema-alignment

Fix BrandManifest8 → BrandManifest10 import in schema_helpers
  src/core/schema_helpers.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix schema generator to use union operator for consistency
  .pre-commit-config.yaml
  scripts/generate_schemas.py
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_json.py
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_ref_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_product_json.py
  src/core/schemas_generated/_schemas_v1_core_promoted_offerings_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_create_media_buy_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_media_buy_delivery_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_authorized_properties_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_package_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_response_json.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls

Fix authentication and tenant detection issues (#573)
  config/nginx/nginx.conf
  docs/testing/postmortems/2025-10-25-nginx-authorization-header-bug.md
  fly/nginx.conf
  src/a2a_server/adcp_a2a_server.py
  src/core/auth_utils.py
  src/core/main.py
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_json.py
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_ref_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_error_json.py
  src/core/schemas_generated/_schemas_v1_core_format_json.py
  src/core/schemas_generated/_schemas_v1_core_pricing_option_json.py
  src/core/schemas_generated/_schemas_v1_core_product_json.py
  src/core/schemas_generated/_schemas_v1_core_promoted_offerings_json.py
  src/core/schemas_generated/_schemas_v1_core_start_timing_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_create_media_buy_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_authorized_properties_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creative_formats_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_package_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_update_media_buy_request_json.py
Due: check-import-usage, check-response-attribute-access, detect-test-antipatterns, mcp-contract-validation, a2a-regression-check, a2a-adcp-compliance, no-fn-calls, mcp-schema-alignment

Apply formatting consistency to schemas from PR #573 merge
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_json.py
  src/core/schemas_generated/_schemas_v1_core_brand_manifest_ref_json.py
  src/core/schemas_generated/_schemas_v1_core_creative_asset_json.py
  src/core/schemas_generated/_schemas_v1_core_error_json.py
  src/core/schemas_generated/_schemas_v1_core_format_json.py
  src/core/schemas_generated/_schemas_v1_core_pricing_option_json.py
  src/core/schemas_generated/_schemas_v1_core_product_json.py
  src/core/schemas_generated/_schemas_v1_core_promoted_offerings_json.py
  src/core/schemas_generated/_schemas_v1_core_start_timing_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_create_media_buy_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_get_products_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_authorized_properties_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creative_formats_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_list_creatives_response_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_package_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_sync_creatives_request_json.py
  src/core/schemas_generated/_schemas_v1_media_buy_update_media_buy_request_json.py
Due: check-import-usage, check-response-attribute-access, no-fn-calls
